[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SearchProvider
Comment=Search Engine
Comment[az]=Axtarış Mühərriki
Comment[bg]=Търсеща машина
Comment[ca]=Motor de cerca
Comment[cs]=Vyhledávací stroj
Comment[da]=Søgemaskine
Comment[de]=Suchmaschine
Comment[el]=Μηχανή Αναζήτησης
Comment[eo]=Serĉilo
Comment[es]=Motor de búsqueda
Comment[et]=Otsingumootor
Comment[fi]=Hakukone
Comment[fr]=Moteur de recherche
Comment[he]=שופיח עונמ
Comment[hu]=Keresőmotor
Comment[is]=Leitarvél
Comment[it]=Motore di ricerca
Comment[ja]=検索エンジン
Comment[ko]=찾는 엔진
Comment[lt]=Paieškos mechanizmas
Comment[lv]=Meklēšanas Mašīna
Comment[mt]=Magna tat-Tfittxija
Comment[nl]=zoekmachine
Comment[no]=Søkemotor
Comment[no_NY]=Søkjemotor
Comment[pl]=Wyszukiwarka
Comment[pt_BR]=Máquina de procura
Comment[pt]=Procurar ficheiros
Comment[ro]=Motor de căutare
Comment[ru]=Поисковая машина
Comment[sk]=Hľadací nástroj
Comment[sl]=Iskalnik
Comment[sr]=Pretraživač
Comment[sv]=Sökmotor
Comment[ta]=§¾¼ü¦À¡È¢
Comment[th]=กลไกการค้นหา
Comment[tr]=Arama Motoru
Comment[uk]=Механізм пошуку
Comment[vi]=Search Engine 
Comment[xh]=Phendla injini
Comment[zh_CN.GB2312]=搜索引擎

[PropertyDef::Keys]
Type=QStringList

[PropertyDef::Query]
Type=QString

[PropertyDef::Charset]
Type=QString
