[Desktop Entry]
Comment=ftp client
Comment[az]=ftp alıcısı
Comment[bg]=ftp клиент
Comment[cs]=FTP klient
Comment[da]=ftp-klient
Comment[de]=FTP-Programm
Comment[eo]=FTP-kliento
Comment[es]=Cliente de FTP
Comment[et]=Ftp klient
Comment[fi]=FTP-asiakasohjelma
Comment[fr]=Client FTP
Comment[he]=FTP תינכות
Comment[hu]=Egy FTP-kliens
Comment[is]=ftp biðlari
Comment[it]=client ftp
Comment[ja]=ftpクライアント
Comment[ko]=FTP 클라이언트
Comment[lt]=FTP klientas
Comment[lv]=ftp klients
Comment[mt]=Klijent tal-FTP
Comment[nl]=ftp cliënt
Comment[no]=ftp-klient
Comment[no_NY]=FTP-klient
Comment[pl]=Klient FTP
Comment[pt_BR]=Cliente de FTP
Comment[pt]=Cliente de FTP
Comment[ru]=ftp клиент
Comment[sk]=FTP klient
Comment[sl]=Odjemnik za FTP
Comment[sr]=ftp klijent
Comment[sv]=ftp-klient
Comment[tr]=ftp istemcisi
Comment[uk]=Клієнт ftp
Comment[xh]=Umxhasi we ftp
Comment[zh_CN.GB2312]=FTP 客户程序
Exec=lftp %u
Icon=konsole
Name=Lftp
Name[eo]=L-FTP
Name[fr]=LFTP
Path=
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
