[Desktop Entry]
Exec=mutt
TerminalOptions=
Icon=email
Type=Application
MimeType=message/rfc822
Name=Mutt
Name[bg]=Математика 
Name[eo]=Retpoŝtilo Mutt
Name[ko]=멋
Name[vi]=Mutt 
Comment=Mutt email client
Comment[az]=Mutt poçt alıcısı
Comment[bg]=глупав пощенски клиент
Comment[cs]=Klient elektronické pošty Mutt
Comment[da]=Mutt e-post klient
Comment[de]=Das E-Mail-Programm Mutt
Comment[eo]=La retpostilo "Mutt"
Comment[es]=Cliente de correo electrónico Mutt
Comment[et]=Meiliklient mutt
Comment[fi]=Mutt sähköpostiohjelma
Comment[fr]=Logiciel de messagerie électronique Mutt
Comment[he]=Mutt ל"אודה תינכות
Comment[hu]=Mutt levelezőprogram
Comment[is]=Mutt póstforritið
Comment[it]=Posta elettronica - Mutt
Comment[ja]=Mutt Eメールクライアント
Comment[ko]=멋 - 편지를 주고 받는 프로그램
Comment[lt]=Mutt e.pašto klientas
Comment[lv]=Mutt epasta klients
Comment[mt]=Mutt, programm (klijent) tal-imejl
Comment[nl]=Mutt e-mailcliënt
Comment[no]=Mutt epost-program
Comment[no_NY]=E-postklienten Mutt
Comment[pl]=Program do wysyłania i odbierania poczty elektronicznej mutt
Comment[pt_BR]=Cliente de e-mail Mutt
Comment[pt]=Cliente de email Mutt
Comment[ru]=Почтовый клиент
Comment[sk]=Klient elektronickej pošty Mutt
Comment[sl]=Odjemnik za e-pošto Mutt
Comment[sr]=Klijent za email zvani Mutt
Comment[sv]=E-postklienten Mutt
Comment[ta]=Mutt «ïºü ¸ÕÅ¢
Comment[tr]=Mutt e-posta istemcisi
Comment[uk]=Клієнт електронної пошти Mutt
Comment[xh]=Umxhasi we Mutt email
Comment[zh_CN.GB2312]=Mutt 邮件程序
Terminal=1
