[Desktop Entry]
Name=NcFTP
Name[eo]=NcFtp
Name[hu]=ncFTP
Name[vi]=NcFTP 
Comment=FTP client and browser
Comment[az]=FTP alıcısı və səyyahı
Comment[bg]=FTP клиент и броузер
Comment[ca]=Client FTP i fullejador
Comment[cs]=FTP klient a prohlížeč
Comment[da]=FTP-klient og gennemsøger
Comment[de]=FTP-Client und Browser
Comment[el]=Πελάτης FTP
Comment[eo]=FTP-kliento kaj -rigardilo
Comment[es]=Cliente y navegador FTP
Comment[et]=FTP klient
Comment[fi]=FTP asiakas ja selain
Comment[fr]=Client et navigateur FTP
Comment[he]=FTP ןפדפדו תינכות
Comment[hu]=FTP-kliens és -böngésző
Comment[is]=FTP biðlari og flakkari
Comment[it]=Client e browser FTP
Comment[ja]=FTPクライアント及びブラウザ
Comment[ko]=FTP 클라이언트와 탐색기
Comment[lt]=FTP klientas ir naršyklė
Comment[lv]=FTP klients un pārlūks
Comment[mk]=FTP клиент и разгледувач
Comment[mt]=Klijent u browser FTP
Comment[nl]=ftp-cliënt en browser
Comment[no]=FTP-klient
Comment[no_NY]=FTP-klient
Comment[pl]=przeglądarka i klient FTP
Comment[pt_BR]=Cliente FTP e navegador
Comment[pt]=Um cliente e navegador de FTP
Comment[ro]=Un client şi navigator FTP
Comment[ru]=FTP клиент и броузер
Comment[sk]=FTP klient a prehliadač
Comment[sl]=Odjemnik in brskalnik za FTP
Comment[sr]=FTP klijent i pretraživač
Comment[sv]=FTP-klient och bläddrare
Comment[ta]=FTP ¸ÕÅ¢, ¯Ä¡Å¢
Comment[th]=ไคลเอนต์และบราวเซอร์ FTP
Comment[tr]=FTP istemcisi ve gözatıcısı
Comment[uk]=Клієнт та переглядач FTP
Comment[vi]=Trình duyệt FTP 
Comment[xh]=Umxhasi nomkhangeli zincwadi we FTP
Comment[zh_CN.GB2312]=FTP 用户程序和浏览器
Protocols=
MimeType=
BinaryPattern=
Exec=ncftp
Icon=misc
Path=
Type=Application
Terminal=1
TerminalOptions=
