[Desktop Entry]
Exec=pine
TerminalOptions=
Icon=email
Type=Application
MimeType=message/news;message/rfc822
Name=Pine
Name[eo]=Teksta retpoŝtilo
Name[es]=PINE
Name[ko]=파인
Name[vi]=Pine 
Name[xh]=Uphelelwe ngamandla/iPayina
Comment=PINE is not ELM
Comment[az]='PINE is not ELM' PINE, ELM deyildir
Comment[bg]=Пощенски клиент Pine - не е Elm
Comment[br]=PINE n'eo ket ELM
Comment[bs]=Program za elektronsku poštu
Comment[ca]=PINE no és ELM
Comment[cs]=Poštovní program Pine
Comment[da]=PINE er ikke ELM
Comment[de]=Mailprogramm PINE
Comment[eo]=retpoŝtilo Pine
Comment[es]=Cliente de correo ('PINE Is Not ELM')
Comment[et]=Meiliklient pine
Comment[eu]=PINE ez da ELM
Comment[fi]=PINE-sähköpostiohjelma
Comment[fr]=Logiciel de messagerie électronique «Pine Is Not Elm» (un pin n'est pas un orme)
Comment[gl]=Cliente de correo (PINE is not ELM)
Comment[hr]=Program za elektronsku poštu
Comment[hu]=Szöveges levelezőprogram
Comment[is]=Póstforritið Pine (sem er ekki elm)
Comment[it]=PINE non è ELM
Comment[ko]=파인은 ELM이 아닙니다
Comment[lt]=PINE nėra ELM
Comment[lv]=PINE nav ELM
Comment[mk]=Текстуален, но моќен, програм за е-пошта и дискусиони групи
Comment[nl]=PINE is niet ELM
Comment[no]=PINE-epostprogram
Comment[no_NY]=E-postprogrammet Pine
Comment[oc]=PINE ei pas ELM
Comment[pl]=Program pocztowy PINE
Comment[pt_BR]=Cliente de e-mail
Comment[pt]=Cliente de email
Comment[ro]=Client de mail
Comment[ru]=почтовый клиент Pine - не Elm
Comment[sk]=Poštový program Pine (Pine nie je ELM)
Comment[sl]=Program za branje e-pošte Pine
Comment[sr]=PINE program za mail (nije ELM)
Comment[sv]=E-postprogrammet PINE
Comment[ta]=PINE, ELM «øÄ
Comment[th]=PINE ไม่ใช่ ELM
Comment[tr]='PINE is not ELM' PINE, ELM değildir
Comment[uk]=Програма електронної пошти PINE
Comment[vi]=Pine không phải là ELM 
Comment[xh]=IPAYINA aliyo ELM
Comment[zh_CN.GB2312]=PINE 不是 ELM
Terminal=1
