[Desktop Entry]
Exec=kcmshell audiocd
Icon=cdaudio_unmount
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=audiocd

Name=Audiocd IO Slave
Name[az]=Audiosd IO Kölələri
Name[bg]=Протокол IO аудио CD
Name[cs]=Vstupně/výstupní modul pro zvukové CD
Name[da]=KDE Audiocd IUslave
Name[de]=Audio-CD
Name[eo]=En/el-sklavo por muzikaj lumdiskoj
Name[es]=Slave de E/S de CD-Audio
Name[et]=Audio CD IO moodul
Name[fr]=Module pour CD audio
Name[he]=עמש ירוטילקת
Name[hu]=Hang-CD protokoll
Name[is]=Audiocd I/O þræll
Name[it]=IOSlave CD audio
Name[ko]=소리(오디오) 시디 IO 슬레이브
Name[lt]=Audio kompakto IO Slave
Name[lv]=AudioCD IOVergi
Name[mt]=Skjav IO AudioCD
Name[no]=IOSlave for lyd-CD
Name[no_NY]=IU-slave for lyd-CD
Name[pl]=Procedura we/wy dla audio CD
Name[pt_BR]=IO Slave de CDs de áudio
Name[pt]=IO Slave de CDs Áudio
Name[ru]=Протокол IO аудио CD
Name[sk]=IO klient pre zvukové CD
Name[sl]=Audiocd podrejeni V/I
Name[sv]=IO-slav för ljud-CD
Name[ta]=´Ä¢îº¢Ê ¯û-¦ÅÇ¢ «Ê¨Á
Name[tr]=Audiocd IO Kölesi
Name[uk]=Підлеглий В/В Audiocd
Name[xh]=icd evakalayo yesicaka se IO
Name[zh_CN.GB2312]=音频光盘 IO Slave
Comment=Audiocd IO Slave Configuration
Comment[az]=Name=Audiosd IO Kölələri Quraşdırması
Comment[bg]=Настройки на протокола IO аудио CD
Comment[cs]=Nastavení vstupně/výstupní modulu pro zvukové CD
Comment[da]=Lydserverens audiocd IUslave indstilling
Comment[de]=Einrichtung des Ein/Ausgabemoduls für Audio-CDs
Comment[el]=Ρύθμιση Audiocd IO Slave
Comment[eo]=Agordo por la muzikdiska sklavo
Comment[es]=Configuración del slave de E/S de CD-Audio
Comment[et]=Audio CD IO mooduli seadistamine
Comment[fi]=Audiocd IO slaven asetukset
Comment[fr]=Configuration du module pour CD audio
Comment[he]=עמשה ירוטילקת לוקוטורפ תורדגה יוניש
Comment[hu]=A hang-CD protokoll beállításai
Comment[is]=Stillingar Audiocd I/O þrælsins
Comment[it]=Configurazione dell'IO Slave per i CD audio
Comment[ja]=Audiocd IO Slave の設定
Comment[ko]=소리(오디오)시디 IO 슬레이브 설정
Comment[lt]=Audio kompakto IO Slave derinimas
Comment[lv]=AudioCD IO Vergu Konfigurācija
Comment[mt]=Konfigurazzjoni tal-iskjav IO AudioCD
Comment[nl]=configuratie van de audiocd ioslave
Comment[no]=Oppsett av lyd-CD IO-slave
Comment[no_NY]=Oppsett av IU-slave for lyd-CD
Comment[pl]=Konfiguracja procedury we/wy dla audio CD
Comment[pt_BR]=Configuração do IO Slave de CDs de áudio
Comment[pt]=Configuração do IO Slave de CDs áudio
Comment[ru]=Настройки протокола IO аудио CD
Comment[sk]=Nastavenie IO klienta pre zvukové CD
Comment[sl]=Prikrojitev Audiocd podrejeni V/I
Comment[sr]=Konfiguracija Audiocd IO Slave
Comment[sv]=Anpassning av IO-slav för ljud-CD
Comment[ta]=´Ä¢îº¢Ê ¯û-¦ÅÇ¢ «Ê¨Á ÅÊÅ¨ÁôÒ
Comment[tr]=Audiocd IO Köle Yapılandırması
Comment[uk]=Налаштування підлеглого В/В 'Audiocd'
Comment[vi]=Cấu hình Audiocd IO Slave 
Comment[xh]=icd evakalayo yoqwalaselo lwesicaka se IO
Comment[zh_CN.GB2312]=音频光盘 IO Slave 配置
