[Desktop Entry]
Exec=designer
Name=Qt Designer
Name[bg]=Qt Дизайнер
Name[br]=Ergrafer Qt
Name[ca]=Dissenyador Qt
Name[cs]=Qt designer
Name[de]=Qt-Designer
Name[eo]=Qt-Desegnilo
Name[et]=QT Disainer
Name[eu]=Qt Diseinatzailea
Name[fr]=Concepteur d'interfaces Qt
Name[gl]=Deseñador de Qt
Name[he]=Qt בצעמ
Name[it]=Designer Qt
Name[ja]=Qtデザイナー
Name[ko]=Qt 디자이너
Name[lv]=Qt Dizainers
Name[mk]=Qt дизајнер
Name[mt]=Diżinjatur Qt
Name[no]=Qt-designer
Name[oc]=Dessinador Qt
Name[pl]=Projektant Qt
Name[sk]=QT Dizajnér
Name[sl]=Snovalnik Qt
Name[ta]=Qt À¨¼ôÀ¡Ç÷
Name[uk]=Дизайнер Qt
Name[vi]=Trình thiết kế Qt
Name[xh]=Umyili we Qt 
Name[zh_CN.GB2312]=Qt 设计者
Comment=Qt interface designer
Comment[az]=Qt axtar üz dizayn proqramı
Comment[bg]=Qt interface дизайнер
Comment[br]=Ergrafer etrefas Qt
Comment[ca]=Dissenyador d'interfícies Qt
Comment[cs]=Editor UI pro Qt
Comment[da]=Qt grænseflade designer
Comment[de]=Schnittstellen-Designer für Qt
Comment[el]=Σχεδιασμός περιβάλλοντων Qt
Comment[eo]=Qt-Interfacdesegnilo
Comment[es]=Diseñador de interfaces de Qt
Comment[et]=Qt dialoogide redaktor
Comment[eu]=Qt interfaze diseinatzailea
Comment[fi]=Qt:n käyttöliittymäsuunnittelija
Comment[fr]=Conception d'interfaces Qt-Designer
Comment[gl]=Editor de interfaces de Qt
Comment[he]=QT-ל םיקשממ בצעמ
Comment[hu]=Qt felülettervező
Comment[is]=Viðmótshönnunartól fyrir Qt
Comment[it]=Editor per le interfaccie Qt
Comment[ja]=Qtインターフェースデザイナー
Comment[ko]=Qt 인터페이스 디자이너
Comment[lt]=Qt sąsajos redaktorius
Comment[lv]=Qt starsejas dizainers
Comment[mk]=Дизајнер на Qt дијалози
Comment[mt]=Diżinjatur tal-faċċata għall-Qt
Comment[nl]=Qt interface-ontwerper
Comment[no]=Qt-grensesnittdesigner
Comment[no_NY]=Redigering av Qt-miljø
Comment[oc]=Dessinador d'interfacies Qt
Comment[pl]=Projektant interfejsu Qt
Comment[pt_BR]=Designer de interface Qt
Comment[pt]=Editor de interfaces do Qt
Comment[ro]=Dezvoltator de interfeţe Qt
Comment[ru]=редактор интерфейсов приложений Qt
Comment[sk]=QT dizajnér rozhrania
Comment[sl]=Snovalnik vmesnikov za Qt
Comment[sr]=Dizajner QT interfejsa
Comment[sv]=Editor för gränssnitt till Qt
Comment[ta]=Qt Ó¸ôÒô À¨¼ôÀ¡Ç÷
Comment[th]=เครื่องมือออกแบบส่วนติดต่อผู้ใช้ของ Qt
Comment[tr]=Qt arayüz tasarım programı
Comment[uk]=Редактор інтерфейсу для Qt
Comment[vi]=Trình thiết kế giao diện Qt
Comment[xh]=Umyili wesiboniso esingaphakathi se Qt
Comment[zh_CN.GB2312]=Qt 界面设计程序
X-KDE-StartupNotify=true
MimeType=application/x-designer
Icon=designer
Terminal=false
Type=Application

