[Desktop Entry]
Comment=Java IDE
Comment[az]=Java İDE
Comment[de]=Java-Entwicklungsumgebung
Comment[el]=IDE για Java
Comment[eo]=Javo-programadomedio
Comment[es]=IDE (entorno integrado de desarrollo) para Java
Comment[et]=Java arenduskeskkond
Comment[fr]=Environnement de développement intégré Java
Comment[he]=הווא'גל תבלושמ חותיפ תביבס
Comment[hu]=Java-alapú fejlesztői környezet
Comment[is]=Java-forritunarumhverfi
Comment[it]=Ambiente di sviluppo integrato Java
Comment[ja]=JavaIDE
Comment[ko]=자바 통합 개발 환경
Comment[mt]=IDE tal-Java
Comment[no]=Java-IDE
Comment[no_NY]=Java-IDE
Comment[pl]=Środowisko progr. Javy
Comment[pt_BR]=IDE Java
Comment[pt]=IDE de Java
Comment[ro]=Un mediu IDE pentru Java
Comment[sl]=Integrirano razvojno okolje za Javo
Comment[sv]=Java-IDE
Comment[tr]=Java IDE(Tümleşik Geliştirme Ortamı)
Comment[xh]=i IDE ye Java
Exec=runide
Icon=ksmiletris
Name=Forte
Name[eo]=Forto
Name[ko]=포르테
Name[xh]=Indawo eyomeleleyo
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
