[Desktop Entry]
Exec=linguist
Name=Qt Linguist
Name[bg]=Qt Лингвист
Name[de]=Qt-Linguist
Name[eo]=Qt-Lingvisto
Name[fi]=Qt Linquist
Name[fr]=Outil de traduction Qt
Name[ko]=Qt 언어학자
Name[lv]=Qt Lingvists
Name[mt]=Lingwist Qt
Name[nl]=Qt Linquist
Name[no]=Qt-Linguist
Name[pl]=Qt Lingwista
Name[sl]=Jezikoslovec Qt
Name[tr]=Qt Dil Bilimci
Name[vi]=Nhà ngôn ngữ học Qt
Name[xh]=Usolwimi we Qt
Comment=Tool for translating message catalogues of Qt based programs
Comment[az]=Qt əsaslı proqramların ismarıc kataloqlarının tərcümə vasitəsi
Comment[bg]=Средство за превод на съобщения за Qt базирани приложения
Comment[cs]=Nástroj pro překlad katalogů zpráv programů založených na knihovně Qt
Comment[da]=Redskab til at oversætte Qt baserede programmer
Comment[de]=Dienstprogramm zur Übersetzung von Programmen, die auf Qt basieren
Comment[el]=Εργαλείο μετάφρασης καταλόγων μηνυμάτων για προγράμματα βασισμένα σε QT
Comment[eo]=Ilo por tradukado de mesaĝaroj de Qt-bazitaj programoj
Comment[es]=Herramienta para traducir catálogos de mensajes de programas basados en Qt
Comment[et]=Qt teegil baseeruvate rakenduste tõlkimise rakendus
Comment[fi]=Työkalu Qt pohjaisten ohjelmien kääntämiseen
Comment[fr]=Outil de traduction pour les catalogues de messages des programmes basés sur Qt
Comment[he]=Qt תוססובמ תוינכות לש תועדוה יגולטק םוגרתל ילכ
Comment[hu]=Segédprogram a Qt-alapú programok üzenetfájljainak lefordításához
Comment[is]=Tól til að þýða texta Qt forrita
Comment[it]=Strumento per la traduzione dei cataloghi dei programmi Qt
Comment[ja]=Qtベースのプログラムのメッセージカタログ翻訳ツール
Comment[ko]=Qt를 바탕으로 하는 프로그램에서 쓸 번역된 메세지 목록을 관리하는 도구
Comment[lt]=Įrankis Qt programų pranešimų katalogams versti
Comment[lv]=Rīks ziņojumu katalogu tulkošanai uz Qt bāzētās programmās
Comment[mt]=Għodda għat-traduzzjoni tal-katalgi tal-messaġġi ta' programmi bbażati fuq il-Qt
Comment[nl]=Hulpmiddel voor het vertalen van catalogi van op Qt gebaseerde programmas
Comment[no]=Verktøy for oversetting av tekster i Qt-baserte programmer
Comment[no_NY]=Verktøy for å omsetja omsetjingsfiler for Qt-baserte program
Comment[pl]=Narzędzie do tłumaczenia katalogów napisów dla programów opartych na Qt
Comment[pt_BR]=Ferramenta para traduzir os catálogos de mensagens de programas do Qt
Comment[pt]=Ferramenta para traduzir os catálogos de mensagens de programas do Qt
Comment[ro]=Utilitar pentru traducerea mesajelor programelor Qt
Comment[ru]=Утилита для переводов каталогов с сообщениями программ, использующих Qt
Comment[sk]=Nástroj pre preklad katalógov správ programov založených na QT
Comment[sl]=Orodje za prevajanje katalogov s sporočili programov osnovanih na Qt
Comment[sr]=Alat za prevod kataloga sa porukama u programima baziranim na Qt-u
Comment[sv]=Verktyg för att översätta meddelandekataloger från Qt-baserade program
Comment[th]=เครื่องมือสำหรับการแปลข้อความของโปรแกรมที่ใช้พื้นฐาน Qt
Comment[tr]=Qt temelli programların mesaj kataloglarının çevirilmesi için bir araç
Comment[uk]=Засіб для перекладу каталогів повідомлень програм, що базуються на Qt
Comment[vi]=Công cụ đềEdịch các danh mục thông điệp của các chương trình viết trên Qt
Comment[xh]=Isixhobo sokuguqulela imiyalezo yemifanekiso esencwadini esekelwe kudweliso lweenkqubo ze Qt
Comment[zh_CN.GB2312]=翻译基于 Qt 的程序中的消息的工具
X-KDE-StartupNotify=true
MimeType=application/x-linguist
Terminal=false
Type=Application
