[KCM Locale]
Name=Finland
Name[az]=Finlandiya
Name[bg]=Финландия
Name[bs]=Finska
Name[ca]=Finlàndia
Name[cs]=Finsko
Name[de]=Finnland
Name[el]=Φινλανδία
Name[eo]=Finlando
Name[es]=Finlandia
Name[et]=Soome
Name[eu]=Finlandia
Name[fi]=Suomi
Name[fr]=Finlande
Name[gl]=Finlandia
Name[he]=דנלניפ
Name[hr]=Finska
Name[hu]=Finnország
Name[is]=Finnland
Name[it]=Finlandia
Name[ja]=フィンランド
Name[ko]=핀란드
Name[lt]=Suomija
Name[lv]=Somija
Name[mi]=Whinarana
Name[mk]=Финска
Name[mt]=Finlandja
Name[no]=Finnland
Name[oc]=Finlandia
Name[pl]=Finlandia
Name[pt_BR]=Finlândia
Name[pt]=Finlândia
Name[ru]=Финляндия
Name[sk]=Fínsko
Name[sl]=Finska
Name[sr]=Finska
Name[ta]=À¢ýÄ¡óÐ
Name[tr]=Finlandiya
Name[uk]=Фінляндія
Name[vi]=Phần Lan 
Name[zh_CN.GB2312]=芬兰
Name[zh_TW.Big5]=芬蘭
Region=northeurope
Languages=fi,sv
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=mk
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[fi]=%A %e. %Bta %Y
DateFormat[sv]=%Aen den %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
