[Desktop Entry]
BinaryPattern=
Name=GV
Name[fr]=Gv
Name[ko]=고스트 스크립트 보기(GV)
Protocols=
MimeType=application/pdf;application/postscript;image/x-eps
Comment=Postscript Viewer
Comment[az]=Postscript Nümayişçisi
Comment[bg]=Преглед на Postscript документи
Comment[br]=Gweler Postscript
Comment[bs]=Preglednik PostScript dokumenata
Comment[ca]=Visor de Postscript
Comment[cs]=Prohlížeč Postscriptových souborů
Comment[da]=PostScript dokumentfremviser
Comment[de]=PostScript-Betrachter
Comment[el]=Προβολή Postscript
Comment[eo]=Rigardilo "GhostView" por Postskripto
Comment[es]=Visor de documentos PostScript
Comment[et]=PostScript failide vaatamise rakendus
Comment[eu]=Postscript Ikusgailua
Comment[fi]=Postscript-näyttäjä
Comment[fr]=Afficheur Postscript
Comment[gl]=Visualizador de Postscript
Comment[he]=Postscript גיצמ
Comment[hr]=Preglednik PostScript dokumenata
Comment[hu]=PostScript dokumentumnéző
Comment[is]=Postscript-sjá
Comment[it]=Visualizzatore Postscript
Comment[ja]=Postscriptビューア
Comment[ko]=포스트스크립트 보기
Comment[lt]=Postscript žiūriklis
Comment[lv]=Postscript Skatītājs
Comment[mk]=Прикажувач на PostScript
Comment[mt]=Werrej ta' dokumenti Postscript
Comment[nl]=lezer voor Postscript-bestanden
Comment[no]=Postscript-fremviser
Comment[no_NY]=Postscript-lesar
Comment[oc]=Visualisor de Postscript
Comment[pl]=Przeglądarka plików Postscriptu
Comment[pt_BR]=Visualizador de arquivos Postscript
Comment[pt]=Visualizador de documentos PostScript
Comment[ro]=Vizualizor de documente PostScript
Comment[ru]=просмотрщик Postscript документов
Comment[sk]=Prehliadač Postskriptových súborov
Comment[sl]=Pregledovalnik za PostScript
Comment[sr]=Prikazivač Postscript dokumenata
Comment[sv]=Postskriptvisare
Comment[ta]=Postscript ¸¡ðÊ
Comment[th]=เครื่องมือดูแฟ้มโพสต์สคริปต์
Comment[tr]=Postscript Görüntüleyici
Comment[uk]=Переглядач PostScript
Comment[vi]=Trình xem file .ps 
Comment[xh]=Umboniseli wokubhaliweyo okuposwayo
Comment[zh_CN.GB2312]=Postscript 查看器
Exec=gv
Icon=gv
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=false
