[Desktop Entry]
Exec=kcmshell printmgr
Icon=printmgr
Type=Application
DocPath=kdeprint/index.html

X-KDE-ModuleType=Library
X-KDE-Library=printmgr

Name=Printing Manager
Name[az]=Çap Etmə idarəçisi
Name[cs]=Správce tisku
Name[da]=Printhåndtering
Name[de]=Druckerverwaltung
Name[el]=Διαχειριστής Εκτυπώσεων
Name[eo]=Presadministrilo
Name[es]=Administrador de impresión
Name[et]=Trükkimise haldur
Name[fi]=Tulostuksenhallinta
Name[fr]=Gestionnaire d'impression
Name[he]=הספדהה להנמ
Name[hu]=Nyomtatáskezelő
Name[is]=Prentstjórnun
Name[it]=Gestore stampa
Name[ja]=印刷マネージャ
Name[ko]=인쇄 관리자
Name[lt]=Spausdinimo tvarkyklė
Name[lv]=Drukāšanas Menedžeris
Name[mt]=Manager għall-ipprintjar
Name[nl]=Afdrukbeheerder
Name[no]=Utskrifts-styrer
Name[no_NY]=Utskriftsbehandlar
Name[pl]=Menedżer drukowania
Name[pt_BR]=Gerenciador de Impressão
Name[pt]=Gestor de Impressão
Name[ru]=Диспетчер печати
Name[sk]=Správca tlače
Name[sl]=Upravljalnik tiskanja
Name[sr]=Upravljanje štampanjem
Name[sv]=Utskriftshanterare
Name[ta]=«îÍ §ÁÄ¡Ç÷
Name[tr]=Yazdirma Yönetici
Name[uk]=Менеджер друку
Name[vi]=Trình quản lí in 
Name[xh]=Umphathi woshicilelo
Name[zh_CN.GB2312]=打印管理器

Comment=Printing system configuration (printers, jobs, classes, ...)
Comment[az]=Çap Etmə sistemi quraşdırması (çap edicilər, vəzifələr, siniflər, ...)
Comment[bg]=Настройки системния печат (принтери, задания, класове...)
Comment[cs]=Nastavení tiskového systému (tiskárny, úlohy, třídy, ...)
Comment[da]=Printersystem indstilling (printere, job, klasser, ...)
Comment[de]=Einrichtung des Drucksystems (Drucker, Aufträge, Klassen ...)
Comment[el]=Ρύθμιση συστήματος εκτύπωσης (εκτυπωτές, δουλειές, κλάσεις, ...)
Comment[eo]=Agordo por la pressistemo (presiloj, taskoj, klasoj,...)
Comment[es]=Configuración del sistema de impresión (impresoras, trabajos, clases...)
Comment[et]=Trükkimise süsteemi seadistamine (printerid, tööd, klassid,...)
Comment[fi]=Tulostusjärjestelmän asetukset (tulostimet, työt, luokat, ...)
Comment[fr]=Configuration du système d'impression (imprimantes, travaux d'impression, classes...)
Comment[he]=(...תוקלחמ ,תודובע ,תוספדמ) הספדהה תכרעמ תורדגה יוניש
Comment[hu]=A nyomtatási rendszer beállításainak kiírása (nyomtatók, feladatok, osztályok ...)
Comment[is]=Stillingar prentkerfis KDE forrita
Comment[it]=Configurazione della stampa (stampanti, code di stampa, classi, lavori in stampa, ...)
Comment[ja]=印刷システムの設定(プリンタ、ジョブ、クラス ...)
Comment[ko]=인쇄 시스템 설정 (프린터, 하는 일, 클래스, ...)
Comment[lt]=Spausdinimo sistemos konfigūravimas (spausdintuvai, užduotys, klasės, ...)
Comment[lv]=Drukas sistēmas konfigurācija (drukas iekārtas, darbi, klases, ...)
Comment[mt]=Konfigurazzjoni tas-sistema tal-ipprintjar (printers, xogħol, klassijiet, ...)
Comment[nl]=configuratie van het afdruksysteem (printers, taken, klassen, ...)
Comment[no]=Oppsett av utskriftssystemet (skrivere, jobber, klasser ...)
Comment[no_NY]=Oppsett av utskriftssystem (skrivarar, jobbar, klassar, ...)
Comment[pl]=Konfiguracja systemu drukowania (drukarki, zadania, klasy, ...)
Comment[pt_BR]=Configuração do sistema de impressão (impressoras, tarefas, classes, ...)
Comment[pt]=Configuração do sistema de impressão (impressoras, tarefas, classes, ...)
Comment[ru]=Настройки системы печати (принтеры, задания, классы...)
Comment[sk]=Nastavenie systému tlače (tlačiarne, úlohy, triedy, ...)
Comment[sl]=Nastavitev sistema tiskanja (tiskalniki, opravila, razredi ...)
Comment[sr]=Konfiguracija sistema za štampanje (štampači, poslovi, klase, ...)
Comment[sv]=Anpassning av skrivarsystem (skrivare, jobb, klasser...)
Comment[ta]=«îÍò ¦¾¡Ì¾¢ ÅÊÅ¨ÁôÒ («îÍô¦À¡È¢¸û, À½¢¸û, Å¨¸¸û, ...)
Comment[th]=การปรับแต่งระบบการพิมพ์ (เครื่องพิมพ์, งานพิมพ์, คลาส, ...)
Comment[tr]=Yazdırma sistemi kurulumu (yazıcılar, işler, sınıflar, ...)
Comment[uk]=Конфігурація системи друку (принтери, задачі, класи, ...)
Comment[vi]=Cấu hình hềEthống in (máy in, tác vụ, lớp, ... 
Comment[xh]=Uqwalaselo lwendlela yoshicilelo (abashicileli, imisebenzi, iintlobo, ...)
Comment[zh_CN.GB2312]=打印系统配置(打印机、任务、类等等)

Keywords=print,printer,printing management
Keywords[az]=çap et,çap edici,çap etmə idarəsi
Keywords[cs]=tisk,tiskárna,správa tisku
Keywords[da]=udskriv,printer,printerhåndtering
Keywords[de]=Druck,Druckaufträge,Druckerverwaltung
Keywords[el]=εκτύπωση,εκτυπωτής,διαχείρηση εκτυπώσεων
Keywords[eo]=presado,presilo,presadminsitrado
Keywords[es]=imprimir,impresora,administración de impresión
Keywords[et]=trükkimine,printer,trükkimise haldamine
Keywords[fi]=tulostus,tulostin,tulostuksenhallinta
Keywords[fr]=impression,imprimante,système d'impression
Keywords[he]=הספדה לוהינ,תספדמ,הספדה
Keywords[hu]=nyomtatás,nyomtató,nyomtatáskezelés
Keywords[is]=prentun,prentari,prentstjórnun
Keywords[it]=stampa,stampante,gestione stampa
Keywords[ja]=印刷, プリンター, 印刷管理
Keywords[ko]=print,printer,printing management,프린트,프린터,프린팅 관리,인쇄,찍기,종이에 찍기,출력,인쇄기
Keywords[lt]=print,printer,printing management,spausdinti,spausdintuvas,spausdinimo tvarkymas
Keywords[lv]=druka,drukas iekārta,drukāšanas menedžments
Keywords[mt]=print,printer,printing management,stampar,printja,stampa,ipprintja
Keywords[nl]=print,printer,printing management,afdrukbeheer,afdrukken
Keywords[no]=utskrift,skriver,utskriftskontroll
Keywords[no_NY]=utskrift,skrivar,utskriftsbehandling
Keywords[pl]=drukuj,drukarka,zarządzanie drukowaniem
Keywords[pt_BR]=imprimir,impressora,gestão de impressão
Keywords[pt]=imprimir,impressora,gestão de impressão
Keywords[sk]=tlač,tlačiareň,správa tlače
Keywords[sl]=tiskanje,tiskalnik,upravljanje tiskanja
Keywords[sv]=skriv ut,skrivare,skrivarhantering
Keywords[tr]=yazdır,yazıcı,yazıcı yönetimi
Keywords[uk]=друк,принтер,керування друком
Keywords[vi]=print,printer,printing management,in,máy in,quản lí 
Keywords[xh]=shicilela,umshicileli,abaphathi boshicilelo
Keywords[zh_CN.GB2312]=print,printer,printing management,打印,打印机,打印管理
