[Desktop Entry]
Exec=kdesktop
X-DCOP-ServiceType=wait
Name=KDE Desktop
Name[az]=KDE Masa üstü
Name[bg]=Работно място на KDE
Name[cs]=Pracovní plocha KDE
Name[da]=KDE Skrivebord
Name[de]=KDE-Arbeitsfläche
Name[el]=Επιφ. Εργασίας KDE
Name[eo]=Tabulo
Name[es]=Escritorio de KDE
Name[et]=KDE töölaud
Name[fi]=KDE Työpöytä
Name[fr]=Bureau de KDE
Name[he]=KDE לש הדובעה ןחלוש
Name[hu]=Munkaasztal
Name[is]=KDE skjáborð
Name[it]=Desktop KDE
Name[ja]=KDE デスクトップ
Name[ko]=KDE 일터
Name[lt]=KDE Darbastalis
Name[lv]=KDE Darbvirsma
Name[mt]=Desktop KDE
Name[nl]=KDE Bureaublad
Name[no]=KDE Skrivebord
Name[no_NY]=KDE-skrivebord
Name[pl]=Biurko KDE
Name[pt_BR]=Ambiente de Trabalho KDE
Name[pt]=Ambiente de Trabalho do KDE
Name[ru]=Рабочий стол KDE
Name[sk]=Pracovná plocha
Name[sl]=Namizje KDE
Name[sv]=KDE Skrivbord
Name[ta]=KDE §Á¨º
Name[th]=เดสก์ทอป KDE
Name[tr]=KDE Masaüstü
Name[uk]=Стільниця KDE
Name[vi]=Desktop KDE 
Name[zh_CN.GB2312]=KDE 桌面
Type=Service
X-KDE-StartupNotify=false
