[KCM Locale]
Name=Grenada
Name[az]=Qrenada
Name[bg]=Гренада
Name[ca]=Granada
Name[el]=Γρενάδα
Name[eo]=Grenado
Name[es]=Granada
Name[fr]=Grenade
Name[gl]=Granada
Name[he]=הדנרג
Name[is]=Grænhöfðaeyjar
Name[it]=Granada
Name[ja]=グラナダ
Name[ko]=그러네이다
Name[lv]=Grenāda
Name[mk]=Гренада
Name[oc]=Granada
Name[pt_BR]=Granada
Name[pt]=Granada
Name[ru]=Гренада
Name[ta]=¸¢¦ÃÉ¼¡
Name[uk]=Гренада
Name[zh_CN.GB2312]=格林纳达
Name[zh_TW.Big5]=格瑞納達
Region=caribbean
Languages=en_GB,C
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=EC
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[C]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartsMonday=false
