[KCM Locale]
Name=St. Kitts and Nevis
Name[az]=St. Kitts və Nevis
Name[bg]=Св. Кристоф и Невис
Name[br]=S. Kitts ha Nevis
Name[ca]=St. Kitts i Nevis
Name[cs]=Sv. Kitts a Nevis
Name[da]=St. Kitts og Nevis
Name[de]=St. Kitts und Nevis
Name[el]=St. Kitts και Nevis
Name[eo]=St. Kitts kaj Nevis
Name[es]=St. Kitts y Nevis
Name[et]=St. Kitts ja Nevis
Name[eu]=St. Kitts eta Nevis
Name[fi]=St. Kitts ja Nevis
Name[fr]=St Kitts et Nevis
Name[gl]=Saint Kitts e Nevis
Name[he]=סיבנו סטיק טנס
Name[hu]=St. Kitts és Nevis
Name[it]=Ss. Kitts e Nevis
Name[ja]=セントキッツネヴィス
Name[ko]=세인트 키츠 네비스
Name[lt]=Šv. Kitts ir Nevis
Name[lv]=St. Kitts un Nevis
Name[mt]=St. Kitts u Nevis
Name[nl]=St. Kitts en Nevis
Name[no]=St. Kitts og Nevis
Name[no_NY]=St. Kitts og Nevis
Name[oc]=St. Kitts e Nevis
Name[pt_BR]=St Kitts e Nevis
Name[pt]=St. Kitts e Nevis
Name[ru]=о. Св. Кристофа и Невиса
Name[sk]=St. Kitts a Nevis
Name[sl]=St. Kitts in Nevis
Name[sr]=St. Kitts i Nevis
Name[sv]=St. Kitts och Nevis
Name[ta]=¦ºÂ¢ýð ¸¢ðÍ & ¦¿Å¢Í
Name[tr]=St. Kitts ve Nevis
Name[uk]=Федерація Сент-Кітс і Невіс
Name[xh]=St. Kitts no Nevis
Name[zh_CN.GB2312]=圣基特和里维斯
Name[zh_TW.Big5]=聖 Kitts and Nevis
Region=caribbean
Languages=en_GB,C
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=EC
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[C]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartsMonday=false
