#Configuration file for Canada
#the language [fr] refer to the Canadian French settings
#both [C] and [en_GB] settings refer to the Canadian English settings
[KCM Locale]
Name=Canada
Name[az]=Kanada
Name[bg]=Канада
Name[br]=Kanada
Name[bs]=Kanada
Name[ca]=Canadà
Name[cs]=Kanada
Name[de]=Kanada
Name[el]=Καναδάς
Name[eo]=Kanado
Name[es]=Canadá
Name[et]=Kanada
Name[eu]=Kanada
Name[fi]=Kanada
Name[gl]=Canadá
Name[he]=הדנק
Name[hr]=Kanada
Name[hu]=Kanada
Name[is]=Kanada
Name[ja]=カナダ
Name[ko]=캐나다
Name[lt]=Kanada
Name[lv]=Kanāda
Name[mk]=Канада
Name[mt]=Kanada
Name[no_NY]=Kanada
Name[pl]=Kanada
Name[pt_BR]=Canadá
Name[pt]=Canadá
Name[ru]=Канада
Name[sk]=Kanada
Name[sl]=Kanada
Name[sr]=Kanada
Name[sv]=Kanada
Name[ta]=¸É¼¡
Name[tr]=Kanada
Name[uk]=Канада
Name[zh_CN.GB2312]=加拿大
Name[zh_TW.Big5]=加大
Region=northamerica
Languages=en_GB,fr,C
DecimalSymbol=.
DecimalSymbol[fr]=,
ThousandsSeparator=,
ThousandsSeparator[fr]=$0 $0
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryDecimalSymbol[fr]=,
MonetaryThousandsSeparator=,
MonetaryThousandsSeparator[fr]=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositivePrefixCurrencySymbol[fr]=false
NegativePrefixCurrencySymbol[fr]=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[en_GB]=%B %e, %Y
DateFormat[fr]=%e %B %Y
DateFormat[C]=%B %e, %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort[en_GB]=%d/%m/%y
DateFormatShort[fr]=%Y-%m-%d
DateFormatShort[C]=%d/%m/%y
TimeFormat[en_GB]=%I:%M:%S %p
TimeFormat[fr]=%H:%M:%S
TimeFormat[C]=%I:%M:%S %p
TimeFormat[eo]=%H:%M:%S
WeekStartsMonday=false
