[Desktop Entry]
X-KDE-ModuleType=Library
X-KDE-Library=kdb
Type=Application
Name=KDB configuration
Name[az]=KDB quraşdırması
Name[bg]=Настройки на KDB
Name[ca]=Configuració de KDB
Name[cs]=Nastavení KDB
Name[da]=KDB indstilling
Name[de]=KDB-Einrichtung
Name[el]=Ρύθμιση KDB
Name[eo]=KDB-Agordo
Name[es]=Configuración de KDB
Name[et]=KDB seadistamine
Name[fi]=KDB asetukset
Name[fr]=Configuration de kDB
Name[he]=KDB תורדגה
Name[hu]=A KDB beállítása
Name[is]=Stillingar gagnagrunnskerfis (KDB)
Name[it]=Configurazione KDB
Name[ja]=KDBの設定
Name[ko]=KDB 설정
Name[lt]=KDB konfigūracija
Name[lv]=KDB konfigurācija
Name[nl]=KDB-configuratie
Name[no]=KDB konfigurasjon
Name[no_NY]=KDB-oppsett
Name[pl]=Konfiguracja KDB
Name[pt_BR]=Configuração do KDB
Name[pt]=Configuração do KDB
Name[ro]=Configurare KDB
Name[ru]=Настройки KDB
Name[sk]=Konfigurácia KDB
Name[sl]=Nastavitev KDB
Name[sr]=KDB konfiguracija
Name[sv]=Anpassning av KDB
Name[ta]=KDE ÅÊÅ¨ÁôÒ
Name[th]=การปรับแต่ง KDB
Name[tr]=KDB yapılandırması
Name[uk]=Налаштування KDB
Name[vi]=Cấu hình KDB 
Name[xh]=Uqwalaselo lwe KDB
Name[zh_CN.GB2312]=KDB 配置
Comment=Configure the plugins and connections for KDB system
Comment[az]=KDB sisteminin əlavələrini və bağlantılarını qur
Comment[bg]=Настройка на plugins и присъединяване към системата на KDB
Comment[ca]=Configuració dels endollats i connexions pel sistema KDB
Comment[cs]=Nastavení modulů a spojení pro systém KDB
Comment[da]=Indstil indstik og forbindelser for kdb systemet
Comment[de]=Plugins und Verbindungen für das KDB-System einrichten
Comment[el]=Ρύθμιση των plugins και των συνδέσεων για το σύστημα KDB
Comment[eo]=Agordo de la kromaĵoj kaj konektoj por la KDB-sistemo
Comment[es]=Configura los plugins y conexiones para el sistema KDB
Comment[et]=KDB süsteemi pluginate ja ühenduste seadistamine
Comment[fi]=Aseta sovelmia ja yhteyksiä KDE järjestelmälle
Comment[fr]=Configuration des modules et des connexions pour le système kDB
Comment[he]=KDB-ה תכרעמ רובע םירוביחהו םיפסותה תורדגה יוניש
Comment[hu]=A KDB rendszer kapcsolatainak és bővítőmoduljainak beállítása
Comment[is]=Stilla tengingar og vensl KDB kerfisins
Comment[it]=Configurazione dei plugin e delle connesioni per KDB
Comment[ja]=KDBシステムのプラグインと接続の設定
Comment[ko]=KDB 시스템에 쓰이는 플러그인과 연결을 설정합니다
Comment[lt]=Konfigūruoti priedus ir prisijungimus prie KDB sistemos
Comment[lv]=Konfigurē iespraudņus un pieslēgumus KDB sistēmai
Comment[mt]=Jikkonfigura l-plugins u konnessjonijiet għas-sistema KDB
Comment[nl]=stel de plugins en verbindingen voor het KDB-systeem in
Comment[no]=Konfigurer pluginene og koblingene til KDB systemet
Comment[no_NY]=Set opp tilleggsmodular og samband for KDB-system
Comment[pl]=Ustawienia wtyczek i połączeń bazodanowych systemu KDB
Comment[pt_BR]=Configurar plug-ins e conexões para o sistema KDB
Comment[pt]=Configura os 'plugins' e as ligações ao sistema do KDB
Comment[ro]=Configurează modulele şi conexiunile la sistemul KDB
Comment[ru]=Настроить плагины и соединения системы KDB
Comment[sk]=Konfigurácia pluginov a spojení pre systém KDB
Comment[sl]=Nastavite vstavke in povezave sistema KDB
Comment[sr]=Podesite dodatke i veze za KDB sistem
Comment[sv]=Anpassa insticksprogrammen och anslutningarna för KDB-systemet
Comment[ta]=KDB ¦¾¡Ì¾¢î ¦ºÕ¸ø¸¨ÇÔõ ­¨½ôÒ¸¨ÇÔõ ÅÊÅ¨Áì¸×õ
Comment[th]=ปรับแต่งปลั๊กอิน และการเชื่อมต่อสำหรับระบบ KDB
Comment[tr]=KDB sisteminin eklentilerini ve bağlantılarını yapılandır
Comment[uk]=Налаштувати додатки та з'єднання для системи KDB
Comment[vi]=Cấu hình các plugins và kết nối cho hềEthống KDB 
Comment[xh]=Qwalasela iplagi ezifakiweyo nodibaniso lwendlela ye KDB
Comment[zh_CN.GB2312]=为 KDB 系统配置插件和连接
Icon=kdb
Exec=kcmshell kcmkdb
