[Desktop Entry]
Name=Quartz
Name[az]=Kvars
Name[bg]=Кварц
Name[eo]=Kvarco
Name[es]=Cuarzo
Name[ko]=수정
Name[lv]=Kvarcs
Name[mt]=Kwartz
Name[pl]=Kwarc
Name[ru]=Кварц
Name[tr]=Kuartz
Name[uk]=Кварц
Name[xh]=Iminerali enikezwe banzi equlathe isilika
Name[zh_CN.GB2312]=水晶
Name[zh_TW.Big5]=石英
X-KDE-Library=libkwinquartz
