[Desktop Entry]
Type=Service
Name=Keyboard Map Tool
Name[az]=Klaviatura Xəritə Vasitəsi
Name[bg]=Преключвател на клавиатури
Name[bs]=Mapa tipkovnice
Name[ca]=Eina de mapa de teclat
Name[cs]=Nástroj k nastavení klávesnice
Name[da]=Tastaturkort værktøj
Name[de]=Dienstprogramm zum Tastaturlayout
Name[el]=Εργαλείο Χάρτη Πληκτρολογίου
Name[eo]=Klavararanĝilo
Name[es]=Redefinición del teclado
Name[et]=Klaviatuuri paigutus
Name[fi]=Näppäimistön järjestys
Name[fr]=Outil de sélection du clavier
Name[gl]=Ferramenta de Mapa de Teclado
Name[he]=םישקמה חול תפמ ילכ
Name[hr]=Mapa tipkovnice
Name[hu]=Billentyűzetkiosztás-kezelő alkalmazás
Name[is]=Skipulagstól lyklaborðs
Name[it]=Strumento per il Layout della tastiera
Name[ja]=キーボードマップレイアウト
Name[ko]=글쇠판 맵 도구
Name[lt]=Klaviatūros išdėstymo įrankis
Name[lv]=Tastatūras Piesaistes Rīks
Name[mk]=Распоред на тастатурата
Name[mt]=Għodda tat-tqassim tat-tastiera
Name[nl]=Toetsenbordindeling
Name[no]=Tastaturutseendeverktøy
Name[no_NY]=Verktøy for tastaturoppsett
Name[oc]=Otilh de mapa de clavièr
Name[pl]=Narzędzie mapowania klawiatury
Name[pt_BR]=Ferramenta de disposição do teclado
Name[pt]=Disposição do Teclado
Name[ru]=Переключатель раскладки клавиатуры
Name[sk]=Nástroj na Rozloženie kláves
Name[sl]=Razpored tipk
Name[sr]=Alat za mapiranje tastature
Name[sv]=Verktyg för tangentbordslayout
Name[ta]=Å¢¨ºôÀÄ¨¸ Å¨Ã ¸ÕÅ¢
Name[tr]=Klavye Harita Aracı
Name[uk]=Утиліта розкладки клавіатури
Name[vi]=Công cụ bản đềEbàn phím(Keyboard Map) 
Name[xh]=Isixhobo semaphu yebhodi enezitshixo
Name[zh_CN.GB2312]=键盘映射工具
Name[zh_TW.Big5]=鍵盤對應佈局
Exec=kxkb
X-DCOP-ServiceType=Unique
ServiceTypes=Daemon
