[Desktop Entry]
Comment=Information about the available protocols
Comment[az]=Mövcud protokollar haqqında mə'lumat
Comment[bg]=Информация за наличните протоколи
Comment[cs]=Informace o dostupných protokolech
Comment[da]=Information om de tilgængelige protokoller
Comment[de]=Information zu den verfügbaren Ein/Ausgabe-Modulen
Comment[el]=Πληροφορίες για τα διαθέσιμα πρωτόκολλα
Comment[eo]=Informo pri la uzeblaj protokoloj
Comment[es]=Informacíon sobre los protocolos disponibles
Comment[et]=Info olemasolevate IO moodulite (ioslave) kohta
Comment[fi]=Tietoja saatavillaolevista protokollista
Comment[fr]=Informations sur les protocoles disponibles
Comment[he]=םינימזה םילוקוטורפה לע עדימ
Comment[hu]=A rendelkezésre álló protokollok jellemzői
Comment[is]=Upplýsingar um nothæfar samskiptareglur
Comment[it]=Informazioni sui protocolli disponibili
Comment[ja]=利用可能なプロトコルの情報
Comment[ko]=쓸 수 있는 프로토콜 정보
Comment[lt]=Informacija apie esamus protokolus
Comment[lv]=Informācija par pieejamiem protokoliem
Comment[mt]=Informazzjoni dwar il-protokolli li hawn
Comment[nl]=informatie over de beschikbare protocollen
Comment[no]=Informasjon om de tilgjengelige protokollene
Comment[no_NY]=Informasjon om dei tilgjengelege protokollane
Comment[pl]=Informacje o dostępnych protokołach
Comment[pt_BR]=Informações sobre os protocolos disponíveis
Comment[pt]=Informações sobre os protocolos disponíveis
Comment[ro]=Informaţii despre protocoalele disponibile
Comment[ru]=сведения об имеющихся обработчиках протоколов ввода-вывода
Comment[sk]=Informácia o dostupných protokoloch
Comment[sl]=Podatki o razpoložljivih protokolih
Comment[sr]=Informacije o dostupnim protokolima
Comment[sv]=Information om de tillgängliga protokollen
Comment[ta]=¯ûÇ ´ôÒ¦¿È¢¸û ÀüÈ¢Â ¾¸Åø
Comment[th]=ข้อมูลเกี่ยวกับโปรโตคอลที่มีอยู่
Comment[tr]=Mevcut protokoller hakkında bilgi
Comment[uk]=Інформація про наявні протоколи
Comment[vi]=Thông tin vềEcác giao thức có thềEdùng 
Comment[xh]=Ulwazi malunga neeprotocol ezikhoyo
Comment[zh_CN.GB2312]=可用的协议的信息
DocPath=
Exec=kcmshell ioslaveinfo
Icon=history
Keywords=Protocol,IO slaves,Slaves,Network,Information,Timeout
Keywords[az]=Protokol, IO Kölələri, Kölələr, Şəbəkə,Mə'lumat, Vaxt Dolması
Keywords[cs]=Protokol,Vstupně/výstupní moduly,Síť,Informace,Časový limit
Keywords[da]=Protokol,IO slaver,Slaver,Netværk,Information, Tidsudløb
Keywords[de]=Protokolle,Information,Ein-/Ausgabe,IO-Slaves,Netzwerk,Zeitlimit,Timeout
Keywords[el]=Πρωτόκολλο,IO slaves,Slaves,Δίκτυο,Πληροφορίες,Διορία
Keywords[eo]=Protokolo,Enel-sklavoj,sklavoj,reto,informo,tempolimo
Keywords[es]=Protocolo,Slaves de E/S,Slaves,Red,Información,Tiempo de expiración
Keywords[et]=protokoll,IO moodulid,moodulid,võrk,info,taimaut
Keywords[fi]=Protokolla,IO slave,Slaves,Verkko,Tietoja,Aikavalvonta
Keywords[fr]=protocole,modules,entrées/sorties,réseau,informations,délai
Keywords[he]=היהשה,עדימ,תשר,םידבע,טלפ-טלק ידבע,לוקוטורפ
Keywords[hu]=protokoll,KDE protokollok,protokoll,hálózat,információ,időtúllépés
Keywords[is]=Samskiptareglur,IO þrælar,þrælar,staðarnet,net,upplýsingar,útrunninn tími
Keywords[it]=Protocollo,IO slave,Slave,Rete,Informazioni,Tempo massimo
Keywords[ja]=プロトコル,IO,スレイブ,スレーブ,ネットワーク,情報,タイムアウト
Keywords[ko]=Protocol,IO slaves,Slaves,Network,Information,Timeout,프로토콜,슬레이브,입출력,네트워크,네트웍,정보,시간초과
Keywords[lt]=Protocol,IO slaves,Slaves,Network,Information,Timeout,protokolas,tinklas,informacija,laiko pasibaigimas
Keywords[lv]=Protokols,IO vergi,Vergi,Tīkls,Informācija,Taimauts
Keywords[nl]=protocol,IO slaves,slaves,network,informatie,timeout,netwerk,tijdslimiet
Keywords[no]=Protokoll,IO-slaver,Slaver,Nettverk,Informasjon,Ventetid
Keywords[no_NY]=protokoll,IU-slavar,slavar,nettverk,informasjon,tidsgrense
Keywords[pl]=Protokół,procedury we/wy,wykonujący operacje we/wy,Sieć,Informacje,Limit czasu
Keywords[pt_BR]=Protocolo,IO slaves,Slaves,Rede,Informações,Timeout,Tempo-limite
Keywords[pt]=Protocolo,IO slaves,Slaves,Rede,Informações,Timeout,Tempo-limite
Keywords[ro]=samba,dispozitive I/O,sclavi,reţea,informaţii
Keywords[sk]=Protokol,Klienti IO,klienti,Sieť,Informácie
Keywords[sl]=protokol,podrejeni V/I,podrejeni,omrežje,podatki,zakasnitev
Keywords[sv]=Protokoll,IO-slavar,Slavar,Nätverk,Information,Timeout,Tidsgräns
Keywords[tr]=protokol,IO köleleri,köleler,Ağ,Bilgi,zaman aşımı
Keywords[uk]=протокол,підлеглі В/В,підлеглі,мережа,інформація,таймаут
Keywords[vi]=Giao thức,Mạng, thông tin, hết giềEProtocol,IO slaves,Slaves,Network,Information,Timeout
Keywords[xh]=Protocol,IO izicaka,Izicaka,Umsebenzi womtya,Ulwazi,Ixesha lokuphuma
Keywords[zh_CN.GB2312]=Protocol,IO slaves,Slaves,Network,Information,Timeout,协议,网络,信息,超时
Name=Protocols
Name[az]=Protokollar
Name[bg]=Протоколи
Name[cs]=Protokoly
Name[da]=Protokoller
Name[de]=Ein/Ausgabe-Module
Name[el]=Πρωτόκολλα
Name[eo]=Protokoloj
Name[es]=Protocolos
Name[et]=IO moodulid
Name[fi]=Yhteyskäytännöt
Name[fr]=Protocoles
Name[he]=םילוקוטורפ
Name[hu]=Protokollok
Name[is]=Samskiptareglur
Name[it]=Protocolli
Name[ja]=プロトコル
Name[ko]=프로토콜
Name[lt]=Protokolai
Name[lv]=Protokoli
Name[mt]=Protokolli
Name[nl]=Protocollen
Name[no]=Protokoller
Name[no_NY]=Protokollar
Name[pl]=Protokoły
Name[pt_BR]=Protocolos
Name[pt]=Protocolos
Name[ro]=Protocoale
Name[ru]=Протоколы
Name[sk]=Protokoly
Name[sl]=Protokoli
Name[sr]=Protokoli
Name[sv]=Protokoll
Name[ta]=´ôÒ¦¿È¢¸û
Name[th]=โปรโตคอล
Name[tr]=Protokoller
Name[uk]=Протоколи
Name[vi]=Giao thức 
Name[xh]=iiProtocol
Name[zh_CN.GB2312]=协议
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-FactoryName=ioslaveinfo
X-KDE-Library=ioslaveinfo
X-KDE-ModuleType=Library
X-KDE-SubstituteUID=false
X-KDE-Username=
