[Desktop Entry]
Exec=kjobviewer --all --show %i %m
Icon=kjobviewer
Terminal=0
Type=Application
X-KDE-StartupNotify=true

Name=Print jobs
Name[az]=Çap Edici vəzifələri
Name[bg]=Задания за печат
Name[cs]=Tiskové úlohy
Name[da]=Printerjob
Name[de]=Druckaufträge
Name[el]=Εκτυπώσεις
Name[eo]=Prestaskoj
Name[es]=Trabajos de impresión
Name[et]=Printeri tööd
Name[fi]=Tulostustyöt
Name[fr]=Travaux d'impression
Name[he]=הספדה תודובע
Name[hu]=KJobViewer nyomtatáskezelő
Name[is]=Prentverk
Name[it]=Code di stampa
Name[ja]=印刷ジョブ
Name[ko]=인쇄 작업
Name[lt]=Spausdinimo užduotys
Name[lv]=Drukas darbi
Name[mt]=Xogħol għall-ipprintjar
Name[nl]=Printertaken
Name[no]=Utskriftsjobber
Name[no_NY]=Utskriftsjobbar
Name[pl]=Zadania drukowania
Name[pt_BR]=Trabalhos de impressão
Name[pt]=Tarefas de Impressão
Name[ru]=Задания печати
Name[sk]=Tlačové úlohy
Name[sl]=Tiskalniška opravila
Name[sr]=Poslovi štampanja
Name[sv]=Skrivarjobb
Name[ta]=«îÍô À½¢¸û
Name[th]=งานพิมพ์
Name[tr]=Yazdırma işlemleri
Name[uk]=Задачі друку
Name[vi]=Xem các tác vụ in 
Name[xh]=Shicilela imisebenzi
Name[zh_CN.GB2312]=打印任务

Comment=A print jobs viewer
Comment[az]=Çap Edici vəzifələri göstəricisi
Comment[bg]=Програма за преглед опашката за печат
Comment[cs]=Prohlížeč tiskových úloh
Comment[da]=En printerjob viser
Comment[de]=Ein Betrachter für Druckaufträge
Comment[el]=Προβολή εργασιών εκτύπωσης
Comment[eo]=Rigardilo por prestaskoj
Comment[es]=Un visor de trabajos de impresión
Comment[et]=Printeri tööde vaataja
Comment[fi]=Tulostustöiden näyttäjä
Comment[fr]=Un afficheur des travaux d'impression
Comment[he]=הספדה תודובע גצ
Comment[hu]=A nyomtatási feladatok megtekintése
Comment[is]=Prentverkaskoðari
Comment[it]=Visualizzatore dei lavori in stampa
Comment[ja]=印刷ジョブビューア
Comment[ko]=인쇄할 작업을 보여줍니다
Comment[lt]=Spausdinimo užduočių žiūriklis
Comment[lv]=Drukas darbu skatītājs
Comment[mt]=Werrej għal xogħol biex jiġi pprintjat
Comment[nl]=een printertakenviewer
Comment[no]=Viser utskriftsjobber
Comment[no_NY]=Ein utskriftsjobbvisar
Comment[pl]=Przeglądarka zadań drukowania
Comment[pt_BR]=Um visualizador dos trabalhos de impressão
Comment[pt]=Um visualizador das tarefas de impressão
Comment[ru]=программа для просмотра очереди печати
Comment[sk]=Prehliadač tlačových úloh
Comment[sl]=Pregledovalnik tiskalniških opravil
Comment[sr]=Prikazivač poslova štampanja
Comment[sv]=Visar skrivarjobb
Comment[ta]=«îÍô À½¢ì ¸¡ðÊ¦Â¡ýÚ
Comment[th]=เครื่องมือแสดงรายการงานพิมพ์
Comment[tr]=Bir yazdırma işlemleri gösterici
Comment[uk]=Переглядач задач друку
Comment[vi]=Trình xem các tác vụ in ấn 
Comment[xh]=Umboniseli woshicilelo lwemisebenzi
Comment[zh_CN.GB2312]=打印任务查看器
