[KCM Locale]
Name=Italy
Name[az]=İtalyia
Name[bg]=Италия
Name[br]=Italia
Name[bs]=Italija
Name[ca]=Itàlia
Name[cs]=Itálie
Name[da]=Italien
Name[de]=Italien
Name[el]=Ιταλία
Name[eo]=Italio
Name[es]=Italia
Name[et]=Itaalia
Name[eu]=Italia
Name[fi]=Italia
Name[fr]=Italie
Name[gl]=Italia
Name[he]=הילטיא
Name[hr]=Italija
Name[hu]=Olaszország
Name[is]=Ítalía
Name[it]=Italia
Name[ja]=イタリア
Name[ko]=이탈리아
Name[lt]=Italija
Name[lv]=Itālija
Name[mi]=Itari
Name[mk]=Италија
Name[mt]=Italja
Name[nl]=Italië
Name[no]=Italia
Name[no_NY]=Italia
Name[oc]=Italia
Name[pl]=Włochy
Name[pt_BR]=Itália
Name[pt]=Itália
Name[ru]=Италия
Name[sk]=Taliansko
Name[sl]=Italija
Name[sr]=Italija
Name[sv]=Italien
Name[ta]=­ò¾¡Ä¢
Name[tr]=İtalya
Name[uk]=Італія
Name[wa]=Itåleye
Name[xh]=Ithali
Name[zh_CN.GB2312]=意大利
Name[zh_TW.Big5]=義大利
Region=southeurope
Languages=it
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=L.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=0
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
NegativeMonetarySignPosition=1
DateFormat[it]=%A %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%n/%Y
TimeFormat=%H:%M:%S
