[Desktop Entry]
Exec=kcmshell spellchecking
Icon=spellcheck
Type=Application
DocPath=

X-KDE-ModuleType=Library
X-KDE-Library=spellchecking

Name=Spell Checking
Name[az]=İmla Yoxlama
Name[bg]=Проверка на правопис
Name[cs]=Kontrola pravopisu
Name[da]=Stavekontrol
Name[de]=Rechtschreibprüfung
Name[el]=Ορθογραφικός Έλεγχος
Name[eo]=Literumilo
Name[es]=Corrector ortográfico
Name[et]=Õigekirja kontroll
Name[fi]=Oikoluku
Name[fr]=Vérification orthographique
Name[he]=תויא תקידב
Name[hu]=Helyesírás-ellenőrző
Name[is]=Stafsetningarleiðrétting
Name[it]=Controllo ortografico
Name[ja]=スペルチェック
Name[ko]=맞춤법 검사
Name[lt]=Rašybos tikrinimo įrankis
Name[lv]=Pareizrakstības Pārbaude
Name[nl]=Spellingscontrole
Name[no]=Stavekontroll
Name[no_NY]=Stavekontroll
Name[pl]=Sprawdzanie pisowni
Name[pt_BR]=Verificação Ortográfica
Name[pt]=Verificação Ortográfica
Name[ru]=Проверка орфографии
Name[sk]=Kontrola pravopisu
Name[sl]=Preverjanje črkovanja
Name[sr]=Provera pravopisa
Name[sv]=Rättstavning
Name[ta]=±ØòÐôÀ¢¨Æ ¾¢Õò¾¢
Name[th]=การตรวจสอบคำสะกด
Name[tr]=İmla Denetimi
Name[uk]=Перевірка правопису
Name[vi]=Kiểm tra chính tả 
Name[xh]=Ukhangelo lopelo
Name[zh_CN.GB2312]=拼写检查

Comment=Spell Checking Configuration
Comment[az]=İmla Qurğuları
Comment[bg]=Настройки на проверката за правопис
Comment[cs]=Nastavení kontroly pravopisu
Comment[da]=Stavekontrol-indstilling
Comment[de]=Einstellungen der Rechtschreibprüfung
Comment[el]=Ρυθμίσεις Ορθογραφικού Ελέγχου
Comment[eo]=Agordo de la literumilo
Comment[es]=Configuración del corrector ortográfico
Comment[et]=Õigekirja kontrolli seadistamine
Comment[fi]=Oikoluvun asetukset
Comment[fr]=Configuration de la vérification orthographique
Comment[he]=תויאה תקידב תורדגה יוניש
Comment[hu]=A helyesírás-ellenőrző beállításai
Comment[is]=Stilling á stafsetningarleiðréttingu
Comment[it]=Configurazione del controllo ortografia
Comment[ja]=スペルチェックの設定
Comment[ko]=맞춤법 검사 설정
Comment[lt]=Rašybos tikrinimo įrankio derinimas
Comment[lv]=Pareizrakstības Pārbaudes Konfigurācija
Comment[mt]=Konfigurazzjoni Spell Checking
Comment[nl]=Spellingscontrole instellingen
Comment[no]=Sett opp stavekontroll
Comment[no_NY]=Oppsett av stavekontroll
Comment[pl]=Konfiguracja sprawdzania pisowni
Comment[pt_BR]=Configuração da verificação ortográfica
Comment[pt]=Configuração da verificação ortográfica
Comment[ru]=настройки проверки орфографии
Comment[sk]=Nastavenie kontroly pravopisu
Comment[sl]=Nastavitve preverjanja črkovanja
Comment[sr]=Podešavanje provere pravopisa
Comment[sv]=Inställningar för rättstavning
Comment[ta]=±ØòÐôÀ¢¨Æ ¾¢Õò¾¢ ÅÊÅ¨ÁôÒ
Comment[th]=ปรับแต่งการตรวจสอบคำสะกด
Comment[tr]=İmla Denetimi Yapılandırması
Comment[uk]=Конфігурація перевірки правопису
Comment[vi]=Câu hình kiểm tra chính tả 
Comment[xh]=Uqwalaselo lokhangelo lopelo
Comment[zh_CN.GB2312]=拼写检查配置

Keywords=Spell
Keywords[az]=İmla
Keywords[cs]=Pravopis
Keywords[da]=Stav
Keywords[de]=Rechtschreibung
Keywords[el]=Ορθογραφία
Keywords[eo]=Literumo
Keywords[es]=Ortografía
Keywords[et]=õigekiri
Keywords[fi]=Oikoluku
Keywords[fr]=orthographe,vérification
Keywords[he]=תויא
Keywords[hu]=Helyesírás-ellenőrző
Keywords[is]=Stafsetning
Keywords[it]=ortografia,spelling,spell,errori ortografici
Keywords[ja]=スペル
Keywords[ko]=Spell, 맞춤법
Keywords[lt]=Spell, rašyba
Keywords[lv]=Pareizrakstība
Keywords[mt]=Spell,Spelli
Keywords[no]=stavekontroll,staving,stave
Keywords[no_NY]=Stavekontroll
Keywords[pl]=Literówki,Poprawność pisowni
Keywords[pt_BR]=Ortografia
Keywords[pt]=Ortografia
Keywords[sk]=Pravopis
Keywords[sl]=Črkuj
Keywords[sv]=Stava
Keywords[th]=สะกด
Keywords[tr]=İmla
Keywords[uk]=правопис
Keywords[vi]=Chính tả 
Keywords[xh]=Pela
Keywords[zh_CN.GB2312]=拼写
