[KCM Locale]
Name=Equador
Name[az]=Ekvator
Name[bg]=Еквадор
Name[br]=Ecuador
Name[bs]=Ekvador
Name[cs]=Ekvádor
Name[da]=Ecuador
Name[el]=Ισημερινός
Name[eo]=Ekvadoro
Name[es]=Ecuador
Name[et]=Ekvador
Name[eu]=Ekuador
Name[fr]=Équateur
Name[gl]=Ecuador
Name[he]=רודווקא
Name[hr]=Ekvador
Name[hu]=Ecuador
Name[is]=Ekvador
Name[it]=Ecuador
Name[ja]=エクアドル
Name[ko]=에콰도르
Name[lt]=Ekvadoras
Name[lv]=Ekvadora
Name[mk]=Еквадор
Name[mt]=Ekwador
Name[pl]=Ekwador
Name[ru]=Эквадор
Name[sk]=Ekvádor
Name[sl]=Ekvador
Name[sr]=Ekvador
Name[ta]=®ì¦Å§¼¡÷
Name[tr]=Ekvator
Name[uk]=Еквадор
Name[zh_CN.GB2312]=厄瓜多尔
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=$
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
