[Desktop Entry]
Name=Dock Application Bar
Name[az]=Proqram çubuğunu gizlət
Name[bg]=Панел за вградени приложения
Name[cs]=Lišta pro dokování aplikací
Name[da]=Dok programlinie
Name[de]=Programm-Andockleiste
Name[eo]=Dok-aplikaĵolistelo
Name[es]=Barra para anclar aplicaciones
Name[et]=Dokitavate rakenduste riba
Name[fi]=Upotettava ohjelmapalkki
Name[fr]=Applets WindowMaker
Name[he]=םימושיי ןגעמ
Name[hu]=Alkalmazásdokkoló
Name[is]=Kví fyrir forrit
Name[it]=Barra di dock
Name[ja]=ドックアプリケーションバー
Name[ko]=도크 응용 프로그램 막대
Name[lt]=Pritvirtintų programų juosta
Name[lv]=Dokot Aplikāciju Joslu
Name[mt]=Waħħal il-bar tal-programmi
Name[nl]=Applicatie-aanmeer-balk
Name[no]=Applikasjons dokklinje
Name[no_NY]=Dokka programlinje
Name[pl]=Pasek dokowania aplikacji
Name[pt_BR]=Barra de aplicações embutidas
Name[pt]=Barra de Aplicações Acopláveis
Name[ru]=Панель для встраивания приложений
Name[sk]=Panel pre dokovanie aplikácií
Name[sl]=Vrstica za zasidranje programov
Name[sv]=Programdocka
Name[ta]=¿¢ÃüÀð¨¼¨Â ­¨½
Name[tr]=Uygulama çubuğunu gizle
Name[uk]=Панель-док для програм
Name[xh]=Ibar yesicelo seDock
Name[zh_CN.GB2312]=嵌入程序栏
Comment=Dock application bar extension.
Comment[az]=Proqram çubuğu uzantısını gizlət.
Comment[bg]=Разширение на панела за вградени приложения.
Comment[cs]=Rozšíření lišty pro dokování aplikací.
Comment[da]=Dok programlinie udvidelse
Comment[de]=Eine Andock-Leiste für Programme
Comment[el]=Επέκταση Dock application bar.
Comment[eo]=Dokapliakĵolistela aldono
Comment[es]=Extensión Barra para anclar aplicaciones.
Comment[et]=Paneeli laiendus dokitavate rakenduste hoidmiseks
Comment[fi]=Upota ohjelmapalkkilaajennus
Comment[fr]=Incorporation des applets WindowMaker.
Comment[he]=םימושיי ןגעמ תבחרה
Comment[hu]=Alkalmazásdokkoló kiterjesztés.
Comment[is]=Útvíkkun kvíar fyrir ísett forrit
Comment[it]=Barra del dock delle applicazioni.
Comment[ja]=アプリケーション用のドックパネル
Comment[ko]=도크되는 응용 프로그램을 위한 확장입니다
Comment[lt]=Pritvirtintų programų juostos plėtinys
Comment[lv]=Doko aplikāciju joslas paplašinājumu.
Comment[mt]=Estensjoni biex twaħħal il-bar tal-programmi.
Comment[nl]=een balk waarin applicaties kunnen aanmeren
Comment[no]=Dokkapplikasjonslinje forlengelse
Comment[no_NY]=Dokkingspanel for program
Comment[pl]=Rozszerzenie do dokowania aplikacji
Comment[pt_BR]=Extensão da barra de aplicativos embutidos
Comment[pt]=Uma extensão de barra de aplicações acopláveis.
Comment[ru]=расширение панели для встраивания приложений.
Comment[sk]=Rozšírenie pre dokovací panel aplikácií
Comment[sl]=Razširitev za sidrišče programov.
Comment[sr]=Dock application bar ekstenzija.
Comment[sv]=Bygger ut med en programdocka
Comment[ta]=¿¢ÃüÀð¨¼ ­¨½ôÒ ¿£ðÊôÒ
Comment[tr]=Uygulama çubuğu uzantısını gizle.
Comment[uk]=Розширення панелі-доку для програм
Comment[xh]=Ulwandiso lwebar yesicelo seDock.
Comment[zh_CN.GB2312]=嵌入程序栏扩展。

Icon=dockbar
X-KDE-Library=libdockbarextension
X-KDE-UniqueApplet=true
