[KCM Locale]
Name=Dominican Republic
Name[az]=Dominik Respublikası
Name[bg]=Доминиканская република
Name[br]=Republik Dominikan
Name[bs]=Dominikanska Republika
Name[ca]=República Dominicana
Name[cs]=Dominikánská republika
Name[da]=Dominikanske republik
Name[de]=Dominikanische Republik
Name[el]=Δομινικανική Δημοκρατία
Name[eo]=Dominika Respubliko
Name[es]=República Dominicana
Name[et]=Dominikaani Vabariik
Name[eu]=Dominikar Errepublika
Name[fi]=Dominikaaninen tasavalta
Name[fr]=République dominicaine
Name[gl]=República Dominicana
Name[he]=תינקינימודה הקילבופרה
Name[hr]=Dominikanska Republika
Name[hu]=Dominikai Köztársaság
Name[is]=Dóminíska Lýðveldið
Name[it]=Repubblica Dominicana
Name[ja]=ドミニカ共和国
Name[ko]=도미니카 공화국
Name[lt]=Dominikos Respublika
Name[lv]=Dominikas Republika
Name[mk]=Доминиканска Република
Name[mt]=Repubblika Dominikana
Name[nl]=Dominicaanse Republiek
Name[no]=Dominikanske republikk
Name[no_NY]=Den dominikanske republikken
Name[oc]=Republica Dominicana
Name[pl]=Dominikana
Name[pt_BR]=República Dominicana
Name[pt]=República Dominicana
Name[ru]=Доминиканская республика
Name[sk]=Dominikánska republika
Name[sl]=Dominikanska republika
Name[sr]=Dominikanska republika
Name[sv]=Dominikanska republiken
Name[ta]=¦¼¡Á¢É¢ì¸ý ÌÊÂÃÍ
Name[tr]=Dominik Cumhuriyeti
Name[uk]=Домініканська республіка
Name[vi]=Cộng hoà Dominican 
Name[xh]=Ulawulo lokuziphatha kwe Dominican
Name[zh_CN.GB2312]=多米尼加共和国
Name[zh_TW.Big5]=多明尼加共和國
Region=caribbean
Languages=es
DecimalSymbol=.
ThousandsSeparator=
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
