[Desktop Entry]
Type=Service
Name=Postscript and PDF Files
Name[az]=Postscript və PDF Faylları
Name[bg]=Postscript и PDF файлове
Name[cs]=PostScriptové a PDF soubory
Name[da]=Postscript og PDF filer
Name[de]=PostScript- und PDF-Dateien
Name[el]=Αρχεία Postscript και PDF
Name[eo]=Postskriptaj kaj PDF-dosieroj
Name[es]=Archivos PostScript y PDF
Name[et]=Postscript ja PDF failid
Name[fi]=Postscript ja PDF -tiedostot
Name[fr]=Documents Postscript et PDF
Name[he]=PDF-ו Postscript יצבק
Name[hu]=PostScript és PDF fájlok
Name[is]=Postscript og PDF skrár
Name[it]=File Postscript e PDF
Name[ja]=Postscript, PDF ファイル
Name[ko]=포스트 스크립트와 PDF 파일
Name[lt]=Postscript ir PDF bylos
Name[lv]=Postscript un PDF Faili
Name[mt]=Fajls Postscript u PDF
Name[nl]=Postscript- en PDF-bestanden
Name[no]=Postscript og PDF-filer
Name[no_NY]=Postscript- og PDF-filer
Name[pl]=Pliki PostScriptu i PDF
Name[pt_BR]=Arquivos PostScript e PDF
Name[pt]=Ficheiros PostScript e PDF
Name[ru]=Файлы Postscript и PDF
Name[sk]=Súbory PostScript a PDF
Name[sl]=Datoteke Postscript in PDF
Name[sr]=PostScript i PDF fajlovi
Name[sv]=Postscript- och PDF-filer
Name[ta]=Postscript ÁüÚõ PDF §¸¡ôÒì¸û
Name[th]=แฟ้มโพสต์สคริปต์และ PDF
Name[tr]=Postscript ve PDF Dosyaları
Name[uk]=Файли Postscript та PDF
Name[vi]=File Postscript và PDF 
Name[xh]=Okushicilelwe phantsi okuposwayo kunye neefayile ze PDF
Name[zh_CN.GB2312]=Postscript 和 PDF 文件
ServiceTypes=ThumbCreator
MimeTypes=application/postscript,application/pdf,image/x-eps
X-KDE-Library=gsthumbnail
CacheThumbnail=true
