[Desktop Entry]
Type=Service
Name=HTML Files
Name[az]=HTML Faylları
Name[bg]=HTML файлове
Name[cs]=HTML soubory
Name[da]=Htmlfiler
Name[de]=HTML-Dateien
Name[el]=Αρχεία HTML
Name[eo]=HTML-dosieroj
Name[es]=Archivos HTML
Name[et]=HTML failid
Name[fi]=HTML-tiedostot
Name[fr]=Fichiers HTML
Name[he]=HTML יצבק
Name[hu]=HTML fájlok
Name[is]=HTML skrár
Name[it]=File HTML
Name[ja]=HTML ファイル
Name[ko]=HTML 파일
Name[lt]=HTML bylos
Name[lv]=HTML Faili
Name[mt]=Fajls HTML
Name[nl]=HTML-bestanden
Name[no]=HTML-fil
Name[no_NY]=HTML-filer
Name[pl]=Strony HTML
Name[pt_BR]=Arquivos HTML
Name[pt]=Ficheiros HTML
Name[ru]=Файлы HTML
Name[sk]=HTML súbory
Name[sl]=Datoteke HTML
Name[sr]=HTML fajlovi
Name[sv]=HTML-filer
Name[ta]=HTML §¸¡ôÒì¸û
Name[th]=แฟ้ม HTML
Name[tr]=HTML Dosyaları
Name[uk]=Файли HTML
Name[vi]=File HTML 
Name[xh]=Iifayile ze HTML
Name[zh_CN.GB2312]=HTML 文件
ServiceTypes=ThumbCreator
MimeTypes=text/html
X-KDE-Library=htmlthumbnail
CacheThumbnail=true
