[Desktop Entry]
Type=Service
Name=Images
Name[az]=Rəsmlər
Name[bg]=Картини
Name[cs]=Obrázky
Name[da]=Billeder
Name[de]=Bilder
Name[el]=Εικόνες
Name[eo]=Bildoj
Name[es]=Imágenes
Name[et]=Pildid
Name[fi]=Kuvat
Name[he]=תונומת
Name[hu]=Képek
Name[is]=Myndir
Name[it]=Immagini
Name[ja]=イメージ
Name[ko]=그림
Name[lt]=Paveiksliukai
Name[lv]=Attēli
Name[mt]=Stampi
Name[nl]=Afbeeldingen
Name[no]=Bilder
Name[no_NY]=Bilete
Name[pl]=Obrazki
Name[pt_BR]=Imagens
Name[pt]=Imagens
Name[ru]=Изображения
Name[sk]=Obrázky
Name[sl]=Slike
Name[sr]=Slike
Name[sv]=Bilder
Name[ta]=¯Õì¸û
Name[th]=แฟ้มภาพ
Name[tr]=Resimler
Name[uk]=Зображення
Name[vi]=Ảnh 
Name[xh]=Imifanekiso
Name[zh_CN.GB2312]=图像
ServiceTypes=ThumbCreator
MimeTypes=image/*
X-KDE-Library=imagethumbnail
CacheThumbnail=true
