[Desktop Entry]
Type=Service
Name=Text Files
Name[az]=Mətn Faylları
Name[bg]=Текстови файлове
Name[cs]=Textové soubory
Name[da]=Tekstfiler
Name[de]=Textdateien
Name[el]=Αρχεία Κειμένου
Name[eo]=Tekstdosieroj
Name[es]=Archivos de texto
Name[et]=Tekstifailid
Name[fi]=Tekstitiedostot
Name[fr]=Fichiers textes
Name[he]=טסקט יצבק
Name[hu]=Szöveges fájlok
Name[is]=Textaskrár
Name[it]=File di testo
Name[ja]=テキストファイル
Name[ko]=글월 파일(txt)
Name[lt]=tekstinės bylos
Name[lv]=Teksta Faili
Name[mt]=Fajls ta' Test
Name[nl]=Tekstbestanden
Name[no]=Tekstfiler
Name[no_NY]=Tekstfiler
Name[pl]=Pliki tekstowe
Name[pt_BR]=Arquivos texto
Name[pt]=Ficheiros de Texto
Name[ru]=Текстовые файлы
Name[sk]=Textové súbory
Name[sl]=Besedilne datoteke
Name[sr]=Tekstualni fajlovi
Name[sv]=Textfiler
Name[ta]=¯¨Ãì §¸¡ôÒì¸û
Name[th]=แฟ้มข้อความ
Name[tr]=Metin Dosyaları
Name[uk]=Текстові файли
Name[vi]=File text 
Name[xh]=Iifayile zokubhaliweyo
Name[zh_CN.GB2312]=文本文件
ServiceTypes=ThumbCreator
MimeTypes=text/*
X-KDE-Library=textthumbnail
CacheThumbnail=false
