[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=ThumbCreator
Comment=Thumbnail Handler
Comment[az]=Kiçik Rəsm Faylları Nümayişçisi
Comment[bg]=Обработване на мини-картинки
Comment[cs]=Ovladač miniatur
Comment[da]=Miniaturehåndtering
Comment[de]=Minibild-Verwaltung
Comment[el]=Χειριστής Thumbnails
Comment[eo]=Bildetotraktilo
Comment[es]=Manejador de miniaturas
Comment[et]=Pisipiltide käsitlemine
Comment[fi]=Esikatselukuvien hallinta
Comment[fr]=Gestionnaire d'aperçu des images
Comment[he]=תוימגודה להנמ
Comment[hu]=A gyorsnézeti ikonok kezelője
Comment[is]=Þumalmyndaforrit
Comment[it]=Gestore delle miniature
Comment[ja]=サムネイルハンドラー
Comment[lt]=Sumažinto paveiksliuko tvarkyklė
Comment[lv]=Sīktēlu Handlers
Comment[mt]=Handler għall-bolol
Comment[nl]=Miniaturenafhandeler
Comment[no]=Håndtering av forhåndsvisning
Comment[no_NY]=Handtering av førehandsvising
Comment[pl]=Uchwyt obrazkowego indeksu
Comment[pt_BR]=Manipulador de amostras
Comment[pt]=Tratamento de albuns de imagens
Comment[ru]=обработчик мини-изображений
Comment[sk]=Podpora náhľadu obrázkov
Comment[sl]=Obdelovalnik sličic
Comment[sr]=Upravljač sličicama
Comment[sv]=Hanterar miniatyrbilder
Comment[ta]=¸ð¨¼Å¢Ãø¿¸ì ¨¸Â¡Ç÷
Comment[tr]=Küçük Resim Dosyaları Görüntüleyici
Comment[uk]=Маніпулятор нігтів
Comment[vi]=Chỉnh các thumbnail 
Comment[xh]=Umqheba wozipho lobhontsi
Comment[zh_CN.GB2312]=缩放图处理器

[PropertyDef::MimeTypes]
Type=QStringList

[PropertyDef::CacheThumbnail]
Type=bool
