[Desktop Entry]
Comment=VideoText Viewer
Comment[az]=VideoText Göstəricisi
Comment[bg]=Преглед на видео текст
Comment[ca]=Un visor de videotext
Comment[cs]=Prohlížeč videotextu
Comment[da]=VideoTekstfremviser
Comment[de]=VideoText-Betrachter
Comment[eo]=Videotekstrigardilo
Comment[es]=Visor de vídeotexto
Comment[et]=Videoteksti näitamise rakendus
Comment[fi]=VideoText-näyttäjä
Comment[fr]=Afficheur vidéotexte
Comment[he]=טסקט-ואדיו גיצמ
Comment[hu]=Videószöveg-nézegető
Comment[is]=VideoText birtir
Comment[it]=Visualizzatore televideo
Comment[ja]=ビデオテキストビューア
Comment[ko]=비디오 텍스트 보기
Comment[lt]=videoteksto žiūriklis
Comment[lv]=Video Teksta Skatītājs
Comment[mk]=VideoText гледач
Comment[mt]=Werrej VideoText
Comment[no]=VideoText-fremviser
Comment[no_NY]=VideoText-visar
Comment[pl]=Przeglądarka telegazety
Comment[pt_BR]=Visualizador de videotexto
Comment[pt]=Um visualizador de video-texto
Comment[ro]=Vizualizor VideoText
Comment[ru]=просмотрщик бегущей строки
Comment[sk]=Zobrazovač VideoTextu
Comment[sl]=Pregledovalnik videoteksta
Comment[sr]=Prikazivač video teksta
Comment[sv]=Videotext-visare
Comment[ta]=Å£Ê§Â¡ ±ØòÐÕì ¸¡ðÊ
Comment[tr]=VideoText Gösterici
Comment[uk]=Переглядач відео-текстів
Comment[vi]=Trình xem Video Text 
Comment[xh]=Umboniseli wokubhaliweyo we Video
Comment[zh_CN.GB2312]=视频文件查看器
Exec=alevt
Icon=alevt
Name=AleVT
Name[vi]=AleVT 
Name[xh]=Utywala be VT
Type=Application
