[Desktop Entry]
Comment=Loki's video player
Comment[az]=Loki'nin video göstəricisi
Comment[bg]=Видео от Loki
Comment[ca]=Reproductor de vídeo Loki
Comment[cs]=Přehrávač videa od Loki
Comment[da]=Loki's video spiller
Comment[de]=Video-Wiedergabe
Comment[el]=Προβολή Βίντεο της Loki
Comment[eo]=Ludilo por videofilmoj
Comment[es]=Reproductor de vídeo de Loki
Comment[et]=MPEG failide mängija firmalt Loki
Comment[fi]=Lokin videosoittaja
Comment[fr]=Lecteur vidéo de Loki
Comment[he]=Loki לש ואדיוה ןגנ
Comment[hu]=A Loki cég videólejátszója
Comment[is]=Hreyfimyndabirtir Loka
Comment[it]=Lettore video di Loki
Comment[ja]=Loki ビデオプレーヤー
Comment[ko]=Loki가 만든 비디오 재생기
Comment[lt]=VLoki vaizdo grotuvas
Comment[lv]=Loki's video atskaņotājs
Comment[mk]=Loki видео репродукција
Comment[nl]=Loki's videospeler
Comment[no]=Videospiller fra Loki
Comment[no_NY]=Videospelar frå Loki
Comment[pl]=Odtwarzacz wideo Loki
Comment[pt_BR]=Reprodutor de vídeos da Loki
Comment[pt]=Reprodutor de vídeo do Loki
Comment[ro]=Program de redare fişiere video de la Loki
Comment[ru]=видеоплеер от Loki
Comment[sk]=Video prehrávač od Loki
Comment[sl]=Predvajalnik videov podjetja Loki
Comment[sr]=Lokijev video prikazivač
Comment[sv]=Loki's filmspelare
Comment[ta]=Loki Å£Ê§Â¡ ­Âì¸¢
Comment[tr]=Loki'nin video göstericisi
Comment[uk]=Програвач відео-файлів Loki
Comment[vi]=Trình xem video Loki's 
Comment[xh]=Umdlali we video ye Loki
Comment[zh_CN.GB2312]=Loki 公司的视频播放器
Exec=gtv
Icon=video
MimeType=video/mpeg
Name=GTV Mpeg Player
Name[az]=GTV MPEG göstərici
Name[bg]=GTV Mpeg видео
Name[ca]=Reproductor d'Mpeg GTV
Name[cs]=Přehrávač MPEGů GTV
Name[da]=GTV Mpegspiller
Name[de]=GTV: MPEG-Wiedergabe
Name[eo]=GTV-MPEG-ludilo
Name[es]=Reproductor GTV de MPEG
Name[et]=GTV - MPEG failide mängija
Name[fr]=Lecteur GTV Mpeg
Name[he]=GTV Mpeg ןגנ
Name[hu]=GTV MPEG-lejátszó
Name[is]=GTV Mpeg birtir
Name[it]=Lettore Mpeg GTV
Name[ja]=GTV Mpegプレーヤー
Name[ko]=GTV Mpeg 재생기
Name[lt]=GTV Mpeg Grotuvas
Name[lv]=GTV Mpeg Atskaņotājs
Name[mk]=GTV Mpeg репродукција
Name[mt]=Werrej MPEG GTV
Name[nl]=GTV Mpeg Speler
Name[no]=GTV Mpeg-spiller
Name[no_NY]=GTV Mpeg-spelar
Name[pl]=Odtwarzacz GTV Mpeg
Name[pt_BR]=Reprodutor de MPEG GTV
Name[pt]=Reprodutor Mpeg GTV
Name[ro]=Redare Mpeg GTV
Name[ru]=GTV Mpeg плеер
Name[sl]=Predvajalnik GTV Mpeg
Name[sr]=GTV Mpeg prikazivač
Name[sv]=GTV Mpeg-spelare
Name[ta]=GTV Mpeg ­Âì¸¢
Name[tr]=GTV MPEG gösterici
Name[uk]=Програвач GTV Mpeg
Name[vi]=Trình xem Mpeg GTV 
Name[xh]=Umdlali we GTV Mpeg
Name[zh_CN.GB2312]=GTV Mpeg 播放器
ServiceTypes=
Type=Application
