[Desktop Entry]
Comment=Realtime software MPEG-1 and VCD player
Comment[az]=Canlı MPEG-1 və VCD çalğıcısı
Comment[bg]=Програми за MPEG-1 и VCD работещи в реално време
Comment[cs]=Softwarový přehrávač MPEG-1 a VCD
Comment[da]=Reeltidsprogrammel MPEG-1 og VCD spiller
Comment[de]=Echtzeit-Abspielprogramm für MPEG-1 und VCD
Comment[el]=Software αναπαραγωγής MPEG-1 και VCD σε πραγματικό χρόνο
Comment[eo]=Realtempa MPEG-1- kaj VCD-ludilo
Comment[es]=Reproductor software en tiempo real de MPEG-1 y VCD
Comment[et]=Tarkvaraline MPEG-1 ja VCD mängija
Comment[fi]=Reaaliaikainen ohjelmallinen MPEG-1 ja VCD soittaja
Comment[fr]=Lecteur logiciel temps réel de vidéos MPEG-1 et VCD
Comment[he]=VCD-ו MPEG-1-ל תמא-ןמז ןגנ
Comment[hu]=Lejátszóprogram MPEG-1 fájlokhoz és Video CD-khez
Comment[is]=Rauntíma MPEG-1 (hugbúnaðar) og VCD spilari
Comment[it]=Lettore realtime MPEG-1 e VCD
Comment[ja]=リアルタイム MPEG-1 , VCD プレーヤー
Comment[ko]=실시간으로 소프트웨어 MPEG-1과 VCD를 보여줍니다
Comment[lt]=Realaus laiko programinis MPEG-1 ir VCD grotuvas
Comment[lv]=Reālālaika softiskais MPEG-1 un VCD atskaņotājs
Comment[mt]=Werrej MPEG-1 u VCD realtime
Comment[nl]=Realtime software MPEG-1 en VCD speler
Comment[no]=Realtids-spiller for MPEG-1 og VCD-spiller
Comment[no_NY]=Sanntids programvarebasert avspelingsprogram for MPEG-1 og VCD
Comment[pl]=Odtwarzacz MPEG-1 i VCD czasu rzeczywistego
Comment[pt_BR]=Leitor de VCD e MPEG-1 em tempo-real por software
Comment[pt]=Leitor de VCD e MPEG-1 em tempo-real por 'software'
Comment[ro]=Software de redare MPEG-1 şi VCD în timp real
Comment[ru]=Программный плеер MPEG-1 и VCD реального времени
Comment[sk]=Realtimový softvér na prehrávanie MPEG-1 a VCD
Comment[sl]=Programski predvajalnik MPEG-1 in VCD
Comment[sr]=MPEG-1 i VCD plejer
Comment[sv]=Realtidsspelare för MPEG-1 och VCD
Comment[ta]=Realtime ¦Áý¸Ä MPEG-1, Å¢º¢Ê ­Âì¸¢
Comment[tr]=Gerçek zamanlı yazılım MPEG-1 ve VCD görüntüleyici
Comment[uk]=Програвач реального часу для MPEG-1 та VCD
Comment[vi]=Trình xem Mpeg-1 và VCD với thời gian thực(realtime) 
Comment[xh]=Ixesha lokwenene lwezinto zecomputer MPEG-1 nomdlali we VCD
Comment[zh_CN.GB2312]=实时软件 MPEG-1 和 VCD 播放器
Exec=mtv
Icon=video
Name=MpegTV Player
Name[az]=MpegTV Çalğıcı
Name[bg]=Видео MpegTV
Name[cs]=Přehrávač MpegTV
Name[da]=MpegTV Spiller
Name[de]=MPEG-TV-Gerät
Name[eo]=MPEG-TV-ludilo
Name[es]=Reproductor MpegTV
Name[et]=MpegTV mängija
Name[fi]=MpegTV soittaja
Name[fr]=Lecteur MpegTV
Name[he]=MpegTV ןגנ
Name[hu]=MTV MPEG-lejátszó
Name[is]=MpegTV spilari
Name[it]=Lettore MpegTV
Name[ja]=MpegTVプレーヤー
Name[ko]=MpegTV 재생기
Name[lt]=MpegTV grotuvas
Name[lv]=MpegTV Atskaņotājs
Name[mt]=Werrej ta' MpegTV
Name[nl]=Mpeg TV Speler
Name[no]=MpegTV-spiller
Name[no_NY]=MpegTV-spelar
Name[pl]=Odtwarzacz MpegTV
Name[pt_BR]=Reprodutor MpegTV
Name[pt]=Reprodutor MpegTV
Name[ro]=Redare Mpeg TV
Name[ru]=Плеер MpegTV
Name[sk]=Prehrávač MpegTV
Name[sl]=Predvajalnik MpegTV
Name[sr]=MpegTV prikazivač
Name[sv]=MpegTV-spelare
Name[ta]=MpegTV ­Âì¸¢
Name[tr]=MpegTV gösterici
Name[uk]=Програвач MpegTV
Name[vi]=Trình xem MpegTV
Name[xh]=Umdlali womabona-kude we Mpeg
Name[zh_CN.GB2312]=MpegTV 播放器
Type=Application
MimeType=video/mpeg
