[Desktop Entry]
Comment=Watch TV!
Comment[az]=TV seyr et!
Comment[bg]=Телевизор
Comment[br]=Pellwel
Comment[ca]=Mira la TV!
Comment[cs]=Sledujte televizi!
Comment[da]=Se TV!
Comment[de]=Fernsehen mit dem Computer
Comment[el]=Δείτε TV!
Comment[eo]=Televidprogramo
Comment[es]=¡Vea la televisión!
Comment[et]=Televiisor!
Comment[fi]=Katso televisiota!
Comment[fr]=Regardez la télé !
Comment[he]=!היזיוולטב הפצ
Comment[hu]=Tévéműsornéző
Comment[is]=Horfðu á sjónvarp!
Comment[it]=Guarda la TV!
Comment[ja]=TVです!
Comment[ko]=TV를 보자!
Comment[lt]=Žiūrėk TV!
Comment[lv]=Skatīties TV!
Comment[mk]=Гледајте телевизија!
Comment[mt]=Ara t-TV!
Comment[nl]=tv kijken!
Comment[no]=Se TV!
Comment[no_NY]=Sjå TV!
Comment[pl]=Oglądanie TV!
Comment[pt_BR]=Veja TV!
Comment[pt]=Vê televisão!
Comment[ro]=Priveşti la TV!
Comment[ru]=телевизор
Comment[sk]=Pozerajte sa na TV!
Comment[sl]=Glejte televizijo!
Comment[sr]=Gledaj TV!
Comment[sv]=Titta på TV!
Comment[ta]=¦¾¡¨Äì¸¡ðº¢ À¡Õí¸û!
Comment[tr]=TV seyret!
Comment[uk]=Дивитися ТБ!
Comment[vi]=Xem TV! 
Comment[xh]=Bukela Umabona-kude!
Comment[zh_CN.GB2312]=观看 TV！
Exec=xawtv
Icon=xawtv
Name=XawTV
Name[az]=XawXV
Name[tr]=XawXV
Name[uk]=XawXV
Name[vi]=XawTV 
Name[xh]=Umabona-kude we Xaw
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=XawTV
