[Desktop Entry]
BinaryPattern=
Comment=X Multimedia System
Comment[az]=X Multimedya Sistemi
Comment[bg]=Мултимедиа за X
Comment[br]=Reizhiad liesvedia X
Comment[bs]=X Multimedijalni sustav
Comment[ca]=Sistema multimèdia X
Comment[cs]=Multimediální přehrávač
Comment[da]=X multimediesystem
Comment[de]=X-Multimedia-System
Comment[el]=Σύστημα Πολυμέσων του X
Comment[eo]=X-a plurmedia sistemo
Comment[es]=Sistema multimedia para X
Comment[et]=X'i multimeedia süsteem
Comment[eu]=X Multimedia Sistema
Comment[fi]=X Multimediajärjestelmä
Comment[fr]=Système multimédia XMMS
Comment[gl]=Sistema Multimedia para X
Comment[he]=X-ל הידמיטלומ תכרעמ
Comment[hr]=X Multimedijalni sustav
Comment[hu]=X multimédialejátszó
Comment[is]=Spilari f. margskonar hljóðskrár, þ.m.t. mp3.
Comment[it]=Sistema multimediale per X
Comment[ja]=Xマルチメディアシステム
Comment[ko]=X용 멀티미디어 시스템
Comment[lt]=X Multimedijos Sistema
Comment[lv]=X Multimēdiju Sistēma
Comment[mk]=MP3 репродукција
Comment[mt]=X Multimedia System - bħal winamp
Comment[nl]=X Multimedia Systeem
Comment[no]=X Multimedia-system
Comment[oc]=Sistemo multimèdia X
Comment[pl]=System multimediów X Window
Comment[pt_BR]=Sistema de Multimídia X
Comment[pt]=Sistema multimédia X
Comment[ro]=Winamp pentru Linux
Comment[ru]=мультимедиа для X
Comment[sk]=Prehrávač médií pre X
Comment[sl]=Večpredstavnostni sistem za X
Comment[sr]=X Multimedija Sistem
Comment[sv]=X Multimediasystem
Comment[ta]=X Àøæ¼¸ò ¦¾¡Ì¾¢
Comment[tr]=X Çoklu Ortam Sistemi
Comment[uk]=Мультимедіа система для X
Comment[vi]=HềEthống đa phương tiện cho X 
Comment[xh]=Indlela yokuninzi okuphakathi ye X
Comment[zh_CN.GB2312]=X 多媒体系统
Exec=xmms %U
Icon=xmms
MimeType=audio/x-mp3;audio/x-mod;audio/x-wav;audio/x-mpegurl;audio/x-scpls
Name=XMMS
Name[vi]=XMMS 
Path=
SwallowExec=
SwallowTitle=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-StartupNotify=false
