[Desktop Entry]
Exec=arena
Icon=xapp
Type=Application
Name=Arena
Name[bg]=Арена
Name[ko]=아레나
Name[lv]=Arēna
Name[ru]=Арена
Name[sk]=Aréna
Name[vi]=Arena 
Name[xh]=Umbindi webala lokudlala
Comment=Arena WWW Browser
Comment[az]=Arena WWW Səyyahı
Comment[bg]=Arena WWW броузер
Comment[br]=Furcher Gwiad Arena
Comment[bs]=WWW-Preglednik
Comment[ca]=Fullejador WWW Arena
Comment[cs]=WWW prohlížeč Arena
Comment[da]=Arena netsøger
Comment[de]=WWW-Browser Arena
Comment[el]=Φυλλομετρητής WWW Arena
Comment[eo]=TTT-legilo Arena
Comment[es]=Navegador WWW Arena
Comment[et]=Veebibrauser Arena
Comment[eu]=Arena WWW Nabigatzailea
Comment[fi]=Arena WWW-selain
Comment[fr]=Navigateur web Arena
Comment[gl]=Navegador WWW Arena
Comment[he]=Arena תשרה ןפדפד
Comment[hr]=WWW-Preglednik
Comment[hu]=Arena internetböngésző
Comment[is]=Arena-vafrinn
Comment[it]=Arena, un browser per il World Wide Web
Comment[ja]=Arena WWW ブラウザ
Comment[ko]=아레나 웹 탐색기
Comment[lt]=Arena WWW Naršyklė
Comment[lv]=Arēna WWW Pārlūks
Comment[mk]=Arena WWW разгледувач
Comment[mt]=Browser Arena
Comment[nl]=de Arena Webbrowser
Comment[no]=Arena nettleser
Comment[no_NY]=Nettlesaren Arena
Comment[oc]=Navigador WWW Arena
Comment[pl]=Przeglądarka WWW Arena
Comment[pt_BR]=Browser de WWW Arena
Comment[pt]=Browser da WWW Arena
Comment[ro]=Navigatorul de web Arena
Comment[ru]=WWW броузер
Comment[sk]=WWW prehliadač Aréna
Comment[sl]=Spletni brskalnik Arena
Comment[sr]=Arena Web čitač
Comment[sv]=Arena webbläsare
Comment[ta]=Arena Å¨Ä ¯Ä¡Å¢
Comment[tr]=Arena WWW Tarayıcı
Comment[uk]=Arena переглядач WWW
Comment[vi]=Trình duyệt WWW Arena 
Comment[wa]=Betchteu waibe Arena
Comment[xh]=Umbindi webala lokudlala WWW Mkhangeli zincwadi
Comment[zh_CN.GB2312]=Arena WWW 浏览器
