[Desktop Entry]
SwallowExec=coolmail
SwallowTitle=coolmail
SwallowTitle[pl]=coolmail
SwallowTitle[sk]=coolmail
SwallowTitle[no]=coolmail
Name=Coolmail
Name[ko]=쿨메일
Name[ta]=Üø¦ÁÂ¢ø
Name[vi]=Coolmail 
Name[xh]=Iposi epholileyo
Comment=Coolmail
Comment[br]=Posteler Coolmail
Comment[bs]=Program za čitanje elektronske pošte
Comment[eo]=Retpoŝtokontrolilo Coolmail
Comment[et]=Meiliklient Coolmail
Comment[fi]=Coolmail-postiohjelma
Comment[fr]=Notificateur Coolmail
Comment[hr]=Program za čitanje elektronske pošte
Comment[hu]=Coolmail levelezőprogram
Comment[is]=Póstforritið Coolmail
Comment[ko]=쓰기 편한 편지 클라이언트
Comment[nl]=het e-mailprogramma Coolmail
Comment[ta]=Üø¦ÁÂ¢ø
Comment[vi]=Coolmail 
Comment[xh]=Iposi epholileyo
Exec=coolmail
Icon=email
TerminalOptions=
Type=Application
Terminal=0
