[Desktop Entry]
Comment=Licq
Comment[eo]=LICQ
Comment[is]=Enn eitt ICQ forritið
Comment[vi]=Licq 
Exec=licq
Icon=licq
Name=Licq
Name[eo]=LICQ
Comment=Linux ICQ client
Comment[az]=Linuks ICQ alıcısı
Comment[bg]=IRC клиент за Линукс
Comment[cs]=ICQ klient pro Linux
Comment[da]=Linux ICQ-klient
Comment[de]=ICQ-Programm für Linux
Comment[el]=Πελάτης ICQ για linux
Comment[eo]=Linuksa ICQ-kliento
Comment[es]=Cliente ICQ para Linux
Comment[et]=Linuxi ICQ klient
Comment[fi]=Linuxin IRC asiakasohjelma
Comment[fr]=Client ICQ pour Linux
Comment[he]=סקונילל ICQ תינכות
Comment[hu]=Linux ICQ-kliens
Comment[is]=ICQ biðill fyrir Linux
Comment[it]=Client ICQ per Linux
Comment[ja]=Linux IRQクライアント
Comment[ko]=리눅스 ICQ 클라이언트
Comment[lt]=Linux ICQ klientas
Comment[lv]=Linux ICQ klients
Comment[mt]=Klijent ICQ għal-Linux
Comment[nl]=Linux ICQ Cliënt
Comment[no]=Linux ICQ-klient
Comment[no_NY]=ICQ-klient for Linux
Comment[pl]=Klient IRQ na Linuksa
Comment[pt_BR]=Cliente de ICQ do Linux
Comment[pt]=Cliente de ICQ do Linux
Comment[ro]=Un client ICQ pentru Linux
Comment[ru]=ICQ клиент под Linux
Comment[sk]=ICQ klient pre Linux
Comment[sl]=Odjemnik za ICQ za Linux
Comment[sr]=ICQ klijent za Linux
Comment[sv]=Linuxprogram för att prata (chatta) med ICQ
Comment[tr]=Linux için ICQ istemcisi
Comment[uk]=Клієнт IRC для Linux
Comment[vi]=Client cho Linux ICQ
Comment[xh]=Linux ICQ umxhasi
Comment[zh_CN.GB2312]=Linux ICQ 客户程序
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
