[Desktop Entry]
Exec=mozilla %u
Icon=mozilla
Type=Application
Name=Mozilla 
Comment=Mozilla Browser
Comment[az]=Mozilla Səyyahı
Comment[bg]=Arena WWW броузер
Comment[cs]=WWW prohlížeč Mozilla
Comment[da]=Mozilla netsøger
Comment[de]=Web-Browser Mozilla
Comment[eo]=TTT-legilo Mozilo
Comment[es]=Navegador Mozilla
Comment[et]=Mozilla brauser
Comment[fi]=Mozilla WWW-selain
Comment[fr]=Navigateur web Mozilla
Comment[he]=Mozilla ןפדפד
Comment[hu]=Mozilla internetböngésző
Comment[is]=Mozilla vafrinn
Comment[it]=Browser Mozilla
Comment[ja]=Mozilla ブラウザ
Comment[ko]=모질라 웹 탐색기
Comment[lt]=Mozilla naršyklė
Comment[lv]=Mozilla Pārlūks
Comment[mt]=Browser Mozilla
Comment[no]=Mozilla nettleser
Comment[no_NY]=Nettlesaren Mozilla
Comment[pl]=Przeglądarka Mozilla
Comment[pt_BR]=Navegador Web Mozilla
Comment[pt]=Navegador Web Mozilla
Comment[ro]=Navigatorul de web Mozilla
Comment[ru]=веб-броузер Mozilla
Comment[sk]=WWW prehliadač Mozilla
Comment[sl]=Spletni brskalnik Mozilla
Comment[sr]=Mozilla pretraživač
Comment[sv]=Webbläsaren Mozilla
Comment[ta]=Mozilla ¯Ä¡Å¢
Comment[tr]=Mozilla Tarayıcı
Comment[vi]=Trình duyệt Mozlla 
Comment[wa]=Betchteu waibe Mozilla
Comment[xh]=Umkhangeli zincwadi we Mozilla
Comment[zh_CN.GB2312]=Mozilla 浏览器
MimeType=text/html
X-KDE-StartupNotify=true
X-KDE-WMClass=mozilla-bin
