[Desktop Entry]
Exec=netscape %u
Icon=netscape
Type=Application
Name=Netscape
Name[eo]=Navigilo
Name[ko]=넷스케이프
Name[th]=เนตสเคป
Name[vi]=Netscape 
Comment=Netscape Navigator
Comment[bg]=Netscape Навигатор
Comment[br]=Merdeer Netscape
Comment[cs]=WWW prohlížeč Netscape Navigator
Comment[de]=Netscape-Navigator
Comment[eo]=Netskapa Navigilo
Comment[es]=Navegador Netscape
Comment[fi]=Netscape Navigator selainohjelma
Comment[fr]=Navigateur web Netscape Navigator
Comment[he]=Netscape לש ןפדפדה
Comment[is]=Netscape-vafrinn
Comment[ko]=넷스케이프 네비게이터
Comment[lt]=Netscape Navigatorius
Comment[lv]=Netscape Navigators
Comment[mk]=Netscape Navigator Интернет разгледувачот
Comment[ro]=Navigatorul de web Netscape Navigator
Comment[sk]=WWW prehliadač Netscape
Comment[sl]=Spletni brskalnik Netscape Navigator
Comment[th]=เนตสเคปเนวิเกเตอร์
Comment[uk]=Інтернет переглядач Netscape Navigator
Comment[vi]=Trình duyệt Hoa tiêu(Navigator) Netscape
Comment[xh]=Umlawuli we Netscape
Comment[zh_CN.GB2312]=Netscape 导航者
MimeType=text/html
X-KDE-StartupNotify=true
