[Desktop Entry]
SwallowExec=xbiff
SwallowTitle=X Biff
SwallowTitle[pl]=X Biff
SwallowTitle[no]=X Biff
Name=X Biff
Name[de]=X-Biff
Name[eo]=XBifo
Name[es]=Biff para X
Name[et]=XBiff
Name[fr]=XBiff
Name[ko]=편지 알림이(X용 비프)
Name[uk]=X-Biff
Name[vi]=X Biff 
Comment=Mail notification
Comment[az]=Poçt bildirici
Comment[bg]=Уведомяване при получаване на поща
Comment[br]=Kemenn postel
Comment[bs]=Obavijest o novim porukama
Comment[ca]=Notificació de correu
Comment[cs]=Upozorňuje na novou poštu
Comment[da]=Giver besked om e-post
Comment[de]=Benachrichtung bei neuer E-Mail
Comment[el]=Ειδοποίηση email
Comment[eo]=Retpoŝtanoncilo "XBiff"
Comment[es]=Notificación de correo
Comment[et]=X'i rakendus uutest kirjadest teada saamiseks
Comment[eu]=Posta notifikazioa
Comment[fi]=Postin saapumisen ilmoittaja
Comment[fr]=Notificateur d'arrivée de courrier électronique
Comment[gl]=Notificación de correo
Comment[he]=ראוד יבגל עודיי
Comment[hr]=Obavijest o novim porukama
Comment[hu]=Új levélre figyelmeztető alkalmazás
Comment[is]=Tilkynning um nýjann tölvupóst
Comment[it]=Controllo della posta
Comment[ja]=メールモニター
Comment[ko]=편지가 오면 알려줍니다.
Comment[lt]=Pašto pranešimai
Comment[lv]=Paziņošana par pastu
Comment[mk]=Известувач за нова е-пошта
Comment[mt]=Notifika ta' Mail
Comment[nl]=notificatie voor nieuwe e-mail
Comment[no]=Gir beskjed når nye eposter ankommer
Comment[no_NY]=E-postpåminning
Comment[oc]=Notificacion de corèu
Comment[pl]=Powiadamianie o poczcie
Comment[pt_BR]=Notificagco de mail
Comment[pt]=Notificação de mail
Comment[ro]=Program de urmărire a e-mail-urilor
Comment[ru]=уведомление о приходе почты
Comment[sk]=Upozorňuje na novú poštu
Comment[sl]=Obvestila o prejeti e-pošti
Comment[sr]=Obaveštava o prispelom mejlu
Comment[sv]=Uppmärksammar dig när du får ny post
Comment[ta]=«ïºø «È¢×Úò¾ø
Comment[tr]=Posta bildirici
Comment[uk]=Сповіщення про нову пошту
Comment[vi]=Trình theo dõi mail 
Comment[xh]=Isaziso seposi
Comment[zh_CN.GB2312]=Mail 通告
Icon=email
TerminalOptions=
Type=Application
Terminal=0
