[Desktop Entry]
Exec=xfmail
Icon=xfmail
Type=Application
Name=XFMail
Name[eo]=XfPoŝto
Name[ko]=XF메일
Name[lv]=XFPasts
Name[sv]=Xfmail
Name[ta]=XF«ïºø
Name[vi]=XFMail 
Name[xh]=Iposi ye XF
Comment=XFMail Mailer
Comment[az]=XFMail ePoçt Proqramı
Comment[bg]=Пощенски клиент за X
Comment[br]=Posteler XFMail
Comment[bs]=Program za elektronsku poštu
Comment[ca]=Carter XFMail
Comment[cs]=Poštovní program XFMail
Comment[da]=XFMail e-postprogram
Comment[de]=Mailprogramm XFMail
Comment[el]=Πρόγραμμα ηλ. ταχυδρομείου XFMail
Comment[eo]=Retpoŝtilo "Xfmail"
Comment[es]=Cliente de correo XFMail
Comment[et]=IMAP toetusega meiliklient XFMail
Comment[eu]=XFMail Postaria
Comment[fi]=XFMail postiohjelma
Comment[fr]=Logiciel de messagerie électronique XFMail
Comment[gl]=Cliente de correo XFMail
Comment[he]=XFMail ראודה תינכות
Comment[hr]=Program za elektronsku poštu
Comment[hu]=Levelezőprogram
Comment[is]=Póstforritið XFMail
Comment[it]=Gestore della posta XFMail
Comment[ja]=XFMail メーラー
Comment[ko]=편지를 주고 받는 프로그램
Comment[lt]=XFMail paštininkas
Comment[lv]=XFMail Pastnieks
Comment[mk]=XFMail програма за е-пошта
Comment[mt]=Mailer XFMail
Comment[nl]=XFMail elektronische postdienst
Comment[no]=XFMail-epostprogrammet
Comment[no_NY]=Postprogrammet XFMail
Comment[oc]=Messatgeria XFMail
Comment[pl]=Program pocztowy
Comment[pt_BR]=Mensageiro XFMail
Comment[pt]=Cliente de mail XFMail
Comment[ro]=Client de mail pentru X Windows
Comment[ru]=почтовый клиент для X
Comment[sk]=Poštový program XFMail
Comment[sl]=E-poštni program XFMail
Comment[sr]=XFMail mejler
Comment[sv]=E-postprogrammet Xfmail
Comment[ta]=XFMail «ïºü ¸ÕÅ¢
Comment[tr]=XFMail E-posta Programı
Comment[uk]=Програма електронної пошти XFMail
Comment[vi]=Trình gửi mail XFMail 
Comment[xh]=Umposi weposi ye XF
Comment[zh_CN.GB2312]=XFMail 邮件程序
