[Desktop Entry]
BinaryPattern=
Name=X FTP
Name[de]=X-FTP
Name[eo]=XFtp
Name[es]=FTP para X
Name[et]=XFTP
Name[fr]=XFTP
Name[ko]=X용 FTP
Name[no_NY]=X-FTP
Name[uk]=X-FTP
Name[vi]=X FTP 
Protocols=
MimeType=
Comment=Graphical FTP Client
Comment[az]=Qrafiki FTP Alıcısı
Comment[bg]=Графичен FTP клиент
Comment[br]=Arval FTP grafikel
Comment[bs]=FTP program sa grafičkim sučeljem
Comment[ca]=Client FTP gràfic
Comment[cs]=Grafický FTP klient
Comment[da]=Grafisk ftp-klient
Comment[de]=FTP-Programm mit graphischer Oberfläche
Comment[el]=Γραφικός πελάτης FTP
Comment[eo]=grafika FTP-programo
Comment[es]=Cliente FTP gráfico
Comment[et]=Graafiline ftp klient
Comment[eu]=FTP Bezero Grafikoa
Comment[fi]=Graafinen FTP-asiakasohjelma
Comment[fr]=Client FTP graphique
Comment[gl]=Cliente FTP Gráfico
Comment[he]=תיפרג FTP תינכות
Comment[hr]=FTP program sa grafičkim sučeljem
Comment[hu]=Grafikus FTP-kliens
Comment[is]=Myndrænn FTP biðlari
Comment[it]=Client grafico FTP
Comment[ja]=一般的なFTPクライアント
Comment[ko]=보기 좋은 FTP 클라이언트
Comment[lt]=Grafinis FTP Klientas
Comment[lv]=Grafiskais FTP Klients
Comment[mk]=Графички FTP клиент
Comment[mt]=Klijent FTP Grafiku
Comment[nl]=grafische FTP-cliënt
Comment[no]=Grafisk FTP-klient
Comment[no_NY]=Grafisk FTP-klient
Comment[oc]=Client FTP grafic
Comment[pl]=Graficzny klient FTP
Comment[pt_BR]=Cliente de FTP
Comment[pt]=Cliente Gráfico de FTP
Comment[ro]=Client de FTP pentru X Windows
Comment[ru]=графический FTP клиент
Comment[sk]=FTP klient pre XWindow
Comment[sl]=Grafični odjemnik FTP
Comment[sr]=Grafički FTP klijent
Comment[sv]=Grafisk FTP-klient
Comment[ta]=Å¨ÃÅ¢Âø FTP ¸ÕÅ¢
Comment[th]=ไคลเอนต์ FTP แบบกราฟิก
Comment[tr]=Grafikli FTP İstemcisi
Comment[uk]=Графічний FTP-клієнт
Comment[vi]= Trình duyệt FTP kiểu đềEhoạ 
Comment[xh]=Umxhasi wozobo lwe FTP
Comment[zh_CN.GB2312]=图形化的 FTP 客户程序
Exec=xftp
Icon=xapp
TerminalOptions=
Path=
Type=Application
Terminal=0
