[KCM Locale]
Name=Malta
Name[bg]=Малта
Name[el]=Μάλτα
Name[eo]=Malto
Name[fr]=Malte
Name[he]=הטלמ
Name[hu]=Málta
Name[ja]=マルタ
Name[ko]=왈타
Name[ru]=Мальта
Name[ta]=Á¡ø¼¡
Name[uk]=Мальта
Name[zh_CN.GB2312]=马耳他
Name[zh_TW.Big5]=馬爾他
Region=southeurope
Languages=mt,en_GB,en
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=Lm
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[mt]=%A, %e ta' %B %Y
DateFormat[en_GB]=%A %d %B %Y
DateFormat[en]=%A %d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
WeekStartsMonday=true
