[KCM Locale]
Name=Denmark
Name[az]=Danimarka
Name[bg]=Дания
Name[br]=Danmark
Name[bs]=Danska
Name[ca]=Dinamarca
Name[cs]=Dánsko
Name[da]=Danmark
Name[de]=Dänemark
Name[el]=Δανία
Name[eo]=Danlando
Name[es]=Dinamarca
Name[et]=Taani
Name[eu]=Danimarka
Name[fi]=Tanska
Name[fr]=Danemark
Name[gl]=Dinamarca
Name[he]=קרמנד
Name[hr]=Danska
Name[hu]=Dánia
Name[is]=Danmörk
Name[it]=Danimarca
Name[ja]=デンマーク
Name[ko]=덴마크
Name[lt]=Danija
Name[lv]=Dānija
Name[mi]=Tenemaka
Name[mk]=Данска
Name[mt]=Danimarka
Name[nl]=Denemarken
Name[no]=Danmark
Name[no_NY]=Danmark
Name[oc]=Dinamarca
Name[pl]=Dania
Name[pt_BR]=Dinamarca
Name[pt]=Dinamarca
Name[ru]=Дания
Name[sk]=Dánsko
Name[sl]=Danska
Name[sr]=Danska
Name[sv]=Danmark
Name[ta]=¦¼ýÁ¡÷ì
Name[tr]=Danimarka
Name[uk]=Данія
Name[vi]=Đan Mạch 
Name[wa]=Daenmåtche
Name[zh_CN.GB2312]=丹麦
Name[zh_TW.Big5]=丹麥
Region=northeurope
Languages=da
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=kr
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[da]=%A den %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m-%Y
TimeFormat=%H:%M:%S
