[Desktop Entry]
Exec=kprinter
Icon=kjobviewer
Terminal=0
Type=Application
DocPath=kdeprint/index.html
X-KDE-StartupNotify=true
Name=KPrinter
Name[eo]=Presadilo
Name[fr]=kPrinter
Name[ko]=K프린터
Name[lt]=K spausdintuvas
Name[lv]=KDrukas Iekārta
Name[sl]=TiskalniK
Name[sv]=Kskrivare
Name[tr]=KYazıcı
Comment=KPrinter
Comment[de]=Das Druckmodul von KDE
Comment[eo]=Ilo por presado
Comment[fr]=kPrinter
Comment[ko]=K프린터
Comment[lt]=K spausdintuvas
Comment[lv]=KDrukas Iekārta
Comment[sl]=TiskalniK
Comment[sr]=KŠtampač
Comment[sv]=Kskrivare
Comment[tr]=KYazıcı

