[Desktop Entry]
BinaryPattern=
Name=X Eyes
Name[az]=X Gözlər
Name[bg]=X Очи
Name[br]=Daoulagad X
Name[cs]=Oči
Name[da]=X-øjne
Name[de]=X-Eyes
Name[eo]=XOkuloj
Name[es]=Ojos de X
Name[et]=X'i silmad
Name[fi]=X-silmät
Name[fr]=XEyes
Name[hu]=X-szemek
Name[is]=X-augu
Name[ko]=눈
Name[lv]=X Acis
Name[mi]=Whatu X
Name[mk]=X очи
Name[nl]=X Ogen
Name[no]=X-øyne
Name[no_NY]=X-auge
Name[pt_BR]=Olhos X
Name[pt]=Olhos X
Name[ro]=Ochi
Name[sk]=Oči
Name[sv]=X Ögon
Name[ta]=X ¸ñ¸û
Name[tr]=X Gözler
Name[uk]=Очі X
Name[xh]=Amehlo ka X
Name[zh_CN.GB2312]=X 眼睛
Protocols=
MimeType=
Comment=X Eyes
Comment[az]=X Gözlər
Comment[bg]=Очи на X
Comment[br]=Ur re daoulagad a heuilh al logodenn
Comment[bs]=Oči prate pokrete miša
Comment[ca]=Ullets X
Comment[cs]=Oči pro XWindows
Comment[da]=X-øjne
Comment[de]=X-Augen
Comment[eo]=X-Okuloj
Comment[es]=Los ojos de X
Comment[et]=X'i silmad
Comment[eu]=X Begiak
Comment[fi]=X-Silmät
Comment[fr]=XEyes
Comment[gl]=Ollos para X
Comment[hr]=Oči prate pokrete miša
Comment[hu]=Szemek figyelik az egérkurzort
Comment[is]=X-augu
Comment[it]=Gli occhi di X
Comment[ko]=X에서 마우스를 계속 지켜보는 눈
Comment[lt]=X akys
Comment[lv]=X Acis
Comment[mk]=Очи што ве следат додека се движите наоколу
Comment[mt]=Għajnejn X
Comment[nl]=X-ogen
Comment[no]=X-øyne
Comment[no_NY]=X-auge
Comment[oc]=Uelhs X
Comment[pl]=X Oczy
Comment[pt_BR]=Olhos X
Comment[pt]=Olhos X
Comment[ro]=Ochi care urmăresc mouse-ul
Comment[ru]=глаза для X
Comment[sk]=Oči pre XWindows
Comment[sv]=X Ögon
Comment[ta]=X ¸ñ¸û
Comment[tr]=X Gözler
Comment[uk]=Очі X
Comment[xh]=Amehlo ka X
Comment[zh_CN.GB2312]=X 眼睛
Exec=xeyes
Icon=xeyes
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
