[Desktop Entry]
Exec=khotkeys
Name=KDE Hot Keys
Name[az]=KDE Qısa yol Düymələri
Name[bg]=Горещи клавиши на KDE
Name[cs]=Horké klávesy
Name[da]=KDE Genvejstaster
Name[de]=KDE-Kurzbefehle
Name[el]=Συντομεύσεις Πληκτρολογίου KDE
Name[eo]=Klavkombinoj
Name[es]=Teclas rápidas de KDE
Name[et]=KDE kiirklahvid
Name[fi]=KDE pikanäppäimet
Name[fr]=Raccourcis de KDE
Name[he]=KDE לש ךרד רוציק ישקמ
Name[hu]=KDE gyorsbillentyűk
Name[is]=Flýtilyklar KDE
Name[it]=Scorciatoie tasti di KDE
Name[ja]=KDE ホットキー
Name[ko]=KDE 줄임쇠
Name[lt]=KDE klavišų kombinacijos
Name[lv]=KDE Karstie Taustiņi
Name[mt]=Taqsiriet KDE
Name[nl]=KDE Sneltoetsen
Name[no]=KDEs hjemmeside
Name[no_NY]=KDE-snøggtastar
Name[pl]=Skróty klawiszowe KDE
Name[pt_BR]=Teclas de atalho do KDE
Name[ru]=Горячие клавиши KDE
Name[sk]=Klávesové skratky KDE
Name[sl]=Vroče tipke KDE
Name[sv]=KDE Snabbtangenter
Name[ta]=KDE ÍÎÅ¢¨º¸û
Name[th]=คีย์ลัดของ KDE
Name[tr]=KDE Kısayol Tuşları
Name[uk]=Швидкі клавіши KDE
Name[vi]=Các phím nóng cho KDE 
Name[xh]=Izitshixo ezishushu ze KDE
Name[zh_CN.GB2312]=KDE 热键
Type=Service
X-KDE-StartupNotify=false
X-KDE-autostart-condition=khotkeysrc:Main:Num_Sections:false
