[KCM Locale]
Name=Sweden
Name[az]=İsveç
Name[bg]=Швеция
Name[br]=Sveden
Name[bs]=švedska
Name[ca]=Suècia
Name[cs]=Švédsko
Name[da]=Sverige
Name[de]=Schweden
Name[el]=Σουηδία
Name[eo]=Svedio
Name[es]=Suecia
Name[et]=Rootsi
Name[eu]=Suedia
Name[fi]=Ruotsi
Name[fr]=Suède
Name[gl]=Suecia
Name[he]=הידבש
Name[hr]=švedska
Name[hu]=Svédország
Name[is]=Svíþjóð
Name[it]=Svezia
Name[ja]=スウェーデン
Name[ko]=스웨덴
Name[lt]=Švedija
Name[lv]=Zviedrija
Name[mi]=Wïtana
Name[mk]=Шведска
Name[mt]=Svezja
Name[nl]=Zweden
Name[no]=Sverige
Name[no_NY]=Sverige
Name[oc]=Suècia
Name[pl]=Szwecja
Name[pt_BR]=Suécia
Name[pt]=Suécia
Name[ru]=Швеция
Name[sk]=Švédsko
Name[sl]=Švedska
Name[sr]=Švedska
Name[sv]=Sverige
Name[ta]=ÍÅ£¼ý
Name[tr]=İsveç
Name[uk]=Швеція
Name[vi]=Thuỵ Điển 
Name[zh_CN.GB2312]=瑞典
Name[zh_TW.Big5]=瑞典
Region=northeurope
Languages=sv
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=kr
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sv]=%Aen den %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H.%M.%S
WeekStartsMonday=true
