.genmon_value {
   color: #bac3cf;
   font-size: 10pt;
   font-family: "Ubuntu Light";
   font-weight: 300;
}

vte-terminal {
    padding: 22px;
}

scrolledwindow {
    border-width: 0px;
    border-image-width: 0px;
}

#XfcePanelWindow {
   -XfcePanelWindow-autohide-size: 1;
}
