[Desktop Entry]
Icon=go
Type=Application
DocPath=kcontrol/sessions.html
Exec=kcmshell kcmsmserver

X-KDE-ModuleType=Library
X-KDE-Library=smserver
X-KDE-FactoryName=smserver

Name=Session Manager
Name[az]=İclas İdarəcisi
Name[bg]=Менажер на сесии
Name[cs]=Správce relace
Name[da]=Sessionshåndtering
Name[de]=Sitzungsverwaltung
Name[el]=Διαχειριστής Συνόδου
Name[eo]=Seancadministrilo
Name[es]=Administrador de sesiones
Name[et]=Seansihaldur
Name[fi]=Istunnonhallinta
Name[fr]=Gestionnaire de session
Name[he]=הלעפהה להנמ
Name[hu]=Munkafolyamat-kezelő
Name[is]=Setustjóri
Name[it]=Gestione della sessione
Name[ja]=セッションマネージャー
Name[ko]=세션 관리자
Name[lt]=Sesijos valdyklė
Name[lv]=Sesiju Menedžeris
Name[mt]=Manager tas-Sessjoni
Name[nl]=Sessiebeheerder
Name[no]=Sesjonbehandler
Name[no_NY]=Øktbehandlar
Name[pl]=Menedżer sesji
Name[pt_BR]=Gerenciador de sessão
Name[pt]=Gestor de Sessões
Name[ru]=Менеджер сеанса
Name[sk]=Správca sedenia
Name[sl]=Upravljalnik sej
Name[sr]=Menadžer sesija
Name[sv]=Sessionshanteraren
Name[ta]=«Á÷× §ÁÄ¡Ç÷
Name[th]=เครื่องมือจัดการเซสชัน
Name[tr]=Oturum Yöneticisi
Name[uk]=Менеджер сеансів
Name[vi]=Trình quản lí Session 
Name[xh]=Umphathi wentlanganiso
Name[zh_CN.GB2312]=会话管理器

Comment=You can configure the session manager here
Comment[az]=İclas idarəçisini buradan quraşdıra bilərsiniz
Comment[bg]=Тук вие можете да настроите менажера на сесии
Comment[cs]=Zde je možné nastavit správce relace
Comment[da]=Man kan indstille  sessionshåndterigen her
Comment[de]=Hier können Sie die Sitzungsverwaltung einrichten
Comment[el]=Εδώ ρυθμίζετε το διαχειριστή συνόδου
Comment[eo]=Agordilo por la seancadministrilo
Comment[es]=Aquí puede configurar el administrador de sesiones
Comment[et]=Seansihalduri seadistamine
Comment[fi]=Istunnon hallintaohjelman asetuksia voidaan muokata täällä
Comment[fr]=Configuration du gestionnaire de session
Comment[he]=הלעפהה להנמ תורדגה יוניש
Comment[hu]=Itt lehet módosítani a munkafolyamat-kezelő beállításait
Comment[is]=Hér getur þú stillt setustjóra
Comment[it]=Qui puoi configurare il gestore della sessione
Comment[ja]=ここでセッションマネージャの設定をします
Comment[ko]=이곳에서 세션 관리자를 설정할 수 있습니다
Comment[lt]=Čia galite suderinti sesijos tvarkyklę
Comment[lv]=Šeit jūs varat konfigurēt sesiju menedžeri
Comment[mt]=Hawn tista' tikkonfigura l-manager tas-sessjoni
Comment[nl]=u kunt hier de sessiebeheerder instellen
Comment[no]=Her kan du konfigurere sesjonsbehandleren
Comment[no_NY]=Her kan du setja opp øktbehandlaren
Comment[pl]=Konfiguracja menedżera sesji
Comment[pt_BR]=Você pode configurar aqui o gerenciador de sessão
Comment[pt]=Podes configurar o gestor de sessões aqui
Comment[ru]=здесь вы можете настроить менеджер сеанса
Comment[sk]=Tu môžete nastaviť vlastnosti správcu sedenia
Comment[sl]=Tu lahko nastavite upravljalnik sej
Comment[sr]=Ovde možete da podesite menadžer sesija
Comment[sv]=Här kan du anpassa sessionshanteraren
Comment[ta]=«Á÷× §ÁÄ¡Ç¨Ã ­í§¸ ¿£í¸û ÅÊÅ¨Áì¸Ä¡õ
Comment[th]=คุณสามารถปรับแต่งการทำงานของเครื่องมือจัดการเซสชันได้ที่นี่
Comment[tr]=Oturum yöneticisini buradan yapılandırabilirsiniz
Comment[uk]=Тут Ви можете налаштувати менеджер сеансу
Comment[vi]=Bạn có thềEcấu hình trình quản lí session ềEđây 
Comment[xh]=Ungaqwalasela umphathi wentlanganiso apha
Comment[zh_CN.GB2312]=在这里配置面板会话管理器

Keywords=ksmserver2,session,logout,confirmation,save,restore
Keywords[az]=ksmserver2,iclas,çıxış,qeyd et
Keywords[cs]=Správce relace,Relace,Odhlášení,Potvrzení,Uložení,Obnovení
Keywords[da]=ksmserver2,session,logaf,bekræftelse,gem,genopret
Keywords[de]=ksmserver2,Sitzung,Abmelden,Logout,Bestätigung,Speichern,Wiederherstellen
Keywords[el]=ksmserver2,σύνοδος,logout,επιβεβαίωση,αποθήκKeywords=ksmserver2,σύνοδος,logout,επιβεβαίωση,αποθήκευση,ανάκτηση
Keywords[eo]=seancadministrilo,seanco,adaiŭo,konfirmo,sekurigo,restarigo
Keywords[es]=ksmserver2,sesión,salida,confirmación,guardar,restaurar
Keywords[et]=ksmserver2,seanss,välja logimine,kinnitus,salvestamine,taastamine
Keywords[fi]=ksmserver2,istunto,lopetus,vahvistus,tallenna,palauta
Keywords[fr]=ksmserver2,session,arrêt,logout,confirmation,enregistrement,enregistrer,restaurer,restauration,connexion,déconnexion
Keywords[he]=רוזחש,הרימש,רושיא,האיצי,הלעפה,ksmserver2
Keywords[hu]=ksmserver2,munkafolyamat,kijelentkezés,megerősítés,mentés,visszatöltés
Keywords[is]=ksmserver2,lota,stimpla út,innskráning,staðfesting,vista,endurheimta
Keywords[it]=ksmserver2,sessione,uscita,conferma,salva,ripristina
Keywords[ja]=ksmserver2,セッション,ログアウト,確認,保存,復旧
Keywords[ko]=ksmserver2,session,logout,confirmation,save,restore,세션,로그 아웃,확인,저장,되돌림
Keywords[lt]=ksmserver2,sesija,išsiregistravimas,patvirtinimas,išsaugoti,atstatyti
Keywords[lv]=ksmserver2is,sesija,atteikšanās,apstiprinājums,saglabāt,atjaunot
Keywords[mt]=ksmserver2,session,logout,temm is-sessjoni,confirmation,save,restore
Keywords[nl]=ksmserver2,sessie,logout,uitloggen,bevestiging,herstellen,opslaan
Keywords[no]=ksmserver2,sesjon,log ut,lagre,gjenopprette
Keywords[no_NY]=ksmserver2,økt,utlogging,stadfesting,lagra,gjenopprett
Keywords[pl]=ksmserver2,sesja,wylogowanie,potwierdzenie,zachowanie stanu,odtworzenie
Keywords[pt_BR]=ksmserver2,sessão,logout,sair,confirmação,salvar,restaurar
Keywords[pt]=ksmserver2,sessão,terminar,confirmar,gravar,restaurar
Keywords[sk]=ksmserver2,sedenie,odhlásenie,potvrdenie,uloženie,obnovenie
Keywords[sl]=ksmserver2,seja,odjava,potrditev,shrani,obnovi
Keywords[sv]=ksmserver2,session,logga ut,bekräftelse,spara,återställa
Keywords[tr]=ksmserver2,oturum,çıkış,kaydet
Keywords[uk]=ksmserver2,сеанс,кінець сеансу,підтвердження,збереження,відновлення
Keywords[xh]=ksmserver2,intlanganiso,logout,uqinisekiso,gcina,gcina kwakhona
Keywords[zh_CN.GB2312]=ksmserver2,会话,注消,确认,保存,恢复
