[KCM Locale]
Name=Panama
Name[bg]=Панама
Name[ca]=Panamà
Name[el]=Παναμάς
Name[eo]=Panamo
Name[es]=Panamá
Name[gl]=Panamá
Name[he]=המנפ
Name[ja]=パナマ
Name[ko]=파나마
Name[mk]=Панама
Name[pt_BR]=Panamá
Name[pt]=Panamá
Name[ru]=Панама
Name[ta]=ÀÉ¡Á¡
Name[uk]=Панама
Name[zh_CN.GB2312]=巴拿马
Name[zh_TW.Big5]=巴馬
Region=southamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
CurrencySymbol=B/
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
