[KDE Desktop Pattern]
Comment=Fish Net
Comment[az]=Balıq Şəbəkəsi
Comment[bg]=Рибарска мрежа
Comment[br]=Roued pesk
Comment[bs]=Ribarska mreža
Comment[ca]=Xarxa de pesca
Comment[cs]=Rybářská síť
Comment[da]=Fiskenet
Comment[de]=Fischnetz
Comment[el]=Δίχτυ Ψαρέματος
Comment[eo]=Fiŝreto
Comment[es]=Red de pesca
Comment[et]=Kalavõrk
Comment[fi]=Kalaverkko
Comment[fr]=Filet
Comment[gl]=Rede de Pesca
Comment[he]=םיגייד תשר
Comment[hr]=Ribarska mreža
Comment[hu]=Halászháló
Comment[is]=Net
Comment[it]=Rete da pesca
Comment[ja]=漁網
Comment[ko]=물고기 그물
Comment[lv]=Zivju Tīkls
Comment[mk]=Мрежа
Comment[mt]=Xibka
Comment[nl]=Visnet
Comment[no]=Fiskegarn
Comment[no_NY]=Fiskegarn
Comment[oc]=resèu de pesca
Comment[pl]=Sieć rybacka
Comment[pt]=Rede de pesca
Comment[ru]=Рыбацкая сеть
Comment[sk]=Ryby a sieť
Comment[sl]=Ribiška mreža
Comment[sv]=Fisknät
Comment[ta]=Á£ý Å¨Ä
Comment[th]=ปลา
Comment[tr]=Balık Ağı
Comment[uk]=Тенета
Comment[xh]=Umnatha wentlanzi
Comment[zh_CN.GB2312]=渔网
File=fish.png
