[KDE Desktop Pattern]
Comment=Pavement
Comment[az]=Səki
Comment[bg]=Паваж
Comment[br]=Pavezadur
Comment[bs]=Pločnik
Comment[ca]=Paviment
Comment[cs]=Dlažba
Comment[da]=Brolægning
Comment[de]=Gehsteig
Comment[el]=Πεζοδρόμιο
Comment[eo]=Pavimo
Comment[es]=Pavimento
Comment[et]=Sillutis
Comment[eu]=Zorua
Comment[fi]=Katukivetys
Comment[fr]=Pavés
Comment[gl]=Pavimento
Comment[he]=ףוציר
Comment[hr]=Pločnik
Comment[hu]=Járda
Comment[is]=Gangstétt
Comment[it]=Marciapiede
Comment[ja]=歩道
Comment[ko]=포장한 바닥
Comment[lt]=Grindinys
Comment[lv]=Ielas segums
Comment[mi]=Ara
Comment[mk]=Тротоар
Comment[mt]=Bankina
Comment[nl]=Plavuizen
Comment[oc]=Paviment
Comment[pl]=Chodnik
Comment[pt_BR]=Pavimento
Comment[pt]=Chão
Comment[ru]=Мостовая
Comment[sk]=Chodník
Comment[sl]=Pločnik
Comment[sv]=Trottoar
Comment[th]=ทางเท้า
Comment[tr]=Kaldırım
Comment[uk]=Дорога
Comment[vi]=Lát 
Comment[xh]=Umgangatho osecaleni esitalatweni wokuhamba abantu
Comment[zh_CN.GB2312]=人行道
File=pavement.png
