[KDE Desktop Pattern]
Comment=Rattan
Comment[br]=Lien skosat
Comment[cs]=Rákos
Comment[eo]=Plektaĵo
Comment[es]=Rota (planta)
Comment[et]=Rotang
Comment[fi]=Rottinki
Comment[fr]=Rotin
Comment[he]=םילקד
Comment[hu]=Nádfonat
Comment[ja]=藤
Comment[ko]=등나무
Comment[lv]=Rotangpalma
Comment[mk]=Палма
Comment[nl]=Rotan
Comment[pt]=Rota
Comment[sk]=Trsť
Comment[sv]=Rotting
Comment[th]=หวาย
Comment[vi]=Cây song mây 
Comment[zh_CN.GB2312]=藤条
File=rattan.png
