[KCM Locale]
Name=El Salvador
Name[bg]=Салвадор
Name[br]=Salvador
Name[cs]=Salvador
Name[el]=Ελ Σαλβαντόρ
Name[eo]=Elsalvadoro
Name[et]=Salvador
Name[fr]=Salvador
Name[gl]=O Salvador
Name[he]=רודבלס לא
Name[hu]=Salvador
Name[ja]=エルサルバドル
Name[ko]=엘살바도르
Name[lt]=Salvadoras
Name[lv]=Salvadora
Name[mk]=Ел Салвадор
Name[pl]=Salwador
Name[ru]=Сальвадор
Name[sk]=Salvádor
Name[sl]=Salvador
Name[ta]=±ø º¡øÅ§¼¡÷
Name[uk]=Ель-Сальвадор
Name[zh_CN.GB2312]=萨尔瓦多
Name[zh_TW.Big5]=薩爾瓦多
Region=southamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
CurrencySymbol=¢
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
