[KCM Locale]
Name=Poland
Name[az]=Polşa
Name[bg]=Полша
Name[br]=Polonia
Name[bs]=Poljska
Name[ca]=Polònia
Name[cs]=Polsko
Name[da]=Polen
Name[de]=Polen
Name[el]=Πολωνία
Name[eo]=Pollando
Name[es]=Polonia
Name[et]=Poola
Name[eu]=Polonia
Name[fi]=Puola
Name[fr]=Pologne
Name[gl]=Polonia
Name[he]=ןילופ
Name[hr]=Poljska
Name[hu]=Lengyelország
Name[is]=Pólland
Name[it]=Polonia
Name[ja]=ポーランド
Name[ko]=폴란드
Name[lt]=Lenkija
Name[lv]=Polija
Name[mi]=Pörana
Name[mk]=Полска
Name[mt]=Polonja
Name[nl]=Polen
Name[no]=Polen
Name[no_NY]=Polen
Name[oc]=Polònia
Name[pl]=Polska
Name[pt_BR]=Polônia
Name[pt]=Polónia
Name[ru]=Польша
Name[sk]=Poľsko
Name[sl]=Poljska
Name[sr]=Poljska
Name[sv]=Polen
Name[ta]=§À¡Ä¡óÐ
Name[tr]=Polonya
Name[uk]=Польща
Name[vi]=Ba Lan 
Name[zh_CN.GB2312]=波兰
Name[zh_TW.Big5]=波蘭
Region=centraleurope
Languages=pl
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=zł
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[pl]=%a %e. %B %Y
DateFormatShort=%d/%m/%Y
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
