[Desktop Entry]
BinaryPattern=
Name=Applix
Name[eo]=Aplikso
Name[ko]=어플릭스
Name[vi]=Applix 
Protocols=
MimeType=
Exec=applix
Icon=applixware
TerminalOptions=
Path=
DocPath=
Type=Application
Terminal=0
Comment=ApplixWare Office Suite
Comment[az]=ApplixWare İş Yeri Dəstəsi
Comment[bg]=Офисен пакет ApplixWare
Comment[br]=Heuliad burev ApplixWare
Comment[bs]=ApplixWare Office
Comment[ca]=Aplicació d'oficina d'ApplixWare
Comment[cs]=Kancelářský balík Applixware
Comment[da]=Applixware kontorprogrammer
Comment[de]=ApplixWare-Officepaket
Comment[el]=Σουίτα εφαρμογών ApplixWare Office
Comment[eo]=Oficeja programpako de "Applix"
Comment[es]=Suite de oficina ApplixWare
Comment[et]=Applixware kontoritöö vahendid
Comment[eu]=ApplixWare Bulego Suitea
Comment[fi]=Applixware toimisto-ohjelmisto
Comment[fr]=Suite bureautique ApplixWare
Comment[gl]=Suite de Oficina ApplixWare
Comment[he]=ApplixWare םיידרשמה םימושייה תליבח
Comment[hr]=ApplixWare Office
Comment[hu]=Applixware irodai alkalmazáscsomag
Comment[is]=ApplixWare-vöndullinn
Comment[it]=Ambiente ufficio ApplixWare
Comment[ja]=ApplixWare オフィススイート
Comment[ko]=어플릭스웨어 사무용 프로그램 모음
Comment[lt]=ApplixWare Ofiso Rinkinys
Comment[lv]=ApplixWare Ofisa Komplekts
Comment[mk]=Канцеларискиот пакет програми ApplixWare
Comment[mt]=ApplixWare - Programmi tal-Uffiċċju
Comment[no]=Kontorpakken ApplixWare
Comment[no_NY]=ApplixWare kontorpakke
Comment[oc]=Aplicacion de burèu d'ApplixWare
Comment[pl]=Pakiet biurowy ApplixWare
Comment[pt_BR]=Pacote ApplixWare
Comment[pt]=Pacote de escritório ApplixWare
Comment[ro]=Suita de aplicaţii ApplixWare
Comment[ru]=офисный пакет ApplixWare
Comment[sk]=Kancelársky balík Applixware
Comment[sl]=Pisarniški paket ApplixWare
Comment[sr]=ApplixWare kancelarijski Paket
Comment[sv]=Officepaketet Applixware
Comment[ta]=ApplixWare «ÖÅÄ¸ô ¦À¡¾¢
Comment[tr]=ApplixWare Ofis Takımı
Comment[uk]=Офісний пакет програм ApplixWare
Comment[vi]=BềEchương trình văn phòng ApplixWare 
Comment[xh]=Iqela lamagumbi e-ofisi ye ApplixWare
Comment[zh_CN.GB2312]=ApplixWare 办公套件
X-KDE-StartupNotify=false
