[Desktop Entry]
BinaryPattern=
Name=Plan
Name[bg]=Календар
Name[et]=Plaan
Name[hu]=KOrganizer határidőnapló
Name[is]=Áætlanir
Name[ko]=일정
Name[lt]=Planas
Name[lv]=Plāns
Name[mi]=Kaupapa
Name[ru]=Календарь
Name[sl]=Planer
Name[ta]=¾¢ð¼õ
Name[vi]=Plan 
Name[xh]=Icebo
Name[zh_CN.GB2312]=计划
Protocols=
MimeType=
Exec=plan
Icon=plan
TerminalOptions=
Path=
DocPath=
Type=Application
Terminal=0
Comment=Calendar Manager
Comment[az]=Təqvim İdarəcisi
Comment[bg]=Календарен менажер
Comment[br]=Merour deiziataer
Comment[bs]=Rokovnik
Comment[ca]=Gestor de calendari
Comment[cs]=Plánovací kalendář
Comment[da]=Kalender håndtering
Comment[de]=Kalenderverwaltung
Comment[el]=Διαχειριστής Ημερολογίου
Comment[eo]=Kalendara programo
Comment[es]=Administrador de calendarios
Comment[et]=Kalendri haldur
Comment[eu]=Egutegi Kudeatzailea
Comment[fi]=Kalenteriohjelma
Comment[fr]=Gestionnaire d'agenda
Comment[gl]=Xestor de Calendario
Comment[he]=הנש תוחול להנמ
Comment[hr]=Rokovnik
Comment[hu]=Határidőnapló
Comment[is]=Dagatalsstjóri
Comment[it]=Gestione dell'agenda
Comment[ja]=カレンダーマネージャー
Comment[ko]=달력, 일정 관리자
Comment[lt]=Kalendoriaus tvarkyklė
Comment[lv]=Kalendāra Menedžers
Comment[mi]=Kaiwhakahaere Maramataka
Comment[mk]=Календарски планер
Comment[mt]=Manager tal-Kalendarju
Comment[nl]=kalenderbeheerder
Comment[no]=Kalender
Comment[no_NY]=Kalenderbehandlar
Comment[oc]=Gestionari de calendari
Comment[pl]=Kalendarz
Comment[pt_BR]=Calendário
Comment[pt]=Calendário
Comment[ro]=Manager de calendar
Comment[ru]=календарь
Comment[sk]=Plánovací kalendár
Comment[sl]=Koledar obveznosti
Comment[sr]=Agenda
Comment[sv]=Kalenderhanterare
Comment[ta]=¾¢ÉìÌÈ¢ôÒ §ÁÄ¡Ç÷
Comment[tr]=Takvim Yöneticisi
Comment[uk]=Менеджер календаря
Comment[vi]=Trình quản lí Lịch công tác 
Comment[xh]=Umphathi we Calendar
Comment[zh_CN.GB2312]=日程管理
X-KDE-StartupNotify=false
