[Desktop Entry]
Type=Service
Name=Acronym Database
Name[az]=Akronim Kəlimə Databeyzi
Name[bg]=База данни с акроними
Name[ca]=Base de dades d'acrònims
Name[cs]=Databáze akronymů
Name[da]=Akronym Database
Name[de]=Acronym-Datenbank
Name[eo]=Mallongigo-datumbazo
Name[es]=Base de datos Acronym
Name[et]=Akronüümide andmebaas
Name[fi]=Akronyymitietokanta
Name[fr]=Base de données Acronym
Name[hu]=Mozaikszó-adatbázis
Name[is]=Samheitagrunnur
Name[it]=Database acronimi
Name[ko]=애크로님 자료틀
Name[lt]=Akronimų duomenų bazė
Name[lv]=Akronīmu Datubāze
Name[mt]=Database ta' taqsiriet
Name[nl]=Afkortingendatabase
Name[no]=Acrobat database
Name[no_NY]=Forkortingsdatabase
Name[pl]=Baza akronimów
Name[pt_BR]=Banco de siglas
Name[pt]=Base de Dados de Acrónimos
Name[ro]=Bază de date de acronime
Name[ru]=База данных акронимов
Name[sk]=Databáza skratiek
Name[sl]=Zbirka okrajšav
Name[sr]=Baza skraćenica
Name[ta]=ÌÚï¦º¡ü ¾Ã×ò¾Çõ
Name[tr]=Eş Kelime Veritabanı
Name[uk]=База даних акронімів
Name[vi]=Cơ sềEdữ liệu Acronym 
Name[xh]=Isiseko sedata yegama elenziwe ngonoobumba bamanye amagama
Name[zh_CN.GB2312]=首字母缩写数据库
ServiceTypes=SearchProvider
Keys=ad,acro,acronym
Query=http://www.chemie.de/tools/acronym.php3?language=e&acronym=\\1
Query[de]=http://www.chemie.de/tools/acronym.php3?language=d&acronym=\\1
