[Desktop Entry]
Type=Service
Name=AllTheWeb fast
Name[az]=AllTheWeb
Name[ca]=AllTheWeb ràpid
Name[da]=AllTheWeb hurtigt
Name[eo]=La tuta teksaĵo rapide
Name[es]=AllTheWeb de Fast
Name[hu]=AllTheWeb
Name[is]=AllTheWeb hratt
Name[it]=TuttoIlWeb veloce
Name[ko]=올더웹 패스트
Name[lv]=VissWebs ātri
Name[no]=HeleWeben fort
Name[no_NY]=AllTheWeb Fast
Name[pl]=AllTheWeb szybko
Name[pt]=AllThe Web fast
Name[sl]=AllTheWeb hitro
Name[sv]=AllTheWeb snabb
Name[tr]=AllTheWeb
Name[xh]=Yonke iWeb ngokukhawuleza
ServiceTypes=SearchProvider
Keys=atw,alltheweb
Query=http://www.alltheweb.com/cgi-bin/search?exec=FAST+Search&type=all&query=\\1&exec=FAST+Search
