[Desktop Entry]
Type=Service
Name=AltaVista
Name[eo]=Altavisto
Name[et]=Altavista
Name[ko]=알타비스타
Name[sv]=Altavista
ServiceTypes=SearchProvider
Keys=av,altavista
Query=http://www.altavista.com/cgi-bin/query?pg=q&kl=XX&stype=stext&q=\\1
Query[de]=http://de.altavista.com/cgi-bin/query?pg=q&sc=on&kl=XX&what=web&q=\\1
