[Desktop Entry]
Type=Service
Name=AustroNaut
Name[eo]=Aŭstronaŭto
Name[ko]=오스트로 노트
Name[lv]=Astronauts
Name[sv]=Astronaut
ServiceTypes=SearchProvider
Keys=austro,austronaut
Query=http://AustroNaut.at/query.ims?wo=at&suche=\\1
