[Desktop Entry]
Keys=bugft
Name=KDE Bug Database Fulltext Search
Name[az]=KDE Xəta Databeyzi Tam Sözcük Axtarışı
Name[bg]=Пълнотекстово търсене за грешки в базата данни на KDE
Name[ca]=Cercador de text per a la base de dades d'errors KDE
Name[cs]=Plnotextové vyhledávání v databázi chyb KDE
Name[da]=KDE Problemdatabase fuldtekst søgning
Name[de]=KDE-Problemdatenbank: Volltextsuche
Name[el]=Αναζήτηση Πλήρους Κειμένου στη ΒΔ Προβλημάτων του KDE
Name[eo]=Plenteksta serĉo en la KDEa Erarodatumbazo
Name[es]=Búsqueda textual en la base de datos de fallos de KDE
Name[et]=Täisteksti otsing KDE vigade andmebaasist
Name[fi]=KDE virhetietokannan tekstihaku
Name[fr]=Recherche de bogue de KDE par texte
Name[hu]=A KDE hibaadatbázis teljes szöveges keresési eszköze
Name[is]=Leit eftir orðum í KDE villugagnagrunni
Name[it]=Ricerca testo completo nel Database dei bug di KDE
Name[ja]=KDE バグデータベース全文検索
Name[ko]=KDE 벌레 자료틀에서 글월로 찾기
Name[lt]=Paieška visuose KDE klaidų duombazės tekstuose
Name[lv]=KDE Kļūdu Datubāze meklēšana pēc Pilnateksta
Name[mt]=Database ta' BUGS tal-KDE - tfittxija bil-kliem
Name[nl]=KDE Bug Database -  volledige-tekst-zoekactie
Name[no]=KDE Feil-Database Fulltekst Søk
Name[no_NY]=Fulltekstsøk i feildatabasen til KDE
Name[pl]=Pełnotekstowe przeszukiwanie bazy błędów KDE
Name[pt_BR]=Procura por texto no banco de bugs do KDE
Name[pt]=Pesquisa por Nome Completo na Base Dados de Erros do KDE
Name[ro]=Baza de date de erori KDE - căutare integrală de text
Name[ru]=Полнотекстовый поиск ошибок в базе KDE
Name[sk]=Hľadanie fulltext v KDE databáze chýb
Name[sl]=Iskanje besedila po zbirki hroščev v KDE
Name[sv]=Textsökning i KDE:s feldatabas
Name[ta]=KDE ¾ÅÚò ¾Ã×ò¾Ç ÓØ ¯¨Ãò §¾¼ø
Name[th]=ค้นหาจากฐานข้อมูลบักของ KDE แบบข้อความ
Name[tr]=KDE Hata Veritabanı Tam Sözcük Arama
Name[uk]=Повнотекстовий пошук у базі даних KDE
Name[vi]=Tìm kiếm fulltext trên cơ sềEdữ liệu của KDE bug 
Name[xh]=Uphendlo lwesiseko sedata ye KDE Bug olubhaliweyo ngokupheleleyo
Name[zh_CN.GB2312]=KDE 错误数据库全文检索
Query=http://bugs.kde.org/cgi-bin/Bugs/htsearch-bugs?exclude=%2Fix%2Ffull.html&words=\\1
ServiceTypes=SearchProvider
Type=Service
