[Desktop Entry]
Keys=bug,bugno,bugnr
Name=KDE Bug Database Bug Number Search
Name[az]=KDE Xəta Databeyzi Xəta Numarasıyla Axtarış
Name[bg]=Търсене по номер в базата данни за грешки в KDE
Name[ca]=Cercador per número per a la base de dades d'errors KDE
Name[cs]=Vyhledávání v databázi chyb KDE podle čísla chyby
Name[da]=KDE Problemdatabase nummersøgning
Name[de]=KDE-Problemdatenbank: Suche nach Nummer
Name[el]=Αναζήτηση κατά Αριθμό στη ΒΔ Προβλημάτων του KDE
Name[eo]=Serĉo laŭ numero en la KDEa Erarodatumbazo
Name[es]=Búsqueda de número de fallo en la base de datos de fallos de KDE
Name[et]=Veanumbri otsing KDE vigade andmebaasist
Name[fi]=KDE virhetietokannan virhenumerohaku
Name[fr]=Recherche de bogue de KDE par numéro
Name[hu]=A KDE hibaadatbázis hibaszám-keresési eszköze
Name[is]=Leit eftir númerum í KDE villugagnagrunni
Name[it]=Ricerca per numero nel Database dei bug di KDE
Name[ja]=KDE バグデータベース  バグ番号検索
Name[ko]=KDE 벌레 자료틀에서 번호로 찾기
Name[lt]=Paieška KDE klaidų duombazėje pagal klaidos numerį
Name[lv]=KDE Kļūdu Datubāze Meklēšana pēc Kļūdas Numura
Name[mt]=Database ta' BUGS tal-KDE - tfittxija bin-numru tal-bug
Name[nl]=KDE Bug Database  - zoeken op bugnummer
Name[no]=KDE Feil-Database Feilnummer Søk
Name[no_NY]=Feilnummersøk i feildatabasen til KDE
Name[pl]=Szukanie w bazie błędów KDE według ich numerów
Name[pt_BR]=Procura por número no banco de bugs do KDE
Name[pt]=Pesquisa por Número na Base Dados de Erros do KDE
Name[ro]=Baza de date de erori KDE
Name[ru]=Поиск по номеру в базе ошибок в программах KDE
Name[sk]=Hľadanie podľa čísla chyby v KDE databáze chýb
Name[sl]=Iskanje v zbirki hroščev KDE po številki hrošča
Name[sv]=Felnummersökning i KDE:s feldatabas
Name[ta]=KDE ¾ÅÚò ¾Ã×ò¾Ç ¾ÅÚ ±ñ §¾¼ø
Name[th]=ค้นหาจากฐานข้อมูลบักของ KDE แบบหมายเลข
Name[tr]=KDE Hata Veritabanı Hata Numarasıyla Arama
Name[uk]=Пошук у базі даних помилок KDE по номеру
Name[vi]=Tìm kiếm theo sềEcủa cơ sềEdữ liệu KDE bug 
Name[xh]=Uphendlo lwesiseko sedata ye lwenani le Bug ye KDE Bug
Name[zh_CN.GB2312]=KDE 错误数据库按错误编号搜索
Query=http://bugs.kde.org/cgi-bin/Bugs/bugs-fetch2.pl?type=ref&ref=\\1&base=http%3A%2F%2Fwww.kde.org
ServiceTypes=SearchProvider
Type=Service
