[Desktop Entry]
Type=Service
Name=Google Groups
Name[cs]=Diskuzní skupiny na Google
Name[da]=Google grupper
Name[de]=Google-Newsgruppen
Name[es]=Grupos de Google
Name[fi]=Google ryhmät
Name[fr]=Groupes Google
Name[is]=Google flokkar
Name[it]=Gruppi Google
Name[ko]=구글 그룹
Name[lt]=Google grupės
Name[lv]=Google Grupas
Name[nl]=Google Groepen
Name[no]=Google grupper
Name[pt_BR]=Grupos Google
Name[pt]=Grupos do Google
Name[ru]=Группы Google
Name[sk]=Diskusné skupiny Google
Name[sl]=Novičarske skupine Google
Name[sr]=Google grupe
Name[sv]=Googlegrupper
ServiceTypes=SearchProvider
Keys=ggg,groups,dj,deja
Query=http://groups.google.com/groups?oi=djq&as_q=\\1
