[Desktop Entry]
Type=Service
Name=Excite
Name[eo]=Ekscito
Name[ko]=익사이트
Name[xh]=Vuya
ServiceTypes=SearchProvider
Keys=ex,excite
Query=http://search.excite.com/search.gw?search=\\1
