[Desktop Entry]
Type=Service
Name=Freshmeat
Name[ko]=날고기(프레시미트)
Name[xh]=Inyama entsha
ServiceTypes=SearchProvider
Keys=fm,freshmeat
Query=http://freshmeat.net/search/?q=\\1
