[Desktop Entry]
Type=Service
Name=Hotbot
Name[ko]=핫봇
Name[xh]=ibot eshushu
ServiceTypes=SearchProvider
Keys=hb,hotbot
Query=http://hotbot.lycos.com/?MT=\\1&SM=MC&DV=0&LG=any&DC=10&DE=2
