[Desktop Entry]
Type=Service
Name=LEO-Translate
Name[de]=LEO-Übersetzung
Name[eo]=LEO-Tradukilo
Name[is]=LEO-þýðandi
Name[ko]=레오-번역
Name[lv]=LEO-Tulkot
Name[no]=LEO-oversetter
Name[pl]=LEO-Tłumacz
Name[xh]=LEO-Guqulela
ServiceTypes=SearchProvider
Keys=leo
Query=http://dict.leo.org/?search=\\1
