[Desktop Entry]
Type=Service
Name=Lycos
Name[ko]=라이코스
ServiceTypes=SearchProvider
Keys=lycos,ly
Query=http://www.lycos.com/cgi-bin/pursuit?cat=dir&query=\\1
