[Desktop Entry]
Type=Service
Name=Mamma - Mother of all Search Engines
Name[az]=Mamma - Bütün axtarış mühərriklərinin Anası
Name[bg]=Mamma - Mайката на всички търесщи машини
Name[ca]=Mamma - La mare de tots els motors de cerca
Name[cs]=Mamma
Name[da]=Mamma - Moderen til alle søgemaskiner
Name[de]=Mamma - Die Mutter aller Suchmaschinen
Name[eo]=Mamma - Patrino de ĉiuj retserĉiloj
Name[es]=Mamma - La madre de todos los motores de búsqueda
Name[et]=Mamma - kõigi otsingumootorite ema
Name[fr]=Mamma - La mère de tous les moteurs de recherche
Name[hu]=Mamma
Name[is]=Mamma - Mamma allra leitarvéla
Name[ko]=맘마 - 모든 찾기 엔진의 어머니
Name[lt]=Mamma - visų paieškų motina
Name[lv]=Mamma - Visu Meklēšanas Mašīnu Māte
Name[nl]=Mamma - moeder van alle zoekmachines
Name[no]=Mamma - alle søkemotorers mor
Name[pl]=Mamma - Matka wszystkich przeszukiwarek
Name[pt_BR]=Mamma - Mãe de todas as máquinas de procura
Name[pt]=Mamma - Mãe de Todos os Motores de Busca
Name[sl]=Mamma - Mati vseh iskalnikov
Name[sr]=Mamma - Majka svih pretraživača
Name[sv]=Mamma - Moder till alla sökmotorer
Name[ta]=Mamma - «¨ÉòÐò §¾¼ü¦À¡È¢¸Ç¢ÉÐõ ¾¡ö
Name[tr]=Mamma - Bütün arama motorlarının Annesi
Name[uk]=Mamma - мати всіх пошукових машин
Name[vi]=Mamma - Bà chủ của tất cả các Search Engines 
Name[xh]=Mama - Umama weenjini zonke zophendlo
ServiceTypes=SearchProvider
Keys=mm,mamma
Query=http://www.mamma.com/Mamma?lang=1&timeout=4&qtype=0&query=\\1
