[Desktop Entry]
Type=Service
Name=RealNames
Name[eo]=Realnomoj
Name[xh]=Amagama okwenene
ServiceTypes=SearchProvider
Keys=rn,realnames
Query=http://navigation.us.realnames.com/resolver.dll?realname=\\1
