[Desktop Entry]
Type=Service
Name=GO.com
Name[de]=go.com
Name[eo]=Go.com
ServiceTypes=SearchProvider
Keys=seek
Query=http://www.go.com/Titles?col=WW&qt=\\1&svx=home_searchbox&sv=IS&lk=noframeso
