[Desktop Entry]
Type=Service
Name=Merriam-Webster Thesaurus
Name[ca]=Tesaurus Merriam-Webster
Name[cs]=Slovník synonym Merriam-Webster
Name[eo]=Merriam - Webster-tezaŭro
Name[es]=Sinónimos Merriam-Webster
Name[fr]=Thésaurus Merriam-Webster
Name[hu]=Merriam-Webster szinonimaszótár
Name[is]=Merriam-Webster samheitaorðabók
Name[it]=Sinonimi Merriam-Webster
Name[ko]=Merriam-Webster 백과사전
Name[lv]=Merriam-Webster Enciklopēdija
Name[mt]=Teżawru Merriam-Webster
Name[no]=Merrian-Webster Thesaurus
Name[pl]=Tezaurus Merriam-Webster
Name[pt]=Merriam-Gramática do Webster
Name[sk]=Merriam-Webster Synonymá
Name[sl]=Merriam-Websterjev tezaver
Name[sr]=Merriam-Websterovi sinonimi
Name[sv]=Merriam-Websters synonymlexikon
Name[ta]=Merriam-Webster ¦º¡ü¸Çïº¢Âõ
Name[uk]=Словник синонімів Merriam-Webster
Name[vi]=Từ điển đồng nghĩa Merriam-Webster 
ServiceTypes=SearchProvider
Keys=ths,thesaurus
Query=http://www.m-w.com/cgi-bin/thesaurus?book=Thesaurus&va=\\1
