[Desktop Entry]
Type=Service
Name=Vivisimo
ServiceTypes=SearchProvider
Keys=vi
Query=http://vivisimo.com/search?query=\\1&se=Yahoo%2CAltaVista%2CMSN%2CFast%2COD%2CExcite%2CDirectHit%2CLooksmart%2CEuroseek&x=49&y=16
