[Desktop Entry]
Type=Service
Name=Voila
Name[ko]=보일라
Name[wa]=Voilà
ServiceTypes=SearchProvider
Keys=voila
Query=http://www.voila.com/S/www?an=1&kw=\\1&dt=*
