[Desktop Entry]
Type=Service
Name=Whatis query
Name[az]=Nədir Sorğusu
Name[bg]=Заявка Какво е това
Name[cs]=Dotaz 'Co je?'
Name[da]=HvadEr forespørgsel
Name[de]="Whatis"-Abfrage
Name[eo]=Kio estas-demando
Name[es]=Consulta Whatis
Name[et]=Whatis päring
Name[fr]=Requête whatis
Name[hu]=Whatis lekérdezés
Name[is]=Whatis fyrirspurn
Name[it]=Richiesta whatis
Name[ja]=クエリーするもの
Name[lt]=Whatis užklausa
Name[lv]=Kasir pieprasījums
Name[nl]=Wat is dit vraag
Name[no]=Whatis-forespørsel
Name[no_NY]=Whatis-oppslag
Name[pl]=Zapytanie "Co to jest?"
Name[pt_BR]=Pesquisa 'O que é isto?'
Name[pt]=Pesquisa 'O que é isto?'
Name[ro]=Interogare "Ce înseamnă asta"
Name[ru]=Вопрос "Что это?"
Name[sk]=Otázka whatis
Name[sl]=Poizvedba 'kaj je'
Name[sr]=Whatis upit
Name[sv]=Vad är det här fråga
Name[tr]=Nedir sorgusu
Name[uk]=Запит 'Що це'
Name[vi]=Câu hỏi 'Whatis' 
Name[xh]=Yintoni isikhalazo
Name[zh_CN.GB2312]=Whatis 查询
ServiceTypes=SearchProvider
Keys=wi,whatis
Query= http://whatis.techtarget.com/definitionsSearchResults/1,289878,sid9,00.html?query=\\1
