[KCM Locale]
Name=Slovenia
Name[az]=Sloveniya
Name[bg]=Словения
Name[bs]=Slovenija
Name[ca]=Eslovenia
Name[cs]=Slovinsko
Name[da]=Slovenien
Name[de]=Slowenien
Name[el]=Σλοβενία
Name[eo]=Slovenio
Name[es]=Eslovenia
Name[et]=Sloveenia
Name[eu]=Eslovenia
Name[fr]=Slovénie
Name[gl]=Eslovenia
Name[he]=הינבולס
Name[hr]=Slovenija
Name[hu]=Szlovénia
Name[is]=Slóvenía
Name[ja]=スロベニア
Name[ko]=슬로베니아
Name[lt]=Slovėnija
Name[lv]=Slovēnija
Name[mk]=Словенија
Name[mt]=Slovenja
Name[nl]=Slovenië
Name[oc]=Eslovenia
Name[pl]=Słowenia
Name[pt_BR]=Eslovênia
Name[pt]=Eslovénia
Name[ru]=Словения
Name[sk]=Slovinsko
Name[sl]=Slovenija
Name[sr]=Slovenija
Name[sv]=Slovenien
Name[ta]=Í§Ä¡Å¢É¢Â¡
Name[tr]=Slovenya
Name[uk]=Словенія
Name[zh_CN.GB2312]=斯洛文尼亚
Name[zh_TW.Big5]=斯洛維尼亞共和國
Region=centraleurope
Languages=sl
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=SIT
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sl]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%y
TimeFormat=%H:%M:%S
