[Desktop Entry]
Name=KDE XML RPC Daemon
Name[az]=KDEE XML RPC Proqramı
Name[bg]=KDE XML RPC демон
Name[ca]=Dimoni KDE XML RPC
Name[cs]=KDE XML RPC démon
Name[da]=KDE XML RPC Dæmon
Name[de]=XML-RPC-Dämon von KDE
Name[el]=KDE Δαίμονας XML RPC
Name[eo]=KDEa XML-RPC-demono
Name[es]=Demonio RPC XML de KDE
Name[et]=KDE XML RPC deemon
Name[fi]=KDE XML RPC -palvelin
Name[fr]=Démon KDE XML RPC
Name[gl]=Daemon XML RPC de KDE
Name[he]=KDE לש XML RPC-ה תרש
Name[hu]=KDE XML RPC szolgáltatás
Name[is]=XML RPC þjónn KDE
Name[it]=Demone RPC XML di KDE
Name[ja]=KDE XML RPC デーモン
Name[ko]=KDE XML RPC 데몬
Name[lt]=KDE XML RPC demonas
Name[lv]=KDE XML RPC Dēmons
Name[mk]=KDE XML RPC демон
Name[mt]= Daemon XML RPC KDE
Name[no]=KDE XML RPC-daemon
Name[no_NY]=KDE XML RPC-demon
Name[oc]=Dimoni KDE XML RPC
Name[pl]=Demon XML RPC
Name[pt_BR]=Daemon RPC XML KDE
Name[pt]=Servidor RPC XML do KDE
Name[ru]=KDE XML RPC демон
Name[sk]=KDE XML RPC Démon
Name[sl]=Strežnik KDE XML RPC
Name[sv]=KDE XML RPC-demon
Name[tr]=KDEE XML RPC Programı
Name[uk]=Демон XML RPC для KDE
Name[zh_CN.GB2312]=KDE XML RPC 服务进程
Type=Service
Exec=kxmlrpcd
X-KDE-Library=xmlrpcd
X-KDE-Init=xmlrpcd
