[Desktop Entry]
Exec=kcmshell htmlsearch
Icon=help_index
Type=Application
DocPath=kcontrol/help-index.html

X-KDE-ModuleType=Library
X-KDE-Library=htmlsearch
X-KDE-FactoryName=htmlsearch
X-KDE-ControlModuleType=User

Name=Index
Name[az]=İndeks
Name[bg]=Индекс
Name[br]=Meneger
Name[bs]=Indeks
Name[ca]=Índex
Name[cs]=Rejstřík
Name[da]=Indeks
Name[el]=Ευρετήριο
Name[eo]=Indekso
Name[es]=Índice
Name[et]=Indeks
Name[eu]=Indizea
Name[fi]=Hakemisto
Name[gl]=Índice
Name[he]=סקדניא
Name[hr]=Indeks
Name[hu]=Keresési index
Name[it]=Indice
Name[ja]=インデックス
Name[ko]=인덱스
Name[lt]=Rodyklė
Name[lv]=Indekss
Name[mk]=Индекс
Name[mt]=Indiċi
Name[no]=Indeks
Name[no_NY]=Indeks
Name[pl]=Indeks
Name[pt_BR]=Índice
Name[pt]=Índice
Name[ru]=Индекс
Name[sk]=Katalóg
Name[sl]=Indeks
Name[sr]=Indeks
Name[ta]=ÍðÊ
Name[th]=ดัชนี
Name[tr]=İndeks
Name[uk]=Індекс
Name[vi]=Danh mục 
Name[xh]=Isalathiso
Name[zh_CN.GB2312]=索引

Comment=Index generation
Comment[az]=İndeks yaratma
Comment[bg]=Създаване на индекс
Comment[br]=Genel ar meneger
Comment[bs]=Stvaranje indeksa
Comment[ca]=Generació de l'índex
Comment[cs]=Vytvoření rejstříku
Comment[da]=Indeks generering
Comment[de]=Erstellung des Stichwortverzeichnisses
Comment[el]=Δημιουργία Περιεχομένων
Comment[eo]=Indekskreado
Comment[es]=Generación del índice
Comment[et]=Indeksi tekitamine
Comment[eu]=Indizea sortu
Comment[fi]=Luo hakemisto
Comment[fr]=Génération d'index
Comment[gl]=Xeración de Índices
Comment[he]=סקדניא תריצי
Comment[hr]=Stvaranje indeksa
Comment[hu]=Index létrehozása
Comment[is]=Smíð yfirlita
Comment[it]=Generazione dell'indice
Comment[ja]=インデックスを生成
Comment[ko]=인덱스 만들기
Comment[lt]=Rodyklės generavimas
Comment[lv]=Indeksu ģenerēšana
Comment[mk]=Генерирање индекс
Comment[mt]=Ġenerazzjoni tal-Indiċi
Comment[nl]=Indexgeneratie
Comment[no]=Indeksgenerering
Comment[no_NY]=Indekslaging
Comment[oc]=Generacion de l'index
Comment[pl]=Generowanie indeksu
Comment[pt_BR]=Geração de índice
Comment[pt]=Geração de índices
Comment[ru]=Создание индекса
Comment[sk]=Katalóg zvukov
Comment[sl]=Ustvarjanje indeksa
Comment[sr]=Generisanje indeksa
Comment[sv]=Indexskapare
Comment[ta]=ÍðÊ ¯ÕÅ¡ì¸õ
Comment[th]=การสร้างดัชนี
Comment[tr]=İndeks oluşturma
Comment[uk]=Утворення індексу
Comment[vi]=Sinh danh sách 
Comment[xh]=Ububanzi besalathiso
Comment[zh_CN.GB2312]=索引生成

Keywords=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language
Keywords[az]=Yardım,HTML,Axtar,İndeks,htdig,htmerge,Dil
Keywords[cs]=Nápověda,HTML,Hledat,Index,htdig,htsearch,htmerge,Rejstřík,Jazyk,Rozsah
Keywords[da]=Hjælp, Html, Søg, Indeks, htdig,htsearch,htmerge,Sprog
Keywords[de]=Hilfe,HTML,Suche,Index,Stichwortverzeichnis,htdig,Sprache
Keywords[el]=Βοήθεια,HTML,Αναζήτηση,Ευρετήριο,htdig,htsearch,htmerge,Scope,Γλώσσα
Keywords[eo]=helpo,HTML,serĉo,indekso,htdig,htsearch,htmerge,areo,lingvo
Keywords[es]=Ayuda,HTML,Búsqueda,Índice,htdig,htsearch,htmerge,Ámbito,Idioma
Keywords[et]=abi,HTML,otsing,indeks,htdig,htsearch,htmerge,skoop,keel
Keywords[fi]=Ohje,HTML,Etsi,Indeksi,htdig,htsearch,htmerge,Kieli
Keywords[fr]=aide,HTML,recherche,index,htdig,htsearch,htmerge,pays,langue
Keywords[he]=הפש,םוחת,htmerge,htsearch,htdig,סקדניא,שופיח,HTML,הרזע
Keywords[hu]=segítség,HTML,keresés,index,htdig,htsearch,htmerge,érvényességi kör,nyelv
Keywords[is]=Hjálp,HTML,leit,yfirlit,htdig,svæði,tungumál
Keywords[it]=Aiuto,HTML,Cerca,Indice,htdig,htsearch,htmerge,lingua,scope
Keywords[ja]=ヘルプ,HTML,検索,インデックス,htdig,htsearch,htmerge,スコープ,言語
Keywords[ko]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,도움말,도움글,헬프,도움,찾기,인덱스,순서 매김,언어,말글
Keywords[lt]=Pagalba,HTML,Paieška,Sąrašas,htdig,htsearch,htmerge,Sritis,Kalba
Keywords[lv]=Palīdzība,HTML,Meklēt,Indekss,htdig,htsearch,htmerge,Mērķis,Valoda
Keywords[mt]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,Għajnuna,Fittex,Indiċi
Keywords[nl]=help,html,zoeken,index,htdig,htsearch,htmerge,scope,taal
Keywords[no]=Hjelp,HTML,Søk,Indeks,htdig,htsearch,htmerge,Scope,språk
Keywords[no_NY]=hjelp,HTML,søk,indeks,htdig,htmerge,område,språk
Keywords[pl]=pomoc,HTML,szukaj,indeks,htdig,htsearch,htmerge,zakres,język
Keywords[pt_BR]=Ajuda,Help,HTML,Procurar,Índice,htdig,htsearch,htmerge,escopo,idioma,língua,linguagem
Keywords[pt]=ajuda,html,procura,índice,htdig,htsearch,htmerge,âmbito,língua
Keywords[sk]=Pomoc,HTML,Hľadať,Katalóg,Index,htdig,htsearch,htmerge,rozsah,jazyk,Pomocník
Keywords[sl]=Pomoč,HTML,iskanje,indeks,htdig,htsearch,htmerge,doseg,jezik
Keywords[sv]=Hjälp,HTML,Sök,Index,htdig,htsearch,htmerge,Omfång,Språk
Keywords[tr]=Yardım,HTML,Ara,İndeks,htdig,htmerge,Dil
Keywords[uk]=довідка,HTML,пошук,індекс,htdig,контекст,мова,htsearch,htmerge
Keywords[vi]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,Trợ giúp,Tìm kiếm,phạm vi, ngôn ngữ 
Keywords[xh]=Uncedo,HTML,Phendla,Isalathiso,htdig,htsearch,htmerge,Ithuba,Ulwimi
Keywords[zh_CN.GB2312]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,帮助,查找,索引,范围,语言
