[Desktop Entry]
Name=Child Panel
Name[az]=Törəmə Panel
Name[bg]=Синовен панел
Name[cs]=Závislý panel
Name[da]=Barne panel
Name[de]=Abhängige Kontrollleiste
Name[el]=Υποπίνακας
Name[eo]=Idopanelo
Name[es]=Panel hijo
Name[et]=Alampaneel
Name[fi]=Lapsipaneeli
Name[fr]=Mini tableau de bord
Name[he]=אצאצ חול
Name[hu]=Panelkiterjesztés
Name[is]=Undirspjald
Name[it]=Pannello figlio
Name[ja]=子パネル
Name[ko]=새끼 패널
Name[lt]=Priklausomas pultas
Name[lv]=Palīg Panelis
Name[mt]=Sotto-pannell
Name[nl]=Dochterpaneel
Name[no]=Underpanel
Name[no_NY]=Barnepanel
Name[pl]=Panel potomny
Name[pt_BR]=Painel-filho
Name[pt]=Painel Filho
Name[ru]=Дочерняя панель
Name[sk]=Potomok panelu
Name[sl]=Otroški pult
Name[sr]=Dete panel
Name[sv]=Underpanel
Name[ta]=§ºöô ÀÄ¸õ
Name[tr]=Çocuk Pano
Name[uk]=Панель-нащадок
Name[vi]=Các panel con 
Name[xh]=ipanel yoMntwana
Name[zh_CN.GB2312]=子面板
Comment=Child panel extension.
Comment[az]=Törəmə Panel uzantısı.
Comment[bg]=Разширение на синовен панел
Comment[cs]=Rozšíření závislého panelu.
Comment[da]=Barne panel udvidelse
Comment[de]=Abhängige Kontrollleiste
Comment[el]=Επέκταση υποπίνακα.
Comment[eo]=Ido-pnalaldono.
Comment[es]=Extensión Panel hijo.
Comment[et]=Paneeli laiendus alampaneelide loomiseks
Comment[fi]=Lapsipaaneelilaajennus
Comment[fr]=Extension du tableau de bord
Comment[he]=אצאצ חול תבחרה
Comment[hu]=Gyermek-panel.
Comment[is]=Útvíkkun undirspjalds.
Comment[it]=Estensione pannello figlio
Comment[ja]=子パネル拡張
Comment[ko]=패널을 확장해서 쓸 수 있습니다
Comment[lt]=Priklausomo pulto plėtinys.
Comment[lv]=Palīg paneļa paplašinājums.
Comment[mt]=Estensjoni sotto-pannell.
Comment[nl]=dochterpaneelextenxie.
Comment[no]=Underpanel forlengelse
Comment[no_NY]=Barnepanelutviding
Comment[pl]=Rozszerzenie panela potomnego
Comment[pt_BR]=Extensão de painel-filho.
Comment[pt]=Extensão painel filho.
Comment[ru]=расширение дочерней панели
Comment[sk]=Rozšírenie pre potomkov panelu.
Comment[sl]=Razširitev za otroški pult.
Comment[sr]=Dete panel ekstenzija.
Comment[sv]=Underpanelutbyggnad
Comment[ta]=§ºöô ÀÄ¸ ¿£ðÊôÒ.
Comment[tr]=Çocuk Panel uzantısı.
Comment[uk]=Розширення панелі-нащадка
Comment[vi]=Các panel con mềErộng 
Comment[xh]=Ulwandiso lwepanel yomntwana.
Comment[zh_CN.GB2312]=子面板扩展。

Icon=childpanel
X-KDE-Library=libchildpanelextension
