[Desktop Entry]
Name=Clock
Name[az]=Saat
Name[bg]=Часовник
Name[br]=Eurier
Name[bs]=Sat
Name[ca]=Rellotge
Name[cs]=Hodiny
Name[da]=Ur
Name[de]=Uhr
Name[el]=Ρολόι
Name[eo]=Horloĝo
Name[es]=Reloj
Name[et]=Kell
Name[eu]=Erlojua
Name[fi]=Kello
Name[fr]=Horloge
Name[gl]=Reloxo
Name[he]=ןועש
Name[hr]=Sat
Name[hu]=Óra
Name[is]=Klukka
Name[it]=Orologio
Name[ja]=時計
Name[ko]=시계
Name[lt]=Laikrodis
Name[lv]=Pulkstenis
Name[mi]=Karaka
Name[mk]=Часовник
Name[mt]=Arloġġ
Name[nl]=Klok
Name[no]=Klokke
Name[no_NY]=Klokke
Name[oc]=Rellotge
Name[pl]=Zegar
Name[pt_BR]=Relógio
Name[pt]=Relógio
Name[ru]=Часы
Name[sk]=Hodinky
Name[sl]=Ura
Name[sr]=Časovnik
Name[sv]=Klocka
Name[ta]=¸Ê¸¡Ãõ
Name[th]=นาฬิกา
Name[tr]=Saat
Name[uk]=Годинник
Name[vi]=Đồng hềE
Name[xh]=Ikloko
Name[zh_CN.GB2312]=时钟

Comment=A analog and digital clock panel applet.
Comment[az]=Bir rəqəmli və analoq saat programcığı.
Comment[bg]=Аплет на аналогов и цифров часовник
Comment[br]=Un arloadig eurier analogel ha niverel evit ar banell
Comment[bs]=Analogni i digitalni sat na ploči
Comment[ca]=Un aplet de plafó de rellotge digital i analògic.
Comment[cs]=Applet s analogovými a digitálními hodinami
Comment[da]=En analog og digitalurs panelprogram
Comment[de]=Eine analoge und eine digitale Uhr für die Kontrollleiste
Comment[el]=Εφαρμογίδιο με αναλογικό και ψηφιακό ρολόι.
Comment[en_GB]=An analogue and digital clock panel applet.
Comment[eo]=Analoga kaj cifereca horloĝo-aplikaĵeto por la panelo.
Comment[es]=Un reloj analógico/digital (applet del panel).
Comment[et]=Paneelil töötav analoog- ja digitaalkella aplett
Comment[eu]=Erloju analogiko eta digitala panel appleta
Comment[fi]=Analoginen ja digitaalinen kellosolvema.
Comment[fr]=Une applet d'horloge numérique ou analogique
Comment[gl]=Unha applet para o panel cun reloxo analóxico e dixital.
Comment[he]=חולל ילטיגידו יגולנא ןועש ןומושיי
Comment[hr]=Analogni i digitalni sat na ploči
Comment[hu]=Egy analóg és digitális óra kisalkalmazásként.
Comment[is]=Forrit sem birtir stafræna klukku eða skífuklukku
Comment[it]=Una applet che mostra un orologio digitale o analogico.
Comment[ja]=アナログ/デジタル時計パネルアプレット
Comment[ko]=패널에 들어가는 아날로그와 디지탈 시계
Comment[lt]=Analoginio ir skaitmeninio laikrodžio programa.
Comment[lv]=Analogā un digitālā pulksteņu paneļa aplets.
Comment[mk]=Аналоген и дигитален часовник за панелот.
Comment[mt]=Applet għall-panel b'arloġġ analogu u diġitali.
Comment[nl]=een analoge en digitale klokapplet.
Comment[no]=En analog og digital klokke for panelet.
Comment[no_NY]=Ei analog og digital klokke til panelet.
Comment[oc]=Un aplet de plafon de rellotge digital e analògic.
Comment[pl]=Programik zegara analogowego i cyfrowego dla panela.
Comment[pt_BR]=Um mini relógio analógico e digital.
Comment[pt]=Uma 'applet' do painel com um relógio analógico e digital.
Comment[ru]=Аплет аналоговых и цифровых часов
Comment[sk]=Analógový a digitálny applet hodín
Comment[sl]=Vstavek z analogno in digitalno uro za v pult.
Comment[sr]=Analogni i digitalni časovnik za panel
Comment[sv]=Ett analogt och digitalt klockminiprogram.
Comment[ta]=´ôÒ¨Á ÁüÚõ ­Äì¸Ó¨Èì ¸Ê¸¡Ãô ÀÄ¸ì ÌÚ¿¢Ãø.
Comment[th]=แอพเพล็ตพาเนลนาฬิกา
Comment[tr]=Bir sayısal ve analog saat programcığı.
Comment[uk]=Аплет панелі аналогового та цифрового годинника.
Comment[vi]=Khung applet cho đồng hềEcơ và điện tử 
Comment[xh]=Isivumelwano kunye nekloko yamasuntswana eqela lenjongo ethile e applet.
Comment[zh_CN.GB2312]=一个小的模拟或数字时钟面板小程序。

X-KDE-Library=libclockapplet
X-KDE-UniqueApplet=true
