[KCM Locale]
Name=Iceland
Name[az]=İslandiya
Name[bg]=Исландия
Name[br]=Island
Name[bs]=Island
Name[ca]=Islàndia
Name[cs]=Island
Name[da]=Island
Name[de]=Island
Name[el]=Ισλανδία
Name[eo]=Islando
Name[es]=Islandia
Name[et]=Island
Name[eu]=Islandia
Name[fi]=Islanti
Name[fr]=Islande
Name[gl]=Islandia
Name[he]=דנלסיא
Name[hr]=Island
Name[hu]=Izland
Name[is]=Ísland
Name[it]=Islanda
Name[ja]=アイスランド
Name[ko]=아이슬란드
Name[lt]=Islandija
Name[lv]=Islande
Name[mi]=Tiorangi
Name[mk]=Исланд
Name[mt]=Islandja
Name[nl]=IJsland
Name[no]=Island
Name[no_NY]=Island
Name[oc]=Islandia
Name[pl]=Islandia
Name[pt_BR]=Islândia
Name[pt]=Islândia
Name[ru]=Исландия
Name[sk]=Island
Name[sl]=Islandija
Name[sr]=Island
Name[sv]=Island
Name[ta]=³ÍÄ¡óÐ
Name[tr]=İzlanda
Name[uk]=Ісландія
Name[zh_CN.GB2312]=冰岛
Name[zh_TW.Big5]=冰島
Region=northeurope
Languages=is
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=kr
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[is]=%A %e. %B %Y
DateFormatShort=%d.%m.%y
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
