[KDE Desktop Program]
Comment=KDE Web Desktop
Comment[az]=KDE Veb Masa üstü
Comment[bg]=Работно място на WWW KDE
Comment[br]=Burev gwiad KDE
Comment[bs]=KDE Web radna površina
Comment[ca]=Escriptori Web KDE
Comment[cs]=Aktivní plocha KDE
Comment[da]=KDE Net skrivebord
Comment[de]=KDE-Web-Arbeitsfläche
Comment[el]=KDE Web Επιφάνεια Εργασίας
Comment[eo]=KDEa TTT-tabulo
Comment[es]=Escritorio Web para KDE
Comment[et]=KDE veebi töölaud
Comment[eu]=KDE Web Idaztegia
Comment[fi]=KDE WWW-työpöytä
Comment[fr]=Bureau web de KDE
Comment[gl]=Escritorio Web de KDE
Comment[he]=KDE לש יטנרטניאה הדובעה ןחלוש
Comment[hr]=KDE Web radna površina
Comment[hu]=KDE internetes munkaasztal
Comment[is]=KDE vefskjáborð
Comment[it]=Desktop web di KDE
Comment[ja]=KDE ウェブデスクトップ
Comment[ko]=KDE 웹 일터
Comment[lt]=KDE Web Darbastalis
Comment[lv]=KDE Web Darbvirsma
Comment[mk]=KDE Веб-површина
Comment[mt]=Desktop Web KDE
Comment[nl]=KDE Web Bureaublad
Comment[no]=KDE Webskrivebord
Comment[no_NY]=KDE Vevskrivebord
Comment[oc]=BurèU Web KDE
Comment[pl]=Biurko w stylu sieci WWW
Comment[pt_BR]=Ambiente Web do KDE
Comment[pt]=Ambiente Web do KDE
Comment[ru]=Рабочий стол WWW
Comment[sk]=KDE Web pracovná plocha
Comment[sl]=Spletno namizje KDE
Comment[sv]=KDE Webbskrivbord
Comment[ta]=KDE Å¨Ä §Á¨º
Comment[th]=เวบเดสก์ทอป KDE
Comment[tr]=KDE Web Masaüstü
Comment[uk]=Стільниця 'а ля веб' для KDE
Comment[vi]=Desktop kiểu Web của KDE 
Comment[zh_CN.GB2312]=KDE Web 桌面
Executable=kwebdesktop
Command=kwebdesktop %x %y %f http://www.kde.org/
PreviewCommand=kwebdesktop %x %y %f http://www.kde.org/
Refresh=10
