[KCM Locale]
Name=New Zealand
Name[az]=Yeni Zellandiya
Name[bg]=Нова Зеландия
Name[br]=Zeland nevez
Name[bs]=Novi Zeland
Name[ca]=Nova Zelanda
Name[cs]=Nový Zéland
Name[de]=Neuseeland
Name[el]=Νέα Ζηλανδία
Name[eo]=Novzelando
Name[es]=Nueva Zelanda
Name[et]=Uus-Meremaa
Name[eu]=Zelanda Berria
Name[fi]=Uusi-Seelanti
Name[fr]=Nouvelle Zélande
Name[gl]=Nova Celandia
Name[he]=דנליז וינ
Name[hr]=Novi Zeland
Name[hu]=Új-Zéland
Name[is]=Nýja Sjáland
Name[it]=Nuova Zelanda
Name[ja]=ニュージーランド
Name[ko]=뉴질란드
Name[lt]=Naujoji Zelandija
Name[lv]=JaunZēlande
Name[mi]=Aotearoa
Name[mk]=Нов Зеланд
Name[nl]=Nieuw Zeeland
Name[oc]=Navera Zelanda
Name[pl]=Nowa Zelandia
Name[pt_BR]=Nova Zelândia
Name[pt]=Nova Zelândia
Name[ru]=Новая Зеландия
Name[sk]=Nový Zéland
Name[sl]=Nova Zelandija
Name[sr]=Novi Zeland
Name[sv]=Nya Zeeland
Name[ta]=¿¢äº¢Ä¡óÐ
Name[tr]=Yeni Zelanda
Name[uk]=Нова Зеландія
Name[xh]=New Zealand (izealand entsha)
Name[zh_CN.GB2312]=新西兰
Name[zh_TW.Big5]=紐西蘭
Region=asia
Languages=en_GB,mi
DateFormat[en_GB]=%a, %d %b %Y
DateFormat[C]=%a, %d %b %Y
DateFormat[mi]=%a, %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
