[KCM Locale]
Name=Serbia
Name[az]=Serbistan
Name[bg]=Сърбия
Name[bs]=Srbija
Name[cs]=Srbsko
Name[da]=Serbien
Name[de]=Serbien
Name[el]=Σερβία
Name[eo]=Serbujo
Name[fr]=Serbie
Name[he]=היברס
Name[hr]=Srbija
Name[hu]=Szerbia
Name[is]=Serbía
Name[ja]=セルビア
Name[ko]=세르비아
Name[lt]=Serbija
Name[lv]=Serbija
Name[mk]=Србија
Name[mt]=Serbja
Name[nl]=Servië
Name[pt_BR]=Sérvia
Name[pt]=Sérvia
Name[ru]=Сербия
Name[sk]=Srbsko
Name[sl]=Srbija
Name[sr]=Srbija
Name[sv]=Serbien
Name[ta]=¦º÷À¢Â¡
Name[tr]=Sırbistan
Name[uk]=Сербія
Name[zh_CN.GB2312]=塞尔维亚
Name[zh_TW.Big5]=塞爾維亞
Region=southeurope
Languages=sr
DecimalSymbol=.
ThousandsSeparator=.
CurrencySymbol=din
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sr]=%A %e. %B %Y.
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
