[Desktop Entry]
Exec=khelpcenter2
Icon=khelpcenter
DocPath=khelpcenter/index.html
Type=Application
Terminal=0

Name=Help
Name[az]=Yardım
Name[bg]=Помощ
Name[br]=Skoazell
Name[bs]=Pomoć
Name[ca]=Ajuda
Name[cs]=Nápověda
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[eo]=Helpo
Name[es]=Ayuda
Name[et]=Abiinfo
Name[eu]=Laguntza
Name[fi]=Ohje
Name[fr]=Aide
Name[gl]=Axuda
Name[he]=הרזע
Name[hr]=Pomoć
Name[hu]=Segítség
Name[is]=Hjálp
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[ko]=도움말
Name[lt]=Pagalba
Name[lv]=Palīdzība
Name[mk]=Помош
Name[mt]=Għajnuna
Name[no]=Hjelp
Name[no_NY]=Hjelp
Name[oc]=Ajuda
Name[pl]=Pomoc
Name[pt_BR]=Ajuda
Name[pt]=Ajuda
Name[ro]=Ajutor
Name[ru]=Помощь
Name[sk]=Pomoc
Name[sl]=Pomoč
Name[sr]=Pomoć
Name[sv]=Hjälp
Name[ta]=¯¾Å¢
Name[th]=ระบบช่วยเหลือ
Name[tr]=Yardım
Name[uk]=Довідка
Name[vi]=Trợ giúp 
Name[wa]=Aidance
Name[xh]=Uncedo
Name[zh_CN.GB2312]=帮助
Name[zh_TW.Big5]=求助

Comment=Comprehensive on-line help
Comment[az]=Geniş onlayn yardım
Comment[bg]=Всички справочни сведения
Comment[br]=Sikour enlinenn peurglok
Comment[bs]=Sveobuhvatna on-line pomoć
Comment[ca]=Ajuda completa en línia
Comment[cs]=Obsáhlá on-line nápověda
Comment[da]=Omfattende hjælp på nettet
Comment[de]=Umfassende Online-Hilfe
Comment[el]=Κατανοητή ηλεκτρονική βοήθεια
Comment[eo]=Helpodokumentaro
Comment[es]=Ayuda detallada en línea
Comment[et]=Kõikehõlmav interaktiivne abi
Comment[eu]=Laguntza lerron
Comment[fi]=Laaja avustejärjestelmä
Comment[fr]=Aide complète en ligne
Comment[gl]=Axuda completa en liña
Comment[he]=הפיקמ תנווקמ הרזע
Comment[hr]=Sveobuhvatna on-line pomoć
Comment[hu]=Segítség a rendszer használatához
Comment[is]=Viðamikið rafrænt leiðbeiningakerfi
Comment[it]=Esauriente guida in linea
Comment[ja]=総合オンラインヘルプ
Comment[ko]=폭 넓은 온라인 도움말
Comment[lt]=Išsami tiesioginė pagalba
Comment[lv]=Vispusēja palīdzība onlainā
Comment[mk]=Обемна он-лајн помош
Comment[mt]=Għajnuna komprensiva online
Comment[nl]=Uitgebreide on-line help
Comment[no]=Omfattende online-hjelp
Comment[no_NY]=Omfattande hjelpefunksjon
Comment[oc]=Ajuda completa en linha
Comment[pl]=Pełna pomoc dostepna przez sieć
Comment[pt_BR]=Abrangente ajuda on-line
Comment[pt]=Ajuda on-line
Comment[ru]=все справочные сведения
Comment[sk]=Obsiahly on-line pomocník
Comment[sl]=Podrobna pomoč na zvezi
Comment[sr]=Stručna on-line pomoć
Comment[sv]=Omfattande hjälpdokumentation
Comment[ta]=ÓØ¨ÁÂ¡É ­¨½Â ¯¾Å¢
Comment[th]=ระบบช่วยเหลือแบบออนไลน์
Comment[tr]=Kapsamlı çevrimiçi yardım
Comment[uk]=Дотепна онлайн довідка
Comment[vi]=Trợ giúp toàn diện on-line 
Comment[xh]=Ukuquka okuninzi koncedo luse-layinini
Comment[zh_CN.GB2312]=容易理解的在线帮助
