[Desktop Entry]
Name=KHelpcenter
Name[bg]=Помощ на KDE
Name[bs]=KDE centar pomoći
Name[cs]=KHelpCenter
Name[da]=KHjælpecenter
Name[de]=KDE-Hilfezentrum
Name[el]=Κέντρο Βοήθειας KDE
Name[en_GB]=KHelpcentre
Name[eo]=KHelpcentro
Name[et]=K abikeskus
Name[fr]=Centre de documentation de KDE
Name[hr]=KDE centar pomoći
Name[is]=Hjálparkerfi KDE
Name[ja]=Kヘルプセンター
Name[ko]=KDE 도움말
Name[lt]=Pagalbos centras
Name[lv]=KPalīdzībascentrs
Name[nl]=KHelpcentrum
Name[no_NY]=KHjelpesenter
Name[pl]=Centrum Pomocy
Name[pt_BR]=Centro de Ajuda
Name[pt]=Centro de Ajuda
Name[ru]=Помощь KDE
Name[sk]=Centrum pomocníka
Name[sl]=Center s pomočjo
Name[sr]=KHelpcentar
Name[sv]=Khjälpcentral
Name[ta]=K¯¾Å¢¨ÁÂõ
Name[xh]=KHelpcenter/Umbindi woncedo luka K
Comment=The KDE Help Center
Comment[az]=KDE Yardım Mərkəzi
Comment[bg]=Център за помощ в KDE
Comment[br]=Kreizenn sikour KDE
Comment[bs]=KDE Pomoć
Comment[ca]=El centre d'ajuda KDE
Comment[cs]=Centrum nápovědy prostředí KDE
Comment[da]=KDE's hjælpecenter
Comment[de]=Das KDE-Hilfezentrum
Comment[el]=Το κέντρο βοήθειας του KDE
Comment[en_GB]=The KDE Help Centre
Comment[eo]=La KDE-helpocentro
Comment[es]=El centro de ayuda de KDE
Comment[et]=KDE Abikeskus
Comment[eu]=KDE Laguntza Gunea
Comment[fi]=KDE:n Ohje
Comment[fr]=Le centre de documentation de KDE
Comment[gl]=O Centro de Axuda de KDE
Comment[he]=KDE לש הרזעה זכרמ
Comment[hr]=KDE Pomoć
Comment[hu]=KDE Segítségközpont
Comment[is]=Hjálparkerfi KDE
Comment[it]=Il Centro informazioni di KDE
Comment[ja]=KDE ヘルプセンター
Comment[ko]=KDE 도움말
Comment[lt]=KDE Pagalbos Centras
Comment[lv]=KDE Palīdzības Centrs
Comment[mk]=KDE центарот за помош
Comment[mt]=Ċentru tal-Għajnuna KDE
Comment[nl]=het KDE-helpcentrum
Comment[no]=KDE Hjelpesenter
Comment[no_NY]=KDE Hjelpesenter
Comment[oc]=Lo centre d'ajuda KDE
Comment[pl]=Centrum Pomocy KDE
Comment[pt_BR]=Centro de Ajuda do KDE
Comment[pt]=Centro de ajuda do KDE
Comment[ru]=центр помощи KDE
Comment[sk]=KDE Centrum pomocník
Comment[sl]=Center pomoči za KDE
Comment[sr]=KDE pomoćni centar
Comment[sv]=KDE:s hjälpcentral
Comment[ta]=KDE ¯¾Å¢ ¨ÁÂõ
Comment[th]=ศูนย์กลางระบบช่วยเหลือของ KDE
Comment[tr]=KDE Yardım Merkezi
Comment[uk]=Центр довідок KDE
Comment[vi]=Trung tâm trợ giúp KDE 
Comment[xh]=Umbindi woncedo lwe KDE
Comment[zh_CN.GB2312]=KDE 帮助中心
Icon=khelpcenter
DocPath=khelpcenter/index.html
Type=Service
Terminal=0
Exec=khelpcenter2 %u
ServiceTypes=KParts/ReadOnlyPart,Browser/View
SwallowExec=
SwallowTitle=
BinaryPattern=
X-KDE-Library=libkhelpcenterpart
