[Desktop Entry]
Exec=kcmshell midi
Icon=kcmmidi
Type=Application
DocPath=kcontrol/midi.html

X-KDE-ModuleType=Library
X-KDE-Library=midi

Name=Midi
Name[cs]=MIDI
Name[eo]=MIDI
Name[es]=MIDI
Name[fr]=MIDI
Name[he]=ידימ
Name[hu]=MIDI
Name[it]=MIDI
Name[ko]=미디
Name[pt_BR]=MIDI
Name[pt]=MIDI
Name[th]=มิดี้
Comment=Midi Configuration
Comment[az]=Midi Quraşdırması
Comment[bg]=Настройка на Midi
Comment[br]=Kefluniadur Midi
Comment[bs]=Podešavanje Midi-ja
Comment[ca]=Configuració Midi
Comment[cs]=Nastavení MIDI
Comment[da]=Midi indstilling
Comment[de]=Midi-Einrichtung
Comment[el]=Ρυθμίσεις Midi
Comment[eo]=MIDI-agordo
Comment[es]=Configuración de los dispositivos MIDI
Comment[et]=Midi seadistused
Comment[eu]=Midi Konfigurazioa
Comment[fi]=Midin asetukset
Comment[fr]=Configuration MIDI
Comment[gl]=Configuración do Midi
Comment[he]=ידימה תורדגה יוניש
Comment[hr]=Podešavanje Midi-ja
Comment[hu]=A MIDI beállítása
Comment[is]=Breyta Midistillingum
Comment[it]=Configurazione MIDI
Comment[ja]=Midiの設定
Comment[ko]=미디 설정
Comment[lt]=Midi Derinimas
Comment[lv]=Midi Konfigurācija
Comment[mk]=Конфигурирање на Midi
Comment[mt]=Konfigurazzjoni Midi
Comment[nl]=configuratie van Midi
Comment[no]=Midi-konfigurasjon
Comment[no_NY]=Midi-oppsett
Comment[oc]=Configuracion Midi
Comment[pl]=Program do konfiguracji midi
Comment[pt_BR]=Configuração do MIDI
Comment[pt]=Configuração do MIDI
Comment[ru]=настройки Midi
Comment[sk]=Konfigurácia Midi
Comment[sl]=Nastavitve Midi
Comment[sr]=Konfiguracija midija
Comment[sv]=Anpassning av Midi
Comment[ta]=Midi ÅÊÅ¨ÁôÒ
Comment[th]=การปรับแต่งมิดี้
Comment[tr]=Midi Yapılandırması
Comment[uk]=Конфігурації midi
Comment[vi]=Cấu hình Midi 
Comment[xh]=Uqwalaselo lwe Midi
Comment[zh_CN.GB2312]=Midi 配置
Keywords=MIDI,synthesizer,music
Keywords[az]=MIDI,sintezator,musiqi
Keywords[br]=MIDI,kenaozer,sonerezh
Keywords[bs]=MIDI,synthesizer,music,sintisizer,muzika
Keywords[ca]=MIDI,sintetitzador,música
Keywords[cs]=MIDI,Syntezátor,Hudba
Keywords[da]=MIDI,synthesizer,musik
Keywords[de]=MIDI,Synthesizer,Musik
Keywords[el]=MIDI,συνθεσάιζερ,ήχος
Keywords[en_GB]=MIDI,synthesiser,music
Keywords[eo]=MIDI,sintesilo,muziko
Keywords[es]=MIDI,sintetizador,música
Keywords[et]=MIDI,süntesaator,muusika
Keywords[eu]=MIDI,sintetizadorea,musika
Keywords[fi]=MIDI,syntetisaattori,musiikki
Keywords[fr]=MIDI,synthétiseur,musique
Keywords[gl]=MIDI,sintetizador,música
Keywords[he]=הקיזומ,רזייסתניס,ידימ,MIDI
Keywords[hr]=MIDI,synthesizer,music,sintisizer,muzika
Keywords[hu]=MIDI,szintetizátor,zene
Keywords[is]=MIDI,tónlist,hljóðgervill
Keywords[it]=MIDI,sintetizzatore,musica
Keywords[ja]=MIDI,シンセサイザ,音楽
Keywords[ko]=MIDI,synthesizer,music,미디,신씨싸이저,신디사이저,노래,음악
Keywords[lt]=MIDI,sintezatoriai,muzika
Keywords[lv]=MIDI,sintezators,mūzika
Keywords[mk]=MIDI,синтисајзер,музика
Keywords[nl]=MIDI,synthesizer,muziek
Keywords[no]=MIDI,synthesizer,musikk
Keywords[no_NY]=MIDI,synthesizer,musikk
Keywords[oc]=MIDI,sintetitzador,musica
Keywords[pl]=MIDI,syntezator,muzyka
Keywords[pt_BR]=MIDI,sintetizador,música
Keywords[pt]=MIDI,sintetizador,música
Keywords[sk]=MIDI,syntéza,hudba
Keywords[sl]=MIDI,sintetizator,glasba
Keywords[sv]=MIDI,synthesizer,musik
Keywords[ta]=MIDI,¦¾¡ÌôÀ¢,­¨º
Keywords[tr]=MIDI,sentezleyici,müzik
Keywords[uk]=MIDI,синтезатор,музика
Keywords[vi]=MIDI,synthesizer,music,bềEhoà âm
Keywords[xh]=MIDI,umdibanisi ndawonye wamaqela,umculo
Keywords[zh_CN.GB2312]=MIDI,synthesizer,music,合成器,音乐
