[Desktop Entry]
Icon=konsole
Type=Application
Exec=kcmshell kcmkonsole
X-KDE-ModuleType=Library
X-KDE-Library=konsole
Name=Konsole
Name[az]=Konsol
Name[bg]=Конзола
Name[da]=Konsol
Name[el]=Κονσόλα
Name[eo]=Konzolo
Name[et]=Konsool
Name[fi]=Pääte-emulaattori
Name[he]=ףוסמ
Name[is]=Skjáhermir
Name[ja]=コンソール
Name[ko]=KDE용 콘솔
Name[lt]=K konsolė
Name[no]=Konsoll
Name[no_NY]=Konsoll
Name[pl]=Konsola
Name[ru]=Консоль
Name[sk]=Konzola
Name[sl]=Konzola
Name[ta]=¸¡ý§º¡ø
Name[tr]=Konsol
Name[xh]=iKonsole
Comment=Konsole configuration module
Comment[az]=Konsol quraşdırma modulu
Comment[bg]=Конфигурационни модули за Konsole
Comment[cs]=Konfigurační modul terminálu konsole
Comment[da]=Konsole indstillingsmodul
Comment[de]=Modul zur Einrichtung von Konsole
Comment[el]=Άρθρωμα ρύθμισης Κονσόλας
Comment[eo]=Agordilo por Konzolo
Comment[es]=Módulo de configuración de Konsole
Comment[et]=Terminali emulaatori seadistamine
Comment[fi]=Konsolen konfigurointimoduuli
Comment[fr]=Configuration de Konsole
Comment[he]=ףוסמה תורדגה יוניש
Comment[hu]=A Konsole beállítómodulja
Comment[is]=Skjáhermisstillingar
Comment[it]=Modulo di configurazione di Konsole
Comment[ja]=Konsoleの設定モジュール
Comment[ko]=K콘솔 설정 모듈
Comment[lt]=K konsolės konfigūravimo įrankis
Comment[lv]=Konsoles konfigurācijas modulis
Comment[mt]=Konfigurazzjoni tal-Konsole
Comment[nl]=Konsole configuratie module
Comment[no]=Verktøy for oppsett av Konsole
Comment[no_NY]=Oppsettmodul for konsollen
Comment[pl]=Moduł konfiguracji konsoli
Comment[pt_BR]=Módulo de configuração do Konsole
Comment[pt]=Módulo de configuração do Konsole
Comment[ru]=модуль настройки Konsole
Comment[sk]=Konfiguračný modul konzole
Comment[sl]=Modul za prikrojitev konzole
Comment[sr]=Modul za podešavanje Konsole
Comment[sv]=Inställningsmodul för Konsole
Comment[ta]=¸¡ý§º¡ø ÅÊÅ¨ÁôÒì ÜÚ
Comment[th]=โมดูลปรับแต่ง Konsole
Comment[tr]=Konsol Yapılandırma modülü
Comment[uk]=Засіб конфігурації модуля Konsole
Comment[vi]=mô-đun cấu hình Konsole 
Comment[xh]=Umnqongo woqwalaselo osetyenziselwa ukubala iKonsole
Comment[zh_CN.GB2312]=Konsole 配置模块
Keywords=konsole,schema,konsole background,colors,background,terminal application,terminal
Keywords[az]=konsol,sxem,konsol arxa planı,rənglər,arxa plan,terminal proqramı,terminal
Keywords[cs]=konsole,schéma,pozadí konsole,barvy,pozadí,terminálová aplikace,terminál
Keywords[da]=konsole,sammensætning,konsole baggrund,farver,baggrund,terminal program,terminal
Keywords[de]=Konsole,Farbschema,Hintergrund,Farben,Terminal
Keywords[en_GB]=konsole,schema,konsole background,colours,background,terminal application,terminal
Keywords[eo]=Konzolo,koloraro,fono,koloro,konzolofono,terminaaplikaĵo,terminalo
Keywords[es]=konsole,esquema,fondo de konsole,colores,fondo,aplicación de terminal,terminal
Keywords[et]=konsool,skeem,konsooli taust,värvid,taust,terminal,terminali emulaator
Keywords[fi]=konsole,teema,konsolen tausta,värit,tausta,pääteohjelma,pääte
Keywords[fr]=konsole,modèle,fond,couleurs,terminal
Keywords[he]=konsole,תינבת,ףוסמה עקר,םיעבצ,עקר,ףושמ םושיי,ףוסמ
Keywords[hu]=Konsole,kinézet,terminál-háttér,színek,háttér,terminálalkalmazás,terminál
Keywords[is]=konsole,skjáhermir,skjáhermissbakgrunnur,litir,bakgrunnur,terminal application,terminal
Keywords[it]=konsole,schema,sfondo di konsole,colori,sfondo,terminale,shell
Keywords[ja]=konsole,schema,konsole 背景,色,背景,ターミナル アプリケーション,ターミナル
Keywords[ko]=konsole,schema,konsole background,colors,background,terminal application,terminal,콘솔,스키마,콘솔 바탕,색,바탕,터미널,터미날,응용프로그램,응용 프로그램
Keywords[lt]=konsole,schema,konsole background,colors,background,terminal application,terminal, k konsolė, shema, konsolės fono spalva, spalvos, fono spalva, terminalinė programa, terminalas
Keywords[lv]=konsole,shēma,konsoles fons,krāsas,fons,termināla aplikācija,termināls
Keywords[mt]=konsole,schema,konsole background,colors,background,terminal application,terminal,skema,kuluri
Keywords[no]=konsole,konsoll,farger,bakgrunn,terminal
Keywords[no_NY]=konsoll,oppsett,konsollbakgrunn,fargar,bakgrunn,terminal
Keywords[pl]=konsola,schemat,tło konsoli,kolory,tło,aplikacja terminala,terminal
Keywords[pt_BR]=konsole,esquema,fundo do konsole,cores,fundo,aplicação de terminal,terminal
Keywords[pt]=konsole,esquema,fundo do konsole,cores,fundo,aplicação de terminal,terminal
Keywords[sk]=konsole,schéma,pozadie konzole,konzola,farby,pozadie,terminálová aplikácia,terminál
Keywords[sl]=konsola,shema,ozadje konzole,barve,ozadje,terminalski program,terminal
Keywords[sv]=konsole,konsoll,schema,konsol bakgrund,färger,bakgrund,terminalprogram, terminal
Keywords[uk]=konsole,схема,тло konsole,кольори,тло,програма терміналу,термінал
Keywords[vi]=konsole,schema,konsole background,colors,background,terminal application,terminal,màu, nền,Trình đầu cuối,đầu cuối 
Keywords[xh]=konsole,schema,imvelaphi ye konsole,imibala,imvelaphi,isicelo sesiphelo sendlela,isiphelo sendlela
Keywords[zh_CN.GB2312]=konsole,schema,konsole background,colors,background,terminal application,terminal,颜色,背景色,终端程序,终端
