[Desktop Entry]
Type=Service
Name=ShortURIFilter
Name[az]=KısaURISüzgeci
Name[br]=SilURLBerr
Name[ca]=Filtre d'URI curta
Name[da]=KortUrlFilter
Name[de]=Kurz-URL-Filter
Name[el]=Φίλτρο Σύντομων URI
Name[eo]=Mallonga URI-filtrilo
Name[es]=Filtro de URIs cortas
Name[et]=Lühikeste URLide filter
Name[fr]=Filtres d'URLs courtes
Name[he]=תורצק תובותכ ןנסמ
Name[hu]=Rövid URI-k szűrője
Name[is]=StuttURISía
Name[ja]=ショートURIフィルタ
Name[ko]=짧은 URI 거르개
Name[lv]=ĪssURIFiltrs
Name[no]=KortURIFilter
Name[oc]=Filtre d'URI curta
Name[pl]=Filtr Krótkich URI
Name[pt_BR]=FiltroURI
Name[pt]=FiltroURICurtos
Name[ro]=Filtru URI-uri scurte
Name[sk]=KrátkyURIFilter
Name[sl]=FilterZaKratkeURI
Name[sv]=Kortwebbadressfilter
Name[tr]=KısaURISüzgeci
Name[uk]=Короткий фільтр URI
Name[xh]=Icebo lokucoca ulwelo lwe URI oluncinane
Name[zh_CN.GB2312]=短 URI 过滤
X-KDE-Library=libkshorturifilter
ServiceTypes=KURIFilter/Plugin
InitialPreference=5
