[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=furycd001
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/furycd001/Dots/Gucci/i3lock.sh

[Install]
WantedBy=sleep.target
