[KDE Desktop Program]
Comment=XEarth by Kirk Johnson
Comment[az]=Kirk Johnson'dan XEarth
Comment[br]=XEarth gant Kirk Johnson
Comment[bs]=XEarth izrađen od strane Kirka Johnsona
Comment[ca]=XEarth per Kirk Johnson
Comment[cs]=XEarth vytvořil Kirk Johnson
Comment[da]=Xearth af Kirk Johnson
Comment[de]=XEarth
Comment[eo]=XTero
Comment[es]=XEarth por Kirk Johnson
Comment[et]=XEarth (Kirk Johnson)
Comment[eu]=XEarth,Kirk Johnsonek egina
Comment[fi]=XEarth, tehnyt Kirk Johnson
Comment[fr]=XEarth par Kirk Johnson
Comment[gl]=XEarth por Kirk Johnson
Comment[he]=ןוסנו'ג קריק תאמ XEarth
Comment[hr]=XEarth izrađen od strane Kirka Johnsona
Comment[hu]=Kirk Johnson földgömbje
Comment[is]=XJörð eftir Kirk Johnson
Comment[it]=XEarth (di Kirk Johnson)
Comment[ja]=Kirk JohnsonによるXEarth
Comment[ko]=Kirk Johnson이 그린 XEarth
Comment[lt]=Kirk Johnson XEarth
Comment[lv]=XEarth no Kirk Johnson
Comment[mk]=X-Земја
Comment[mt]=XEarth minn Kirk Johnson
Comment[nl]=XAarde, door Kirk Johnson
Comment[no]=XEarth av Kirk Johnson
Comment[no_NY]=XEarth av Kirk Johnson
Comment[oc]=XEarth per Kirk Johnson
Comment[pl]=XEarth autorstwa Kirka Johnsona
Comment[pt_BR]=XEarth
Comment[pt]=XEarth de Kirk Johnson
Comment[ru]=XEarth (Kirk Johnson)
Comment[sk]=XZem od Kirka Johnsona
Comment[sl]=XEarth avtorja Kirka Johnsona
Comment[sv]=Xjorden av Kirk Johnson
Comment[th]=แผนที่โลก โดย Kirk Johnson
Comment[tr]=Kirk Johnson'dan XEarth
Comment[uk]=XEarth Кірка Джонсона
Comment[vi]=XEarth của Kirk Johnson
Comment[xh]=Umhlaba ka X ngu Kirk Johnson
Comment[zh_CN.GB2312]=Kirk Johnson 的 XEarth
Executable=xearth
Command=xearth -size %x,%y -ppm > %f
PreviewCommand=xearth -size %x,%y -nomarkers -ppm > %f
Refresh=10
