[KDE Desktop Program]
Comment=XGlobe by Thorsten Scheuermann
Comment[az]=Thorsten Scheuermann'dan XGlobe
Comment[br]=XGlobe gant Thorsten Scheuermann
Comment[bs]=XGlobe izrađen od strane Thorstena Scheuermanna
Comment[ca]=XGlobe per Thorsten Scheuermann
Comment[cs]=XGlobe vytvořil Thorsten Scheuermann
Comment[da]=XGlobe af Thorsten Scheuermann
Comment[de]=XGlobe
Comment[eo]=XGlobo
Comment[es]=XGlobe por Thorsten Scheuermann
Comment[et]=XGlobe (Thorsten Scheuermann)
Comment[eu]=XGlobe, Thorsten Scheuermannek egina
Comment[fi]=XGlobe, tehnyt Thorsten Scheuermann
Comment[fr]=XGlobe par Thorsten Scheuermann
Comment[gl]=XGlobe por Thorsten Scheuermann
Comment[he]=ןאמרווש ןטסרות תאמ XGlobe
Comment[hr]=XGlobe izrađen od strane Thorstena Scheuermanna
Comment[hu]=Thorsten Scheuermann földgömbje
Comment[is]=XHnöttur eftir Thorsten Scheuermann
Comment[it]=XGlobe (di Thorsten Scheuermann)
Comment[ja]=Thorsten ScheuermannによるXGlobe
Comment[ko]=Thorsten Scheuermann가 그린 XGlobe
Comment[lt]=Thorsten Scheuermann XGlobe
Comment[lv]=XGlobe no Thorsten Scheuermann
Comment[mk]=X-Глобус
Comment[mt]=XGlobe minn Thorsten Scheuermann
Comment[nl]=XWereldbol, door Thorsten Scheuermann
Comment[no]=XGlobe av Thorsten Scheuermann
Comment[no_NY]=XGlobe av Thorsten Scheuermann
Comment[oc]=XGlobe per Thorsten Scheuermann
Comment[pl]=XGlobe autorstwa Thorstena Scheuermanna
Comment[pt_BR]=XGlobe
Comment[pt]=XGlobe de Thorsten Scheuermann
Comment[ru]=XGlobe (Thorsten Scheuermann)
Comment[sk]=XGlobe od Thorstena Scheuermanna
Comment[sl]=XGlobe avtorja Thorstena Scheuermanna
Comment[sv]=Xglob av Thorsten Scheuermann
Comment[th]=ลูกโลก โดย Thorsten Scheuermann
Comment[tr]=Thorsten Scheuermann'dan XGlobe
Comment[uk]=XGlobe Торстена Шоєрмана
Comment[vi]=XGlobe của Thorsten Scheuermann
Comment[xh]=Unqukuva ka X ngu Thorsten Scheuermann
Comment[zh_CN.GB2312]=Thorsten Scheuermann 的 XGlobe
Executable=xglobe
Command=xglobe -dump -once -size %x,%y -nomarkers && mv xglobe-dump.bmp %f
PreviewCommand=xglobe -nomarkers -nolabel -dump -once -size %x,%y && mv xglobe-dump.bmp %f
Refresh=10
