[KDE Desktop Program]
Command=xplanet --geometry %xx%y --output %f.jpg && mv %f.jpg %f
Comment=XPlanet by Hari Nair
Comment[az]=Hari Nair'dan XPlanet
Comment[cs]=XPlanet od Hariho Naira
Comment[da]=XPlanet af Hari Nair
Comment[de]=XPlanet
Comment[el]=XPlanet του Hari Nair
Comment[eo]=XPlanedo de Hari Nair
Comment[es]=XPlanet por Hari Nair
Comment[et]=XPlanet (Hari Nair)
Comment[fi]=XPlanet, tehnyt Hari Nair
Comment[fr]=XPlanet par Hari Nair
Comment[he]=ריינ יראה תאמ XPlanet
Comment[hu]=Hari Nair XPlanet-je
Comment[is]=XPlánetur eftir Hari Nair
Comment[it]=XPlanet di Hari Nair
Comment[ja]=Hari NairによるXPlanet
Comment[ko]=Hari Nair가 그린 XPlanet
Comment[lt]=Hari Nair XPlanet
Comment[lv]=XPlanet no Hari Nair
Comment[mt]=XPlanet minn Hari Nair
Comment[nl]=XPlanet, door Hari Nair
Comment[no]=XPlanet av Hari Nair
Comment[no_NY]=XPlanet av Hari Nair
Comment[pl]=XPlanet autorstwa Hari Neir
Comment[pt_BR]=XPlanet de Hari Nair
Comment[pt]=XPlanet de Hari Nair
Comment[ru]=XPlanet (Hari Nair)
Comment[sk]=XPlanet od Hari Nair
Comment[sl]=XPlanet Harija Naira
Comment[sr]=XPlanet autor Hari Nair
Comment[sv]=Xplanet av Hari Nair
Comment[th]=อวกาศ โดย Hari Nair
Comment[tr]=Hari Nair'dan XPlanet
Comment[uk]=XPlanet від Hari Nair
Comment[vi]=XPlanet của  Hari Nair 
Comment[xh]=Umzimba osesibhakabhakeni ojikelezailanga ka X ngu Hari Nair
Comment[zh_CN.GB2312]=Hari Nair 的 XPlanet
Executable=xplanet
PreviewCommand=xplanet --geometry %xx%y --output %f.jpg && mv %f.jpg %f
Refresh=10
