[KCM Locale]
Name=Barbados
Name[bg]=Барбадос
Name[el]=Μπαρμπέιντος
Name[eo]=Babadoso
Name[fr]=Barbade
Name[he]=סודברב
Name[ja]=バルバドス
Name[ko]=바르바도스
Name[lt]=Barbadosas
Name[lv]=Barbadosa
Name[mk]=Барбадос
Name[ru]=Барбадос
Name[ta]=À¡÷§À¼¡Í
Name[uk]=Барбадос
Name[zh_CN.GB2312]=巴巴多斯
Name[zh_TW.Big5]=巴貝多
Region=caribbean
Languages=en_GB,C
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[C]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartsMonday=false
