[KCM Locale]
Name=Venezuela
Name[bg]=Венецуела
Name[el]=Βενεζουέλα
Name[eo]=Venezuelo
Name[et]=Venetsueela
Name[fr]=Vénézuela
Name[he]=הלאוצנו
Name[ja]=ベネズェラ
Name[ko]=베네수엘라
Name[lt]=Venesuela
Name[lv]=Venecuēla
Name[mk]=Венецуела
Name[mt]=Veneżwela
Name[pl]=Wenezuela
Name[ru]=Венесуэла
Name[sr]=Venecuela
Name[ta]=¦ÅÉ¢ÍÅÄ¡
Name[uk]=Венесуела
Name[zh_CN.GB2312]=委内瑞拉
Name[zh_TW.Big5]=委內瑞拉
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=Bs.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
