[Desktop Entry]
Icon=stylesheet
Type=Application
Exec=kcmshell WebBrowsing/kcmcss

X-KDE-ModuleType=Library
X-KDE-Library=css
X-KDE-FactoryName=kcmcss

Name=Stylesheets
Name[az]=Stylesheet
Name[bg]=Шаблон за стил css
Name[cs]=Soubory se styly
Name[da]=Stilark
Name[de]=Stilvorlagen
Name[eo]=Stildifinoj
Name[es]=Hojas de estilo
Name[et]=Laaditabelid
Name[fi]=Tyylisivut
Name[fr]=Feuilles de style
Name[he]=ןונגס תונויליג
Name[hu]=Stíluslapok
Name[is]=Stílblöð
Name[it]=Fogli di stile
Name[ja]=スタイルシート
Name[ko]=스타일시트
Name[lv]=Stilusaraksti
Name[nl]=Stijlbladen
Name[no]=Stilsett
Name[no_NY]=Stilsett
Name[pl]=Arkusze stylów
Name[pt_BR]=Folhas de estilo
Name[pt]=Folhas de estilo
Name[ro]=Foi de stil
Name[ru]=Шаблоны стилей css
Name[sk]=Štýly
Name[sl]=Slogovne predloge
Name[sv]=Stilmallar
Name[ta]=À¡ó¾ò¾¡ð¸û
Name[tr]=Stylesheet
Name[uk]=Таблиці стилів
Name[xh]=Amakhasi ohlobo oluthile
Name[zh_CN.GB2312]=风格表单
Comment=Configure the stylesheets used to render HTML
Comment[az]=Stylesheet qurğularını edin
Comment[bg]=Настройка за  стила използван за HTML
Comment[cs]=Zde je možné nastavit styly používané pro zobrazování HTML
Comment[da]=Indstil stilark brugt til at vise html
Comment[de]=Hier können Sie die Stilvorlagen für die Anzeige von HTML-Seiten einrichten
Comment[el]=Ρύθμιση stylesheets που χρησιμοποιούνται για την εμφάνιση της HTML
Comment[eo]=Agordo de la stildifinoj por HTML-prezent
Comment[es]=Configura las hojas de estilo usadas para mostrar HTML
Comment[et]=Laaditabelite seadistamine HTML renderdamiseks
Comment[fi]=Aseta käytettäviä CSS tyylisivuja
Comment[fr]=Configuration des feuilles de style utilisées pour l'affichage HTML
Comment[he]=HTML תגצהל שומיש השענ םהב ןונגסה תונויליג תורדגה יוניש
Comment[hu]=Itt lehet módosítani a HTML-oldalak megjelenítéséhez használt stíluslapok beállításait
Comment[is]=Stilla stílblöð sem vinna á HTML skrám
Comment[it]=Configura i fogli di stile da usare per gli HTML
Comment[ja]=HTMLのレンダリングに使用するスタイルシートの設定
Comment[ko]=HTML 모양새를 바꾸는 스타일시트를 설정합니다
Comment[lt]=Derinti stilių aprašymus naudojamus HTML atvaizdavimui
Comment[lv]=Konfigurē HTML renderēšanai izmantotos stilusarakstus
Comment[mt]=Ikkonfigura l-istylesheets li jintużaw biex juru l-HTML
Comment[nl]=u kunt hier de stijlbladen die voor het opmaken van HTML worden gebruikt instellen.
Comment[no]=Her kan du konfigurere stilsettene for visning av HTML
Comment[no_NY]=Her kan du setja opp stilsetta for vising av HTML
Comment[pl]=Konfiguracja arkuszy stylów do wyświetlania HTML
Comment[pt_BR]=Configurar as folhas de estilo utilizadas para renderizar HTML
Comment[pt]=Configura as 'stylesheets' usadas para representar o HTML
Comment[ro]=Configurează foile de stil utilizate la randarea HTML
Comment[ru]=Настройки стилей отображения HTML
Comment[sk]=Tu môžete nastaviť štýly používané pre zobrazovanie HTML
Comment[sl]=Prikrojite slogovne predloge za upodabljanje HTML
Comment[sr]=Podesite stilove koji se koriste za renderovanje HTML-a
Comment[sv]=Anpassa stilmallarna som används vid HTML-visning
Comment[ta]=HTML ¾£üÈô ÀÂýÀÎõ À¡ó¾ò ¾¡ð¸¨Ç ÅÊÅ¨ÁÔí¸û
Comment[tr]=Stylesheet ayarlarını yapın
Comment[uk]=Налаштування таблиць стилів для відображення HTML
Comment[vi]=Cấu hình stylesheets được dùng đềErender HTML
Comment[xh]=Qwalasela amakhasi ohlobo asetyenziswayo ukunikezela i HTML
Comment[zh_CN.GB2312]=配置用来显示 HTML 的风格表单

Keywords=CSS,HTML,style,stylesheet,accessibility
Keywords[az]=CSS,HTML,style,tərz,stylesheet,yetişmə,yetişmə qabiliyyəti
Keywords[cs]=CSS,HTML,styl,style,stylesheet,zpřístupnění
Keywords[da]=CSS,HTML,stil,stilark,tilgængelighed
Keywords[de]=CSS,HTML,Stylesheet,Stilvorlagen,Zugangshilfen
Keywords[el]=CSS,HTML,στυλ,stylesheet,προσιτότητα
Keywords[eo]=CSS,HTML,stilo,stildifino,alirebleco
Keywords[es]=CSS,HTML,estilo,hoja de estilo,accesibilidad
Keywords[et]=CSS,HTML,stiil,laaditabel
Keywords[fi]=CSS,HTML,tyyli,tyylimäärittely,käytettävyys
Keywords[fr]=css,html,style,feuille de style,accessibilité
Keywords[he]=CSS,HTML,תושיגנ,ןונגס ןויליג,ןונגס
Keywords[hu]=CSS,HTML,stílus,stíluslap,elérhetőség
Keywords[is]=CSS,HTML,stíll,stílblað,aðgengi,aðgengilegheit,aðgangur
Keywords[it]=CSS,HTML,style,stylesheet,accessibilità,fogli di stile
Keywords[ja]=CSS,HTML,スタイル,スタイルシート,アクセシビリティ
Keywords[ko]=CSS,HTML,style,stylesheet,accessibility,모양새,꼴,스타일시트
Keywords[lt]=CSS,HTML,style,stylesheet,accessibility,stilius,stilių aprašymas
Keywords[lv]=CSS,HTML,stils,stilusaraksts,pieejamība
Keywords[mt]=CSS,HTML,style,stylesheet,accessibility,aċċessibbiltà
Keywords[nl]=CSS,HTML,stijl,stylesheet,toegankelijkheid,stijlbladen
Keywords[no]=CSS,HTML,stil,stilsett
Keywords[no_NY]=CSS,HTML,stilsett,tilgjenge,brukarstilsett
Keywords[pl]=CSS,HTML,styl,arkusz stylu,dostępność
Keywords[pt_BR]=CSS,HTML,estilo,folha de estilo,acessibilidade
Keywords[pt]=CSS,HTML,estilo,stylesheet,acessibilidade
Keywords[ro]=CSS,HTML,stil,foi de stil,accesibilitate
Keywords[sk]=CSS,HTML,štýl,style,stylesheet,prístupnosť
Keywords[sl]=CSS,HTML,slog,slogovne predloge,dostopnost
Keywords[sv]=CSS,HTML,stil,stilmall,handikappstöd
Keywords[tr]=CSS,HTML,style,stil,stylesheet,erişim,erişilebilirlik
Keywords[uk]=CSS,HTML,стиль,таблиця стилів,доступність
Keywords[xh]=CSS,HTML,uhlobo,ikhasi lohlobo oluthile,unikezelo
Keywords[zh_CN.GB2312]=CSS,HTML,style,stylesheet,accessibility,风格,风格表单,可用性
