[KCM Locale]
Name=Switzerland
Name[az]=İsveçrə
Name[bg]=Швейцария
Name[br]=Suis
Name[bs]=Švicarska
Name[ca]=Suïssa
Name[cs]=Švýcarsko
Name[da]=Svejts
Name[de]=Schweiz
Name[el]=Ελβετία
Name[eo]=Svislando
Name[es]=Suiza
Name[et]=Šveits
Name[eu]=Suitza
Name[fi]=Sveitsi
Name[fr]=Suisse
Name[gl]=Suíza
Name[he]=ץייוש
Name[hr]=Švicarska
Name[hu]=Svájc
Name[is]=Sviss
Name[it]=Svizzera
Name[ja]=スイス
Name[ko]=스위스
Name[lt]=Šveicarija
Name[lv]=Šveice
Name[mi]=Witerana
Name[mk]=Швајцарија
Name[mt]=Svizzera
Name[nl]=Zwitserland
Name[no]=Sveits
Name[no_NY]=Sveits
Name[oc]=Suissa
Name[pl]=Szwajcaria
Name[pt_BR]=Suíça
Name[pt]=Suíça
Name[ru]=Швейцария
Name[sk]=Švajčiarsko
Name[sl]=Švica
Name[sr]=Švajcarska
Name[sv]=Schweiz
Name[ta]=ÍÅ¢ðº÷Ä¡óÐ
Name[tr]=İsviçre
Name[uk]=Швейцарія
Name[vi]=Thuỵ Sĩ 
Name[wa]=Swisse
Name[zh_CN.GB2312]=瑞士
Name[zh_TW.Big5]=瑞士
Region=centraleurope
Languages=de,fr,it
DecimalSymbol[de]=.
DecimalSymbol[fr]=.
DecimalSymbol[it]=.
ThousandsSeparator=$0 $0
CurrencySymbol[de]=Fr.
CurrencySymbol[fr]=F
CurrencySymbol[it]=F
MonetaryDecimalSymbol[de]=.
MonetaryDecimalSymbol[fr]=.
MonetaryDecimalSymbol[it]=.
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[de]=%A, %e. %B %Y
DateFormat[fr]=%A, %e %B %Y
DateFormat[it]=%A, %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort[de]=%e.%n. %y
DateFormatShort[fr]=%e %n. %y
DateFormatShort[it]=%e %n. %y
TimeFormat[de]=%H.%M:%S
TimeFormat[fr]=%H.%M:%S
TimeFormat[it]=%H.%M:%S
