[KCM Locale]
Name=Turkey
Name[az]=Türkiyə
Name[bg]=Турция
Name[br]=Turkia
Name[bs]=Turska
Name[ca]=Turquia
Name[cs]=Turecko
Name[da]=Tyrkiet
Name[de]=Türkei
Name[el]=Τουρκία
Name[eo]=Turkujo
Name[es]=Turquía
Name[et]=Türgi
Name[eu]=Turkia
Name[fi]=Turkki
Name[fr]=Turquie
Name[gl]=Turquía
Name[he]=היקרוט
Name[hr]=Turska
Name[hu]=Törökország
Name[is]=Tyrkland
Name[it]=Turchia
Name[ja]=トルコ
Name[ko]=터키
Name[lt]=Turkija
Name[lv]=Turcija
Name[mk]=Турција
Name[mt]=Turkija
Name[nl]=Turkije
Name[no]=Tyrkia
Name[no_NY]=Tyrkia
Name[oc]=Turquia
Name[pl]=Turcja
Name[pt_BR]=Turquia
Name[pt]=Turquia
Name[ru]=Турция
Name[sk]=Turecko
Name[sl]=Turčija
Name[sr]=Turska
Name[sv]=Turkiet
Name[ta]=ÐÕì¸¢
Name[tr]=Türkiye
Name[uk]=Туреччина
Name[vi]=ThềENhĩ Kì 
Name[zh_CN.GB2312]=土耳其
Name[zh_TW.Big5]=土耳其語
Region=southeurope
Languages=tr
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=L
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[tr]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
