[Desktop Entry]
Exec=procinfo -f
Icon=kpm
Type=Application
Name=Procinfo
Name[bg]=Процесор
Name[eo]=Procezoinformo
Name[ko]=프로세서 정보
Name[pl]=Informacje o procesach
Name[sl]=Podatki o procesih
Comment=System process information
Comment[az]=Sistemdəki gedişatlar haqqında mə'lumat
Comment[bg]=Информация за системните процеси
Comment[cs]=Informace o systémových procesech
Comment[da]=Systemproces information
Comment[de]=Informationen zum Prozessor
Comment[el]=Πληροφορίες για τις διεργασίες του συστήματος
Comment[eo]=Informo pri procezoj
Comment[es]=Información sobre procesos del sistema
Comment[et]=Süsteemi protsesside info
Comment[fi]=Järjestelmän prosessien tietoja
Comment[fr]=Informations sur les processus du système
Comment[he]=תכרעמ תומישמ לע עדימ
Comment[hu]=Információ a rendszerfolyamatokról
Comment[is]=Upplýsingar um framvindu ferla
Comment[it]=Informazioni sui processi di sistema
Comment[ja]=システムプロセスの情報
Comment[ko]=시스템 프로세서 정보
Comment[lt]=Sistemos procesų informacija
Comment[lv]=Sistēmas procesu informācija
Comment[mt]=Informazzjoni dwar il-proċessi tas-sistema
Comment[nl]=Systeem process-informatie
Comment[no]=Informasjon om prosessen
Comment[no_NY]=Informasjon om systemprosessar
Comment[pl]=Informacje o procesach w systemie
Comment[pt_BR]=Informações sobre os processos do sistema
Comment[pt]=Informações acerca dos processos do sistema
Comment[ro]=Afişează informaţii despre procesele sistemului
Comment[ru]=сведения о системных процессах
Comment[sk]=Informácie o procesoch
Comment[sl]=Podatki o sistemskih procesih
Comment[sr]=Informacije o sistemskim procesima
Comment[sv]=Information om systemprocesser
Comment[ta]=¸½¢É¢î ¦ºÂü ¾¸Åø
Comment[th]=ข้อมูลโปรเซสของระบบ
Comment[tr]=Sistem işlev bilgisi
Comment[uk]=Інформація щодо процесів системи
Comment[vi]=thông tin vềEcác tiến trình hềEthống 
Comment[xh]=Ulwazi lwendlela yoqhubekeko
Comment[zh_CN.GB2312]=系统进程信息
Terminal=1
TerminalOptions=
