[Desktop Entry]
Exec=vmstat 2
Icon=
Type=Application
Name=Vmstat
Name[bg]=AltaVista 
Name[de]=VM-Stat
Name[eo]=Memorostatistiko
Name[ko]=가상 메모리 상태
Comment=Virtual memory statistics
Comment[az]=Virtual yaddaş statistikaları
Comment[bg]=Статистика на вируалната памет
Comment[cs]=Statistika virtuální paměti
Comment[da]=Virtuel hukommelse statistik
Comment[de]=Statistiken zum virtuellen Speicher
Comment[el]=Στατιστικά εικονικής μνήμης
Comment[eo]=Statistiko pri la uzo de virtuala memoro
Comment[es]=Estadísticas de memoria virtual
Comment[et]=Virtuaalmälu statistika
Comment[fi]=Virtuaalimuistin tilastot
Comment[fr]=Statistiques sur la mémoire virtuelle
Comment[he]=ילאוטריו ןורכיז לע הקיטסיטטס
Comment[hu]=Statisztikai adatok a virtuális memóriáról
Comment[is]=Upplýsingar um sýndarminni
Comment[it]=Statistiche memoria virtuale
Comment[ja]=仮想メモリ統計
Comment[ko]=가상 메모리 상태를 보여줍니다
Comment[lt]=Virtualios atminties statistika
Comment[lv]=Virtuālās atmiņas statistika
Comment[nl]=Virtueel geheugen statistieken
Comment[no]=Statistikk for virtuelt minne
Comment[no_NY]=Informasjon om virtuelt minne
Comment[pl]=Statystyka pamięci wirtualnej
Comment[pt_BR]=Estatísticas da memória virtual
Comment[pt]=Estatísticas da memória virtual
Comment[ro]=Afişează statistici despre memoria virtuală
Comment[ru]=сведения о виртуальной памяти
Comment[sk]=Štatistika virtuálnej pamäti
Comment[sl]=Statistika navideznega pomnilnika
Comment[sr]=Statistike virtuelne memorije
Comment[sv]=Virtuell minnesstatistik
Comment[ta]=Á¡Â ¿¢¨É×ô ÒûÇ¢Å¢ÀÃí¸û
Comment[th]=สถิติของหน่วยความจำเสมือน
Comment[tr]=Sanal hafıza istatistikleri
Comment[uk]=Статистика віртуальної пам'яті
Comment[vi]=Thống kê bềEnhềEảo 
Comment[xh]=Izitatistiki zobume benkumbulo
Comment[zh_CN.GB2312]=虚拟内存统计
Terminal=1
TerminalOptions=
