[KCM Locale]
Name=Jamaica
Name[az]=Yamayka
Name[bg]=Ямайка
Name[br]=Jamaika
Name[bs]=Jamajka
Name[cs]=Jamajka
Name[de]=Jamaika
Name[el]=Τζαμάικα
Name[eo]=Ĵamaiko
Name[et]=Jamaika
Name[eu]=Jamaika
Name[fi]=Jamaika
Name[fr]=Jamaïque
Name[gl]=Xamaica
Name[he]=הקיימ'ג
Name[hr]=Jamajka
Name[hu]=Jamaika
Name[it]=Giamaica
Name[ja]=ジャマイカ
Name[ko]=자메이카
Name[lt]=Jamaika
Name[lv]=Jamaika
Name[mk]=Јамајка
Name[mt]=Ġamajka
Name[pl]=Jamajka
Name[ru]=Ямайка
Name[sk]=Jamajka
Name[sl]=Jamajka
Name[sr]=Jamajka
Name[ta]=º¦Áöì¸¡
Name[tr]=Jamaika
Name[uk]=Ямайка
Name[zh_CN.GB2312]=牙买加
Name[zh_TW.Big5]=牙買加
Region=caribbean
Languages=en_GB,C
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[C]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartsMonday=false
