[KCM Locale]
Name=Taiwan
Name[az]=Tayvan
Name[bg]=Тайван
Name[bs]=Tajvan
Name[el]=Ταϊβάν
Name[eo]=Tajvano
Name[es]=Taiwán
Name[et]=Taivan
Name[fr]=Taïwan
Name[gl]=Taiwán
Name[he]=ןאוויט
Name[hr]=Tajvan
Name[hu]=Tajvan
Name[ja]=台湾
Name[ko]=대만
Name[lt]=Taivanis
Name[lv]=Taivāna
Name[mi]=Taiwana
Name[mk]=Тајван
Name[mt]=Tajwan
Name[pl]=Tajwan
Name[pt]=Formosa
Name[ru]=Тайвань
Name[sl]=Tajvan
Name[sr]=Tajvan
Name[ta]=¾¡öÅ¡ý
Name[tr]=Tayvan
Name[uk]=Тайвань
Name[vi]=Đài Loan 
Name[zh_CN.GB2312]=台湾
Name[zh_TW.Big5]=台灣
Region=asia
Languages=zh_TW.Big5
CurrencySymbol=NT$
DateFormat[zh_TW.Big5]=%Y %B %e %A
DateFormat[eo]=%A, la %ea de %B %Y
#DateFormatShort=
TimeFormat=%H:%M:%S
