[KCM Locale]
Name=Peru
Name[bg]=Перу
Name[br]=Perou
Name[ca]=Perú
Name[el]=Περού
Name[eo]=Peruo
Name[es]=Perú
Name[et]=Peruu
Name[fr]=Pérou
Name[gl]=Perú
Name[he]=ורפ
Name[is]=Perú
Name[it]=Perù
Name[ja]=ペルー
Name[ko]=페루
Name[lv]=Perū
Name[mk]=Перу
Name[oc]=Pero
Name[pt]=Perú
Name[ru]=Перу
Name[ta]=¦ÀÕ
Name[uk]=Перу
Name[zh_CN.GB2312]=秘鲁
Name[zh_TW.Big5]=祕魯
Region=southamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
CurrencySymbol=S/
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
