[KCM Locale]
Name=Antigua and Barbuda
Name[az]=Antigua və Barbuda
Name[bg]=Антигуа и Барбадос
Name[br]=Antigua ha Barbuda
Name[bs]=Antigua i Barbuda
Name[ca]=Antigua i Barbuda
Name[cs]=Antigua a Barbuda
Name[da]=Antigua og Barbuda
Name[de]=Antigua und Barbuda
Name[el]=Antigua και Barbuda
Name[eo]=Antigvo kaj Barbudo
Name[es]=Antigua y Barbuda
Name[et]=Antigua ja Barbuda
Name[eu]=Antigua eta Barbuda
Name[fi]=Antigua ja Barbados
Name[fr]=Antigua et Barbuda
Name[gl]=Antiga e Barbuda
Name[he]=הדוברבו האוגיטנא
Name[hr]=Antigua i Barbuda
Name[hu]=Antigua és Barbuda
Name[is]=Antigúa og Barbúda
Name[it]=Antigua e Barbuda
Name[ja]=アンティグアバーブーダ
Name[ko]=앤티가 바부다
Name[lt]=Antikva ir Barbuda
Name[lv]=Antigva un Barbudas
Name[mk]=Antigua и Barbuda
Name[mt]=Antigwa u Barbuda
Name[nl]=Antigua en Barbuda
Name[no]=Antigua og Barbuda
Name[no_NY]=Antigua og Barbuda
Name[oc]=Antigua e Barbuda
Name[pl]=Antigua i Barbuda
Name[pt_BR]=Antigua e Barbuda
Name[pt]=Antigua e Barbuda
Name[ru]=Антигуа и Барбадос
Name[sk]=Antigua a Barbuda
Name[sl]=Antigva in Barbuda
Name[sr]=Antigua i Barbuda
Name[sv]=Antigua och Barbuda
Name[ta]=¬ýÊÌÅ¡ & À¡÷Ò¼¡
Name[tr]=Antigua ve Barbuda
Name[uk]=Трінідад та Тобаго
Name[vi]=Antigua và Barbuda 
Name[wa]=Antigua eyèt Barbuda
Name[xh]=Antigua no Barbuda
Name[zh_CN.GB2312]=安地瓜岛和巴布达岛
Name[zh_TW.Big5]=安地卡及巴布達
Region=caribbean
Languages=en_GB,C
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=EC
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[C]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartsMonday=false
