[KCM Locale]
Name=Australia
Name[az]=Avustralya
Name[bg]=Австралия
Name[br]=Aostralia
Name[bs]=Australija
Name[ca]=Austràlia
Name[cs]=Austrálie
Name[da]=Australien
Name[de]=Australien
Name[el]=Αυστραλία
Name[eo]=Aŭstralio
Name[et]=Austraalia
Name[fr]=Australie
Name[he]=הילרטסוא
Name[hr]=Australija
Name[hu]=Ausztrália
Name[is]=Ástralía
Name[ja]=オーストラリア
Name[ko]=오스트레일리아
Name[lt]=Australija
Name[lv]=Austrālija
Name[mi]=Ahitereiria
Name[mk]=Австралија
Name[mt]=Awstralja
Name[nl]=Australië
Name[pt_BR]=Austrália
Name[pt]=Austrália
Name[ru]=Австралия
Name[sk]=Austrália
Name[sl]=Avstralija
Name[sr]=Australija
Name[sv]=Australien
Name[ta]=¬Íò¾¢§ÃÄ¢Â¡
Name[tr]=Avusturalya
Name[uk]=Австралія
Name[vi]=Úc 
Name[xh]=Australiya
Name[zh_CN.GB2312]=澳大利亚
Name[zh_TW.Big5]=澳大利亞
Region=asia
Languages=en_GB,en
DateFormat[en_GB]=%a, %e %b %Y
DateFormat[en]=%a, %e %b %Y
DateFormat[C]=%a, %e %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
