[Desktop Entry]
Type=Service
Name=KDE accessibility tool
Name[az]=KDE yetişmə qabiliyyəti vasitəsi
Name[bg]=Средства за достъп в KDE
Name[ca]=Eina d'accessibilitat KDE
Name[cs]=Nástroj pro zpřístupnění prostředí KDE
Name[da]=KDE adgangsværktøj
Name[de]=KDE-Zugangshilfe
Name[el]=Εργαλείο προσιτότητας KDE
Name[eo]=KDE-ilo por Alirebleco
Name[es]=Herramienta de accesibilidad de KDE
Name[et]=Puuetega inimestele
Name[fi]=Käytettävyystyökalu
Name[fr]=Outil d'accessibilité de KDE
Name[gl]=Ferramenta de accesibilidade de KDE
Name[he]=KDE לש תושיגנה ילכ
Name[hu]=KDE segédeszközök fogyatékosoknak
Name[is]=KDE Aðgengi
Name[it]=Strumento per l'accessibilità di KDE
Name[ja]=KDEアクセス補助ツール
Name[ko]=KDE를 쓰기 쉽게 해주는 도구
Name[lt]=KDE prieinamumo įrankis
Name[lv]=KDE pieejamības rīks
Name[mk]=КДЕ алатка за пристапливост
Name[mt]=Għodda KDE għall-aċċessibbiltà
Name[nl]=KDE Toegankelijkheid
Name[no]=KDE Tilgjengelighetsverktøy
Name[no_NY]=Tilgjengeverktøy for KDE
Name[oc]=Otilh d'accessibilitat KDE
Name[pl]=Ułatwienia dostępu
Name[pt_BR]=Ferramenta de Acessibilidade KDE
Name[pt]=Acessibilidade do KDE
Name[ro]=Utilitar accesibilitate pentru KDE
Name[ru]=Удобство в KDE
Name[sk]=KDE Prístupnosť
Name[sl]=Orodje za dostopnost KDE
Name[sr]=KDE alatka za pristupačnost
Name[sv]=Handikappverktyg för KDE 
Name[ta]=KDE «Ï¸ü ¸ÕÅ¢
Name[th]=เครื่องมือปรับค่าความสามารถในการใช้งาน KDE
Name[tr]=KDE erişilebilirlik aracı
Name[uk]=Утиліта керування доступності KDE
Name[vi]=Công cụ hềEtrợ cho KDE 
Name[xh]=Isixhobo sokunikezela se KDE
Name[zh_CN.GB2312]=KDE 辅助工具
Exec=kaccess
X-DCOP-ServiceType=None
ServiceTypes=Daemon
