[Desktop Entry]
Icon=access
Type=Application
Exec=kcmshell kcmaccess
DocPath=kcontrol/accessibility.html

X-KDE-ModuleType=Library
X-KDE-Library=access
X-KDE-Init=access

Name=Accessibility
Name[az]=Yetişmə Qabiliyyəti
Name[bg]=Достъпност в KDE
Name[br]=Haezadusted
Name[bs]=Pristupačnost
Name[ca]=Accessibilitat
Name[cs]=Zpřístupnění
Name[da]=Tilgængelighed
Name[de]=Zugangshilfen
Name[el]=Προσιτότητα
Name[eo]=Alirebleco
Name[es]=Accesibilidad
Name[et]=Puuetega inimestele
Name[eu]=Sartzen erraztasuna
Name[fi]=Käytettävyys
Name[fr]=Accessibilité
Name[gl]=Accesibilidade
Name[he]=תושיגנ
Name[hr]=Pristupačnost
Name[hu]=Segédeszközök fogyatékosoknak
Name[is]=Aðgengi
Name[it]=Accessibilità
Name[ja]=アクセス補助
Name[ko]=내게 필요한 설정
Name[lt]=Prieinamumas
Name[lv]=Pieejamība
Name[mk]=Пристапливост
Name[mt]=Aċċessibiltà
Name[nl]=Toegankelijkheid
Name[no]=Tilgjengelighet
Name[no_NY]=Tilgjenge
Name[oc]=Accessibilitat
Name[pl]=Dostępność
Name[pt_BR]=Acessibilidade
Name[pt]=Acessibilidade
Name[ro]=Accesibilitate
Name[ru]=Удобство в KDE
Name[sk]=Prístupnosť
Name[sl]=Dostopnost
Name[sr]=Pristupačnost
Name[sv]=Handikappstöd
Name[ta]=«Ï¸ø
Name[th]=ความสามารถในการใช้งาน
Name[tr]=Erişilebilirlik
Name[uk]=Доступність
Name[vi]=HềEtrợ 
Name[wa]=Accessibilité
Name[xh]=Isivumo/Unikezelo
Name[zh_CN.GB2312]=辅助

Comment=Improved accessibility for disabled persons
Comment[az]=Görmə problemi olanlar üçün yetişmə qabiliyyəti seçənəkləri
Comment[bg]=Средства за удобна работа в KDE на хора, със затруднено физическо състояние.
Comment[br]=Haezadusted gwellaet evit tud nammet
Comment[bs]=Bolja pristupačnost za osobe sa manama
Comment[ca]=Accessibilitat millorada per a persones discapacitades
Comment[cs]=Zlepšení přístupnosti pro osoby s postižením
Comment[da]=Forbedret tilgængelighed for handicappede personer
Comment[de]=Verbesserte Benutzbarkeit für behinderte Menschen
Comment[el]=Βελτιωμένη προσιτότητα για άτομα με ειδικές ανάγκες
Comment[eo]=Plibonigita alirebleco por handikapitoj
Comment[es]=Accesibilidad mejorada para personas discapacitadas
Comment[et]=Puuetega inimestele mõeldud seadistused
Comment[fi]=Käyttöä helpottavia asetuksia
Comment[fr]=Accessibilité améliorée pour les personnes handicapées
Comment[gl]=Accesibilidade mellorada para persoas con discapacidades
Comment[he]=תולבגמ םע םישנא רובע תרפושמ תושיגנ
Comment[hr]=Bolja pristupačnost za osobe sa manama
Comment[hu]=A kezelést elősegítő eszközök fogyatékosoknak
Comment[is]=Endurbætt aðgengi fyrir þá sem þurfa
Comment[it]=Accessibilità migliorata per le persone disabili
Comment[ja]=障害者の為のアクセス改善
Comment[ko]=몸이 불편한 사람을 위해 더 편한 환경을 만들 수 있도록 도아줍니다
Comment[lt]=Pagerintas prieinamumas neįgaliems asmenims
Comment[lv]=Uzlabota pieejamība invalīdiem
Comment[mk]=Подобрена пристапливост за луѓе со хендикеп
Comment[mt]=Aċċessibbiltà aħjar għal persuni b'diżabilità
Comment[nl]=verbeterde toegankelijkheid voor gehandicapte personen
Comment[no]=Øker tilgjengeligheten for funksjonshemmede personer
Comment[no_NY]=Forbetra tilgjenge for hørsels-, syns og rørslehemma personar
Comment[oc]=Accessibilitat amilhorada per a persones discapacitades
Comment[pl]=Poprawiona dostępność dla osób niepełnosprawnych
Comment[pt_BR]=Acessibilidade melhorada para pessoas com deficiência.
Comment[pt]=Acessibilidade melhorada para pessoas com deficiências
Comment[ro]=Accesibilitate crescută pentru persoane cu handicap
Comment[ru]=средства удобной работы в KDE для людей, у которых в силу их физического состояния есть какие-либо затруднения в работе
Comment[sk]=Zlepšenie prístupnosti pre zakázaných užívateľov
Comment[sl]=Izboljšana dostopnost za prizadete osebe
Comment[sr]=Poboljšana dostupnost hendikepiranim osobama
Comment[sv]=Förbättrad tillgänglighet för handikappade personer
Comment[ta]=ÒÄý À¡¾¢ì¸ôÀð§¼¡ÕìÌ «Ï¸¨Ä Óý§ÉüÚõ
Comment[tr]=Görme sorunu olanlar için erişilebilirlik seçenekleri
Comment[uk]=Покращена зручність для інвалідів
Comment[xh]=Unikezelo olunyuselweyo lwabantu abakhubazekileyo
Comment[zh_CN.GB2312]=方便残疾人使用

Keywords=access,accessibility,deaf,impaired,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad
Keywords[az]=yetişmə,yetişmə qabiliyyəti,kar,əlil,çən,eşiidilə bilən çən,görünür çən,Klaviatura,düymələr,yapışqan düymələr,hoppanan düymələr,yavaş düymələr,siçan yönləndirməsi,num pad
Keywords[ca]=accés,accessibilitat,sord,disminuït,timbre,timbre audible,timbre visible,Teclat,tecles,tecles apegaloses,tecles rebotadores,tecles lentes,navegació del ratolí,teclat numèric
Keywords[cs]=Zpřístupnění,Hluchý,Slepý,Postižený,Zvonek,Slyšitelný zvonek,Viditelný zvonek,Klávesnice,Pomalé klávesy,Navigace myši,Num pad
Keywords[da]=adgang,tilgængelighed,døv,handicappet,klokke,hørbar klokke,synlig klokke,Tastatur,taster,klæbrige taster,bounce taster,langsomme taster,musenavigering,num tast.
Keywords[de]=Behinderung,Maussteuerung,Signale,Tastatur,Tasten,Taubheit,Verlangsamte Tasten,Zahlenblock,Zugang,Zugangshilfen
Keywords[el]=πρόσβαση,προσιτότητα,κωφός,impaired,μεγαφωνάκι,ακουστό μεγαφωνάκι,ορατό μεγαφωνάκι,Πληκτρολόγιο,πλήκτρα,κολλημένα πλήκτρα,bounce keys,αργά πλήκτρα,πλοήγηση ποντικιού,αριθμητικό πληκτρολόγιο
Keywords[eo]=aliro,handikapito,malhelpito,pepo,videbla pepo,klavaro,klavoj,klavfikso, musnavigado,nombroklavaro
Keywords[es]=acceso,accesibilidad,sordo,disminuido,timbre,timbre audible,timbre visible,Teclado,teclas,teclas pegajosas,teclas de golpe,teclas lentas,navegación del ratón,teclado numérico
Keywords[et]=juurdepääs,kurt,puue,puudega,signaal,kuuldav signaal,visuaalne signaal,klaviatuur,klahvid,kleepuvad klahvid,põrkavad klahvid,aeglased klahvid,hiire liigutamine,numbriklaviatuur
Keywords[fi]=käytettävyys,kuuro,vammautunut,virheilmoitus,virheääni,näkyvä virheilmoitus,näppäimistö,näppäimet,sticky näppäimet,bounce näppäimet,hitaat näppäimet,hiirinavigointi,numeronäppäimistö
Keywords[fr]=accès,accessibilité,surdité,sourd,cloche,son,cloche visuelle,cloche sonore,clavier,touches,souris,touches lentes,touches rémanentes,cloche auditive,touches répétées,répétition des touches,auto-maintien des touches,maintien des touches,navigation à la souris,pointeur de souris,émulation du clavier,clavier numérique
Keywords[he]=םירפסמ ישקמ,רבכע טווינ,םייטיא םישקמ,םיצפקומ םישקמ,םיקיבד םישקמ,םישקמ,םישקמ חול,יתוזח ןומעפ,עמשנ ןומעפ,ןומעפ,םייוקל,םישריח,תושיגנ,השיג
Keywords[hu]=hozzáférés,segédeszközök,süket,fogyatékos,csengő,hallható csengetés,látható csengetés,billentyűzet,billentyűk,ragadós billentyűk,visszaugró billentyűk,lassú billentyűk,egérkezelés,numerikus billentyűzet
Keywords[is]=aðgangur,aðgengi,heyrnarlaus,fatlaður,píp,bjalla,sjáanleg bjalla,lyklaborð,takkar,músarnotkun,talnaborð
Keywords[it]=accesso,accessibilità,non udenti,portatori di handycap,campanella,campanella udibile,campanella visibile,tastiera,tasti,tasti appiccicosi,ripetizione tasti,tasti lenti,navigazione mouse,tastierino numerico
Keywords[ja]=アクセス,アクセス補助,聾唖,障害,ベル,音声ベル,視覚ベル,キーボート,キー,スティッキーキー,バウンスキー,スローキー,マウス補助,数字パッド
Keywords[ko]=access,accessibility,deaf,impaired,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad,장애인,종,삑,벨,글쇠판,키보드,글쇠,키,마우스 조작,내게 필요한,접근
Keywords[lt]=prieinamumas,kurčias,kurčnebylys,neįgalus,skambutis,girdimas,matomas skambutis,klaviatūra,mygtukai,prisegti mygtukai,lėti mygtukai,navigacija su pele
Keywords[lv]=pieeja,pieejamība,kurls,vājināts,zvans,dzirdams zvans,redzams zvans,Tastatūra,taustiņi,salīmētie taustiņi,elastīgie taustiņi,lēnie taustiņi,peles navigācija,num pads
Keywords[mk]=пристап,пристапливост,глуви,неми,тастатура,глушец,access,accessibility,deaf,impaired,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad
Keywords[mt]=access,accessibility,aċċessibbiltà,deaf,trux,truxa,torox,impaired,ħadikappat,bell,audible bell,visible bell,Keyboard,keys,sticky keys,bounce keys,slow keys,mouse navigation,num pad
Keywords[nl]=toegang,toegankelijkheid,doof,handicap, gehandicapt,bel,signalering,zichtbare meldingen,Keyboard,toetsenbord,keys,toetsen,vastgeplakte toetsen,toetsenaanslag,muisnavigatie,num pad,nummerieke klavier
Keywords[no]=tilgang,tilgjengelighet,dv,handikappet,lyd,signal,bjelle,synlig signal,tastatur,taster,faste modifikasjonstaster,trege taster,filtertaster,musnavigering,numerisk tastatur
Keywords[no_NY]=tilgang,tilgjenge,døv,handikappa,lyd,signal,bjelle,synleg signal,tastatur,tastar,faste modifikasjonstastar,trege tastar,filtertastar,musnavigering,numerisk tastatur
Keywords[pl]=dostęp,dostępność,głuchy,upośledzony,dzwonek,słyszalny dzwonek widzialny dzwonek,klawiatura,klawisze,klejące klawisze,odbijanie klawiszy,powolne klawisze,nawigacja myszką,klawiatura numeryczna
Keywords[pt_BR]=acesso,acessibilidade,surdo,deficiente,campainha,audível,campaínha visível,teclado,teclas,teclas persistentes,teclas repetidas,bounce keys,debouncer,teclas lentas,navegação do mouse,teclado numérico
Keywords[pt]=acesso,acessibilidade,surdo,deficiente,campainha,campainha audível, campainha visível,teclado,teclas,teclas 'sticky',teclas 'bounce',teclas lentas,navegação com o rato,num pad
Keywords[ro]=acces,accesibilitate,surd,handicap,difuzor,difuzor audibil,sunet vizibil,tastatură,taste,taste comutator,taste fără repetiţie,taste lente,navigare mouse,tastatura numerică
Keywords[sk]=prístup,prístupnosť,hluchý,postihnutý,zvonček,hlasný zvonček,viditeľný zvonček, klávesnica,klávesy,lepivé klávesy,odrážané klávesy,pomalé klávesy,navigácia myšou,číslice
Keywords[sl]=dostop,dostopnost,gluh,gluhota,prizadetost,zvonec,vidni zvonec,zvonček,tipkovnica,tipke,lepljive tipke,počasne tipke,navigacija miške,numerična tipkovnica,invalidnost,invalid
Keywords[sv]=tillgång,tillgänglighet,döv,handikappad,signal,ljudsignal,visuell signal,Tangentbord,tangenter,klistriga tangenter,studsande tangenter,långsamma tangenter,musnavigering,numeriskt tangentbord
Keywords[tr]=erişim,erişilebilirlik,sağır,özürlü,zil,duyulabilir zil,görünür zil,Klavye,tuşlar,yapışkan tuşlar,zıplayan tuşlar,yavaş tuşlar,fare yönlendirmesi,num pad
Keywords[uk]=доступ,доступність,глухий,каліка,дзвінок,аудіо-дзвінок,відео-дзвінок,клавіатура,клавіши,липкі клавіши,відпружні клавіши,повільні клавіши,навігація миші,цифрова клавіатура
Keywords[xh]=nikezela,unikezelo,isithulu,yonakalisiwe,intsimbi,intsimbi evakalayo,intsimbi ebonakalayo,ibhodi yezitshixo,izitshixo,izitshixo ezilungisiweyo,izitshixo ezinengxolo,izitshixo ezicothayo,indlela yokubeka imouse endaweni,inkatha yenum
