[Desktop Entry]
Name=KDE 2
Comment=K Desktop Environment 2.2
Exec=startkde2
TryExec=startkde2
Type=Application
X-LightDM-DesktopName=kde2
DesktopNames=kde2
Keywords=desktop
