[Desktop Entry]
Exec=kcmshell energy
Icon=energy_star
DocPath=kcontrol/energy.html
Type=Application
Terminal=0

X-KDE-ModuleType=Library
X-KDE-Library=energy
X-KDE-FactoryName=energy
X-KDE-Init=energy

Name=Energy
Name[az]=Energiya
Name[bg]=Енергия
Name[br]=Gremm
Name[bs]=Štednja energije
Name[ca]=Energia
Name[cs]=Energie
Name[da]=Energi
Name[de]=Energie
Name[el]=Ενέργεια
Name[eo]=Ekrano
Name[es]=Energía
Name[et]=Energia
Name[eu]=Energia
Name[fi]=Virransäästö
Name[fr]=Économie d'énergie
Name[gl]=Enerxía
Name[he]=היגרנא
Name[hr]=Štednja energije
Name[hu]=Energiatakarékosság
Name[is]=Orka
Name[it]=Energia
Name[ja]=電源
Name[ko]=전원 관리
Name[lt]=Energija
Name[lv]=Enerģija
Name[mk]=Енергија
Name[mt]=Konsum
Name[nl]=Energie
Name[no]=Energi
Name[no_NY]=Energi
Name[oc]=Energia
Name[pl]=Zasilanie
Name[pt_BR]=Energia
Name[pt]=Energia
Name[ro]=Energie
Name[ru]=Энергосбережение
Name[sk]=Energia
Name[sl]=Energija
Name[sr]=Energija
Name[sv]=Energi
Name[ta]=ºì¾¢
Name[th]=พลังงาน
Name[tr]=Enerji
Name[uk]=Живлення
Name[vi]=Năng lượng 
Name[xh]=Amandla
Name[zh_CN.GB2312]=能源

Comment=General energy settings
Comment[az]=Ümumi eneji qurğuları
Comment[bg]=Настройка и контрол за енергията на вашия компютър
Comment[br]=Kefluniadur hollek ar gremm
Comment[bs]=Postavke za uštedu energije
Comment[ca]=Arranjaments generals d'energia
Comment[cs]=Obecná nastavení úspory energie 
Comment[da]=Generel energiindstilling
Comment[de]=Allgemeine Energie-Einstellungen
Comment[el]=Γενικές ρυθμίσεις ενέργειας
Comment[eo]=Ĝenerala energiagordo
Comment[es]=Opciones generales de la energía
Comment[et]=Üldine energiasäästu seadistamine
Comment[eu]=Energia konfigurazio orokorra
Comment[fi]=Yleiset virransäästöasetukset
Comment[fr]=Configuration de l'économie d'énergie
Comment[gl]=Configuración xeral da enerxía
Comment[he]=תויללכ היגרנא תורדגה
Comment[hr]=Postavke za uštedu energije
Comment[hu]=Általános energiatakarékossági beállítások
Comment[is]=Almennar orkustillingar
Comment[it]=Impostazioni generali dell'energia
Comment[ja]=電源の設定
Comment[ko]=일반적인 전원 설정
Comment[lt]=Bendri energijos parametrai
Comment[lv]=Vispārēji enerģijas uzstādījumi
Comment[mk]=Општи поставки за штедење на енергијата
Comment[mt]=Konfigurazzjoni tal-konsum ta' elettriku
Comment[nl]=algemene energie-instellingen
Comment[no]=Generelle energi-innstillinger
Comment[no_NY]=Generelle energiinnstillingar
Comment[oc]=Arranjaments generals d'energia
Comment[pl]=Ustawienia zasilania
Comment[pt_BR]=Configurações gerais de energia
Comment[pt]=Configuração do consumo de energia
Comment[ro]=Configurează consumul de energie
Comment[ru]=Общие настройки энергосбережения
Comment[sk]=Všeobecné nastavenie napájania
Comment[sl]=Splošne energetske nastavitve
Comment[sr]=Opšta podešavanja energije
Comment[sv]=Allmänna energiinställningar
Comment[ta]=¦À¡Ðî ºì¾¢ «¨ÁôÒ¸û
Comment[th]=ตั้งค่าพลังงานทั่วไป
Comment[tr]=Genel eneji ayarları
Comment[uk]=Загальні параметри живлення
Comment[vi]=Các thiết lập chung vềEnăng lượng 
Comment[xh]=Izicwangciso zamandla ngokubanzi
Comment[zh_CN.GB2312]=一般能源设置

Keywords=energy,saver,apm,acpi,timeout,blanking,stand by,suspend,Power
Keywords[az]=enerji,apm,acpi,zamanaşımı,boşaltma,güç,karartma,ekran
Keywords[ca]=energia,salvapantalles,apm,acpi,expiració,en blanc,en espera,suspès,Corrent
Keywords[cs]=Energie,Úspora,APM,ACPI,Časový limit,Vypnutí,Napájení,Šetřič,Spořič
Keywords[da]=energi,spare,apm,acpi,tidsudløb,gør blank,standby,suspendér,strøm
Keywords[de]=Energie,Sparen,APM,ACPI,Zeitüberlauf,Timeout,Ausblenden,Bereitschaft,Stand-by-Modus
Keywords[el]=ενέργεια, εξοικονόμηση,apm,acpi,χρονικό όριο,blanking,αναμονή,παύση,Ισχύς
Keywords[eo]=energio,sekurigo,APM,ACPI,tempolimo,ekrano,kurteno,nigrigo,dormigo,malŝalto
Keywords[es]=energía,ahorro,APM,ACPI,tiempo de expiración,apagar monitor,modo de espera,suspender
Keywords[et]=energia,säästja,apm,acpi,taimaut,energiasääst,passiivne
Keywords[fi]=energia,säästö,apm,acpi,aikavalvonta,sammutus,valmiustila,teho
Keywords[fr]=énergie,économie,apm,acpi,suspension,suspendre,tension,éteindre,extinction,veille,mise en veille,alimentation
Keywords[he]=למשח,הנתמה,הלפאה,היהשה,ACPI,APM,ןוכסיח,היגרנא
Keywords[hu]=energia,kímélő,apm,acpi,időtúllépés,képernyőkioltás,készenlét,felfüggesztés,tápfeszültség
Keywords[is]=orka,sparnaður,svæfing,apm,slökkva,svæfa,kveikja
Keywords[it]=energia,risparmio,apm,acpi,timeout,blanking,stand by,sospensione,corrente
Keywords[ja]=電源,節約,apm,acpi,タイムアウト,ブランク,スタンバイ,サスペンド,パワー
Keywords[ko]=energy,saver,apm,acpi,timeout,blanking,stand by,suspend,Power,전력,파워,에너지,전기,절약
Keywords[lt]=energija,saugojimas,apm,acpi,pertrauka,gesinimas,stabdymas,pristabdymas,Įtampa
Keywords[lv]=enerģija,glabātājs,apm,acpi,taimauts,tukšs,gaidīt,izslēgt,Barošana
Keywords[nl]=energie,besparing,apm,acpi,tijdslimiet,slaapstand,stand-by,suspend,power,wachtstand,laptop,beeldscherm
Keywords[no]=energi,sparer,apm,acpi,tidsgrense,blanking
Keywords[no_NY]=energi,energisparing,sparing,apm,acpi,tidsgrense,tom skjerm,standby,suspend,straum
Keywords[pl]=energia,zachowywanie,apm,acpi,limit czasu,wygaszanie,wyłączanie,zasypianie,zasilanie
Keywords[pt_BR]=energia,poupar,APM,ACPI,apagamento,tempo máximo,stand by,suspender,força
Keywords[pt]=energia,poupança,apm,acpi,temporizador,stand by,suspender,alimentação
Keywords[ro]=energie,salvare,apm,acpi,temporizare,stinge,stand by,supendare,reţea electrică
Keywords[sk]=energia,apm,acpi,vypnúť,timeout,zhasnúť,suspend,stand by,šetrič
Keywords[sl]=energija,ohranjevalnik,varčevalnik,apm,acpi,suspend,potek,zatemnitev
Keywords[sv]=energi,spar,apm,acpi,tidsgräns,viloläge,vänteläge,Ström
Keywords[tr]=enerji,apm,acpi,zamanaşımı,boşaltma,güç,karartma,ekran
Keywords[uk]=енергія,живлення,зберігач,APM,ACPI, таймаут,timeout,гасіння,режим чергування,призупинення
Keywords[vi]=năng lượng,tiết kiệm,energy,saver,apm,acpi,timeout,blanking,stand by,suspend,Power
Keywords[xh]=amandla,umgcini,apm,acpi,ixesha lokuphuma,engenambhalo,umphumzi,gxotha,Amandla
Keywords[zh_CN.GB2312]=energy,saver,apm,acpi,timeout,blanking,stand by,suspend,Power,能源,节省,超时,黑屏,待机,休眠,电源
