[Desktop Entry]
Type=Service
Exec=blahfoo
Name=Print Management Tool
Name[az]=Çap Edici İdarə Vasitəsi
Name[cs]=Správa tiskáren
Name[da]=Printhåndteringsværktøj
Name[de]=Druckerverwaltung
Name[eo]=Presadministrilo
Name[es]=Herramienta de administración de impresión
Name[et]=Trükkimise seadistused
Name[fi]=Tulostuksenhallinta
Name[fr]=Gestionnaire d'impression
Name[he]=הספדה לוהינ ילכ
Name[hu]=Nyomtatáskezelő eszköz
Name[is]=Prentunartól
Name[it]=Gestione stampa
Name[ja]=印刷マネージメントツール
Name[ko]=인쇄 관리 도구
Name[lt]=Spausdinimo valdymo įrankis
Name[lv]=Drukas Menedžmenta Rīks
Name[mt]=Għodda għall-immaniġġjar tal-printing
Name[nl]=Printerbeheer
Name[no]=Verktøy for utskriftsbehandling
Name[no_NY]=Utskriftsbehandling
Name[pl]=Zarządzanie wydrukiem
Name[pt_BR]=Ferramenta de Gerenciamento de Impressões
Name[pt]=Ferramenta de Gestão de Impressões
Name[ru]=Управление печатью
Name[sk]=Nástroj na správu tlače
Name[sl]=Orodje za upravljanje tiskanja
Name[sr]=Alat za upravljanje štampom
Name[sv]=Verktyg för utskriftshantering
Name[ta]=«îÍ §ÁÄ¡ñ¨Áì ¸ÕÅ¢
Name[tr]=Yazdırma Yönetim Aracı
Name[uk]=Засіб керування друком
Name[xh]=Shicilela isixhobo sabaPhathi
Name[zh_CN.GB2312]=打印管理工具
MimeType=print/manager
ServiceTypes=Browser/View,KParts/ReadOnlyPart
X-KDE-Library=libkdeprint_part
Icon=printmgr
InitialPreference=6
