# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kpersonalizer -caption "%c" %i %m  
Icon=kpersonalizer.png
MiniIcon=kpersonalizer.png
Comment=
Terminal=0
Name=Desktop Settings Wizard
Name[az]=Qarışdırıcı Qurğularını Yenidən Yükle
Name[cs]=Průvodce nastavení pracovní plochy
Name[da]=Skrivebord opsætningstrold
Name[de]=Einrichtungs-Assistent
Name[el]=Μάγος Ρυθμίσεων Επ. Εργασίας
Name[eo]=Asistilo por la tabulagordo
Name[es]=Asistente para las opciones del escritorio
Name[et]=Töölaua seadistuste abimees
Name[fi]=Työpöydän asetusten ohjattu toiminto
Name[fr]=Assistant de configuration du bureau
Name[he]=הדובעה ןחלוש תורדגה ףשא
Name[hu]=KDE beállításvarázsló
Name[is]=Skjáborðsálfurinn (stillingar)
Name[it]=Wizard del Desktop
Name[ja]=デスクトップ設定ウィザード
Name[ko]=일터 설정 마법사
Name[lt]=Darbastalio nustatymų asistentas
Name[lv]=Darbvirsmas Uzstādījumu Meistars
Name[mt]=Saħħar għas-setings tad-desktop
Name[nl]=Desktopinstellingen-assistent
Name[no]=Veiviser for skrivebordsinnstillinger
Name[no_NY]=Vegvisar for skrivebordsoppsett
Name[pl]=Kreator ustawień środowiska
Name[pt_BR]=Assistente de Configuração da Área de Trabalho
Name[pt]=Assistente de Configuração do Ecrã
Name[ru]=Мастер настройки рабочего стола
Name[sk]=Sprievodca nastavením plochy
Name[sl]=Čarovnik za nastavitve namizja
Name[sr]=Čarobnjak za podešavanje radne površine
Name[sv]=Guide för skrivbordsinställningar
Name[ta]=§Á¨º «¨ÁôÒ Á¡Â¡Å¢
Name[tr]=Masaüstü Ayarları Sihirbazı
Name[uk]=Майстер параметрів стільниці
Name[xh]=iWizard yezicwangciso zeDesktop
Name[zh_CN.GB2312]=桌面设置向导
X-KDE-autostart-after=kdesktop
X-KDE-autostart-condition=kpersonalizerrc:General:FirstLogin:true
