[Desktop Entry]
Exec=kspace.kss
Icon=kscreensaver
Type=Application
Actions=Setup;InWindow;Root
Name=Space (GL)
Name[az]=Fəza (GL)
Name[bg]=Пространство (GL)
Name[br]=Egor (GL)
Name[bs]=Svemir (GL)
Name[ca]=Espai (GL)
Name[cs]=Vesmír (GL)
Name[da]=Rum (GL)
Name[el]=Διάστημα (GL)
Name[eo]=Universo (graf. bibl.)
Name[es]=Espacio (GL)
Name[et]=Kosmos (GL)
Name[eu]=Espazioa (GL)
Name[fi]=Avaruus (GL)
Name[fr]=Espace (GL)
Name[gl]=Espacio (GL)
Name[he]=(GL) ללח
Name[hr]=Svemir (GL)
Name[hu]=Világűr (GL)
Name[is]=Geimur (GL)
Name[it]=Spazio (GL)
Name[ja]=宇宙 (GL)
Name[ko]=공간 (GL)
Name[lt]=Visata (GL)
Name[lv]=Kosmoss (GL)
Name[mi]=Ätea (GL)
Name[mk]=Вселена (GL)
Name[mt]=Spazju (GL)
Name[nl]=Ruimte (GL)
Name[no]=Rom (GL)
Name[no_NY]=Rom (GL)
Name[oc]=Espai (GL)
Name[pl]=Przestrzeń (GL)
Name[pt_BR]=Espaço (GL)
Name[pt]=Espaço (GL)
Name[ru]=Пространство (GL)
Name[sk]=Vesmír (GL)
Name[sl]=Vesolje (GL)
Name[sv]=Rymden (GL)
Name[ta]=Å¢ñ¦ÅÇ¢ (GL)
Name[th]=อวกาศ (GL)
Name[tr]=Uzay (GL)
Name[uk]=Всесвіт (GL)
Name[vi]=Không gian(GL) 
Name[xh]=Isithuba (GL)
Name[zh_CN.GB2312]=空间 (GL)

[Desktop Action Setup]
Exec=kspace.kss -setup
Name=Setup...
Name[az]=Qurulum...
Name[bg]=Настройки...
Name[br]=Kefluniadur...
Name[bs]=Postavke...
Name[ca]=Configuració...
Name[cs]=Nastavení...
Name[da]=Opsætning...
Name[de]=Einrichtung...
Name[el]=Ρύθμιση...
Name[eo]=Agordo...
Name[es]=Configuración...
Name[et]=Seadistused...
Name[eu]=Konfigurazioa...
Name[fi]=Asetukset...
Name[fr]=Configuration...
Name[gl]=Configuración...
Name[he]=...תורדגה
Name[hr]=Postavke...
Name[hu]=Beállítás...
Name[is]=Stillingar...
Name[it]=Impostazioni...
Name[ja]=セットアップ...
Name[ko]=설정...
Name[lt]=Nustatymas...
Name[lv]=Uzstādīšana...
Name[mi]=Mea Whiriwhiri...
Name[mk]=Опции...
Name[nl]=Instellingen...
Name[no]=Oppsett...
Name[no_NY]=Oppsett ...
Name[oc]=Configuracion...
Name[pl]=Ustawienia...
Name[pt_BR]=Configuração...
Name[pt]=Configurar...
Name[ro]=Opţiuni...
Name[ru]=Настройки...
Name[sk]=Nastavenie...
Name[sl]=Nastavljanje...
Name[sv]=Inställningar...
Name[ta]=«¨ÁôÒ...
Name[th]=ติดตั้ง...
Name[tr]=Kurulum...
Name[uk]=Встановити...
Name[vi]=Cài đặt... 
Name[wa]=Apontyî...
Name[xh]=Iyacwangciswa...
Name[zh_CN.GB2312]=设置...
Icon=kscreensaver
 
[Desktop Action InWindow]
Exec=kspace.kss -window-id %w
Name=Display in specified window
Name[az]=Bİldirilən pəncərədə göstər
Name[bg]=Изображение в зададен прозорец
Name[br]=Diskwel er prenestr spisaet
Name[bs]=Prikaži u navedenom prozoru
Name[ca]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
Name[da]=Visning i angivet vindue
Name[de]=In vorgegebenem Fenster anzeigen
Name[el]=Προβολή στο καθορισμένο παράθυρο
Name[eo]=Montru en indikita fenestro
Name[es]=Mostrar en la ventana especificada
Name[et]=Määratud aknas näitamine
Name[eu]=Zehaztutako lehioan erakutsi
Name[fi]=Näytä määrätyssä ikkunassa
Name[fr]=Affichage dans la fenêtre spécifiée
Name[gl]=Mostrar na fiestra especificada
Name[he]=ןייוצמ ןולחב גצה
Name[hr]=Prikaži u navedenom prozoru
Name[hu]=Megjelenítés a megadott ablakban
Name[is]=Birta í völdum glugga
Name[it]=Mostra nella finestra specificata
Name[ja]=特定のウィンドウで表示
Name[ko]=한 창에 보여줌
Name[lt]=Rodyti specialiame lange
Name[lv]=Rādīt norādītajā logā
Name[mk]=Приказ во избран прозорец
Name[mt]=Uri f'window speċifika
Name[nl]=In een gedefinieerd venster weergeven
Name[no]=Vis i det oppgitte vinduet
Name[no_NY]=Vis i oppgitt vindauge
Name[oc]=Monstra dens la finestra especificada
Name[pl]=Wyświetl w zadanym oknie
Name[pt_BR]=Mostrar em janela especificada
Name[pt]=Mostrar na janela especificada
Name[ro]=Afişează în fereastra specificată
Name[ru]=Отображать в указанном окне
Name[sk]=Zobraziť v zadanom okne
Name[sl]=Prikaz v določenemu oknu
Name[sr]=Prikaži u zadatom prozoru
Name[sv]=Visa i angivet fönster
Name[ta]=ÌÈ¢ò¾ º¡ÇÃò¾¢ü ¸¡ðÎ
Name[th]=แสดงในหน้าต่างที่กำหนด
Name[tr]=Belirtilen pencerede göster
Name[uk]=Відобразити у вказаному вікні
Name[vi]=Hiêển thềEcửa sềEcụ thềE
Name[xh]=Bonisa kwi window ekhankanyiweyo
Name[zh_CN.GB2312]=在指定的窗口中显示
NoDisplay=true
 
[Desktop Action Root]
Exec=kspace.kss -root
Name=Display in root window
Name[az]=Kök pəncərədə göstər
Name[bg]=Изображение в корневия прозорец
Name[bs]=Prikaži u korijenskom prozoru
Name[ca]=Mostra a la finestra arrel
Name[cs]=Zobrazit na pozadí plochy
Name[da]=Visning i root vindue
Name[de]=In Hintergrundfenster anzeigen
Name[el]=Προβολή στο βασικό παράθυρο
Name[eo]=Montru en radika fenestro
Name[es]=Mostrar en la ventana raíz
Name[et]=Root aknas näitamine
Name[eu]=Erro lehioan erakutsi
Name[fi]=Näytä root-ikkunassa
Name[fr]=Affichage dans la fenêtre racine
Name[gl]=Mostrar na fiestra de fondo
Name[he]=שרושה ןולחב גצה
Name[hr]=Prikaži u korijenskom prozoru
Name[hu]=Megjelenítés a root ablakban
Name[is]=Birta í bakgrunni skjáborðs
Name[it]=Mostra sullo sfondo
Name[ja]=ルートウィンドウで表示
Name[ko]=전체 화면에 보여줌
Name[lt]=Rodyti root lange
Name[lv]=Rādīt saknes logā
Name[mk]=Приказ на работната површина
Name[mt]=Uri fil-window ewlenija
Name[nl]=In hoofdvenster weergeven
Name[no]=Vis i bunnvinduet
Name[no_NY]=Vis i rotvindauget
Name[oc]=Monstra dens la finestra arrel
Name[pl]=Wyświetl w oknie pierwotnym
Name[pt_BR]=Mostrar na janela-raiz
Name[pt]=Mostrar na janela de fundo
Name[ro]=Afişează în fereastra root
Name[ru]=Отображать в корневом окне
Name[sk]=Zobraziť v koreňovom okne
Name[sl]=Prikaz v korenskem oknu
Name[sr]=Prikaži u glavnom (root) prozoru 
Name[sv]=Visa i rotfönstret
Name[ta]=§Å÷î º¡ÇÃò¾¢ü ¸¡ðÎ
Name[th]=แสดงในหน้าต่างหลัก
Name[tr]=Kök pencerede göster
Name[uk]=Відобразити на тлі екрана
Name[vi]=Hiển thềEcửa sềEcủa root 
Name[xh]=Bonisa kwingcambu ye window
Name[zh_CN.GB2312]=在根窗口中显示
NoDisplay=true
