[KCM Locale]
Name=Spain
Name[az]=İspaniya
Name[bg]=Испания
Name[br]=Spagn
Name[bs]=španjolska
Name[ca]=Espanya
Name[cs]=Španělsko
Name[da]=Spanien
Name[de]=Spanien
Name[el]=Ισπανία
Name[eo]=Hispanio
Name[es]=España
Name[et]=Hispaania
Name[eu]=Espainia
Name[fi]=Espanja
Name[fr]=Espagne
Name[gl]=España
Name[he]=דרפס
Name[hr]=španjolska
Name[hu]=Spanyolország
Name[is]=Spánn
Name[it]=Spagna
Name[ja]=スペイン
Name[ko]=스페인
Name[lt]=Ispanija
Name[lv]=Spānija
Name[mi]=Peina
Name[mk]=Шпанија
Name[mt]=Spanja
Name[nl]=Spanje
Name[no]=Spania
Name[no_NY]=Spania
Name[oc]=Espanha
Name[pl]=Hiszpania
Name[pt_BR]=Espanha
Name[pt]=Espanha
Name[ru]=Испания
Name[sk]=Španielsko
Name[sl]=Španija
Name[sr]=Španija
Name[sv]=Spanien
Name[ta]=Í¦ÀÂ¢ý
Name[tr]=İspanya
Name[uk]=Іспанія
Name[vi]=Tây Ban Nha 
Name[zh_CN.GB2312]=西班牙
Name[zh_TW.Big5]=西班牙
Region=westeurope
Languages=es,ca,eu,gl
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=Pts
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=0
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eu]=%a, %Yeko %bren %da
DareFormat[gl]=%A, %e de %B de %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
