[KCM Locale]
Name=China
Name[az]=Çin
Name[bg]=Китай
Name[br]=Sina
Name[bs]=Kina
Name[ca]=Xina
Name[cs]=Čína
Name[da]=Kina
Name[el]=Κίνα
Name[eo]=Ĉinujo
Name[et]=Hiina
Name[eu]=Txina
Name[fi]=Kiina
Name[fr]=Chine
Name[he]=ןיס
Name[hr]=Kina
Name[hu]=Kína
Name[is]=Kína
Name[it]=Cina
Name[ja]=中国
Name[ko]=중국
Name[lt]=Kinija
Name[lv]=Ķīna
Name[mk]=Кина
Name[mt]=Ċina
Name[no]=Kina
Name[no_NY]=Kina
Name[oc]=Xina
Name[pl]=Chiny
Name[ru]=Китай
Name[sk]=Čína
Name[sl]=Kitajska
Name[sr]=Kina
Name[sv]=Kina
Name[ta]=º£É¡
Name[tr]=Çin
Name[uk]=Китай
Name[vi]=Trung Quốc 
Name[xh]=Tshayina
Name[zh_CN.GB2312]=中国
Name[zh_TW.Big5]=中國
Region=asia
Languages=zh_CN.GB2312
DecimalSymbol=.
ThousandsSeparator=,
# will add that later
CurrencySymbol=
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=4
# will add that later
#DateFormat[de]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
