# KDE Config File
[Desktop Entry]
MimeType=application/x-ktheme
Comment=KDE Theme
Comment[az]=KDE Örtüləri
Comment[bg]=Теми на KDE
Comment[cs]=KDE motiv
Comment[da]=KDE tema
Comment[de]=KDE-Design
Comment[el]=Θέμα KDE
Comment[eo]=KDE-Etoso
Comment[es]=Tema de KDE
Comment[et]=KDE teema
Comment[fi]=KDE-teema
Comment[fr]=Thème pour KDE
Comment[he]=KDE לש הכרע
Comment[hu]=KDE-téma
Comment[is]=KDE þemu
Comment[it]=Tema KDE
Comment[ja]=KDEテーマ
Comment[ko]=KDE 테마
Comment[lt]=KDE Tema
Comment[lv]=KDE Tēma
Comment[mt]=Tema KDE
Comment[nl]=KDE-thema
Comment[no]=KDE temaer
Comment[no_NY]=KDE-tema
Comment[pl]=Motywy KDE
Comment[pt_BR]=Tema KDE
Comment[pt]=Temas KDE
Comment[ru]=темы KDE
Comment[sk]=KDE Témy
Comment[sl]=Tema za KDE
Comment[sr]=KDE tema
Comment[sv]=KDE-tema
Comment[ta]=KDE ¯Õ¸Õ
Comment[th]=ธีมของ KDE
Comment[tr]=KDE Temaları
Comment[uk]=Тема KDE
Comment[xh]=Umxholo wokuxoxwa we KDE
Comment[zh_CN.GB2312]=KDE 主题
Icon=ktheme
Type=MimeType
Patterns=*.ktheme;
X-KDE-AutoEmbed=false
