[KCM Locale]
Name=Belgium
Name[az]=Belçika
Name[bg]=Белгия
Name[br]=Belgia
Name[bs]=Belgija
Name[ca]=Bèlgica
Name[cs]=Belgie
Name[da]=Belgien
Name[de]=Belgien
Name[el]=Βέλγιο
Name[eo]=Belgio
Name[es]=Bélgica
Name[et]=Belgia
Name[eu]=Belgika
Name[fi]=Belgia
Name[fr]=Belgique
Name[gl]=Bélxica
Name[he]=היגלב
Name[hr]=Belgija
Name[is]=Belgía
Name[it]=Belgio
Name[ja]=ベルギー
Name[ko]=벨기에
Name[lt]=Belgija
Name[lv]=Beļģija
Name[mi]=Peretiama
Name[mk]=Белгија
Name[mt]=Belġju
Name[nl]=België
Name[no]=Belgia
Name[no_NY]=Belgia
Name[oc]=Bèlgica
Name[pl]=Belgia
Name[pt_BR]=Bélgica
Name[pt]=Bélgica
Name[ru]=Бельгия
Name[sk]=Belgicko
Name[sl]=Belgija
Name[sr]=Belgija
Name[sv]=Belgien
Name[ta]=¦Àøº¢Âõ
Name[tr]=Belçika
Name[uk]=Бельгія
Name[wa]=Beldjike
Name[zh_CN.GB2312]=比利时
Name[zh_TW.Big5]=比利時
Region=westeurope
Languages=nl_BE,fr_BE,de_BE,nl,fr,de,wa
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=BEF
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[nl]=%A %e %B %Y
DateFormat[fr]=%A %e %B %Y
DateFormat[de]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormat[wa]=%A %e di %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
