[Desktop Entry]
Icon=network
Name=Samba Shares
Name[az]=Samba Paylaşmaları
Name[bg]=Ресурси на Samba
Name[cs]=Sdílené disky Samby
Name[da]=Samba delte
Name[de]=Samba-Ressourcen
Name[eo]=Sambo-retdosierujoj
Name[es]=Comparticiones Samba
Name[et]=SMB jagatud ressursid
Name[fi]=Samba jaot
Name[fr]=Partages Samba
Name[he]=Samba יפותיש
Name[hu]=Samba megosztott erőforrások
Name[is]=Samba netdrif
Name[it]=Condivisioni Samba
Name[ja]=Samba共有
Name[ko]=삼바로 함께 쓰기
Name[lt]=Samba bendri diskai
Name[lv]=Samba Šāres
Name[mt]=Offerti tas-Samba
Name[nl]=Sambanetwerk
Name[no]=Samba-delinger
Name[no_NY]=Samba-ressursar
Name[pl]=Zasoby Samby
Name[pt_BR]=Compartilhamento do Samba
Name[pt]=Partilhas de Samba
Name[ru]=Ресурсы Samba
Name[sk]=Stav Samby
Name[sl]=Samba deljeni
Name[sr]=Windows deljeni
Name[sv]=Samba-utdelningar
Name[ta]=Samba ÀíÌ¸û
Name[tr]=Samba Payları
Name[uk]=Колективні ресурси Samba
Name[xh]=Izahlulo ze Samba
Name[zh_CN.GB2312]=Samba 共享
Open=false
Type=Link
URL=smb:/
