[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kate/Document
X-KDE-Derived=KTextEditor/Document
Comment=Embeddable KDE Advanced Text Editor Component
Comment[az]=Daxili Ətraflı Mətn Editor Komponenti
Comment[bg]=Вграден текстов редактор
Comment[cs]=Zabudovaná komponenta rozšířeného editoru
Comment[da]=Indlejrbar KDE avanceret tekstredigerings komponent
Comment[de]=Einbettungsfähige Editorkomponente
Comment[el]=Ενσωματώσιμο Άρθρωμα Διορθωτή Κειμένου KDE
Comment[eo]=Implantebla redaktokomponento
Comment[es]=Componente incrustable Editor de textos avanzado de KDE
Comment[et]=Põimitav võimsa tekstiredaktori komponent
Comment[fi]=Upotettava Katen tekstinmuokkauskomponentti
Comment[fr]=Composant incorporé d'édition de texte avancée
Comment[he]=KDE לש םדקתמה טסקטה ךרוע לש העבטהל ןתינ ביכר
Comment[hu]=Beágyazható szövegszerkesztő-komponens
Comment[is]=Ásetjanlegur KDE textaritill
Comment[it]=Componente importabile per la modifica dei testi KATE
Comment[ja]=KDE埋め込み高機能テキストエディタコンポーネント
Comment[ko]=다른 곳에 끼워져서 글월을 고칠 수 있게하는 콤포넌트
Comment[lt]=Įdedamas Kate tekstų redaktoriaus komponentas
Comment[lv]=Iegultā KDE Advancētā Tekstu Redaktora Komponente
Comment[mt]=Editur integrat KDE avvanzat
Comment[nl]=inbedbare KDE geadvanceerde tekstverwerkercomponent
Comment[no]=Inkluderbart tekstredigeringskomponent
Comment[no_NY]=Inkluderbart komponent for avansert tekstredigering
Comment[pl]=Składnik edytora tekstu (do osadzania)
Comment[pt_BR]=Componente embutido do Editor Avançado do KDE
Comment[pt]=Componente embebível do Editor Avançado do KDE
Comment[ro]=Componentă de editare avansată de text înglobată
Comment[ru]=Встраиваемый элемент редактора текста
Comment[sk]=Vložiteľný komponent KDE pokročilého textového editora
Comment[sl]=Vgradna komponenta urejevalnika besedil
Comment[sr]=Ugradiva komponenta za KDE Advanced Text Editor
Comment[sv]=Inbäddningsbar avancerad KDE-texteditor komponent
Comment[ta]=¯ð¦À¡¾¢ì¸ÅøÄ ¯¨Ã ¦¾¡ÌôÀ¡Ç÷ ÜÚ
Comment[tr]=Gömülebilir Geliştirilmiş KDE Metin Düzenleyici Bileşeni
Comment[uk]=Вмонтовний компонент передового текстового редактора для KDE
Comment[vi]=Các componet của trình soạn thảo văn bản cao cấp KDE có thềEembed được 
Comment[xh]=iKDE elungisekileyo Inxenye yoMhleli wokubhaliweyo obhekisa phambili
Comment[zh_CN.GB2312]=可嵌入的 KDE 高级文本编辑器部件
