[Desktop Entry]
Comment=Kate - get an edge in editing
Comment[az]=Kate - editorluqda yeni üfüqlər
Comment[bg]=Kate 
Comment[cs]=Kate - špičkový editor
Comment[da]=Kate - få en fordel ved redigering
Comment[de]=Kate - Der letzte Stand in Sachen Editor
Comment[eo]=Ampleksa redaktilo
Comment[es]=Kate - en el límite de la edición
Comment[et]=Kate - võimas tekstiredaktor
Comment[fi]=Kate - tekstieditori
Comment[fr]=Kate - À la pointe de l'édition de textes
Comment[he]=םיכמסמ הבורמ טסקט ךרוע
Comment[hu]=Kate szövegszerkesztő
Comment[is]=Kate - Ritill með meiru
Comment[it]=Kate - segna un confine nell'editing dei file
Comment[ja]=Kate - 最新の編集ツール
Comment[ko]=카테 - 편집기
Comment[lt]=Kate – pasiekite redagavimo ribas
Comment[lv]=Kate - iegūstiet baudu rediģēšanā
Comment[mt]=Kate - editur
Comment[nl]=Kate - voor het betere editor-werk
Comment[no]=Kate - ta ledelsen i redigering
Comment[no_NY]=Kate - eitt steg foran
Comment[pl]=Kate - edytor tekstu
Comment[pt_BR]=Kate - edição avançada
Comment[pt]=Kate - edição avançada
Comment[ro]=Kate - un nou standard în editare
Comment[ru]=Kate - все лучшее в редактировании
Comment[sk]=Kate - špičkový editor
Comment[sl]=Kate - ostrina urejevanja
Comment[sr]=Kate - budite u trendu sa editovanjem
Comment[sv]=Kate - skaffa dig ett försprång i redigering
Comment[ta]=Kant - ¦¾¡ÌôÀ¢ü Ò¾¢Â§¾¡÷ Ó¨ÉôÒ
Comment[tr]=Kate - düzenlemede yeni ufuklar
Comment[uk]=Kate - останнє слово техніки у редагуванні
Comment[vi]=Kate - trềEnên sắc sảo hơn trong soạn thảo 
Comment[xh]=Kate - fumana umda ekuhleleni
Comment[zh_CN.GB2312]=Kate - 编辑程序
BinaryPattern=
Name=Kate
Name[bg]=Редактор Kate
Name[eo]=Kodredaktilo
Name[fr]=Éditeur multi-documents
Name[ko]=카테
Name[ru]=Редактор Kate
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=kate2 %U
TerminalOptions=
Icon=kate
Path=
DocPath=kate/index.html
Type=Application
Terminal=0
