[Desktop Entry]
Comment=A powerful text editor
Comment[az]=Güclü bir mətn editoru
Comment[bg]=Мощен текстови редактор
Comment[br]=Ur aozer skrid galloudus
Comment[bs]=Moćni uređivač teksta
Comment[ca]=Un editor de textos potent
Comment[cs]=Mocný textový editor
Comment[da]=En kraftig tekstredigering
Comment[de]=Ein leistungsfähiger Texteditor
Comment[el]=Ένας ισχυρός διορθωτής κειμένου
Comment[eo]=Plenkapabla redaktilo
Comment[es]=Un potente editor de textos
Comment[et]=Võimas tekstiredaktor
Comment[eu]=Textu editore ahaltsu bat
Comment[fi]=Tehokas tekstieditori
Comment[fr]=Un éditeur de texte puissant
Comment[gl]=Un potente editor de texto
Comment[he]=המצוע בר טסקט ךרוע
Comment[hr]=Moćni uređivač teksta
Comment[hu]=Egy sok szolgáltatást nyújtó szövegszerkesztő
Comment[is]=kwrite:  Öflugur textaritill
Comment[it]=Un potente editor di testi
Comment[ja]=強力なテキストエディタ
Comment[ko]=더 쓸만한 편집기
Comment[lt]=Galingas teksto redaktorius
Comment[lv]=Jaudīgs teksta redaktors
Comment[mk]=Моќен текст уредувач
Comment[mt]=Editur ta' test b'saħħtu
Comment[nl]=een krachtige teksteditor
Comment[no]=En kraftig tekstredigerer
Comment[no_NY]=Eit kraftig skriveprogram
Comment[oc]=Un editor de textos potent
Comment[pl]=Edytor z podświelaniem składni
Comment[pt_BR]=Um poderoso editor de textos
Comment[pt]=Um poderoso editor de texto
Comment[ro]=Un editor avansat de texte
Comment[ru]=мощный текстовый редактор
Comment[sk]=Silný textový procesor
Comment[sl]=Zmogljiv urejevalnik besedil
Comment[sr]=Moćni tekst editor
Comment[sv]=En kraftfull texteditor
Comment[ta]=ºì¾¢Å¡öó¾ ¯¨Ã ¦¾¡ÌôÀ¡Ç÷
Comment[tr]=Güçlü bir metin düzenleyici
Comment[uk]=Потужний текстовий редактор
Comment[vi]=Trình soạn thảo văn bản mạnh 
Comment[xh]=Umhleli wokubhaliweyo onamandla kakhulu
Comment[zh_CN.GB2312]=强大的文本编辑器
BinaryPattern=
Name=Advanced Editor
Name[az]=Təkmilləşmiş Mətn Editor
Name[bg]=Допълнителен редактор
Name[br]=Aozer araokaet
Name[bs]=Napredni uređivač
Name[ca]=Editor avançat
Name[cs]=Rozšířený editor
Name[da]=Udvidet tekstredigering
Name[de]=Erweiterter Editor
Name[el]=Προχωρημένος Διορθωτής
Name[eo]=Kodredaktilo
Name[es]=Editor avanzado
Name[et]=Programmeerija tekstiredaktor
Name[eu]=Editore Aurreratua
Name[fi]=Edistynyt editori
Name[fr]=Éditeur avancé
Name[gl]=Editor Avanzado
Name[he]=םדקתמ ךרוע
Name[hr]=Napredni uređivač
Name[hu]=KWrite
Name[is]=Öflugur ritill
Name[it]=Editor avanzato
Name[ja]=高機能エディタ
Name[ko]=더 나은 편집기
Name[lt]=Pagerintas Redaktorius
Name[lv]=Advancēts Redaktors
Name[mi]=Whakatika Möhio
Name[mk]=Напреден уредувач
Name[nl]=KWrite
Name[no]=Avansert redigerer
Name[no_NY]=Avansert skriveprogram
Name[oc]=Editor avançat
Name[pl]=Zaawansowany Edytor
Name[pt_BR]=Editor Avançado
Name[pt]=Editor Avançado
Name[ro]=Editor avansat
Name[ru]=Редактор KWrite
Name[sk]=Pokročilý editor
Name[sl]=Napredni urejevalnik
Name[sr]=Unapređeni editor
Name[sv]=Avancerad editor
Name[ta]=§ÁõÀð¼ ¦¾¡ÌôÀ¡Ç÷
Name[tr]=Gelişmiş Metin Düzenleyici
Name[uk]=Потужний редактор
Name[vi]=Trình soạn thảo văn bản cao cấp 
Name[xh]=Umhleli wokubhekisa phambili
Name[zh_CN.GB2312]=高级编辑器
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-diff;
Exec=kwrite2 -caption "%c" %i %m %U
X-KDE-StartupNotify=true
TerminalOptions=
Icon=kwrite
Path=
DocPath=kwrite/index.html
Type=Application
Terminal=0
InitialPreference=8
