[Desktop Entry]
Name=Embedded Text Viewer
Name[az]=Daxili Mətn Nümayişçisi
Name[bg]=Вградена програма за преглед на текс
Name[ca]=Visor de text encastat
Name[cs]=Zabudovaný prohlížeč textů
Name[da]=Indlejret tekstfremviser
Name[de]=Eingebetteter Textbetrachter
Name[el]=Ενσωματωμένη Προβολή Κειμένου
Name[eo]=Enkonstruita Tekstvidigilo
Name[es]=Visor de textos incrustado
Name[et]=Põimitav teksti näitamise komponent
Name[fi]=Upotettu tekstinäyttäjä
Name[fr]=Afficheur de texte incorporé
Name[gl]=Visualizador de Textos Embebido
Name[he]=עבטומה טסקטה גיצמ
Name[hu]=Beágyazott szövegnézegető
Name[is]=Ásetjanleg textasjá
Name[it]=Visualizzatore testi integrato
Name[ja]=埋め込みテキストビューア
Name[ko]=다른 곳에 끼워져서 실행되는 글월 보기
Name[lt]=Įdedamas teksto žiūriklis
Name[lv]=Iebūvēts Teksta Skatītājs
Name[mk]=Вградлив текст гледач
Name[mt]=Werrej integrat tat-test
Name[nl]=Ingebedde tekstviewer
Name[no]=Innebygd tekstleser
Name[no_NY]=Innebygd tekstlesar
Name[pl]=Wbudowana przeglądarka do tekstów
Name[pt_BR]=Visualizador embutido de texto
Name[pt]=Visualizador de Texto Embebido
Name[ro]=Vizualizor texte înglobat
Name[ru]=Встроенный просмотрщик текстов
Name[sk]=Prehliadač textov
Name[sl]=Vgrajen pregledovalnik besedil
Name[sr]=Ugrađeni prikazivač teksta
Name[sv]=Inbäddad textvisare
Name[ta]=¯û¦À¡¾¢ó¾ ¯¨Ã ¸¡ðÊ
Name[tr]=Gömülü Metin Görüntüleyici
Name[uk]=Вмонтований переглядач текстів
Name[vi]=Trình xem văn bản đã bềEnhùng(embed) 
Name[xh]=Umboniseli wokubhaliweyo olungisiweyo jikelele
Name[zh_CN.GB2312]=嵌入文本查看器
X-KDE-Library=libkatecore
Icon=kate
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-diff;
ServiceTypes=KParts/ReadWritePart,Browser/View,KTextEditor/Document
Type=Service
InitialPreference=8
