[Desktop Entry]
Icon=usb
Type=Application
Exec=kcmshell kcmusb
X-KDE-ModuleType=Library
X-KDE-Library=usb

Name=USB Devices
Name[az]=USB Avadanlıqlar
Name[bg]=Устройства
Name[cs]=USB zařízení
Name[da]=USB Enheder
Name[de]=USB-Geräte
Name[el]=Συσκευές USB
Name[eo]=USB-aparatoj
Name[es]=Dispositivos USB
Name[et]=USB seadmed
Name[fi]=USB laitteet
Name[fr]=Périphériques USB
Name[he]=USB ינקתה
Name[hu]=USB-eszközök
Name[is]=USB Tæki
Name[it]=Dispositivi USB
Name[ja]=USBデバイス
Name[ko]=USB 장치
Name[lt]=USB įrenginiai
Name[lv]=USB Iekārtas
Name[mt]=Apparat USB
Name[nl]=USB Apparaten
Name[no]=USB-enheter
Name[no_NY]=USB-einingar
Name[pl]=Urządzenia USB
Name[pt_BR]=Dispositivos USB
Name[pt]=Dispositivos USB
Name[ru]=Устройства USB
Name[sk]=Zariadenia USB
Name[sl]=Naprave USB
Name[sr]=USB uređaji
Name[sv]=USB-enheter
Name[ta]=USB º¡¾Éí¸û
Name[tr]=USB Aygıtları
Name[uk]=Пристрої USB
Name[vi]=Các thiết bềEUSB 
Name[xh]=Amacebo e USB
Name[zh_CN.GB2312]=USB 设备

Comment=View the USB devices attached to this computer
Comment[az]=Kompüterdəki USB avadanlıqları göstər
Comment[bg]=Преглед на USB устройствата прикачени към този компютър
Comment[cs]=Zobrazení USB zařízení připojených k tomuto počítači
Comment[da]=Se USB enheder knyttet til denne computer
Comment[de]=Die USB-Geräte anzeigen, die an den Rechner angeschlossen sind
Comment[el]=Προβολή των συνδεδεμένων στο σύστημα συσκευών USB 
Comment[eo]=Montras la USB-aparatojn ligitaj al via komputilo
Comment[es]=Muestra los dispositivos USB conectados a este ordenador
Comment[et]=Arvutiga ühendatud USB seadmete vaatamine
Comment[fi]=Näyttää tietokoneeseen liitetyt USB laitteet
Comment[fr]=Affiche les périphériques USB rattachés à cet ordinateur
Comment[he]=הז בשחמ לא םירבוחמה USB-ה ינקתה תגצה
Comment[hu]=A gép USB-eszközeinek legfontosabb jellemzői
Comment[is]=SKoða USB tækin sem eru tengd við þessa tölvu
Comment[it]=Mostra i dispositivi USB attaccati a questo computer
Comment[ja]=コンピュータに接続されているUSBデバイスの表示
Comment[ko]=이 컴퓨터에 연결된 USB 장치를 보여줍니다
Comment[lt]=Žiūrėkite, kokie USB įrengimai prijungti prie šio kompiuterio
Comment[lv]=Skatīt datoram pievienotās USB iekārtas
Comment[mt]=Ara l-apparat USB imqabbad ma' dal-kompjuter
Comment[nl]=Bekijk de USB apparaten die aan deze computer zijn aangesloten
Comment[no]=Se hvilke USB-enheter som er koblet til denne maskinen
Comment[no_NY]=Viser USB-einingane knytte til datamaskina
Comment[pl]=Informacja o urządzeniach USB podłączonych do tego komputera
Comment[pt_BR]=Ver os dispositivos USB conectados neste computador
Comment[pt]=Ver os dispositivos USB ligados a este computador
Comment[ru]=Устройства USB вашего компьютера
Comment[sk]=Zobrazenie zariadení USB pripojených k tomuto počítači
Comment[sl]=Prikaz naprav USB, ki so priključene na ta računalnik
Comment[sr]=Prikaži USB uređaje povezane na ovaj kompjuter
Comment[sv]=Visa USB-enheter anslutna till den här datorn
Comment[ta]=­ì ¸½¢É¢Ô¼ý ­¨½óÐûÇ USB º¡¾Éí¸¨Çô À¡÷ì¸
Comment[tr]=Bu bilgisayara bağlanmış USB aygıtlarını gör
Comment[uk]=Перегляд пристроїв USB, під'єднаних до комп'ютера
Comment[vi]=Xem các thiết bềEUSB nối vào máy tính này 
Comment[xh]=Bonisela amacebo e USB afakelwe kule computer
Comment[zh_CN.GB2312]=查看连接到该计算机的 USB 设备

Keywords=USB,devices,viewer,control
Keywords[az]=USB,avadanlıqlar,göstərici,idarə
Keywords[cs]=USB,zařízení,prohlížeč,ovládání
Keywords[da]=USB,enheder,fremviser,kontrol
Keywords[de]=USB,Geräte
Keywords[el]=USB,συσκευές,προβολή,έλεγχος
Keywords[eo]=USB,aparatoj,rigardilo,stirado
Keywords[es]=USB,dispositivos,visor,control
Keywords[et]=USB,seadmed,vaataja,juhtimine
Keywords[fi]=USB,laitteet,näyttää,ohjaus
Keywords[fr]=USB,périphériques,afficheur,contrôle
Keywords[he]=הרקב,גיצמ,םינקתה,USB
Keywords[hu]=USB,eszközök,megnézés,vezérlés
Keywords[is]=USB,tæki,skoðari,stilling
Keywords[it]=USB,dispositivo,controllo
Keywords[ja]=USB,デバイス,ビューア,コントロール
Keywords[ko]=USB,devices,viewer,control,장치,디바이스,보여주기,보기,조절,컨트롤
Keywords[lt]=USB,devices,viewer,control, įrengimai, žiūriklis, kontrolė
Keywords[lv]=USB,iekārtas,skatītājs,vadība
Keywords[no]=USB,enheter,kontroll
Keywords[no_NY]=USB,einingar,visar,kontroll
Keywords[pl]=USB,urządzenia,przeglądarka,sterowanie
Keywords[pt_BR]=USB,dispositivos,visualizador,controle
Keywords[pt]=USB,dispositivos,visualizador,controlo
Keywords[sk]=USB,zariadenie,prehliadač,ovládanie
Keywords[sl]=USB,naprave,pregledovalnik,nadzor
Keywords[sv]=USB,enheter,visare,kontroll
Keywords[tr]=USB,aygıtlar,görüntüleyici,kontrol
Keywords[uk]=USB,пристрої,перегляд,керування
Keywords[vi]=USB,devices,viewer,control,thiết bềEđiều khiển 
Keywords[xh]=USB,amacebo,umboniseli,lawula
Keywords[zh_CN.GB2312]=USB,devices,viewer,control,设备,查看器,控制

