[Desktop Entry]
Name=System Tray
Name[az]=Sistem Rəfi
Name[bg]=Системен поднос
Name[br]=Barlenn ar reizhiad
Name[ca]=Safata del sistema
Name[cs]=Systémová část panelu
Name[da]=Systembakke
Name[de]=Systemabschnitt der Kontrollleiste
Name[el]=Πλαίσιο Συστήματος
Name[eo]=Sistempleto
Name[es]=Bandeja del sistema
Name[et]=Süsteemne dokk
Name[fi]=Järjestelmäsovellukset
Name[fr]=Incorporation d'icônes
Name[gl]=Bandexa do Sistema
Name[he]=תכרעמ שגמ
Name[hu]=Rendszertálca
Name[is]=Íforritabakki
Name[it]=Vassoio di sistema
Name[ja]=システムトレイ
Name[ko]=시스템 트레이
Name[lt]=Sistemos dėklas
Name[lv]=Sistēmas Tekne
Name[mk]=Систем
Name[mt]=Tray tas-Sistema
Name[no]=Systemkurv
Name[no_NY]=Systemtrau
Name[oc]=Safata dèu sistemo
Name[pl]=Tacka systemowa
Name[pt_BR]=Ícones do sistema
Name[pt]=Bandeja do Painel
Name[ru]=Системный лоток
Name[sk]=Systémová Lišta
Name[sl]=Sistemska vrstica
Name[sv]=Systembricka
Name[ta]=¸½¢É¢ò ¾ðÎ
Name[tr]=Sistem Çekmecesi
Name[uk]=Системний лоток
Name[vi]=Khay hềEthống 
Name[xh]=Itreyi yendlela yokusebenza
Name[zh_CN.GB2312]=系统托盘

Comment=The system tray panel applet
Comment[az]=Sistem rəf paneli
Comment[bg]=Аплет на панела за системен поднос
Comment[br]=Arloadig banell barlenn ar reizhiad
Comment[ca]=L'aplet de plafó de la safata del sistema
Comment[cs]=Systémová část panelu určená pro applety
Comment[da]=Systembakkens panelprogram
Comment[de]=Systemabschnitt der Kontrollleiste
Comment[el]=Το εφαρμογίδιο του πίνακα για πλαίσιο συστήματος
Comment[eo]=La sistempleta panelaplikaĵeto
Comment[es]=La bandeja del sistema (applet del panel)
Comment[et]=Paneelil töötav süsteemse doki aplett
Comment[fi]=Yksinkertainen alue järjestelmäsovelluksille
Comment[fr]=L'applet d'incorporation d'icônes
Comment[gl]=A applet do panel coa bandexa do sistema
Comment[he]=חולל תכרעמה שגמ ןומושיי
Comment[hu]=A rendszertálca alkalmazás
Comment[is]=Íforrit sem birtir lista yfir forrit sem eru í gangi
Comment[it]=L'applet del pannello vassoio di sistema
Comment[ja]=システムトレイパネルアプレット
Comment[ko]=시스템 트레이 애플릿
Comment[lt]=Sistemos dėklo pulto priemonė
Comment[lv]=Sistēmas teknes paneļa aplets
Comment[mk]=Аплет за состојбата на системот
Comment[mt]=Applet għat-tray tas-sistema
Comment[nl]=applet met de pictogrammen van taken die op de achtergrond worden uitgevoerd.
Comment[no]=Appletpanel for systemkurv
Comment[no_NY]=Systemtrau-panelapplet
Comment[oc]=L'aplet de plafon de la safata dèu sistemo
Comment[pl]=Programik tacki systemowej dla panela
Comment[pt_BR]=Miniaplicativo de ícones do sistema
Comment[pt]=Uma 'applet' com a bandeja do painel
Comment[ru]=аплет панели системного лотка
Comment[sk]=applet Systémová lišta
Comment[sl]=Vstavek za sistemsko vrstico v pultu
Comment[sr]=Sistemski trej panel aplet
Comment[sv]=Panelminiprogram för systembricka
Comment[ta]=¸½¢É¢ò ¾ðÎì ÌÚ¿¢Ãø
Comment[tr]=Sistem çekmece paneli
Comment[uk]=Аплет системного лотку панелі.
Comment[vi]=panel applet cho khay hềEthống(system tray) 
Comment[xh]=Ipanel applet yendlela yetreyi yokusebenza
Comment[zh_CN.GB2312]=系统托盘面板小程序

Icon=systemtray

X-KDE-Library=libksystemtrayapplet
X-KDE-UniqueApplet=true
