/* New Tab Flash */
:root{--newtab-textbox-background-color:#272b35;}

/* Hide right click menu items */
#context-bookmarklink, #context-savelinktopocket, #context-searchselect, #context-sendimage, #context-back, #context-forward, #context-reload, #context-bookmarkpage, #context-sep-navigation, #context-viewimageinfo, #inspect-separator, #context-inspect-a11y, #context-video-saveimage, #context-sendvideo, #context-viewpartialsource-selection, #context-print-selection, #context-sep-selectall, #context-viewinfo {
  display: none !important;
}

/* Replace favicon on tabs with close button on hover */
.tabbrowser-tab:not(:hover) .tab-close-button{ display:none; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ display:block !important; }


.tabbrowser-tab:not([pinned]):hover  .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab:hover  .tab-throbber,
.tabbrowser-tab:hover  .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover  .tab-icon-overlay,
.tabbrowser-tab:hover  .tab-label-container,
.tabbrowser-tab:hover  .tab-icon-sound {
   -moz-box-ordinal-group: 2 !important;
}

.tabbrowser-tab .tab-close-button {
  margin-left: -2px !important;
  margin-right: 2px !important;
}

#appMenu-fxa-separator, toolbarseparator {
  display: none !important;
}

#urlbar, #urlbar-container, #urlbar-input-container, #urlbar-background, #searchbar, .searchbar-textbox {
	box-shadow: none !important;
	background-color: #272b35 !important;
	border: none !important;
}

#navigator-toolbox { --tabs-border-color: transparent !important; }

#nav-bar{
  border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}

/* Remove border around urlbar */
:root{ --toolbar-field-focus-border-color: transparent !important; }

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

/* CENTER URLBAR TEXT */
#urlbar #urlbar-input {
  text-align: center !important
}

/* Hide right click menu items */
#context-bookmarklink, #context-savelinktopocket, #context-searchselect, #context-sendimage, #context-back, #context-forward, #context-reload, #context-bookmarkpage, #context-sep-navigation, #context-viewimageinfo, #inspect-separator, #context-inspect-a11y, #context-video-saveimage, #context-sendvideo, #context-viewpartialsource-selection, #context-print-selection, #context-sep-selectall, #context-viewinfo {
  display: none !important;
}

/* HIDE ITEMS IN URLBAR */
#tracking-protection-icon-container, #identity-icon-box {
  display: none !important;
}

/* CHANGE BACKGROUND COLOR OF URLBAR AREAS */
#PanelUI-button, #nav-bar-customization-target {
  background-color: #272b35 !important;
  border: none !important;
}

#navigator-toolbox {
  background-color: #272b35 !important;
  border: none !important;
}

.search-one-offs, .urlbarView-body-outer, .urlbarView-body-inner {
  border: none !important;
}


/* Hide tabs when only one open*/
:root{ --tab-block-margin: var(--proton-tab-block-margin) }

:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }
#TabsToolbar{ min-height: 0px !important }

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}

.accessibility-indicator,
.private-browsing-indicator{
  height: unset !important;
}
.accessibility-indicator > hbox{ padding-block: 0 !important }

#tabbrowser-tabs .tabbrowser-tab{ height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px)) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover{ background-color: var(--toolbarbutton-hover-background) }

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon{
  padding: 0 !important;
  transform: scale(0.6);
  background-color: transparent !important;
}
/* Extra top padding  in maximized window */
@media (-moz-os-version: windows-win7),(-moz-os-version: windows-win10){
  :root[sizemode="maximized"] #navigator-toolbox{ padding-top:7px !important; }
}
/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
  transition: height 0ms steps(1) 80ms;
}
:where(#nav-bar){
  border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}

/* ---Tabs/Tab Bar height--- */
:root {
 --tab-min-height: 24px !important;
}

/* Bookmarks bar */
#PersonalToolbar {
  background-color: #272B35 !important;
}

/* Hide extra lines in tabs */
hbox.tab-icon-sound{ display:none !important }

/* Hide  the new extensions button */
#unified-extensions-button, #unified-extensions-button > .toolbarbutton-icon{
width: 0px !important;
padding: 0px !important;
}