/* Newtab */
 @-moz-document url("about:blank") {
     body {
         background-color: #272b35 !important;
    }
}

 @-moz-document url("about:newtab") {
     body {
         background-color: #272b35 !important;
    }
}

/* Hide sidebar in Browser Toolbox */
 @-moz-document url("chrome://devtools/content/inspector/index.xhtml") {
     #inspector-splitter-box > .inspector-sidebar-splitter > .controlled {
         visibility: collapse !important;
    }
}

/* Page Source */
#viewsource {
    background-color: #272B35 !important;
}