/* New Tab Flash */
:root{--newtab-textbox-background-color:#272b35;}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html{
    background: #272b35 !important
}

.tab-label-container {
mask-image: linear-gradient(to left, transparent, black 0em) !important; /
}

.tab-line {
display : none !important;
}

/* Set minimum tab width */
.tabbrowser-tab[fadein]:not([pinned]) {
  min-width: 88px !important;
}

/* Bookmarks bar */
#PersonalToolbar{
  background-color: #272b35 !important;
  color: #f2f2f2 !important;
}

/* Menus */
.PanelUI-subView {
  --arrowpanel-background: #272b35 !important;
  --arrowpanel-color: #f2f2f2 !important;
  --lwt-accent-color: #f2f2f2 !important;
  --lwt-text-color: #f2f2f2 !important;
  color: #f2f2f2 !important;
}

/* Bookmark dropdowns */
#PlacesToolbarItems menupopup > hbox {
  color: #f2f2f2 !important;
  background: #272b35 !important;
}

/* Toolbar buttons */
.toolbarbutton-1 {
    fill: #f2f2f2 !important;
    background-color: #272b35 !important;
    border: none !important;
}

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#tabbrowser-tabs {
background-color: #272b35 !important;
}

/* remove lines */
#navigator-toolbox::after {
  display: none !important;
}

#TabsToolbar {
  border: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after{
  display: none !important;
}

tab {
    background-color: #272b35 !important;
    font-weight: thin !important;
    color : #f2f2f2 !important;
}


.tab-content[selected="true"] {
    background-color: #272b35 !important;
    font-weight: thin !important;
    color : #f2f2f2 !important;
}

#nav-bar-customization-target {
	background-color: #272b35 !important;
}

.tabbrowser-tab{ opacity: 0.4 }
.tabbrowser-tab:hover{ opacity: 0.88 }
.tabbrowser-tab[selected]{ opacity: 1 }

#urlbar, #urlbar-container, #urlbar-input-container, #urlbar-background, #searchbar, .searchbar-textbox {
	box-shadow: none !important;
	background-color: #272b35 !important;
	background: none !important;
	border: none !important;
	color : #f2f2f2 !important;
	font-weight: thin !important;
  text-align: center;
}

.textbox-contextmenu {
  text-align: left !important;
}

#urlbar:hover {
  box-shadow: none !important;
}

.urlbarView-body-outer, .urlbarView-body-inner, .search-one-offs, #urlbar-results {
  box-shadow: none !important;
  background-color: #272b35 !important;
  border: none !important;
}

#urlbar:not(.megabar):-moz-lwtheme, #urlbar.megabar:-moz-lwtheme > #urlbar-background, #navigator-toolbox #searchbar:not(:focus-within):-moz-lwtheme {
  box-shadow: none !important;
	background-color: #272b35 !important;
	background: none !important;
	border: none !important;
}

/* Urlbar buttons */
#pageActionButton, #pocket-button {
  visibility: collapse !important;
}

.urlbar-history-dropmarker {
  visibility: collapse !important;
}

#tracking-protection-icon-container,#pageActionSeparator { border-inline-width: 0px !important; }
.urlbar-icon,
.urlbar-icon-wrapper,
toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton { background-color: transparent !important; border-inline-end: none !important;}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){ background-color: transparent !important }

toolbarbutton.scrollbutton-up, toolbarbutton.scrollbutton-down {
  background-color: transparent !important;
  color: #a0a2a6 !important;
  fill: #a0a2a6 !important;
}

#TabsToolbar .toolbarbutton-1, .tabbrowser-arrowscrollbox::part(scrollbutton-up), .tabbrowser-arrowscrollbox::part(scrollbutton-down) {
	margin: 0 !important;
  color: #a0a2a6 !important;
  fill: #a0a2a6 !important;
}

/*Tabs below nav bar*/
#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

#navigator-toolbox{
  margin-top: 0px;
  padding-top:0px !important;
}
#toolbar-menubar{
  position: fixed;
  top: 0px;
  background-color: #272b35 !important;
  color: #f2f2f2 !important;
  border: none !important;
}
#navigator-toolbox { --tabs-border-color: transparent !important; }

:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}

#tabbrowser-tabs .tabbrowser-tab{ height: var(--tab-min-height) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover{ background-color: var(--toolbarbutton-hover-background) }

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon{
  padding: 0 !important;
  transform: scale(0.6);
  background-color: transparent !important;
}
/* Extra top padding  in maximized window */
@media (-moz-os-version: windows-win10){
  :root[sizemode="maximized"] #navigator-toolbox{ padding-top:7px !important; }
}
/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
  transition: height 0ms steps(1) 80ms;
}
#nav-bar{
  border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}

/* Set color of visible button */
#home-button, #reload-button, #library-button, #sidebar-button, #fxa-toolbar-menu-button, #PanelUI-menu-button, #tabs-newtab-button, #bookmarks-menu-button, #history-panelmenu, #privatebrowsing-button, #downloads-button {
  color: #a0a2a6 !important;
  fill: #a0a2a6 !important;
}


/* Replace favicon on tabs with close button on hover */
.tabbrowser-tab:not(:hover) .tab-close-button{ display:none; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ display:block !important; }


.tabbrowser-tab:not([pinned]):hover  .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab:hover  .tab-throbber,
.tabbrowser-tab:hover  .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover  .tab-icon-overlay,
.tabbrowser-tab:hover  .tab-label-container,
.tabbrowser-tab:hover  .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}

.tabbrowser-tab .tab-close-button {
  margin-left: -2px !important;
  margin-right: 4px !important;
}

.tab-close-button:hover {
	fill-opacity: 0 !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
       border-left: none !important;
       border-right: none !important;
 }

.scrollbutton-up[orient="horizontal"]~spacer{ border-width: 0px; opacity: 0 }
