[Desktop Entry]
BinaryPattern=
Name=SAM System-Administration
Name[az]=SAM Sistem İdarəsi
Name[bg]=Системен администратор SAM
Name[br]=Melestradur ar reizhiad SAM
Name[bs]=SAM administracija sustava
Name[ca]=Administració del sistema SAM
Name[cs]=Správce systému SAM
Name[da]=SAM system administrator
Name[de]=SAM-Systemverwaltung
Name[el]=SAM Διαχείριση-Συστήματος
Name[eo]=SAM Sistemadministrilo
Name[es]=Administración del sistema SAM
Name[et]=SAM süsteemi administreerimine
Name[eu]=SAM Sistema-Kudeaketa
Name[fi]=SAM-järjestelmänhallinta
Name[fr]=Administration système SAM
Name[gl]=Administración do Sistema SAM
Name[he]=תכרעמה לוהינ - SAM
Name[hr]=SAM administracija sustava
Name[hu]=SAM rendszeradminisztráció
Name[is]=SAM kerfisstjórnun
Name[it]=Amministrazione di sistema SAM
Name[ja]=SAM システム管理
Name[ko]=SAM 시스템 관리
Name[lt]=SAM sistemos administravimas
Name[lv]=SAM Sistēmas Administrācija
Name[mi]=SAM Whakahaerenga Pünaha
Name[mk]=SAM систем-администрација
Name[mt]=Amministrazzjoni tas-Sistema SAM
Name[nl]=SAM Systeembeheer
Name[no]=SAM system-administrator
Name[no_NY]=SAM systemadministrasjon
Name[oc]=Administracion dèu sistemo SAM
Name[pl]=SAM - Administracja Systemu
Name[pt_BR]=SAM Administração do Sistema
Name[pt]=Administração de Sistema SAM
Name[ro]=Administrator SAM
Name[ru]=Системный администратор SAM
Name[sk]=Systémový Administrátor
Name[sl]=Sistemsko upravljanje SAM
Name[sr]=SAM admisntracija sistema
Name[sv]=SAM Systemadministration
Name[ta]=SAM ¸½¢É¢-¿¢÷Å¡¸õ
Name[tr]=SAM Sistem Yönetimi
Name[uk]=Менеджер системи SAM
Name[xh]=Indlela yokusebenza ye SAM-Umphathi
Name[zh_CN.GB2312]=SAM 系统管理
Protocols=
MimeType=
Comment=System Administration Manager for HP-UX
Comment[az]=HP-UX üçün Sistem İdarəs Proqramı
Comment[bg]=Системен администратор за HP-UX
Comment[br]=Merour melestradur ar reizhiad evit HP-UX
Comment[bs]=Administracija sustava (HP-UX)
Comment[ca]=Gestor d'administració del sistema per a HP-UX
Comment[cs]=Správce systému pro OS HP-UX
Comment[da]=Systemadministrationshåndtering for HP-UX
Comment[de]=Systemverwaltung für HP-UX
Comment[el]=Διαχείριση Συστήματος για HP-UX
Comment[eo]=Sistemadministrilo por HP-UX
Comment[es]=Gestor de administración del sistema para HP-UX
Comment[et]=Süsteemi administreerimise haldur HP-UX keskkonnas
Comment[eu]=HP-UX sistementzako Sistemaren Kudeatzailea
Comment[fi]=Järjestelmänhallinta HP-UX:lle
Comment[fr]=Gestionnaire d'administration Système pour HP-UX
Comment[gl]=Administración do Sistema para HP-UX
Comment[he]=HP-UX-ל תכרעמ לוהינ להנמ
Comment[hr]=Administracija sustava (HP-UX)
Comment[hu]=Rendszeradminisztrátor program HP-UX alá
Comment[is]=Kerfisstjórnunartól fyrir HP-UX
Comment[it]=Amministrazione di sistema per HP-UX
Comment[ja]=HP-UX用のシステム管理マネージャー
Comment[ko]=HP-UX용 시스템 관리 프로그램
Comment[lt]=HP-UX Sistemos Administravimo tvarkyklė
Comment[lv]=HP-UX Sistēmas Administrēšanas Menedžeris
Comment[mk]=Менаџер за администрација на системот за HP-UX
Comment[mt]=Manager tal-amministrazzjoni tas-sistema għall-HP-UX
Comment[nl]=systeemadministratiebeheerder voor HP-UX
Comment[no]=System Administrasjons Behandler for HP/UX
Comment[no_NY]=Systemadministrasjon for HP-UX
Comment[oc]=Gestionari d'administracion dèu sistemo per a HP-UX
Comment[pl]=Administracja Systemu HP-UX
Comment[pt_BR]=Gerenciador de administração do sistema para HP-UX
Comment[pt]=Administração de sistema para sistemas HP-UX
Comment[ro]=Manager de administrare a sistemului pentru HP-UX
Comment[ru]=системный администратор для HP-UX
Comment[sk]=Administrátor pre HP-UX
Comment[sl]=Upravljalnik za nadzor sistema HP-UX
Comment[sr]=Alat za administraciju HP-UX sistema
Comment[sv]=Systemadministration för HP-UX
Comment[ta]=HP-UXì¸¡É ¸½¢É¢ ¿¢÷Å¡¸õ
Comment[tr]=HP-UX için Sistem Yönetim Programı
Comment[uk]=Менеджер системи HP-UX
Comment[vi]=Trình quản lí hềEthống cho HP-UX 
Comment[xh]=Umphathi wendlela yovumo lwe HP-UX
Comment[zh_CN.GB2312]=HP-UX 系统管理
Exec=sam
Icon=log
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=false
