[KCM Locale]
Name=English US
Name[az]=Amerikan İngiliscəsi
Name[bg]=Английски (САЩ)
Name[br]=Saozneg SUA
Name[bs]=Engleski US
Name[ca]=Anglès US
Name[cs]=Anglický US
Name[da]=Engelsk US
Name[de]=Englisch (US)
Name[el]=Αγγλική ΗΠΑ
Name[en_GB]=English GB
Name[eo]=Angla usona
Name[es]=Inglés de EEUU
Name[et]=Inglise US
Name[eu]=Ingelera EEBB
Name[fi]=Englanti US
Name[fr]=Anglais US
Name[gl]=Inglés (Estados Unidos)
Name[he]=ב"הרא - תילגנא
Name[hr]=Engleski US
Name[hu]=amerikai angol
Name[is]=Enska (BNA)
Name[it]=Inglese US
Name[ja]=英語 アメリカ
Name[ko]=미국식 영어
Name[lt]=Anglų US
Name[lv]=ASV Angļu
Name[mi]=Reo Päkehä Pakaru
Name[mk]=Англиски (САД)
Name[mt]=Ingliż Amerikan
Name[nl]=Engels VS
Name[no]=Engelsk US
Name[no_NY]=Engelsk (USA)
Name[oc]=Anglès US
Name[pl]=Angielski z USA
Name[pt_BR]=Inglês dos EUA
Name[pt]=Inglês (Estados Unidos)
Name[ru]=Английский (США)
Name[sk]=Anglický US
Name[sl]=Angleško ZDA
Name[sr]=Američki Engleski
Name[sv]=Amerikansk engelska
Name[ta]=US ¬í¸¢Äõ
Name[th]=อังกฤษ-อเมริกัน
Name[tr]=Amerikan İngilizcesi
Name[uk]=Англійська (США)
Name[vi]=Tiếng Anh-Mĩ 
Name[xh]=isiNgesi US
Name[zh_CN.GB2312]=英语 - US
