[Desktop Entry]
Name=Swallow Applet
Name[az]=Batıq Proqramcıq
Name[bg]=Аплет поглъщане
Name[cs]=Pohlcovací applet
Name[da]=Swallow Program
Name[de]=Einbettungs-Programm
Name[eo]=Doko-Aplikaĵeto
Name[es]=Applet contenedor
Name[et]=Põimimise aplett
Name[fi]=Upotussovelma
Name[fr]=Applet englobante
Name[he]=ןגעמ ןומושיי
Name[hu]=Elnyelő kisalkalmazás
Name[it]=Applet per inglobare
Name[ja]=Swallow アプレット
Name[lt]=Swallow priemonė
Name[lv]=Bezdelīgas Applets
Name[mt]=Applet "Swallow"
Name[no]=Svelg Applet
Name[no_NY]=Svelge-applet
Name[pl]=Programik do zanurzania innych
Name[pt_BR]=Miniaplicativo de embutir
Name[pt]='Applet' Swallow
Name[ru]=Аплет поглощения
Name[sk]=Pohlcovací applet
Name[sl]=Vstavek z lastovko
Name[sr]=Progutaj aplet
Name[sv]=Uppslukande miniprogram
Name[ta]=Swallow ÌÚ¿¢Ãø
Name[tr]=Batık Programcık
Name[uk]=Аплет Swallow
Name[vi]=Applet Thiên Nga 
Name[xh]=i Appley yokuGinya
Name[zh_CN.GB2312]=嵌入小程序
Comment=The swallow panel applet
Comment[az]=Batıq panel 
Comment[bg]=Аплет на панел за поглъщане
Comment[cs]=Pohlcovací applet pro panel
Comment[da]=Swallow panelprogrammet
Comment[de]=Leiste zum Einbetten von X-Anwendungen
Comment[el]=Εφαρμογίδιο που "καταπίνει"
Comment[eo]=La panelaplikaĵeto enhavanta la dokitajn programojn
Comment[es]=El applet contenedor del panel
Comment[et]=Paneelil töötav põimimise aplett
Comment[fi]=Paneelin upotussovelma
Comment[fr]=L'applet englobante du tableau de bord
Comment[he]=חולה רובע ןגעמ ןומושיי
Comment[hu]=Egy elnyelő panel-kisalkalmazás
Comment[is]=Borða-spjaldið íforritið
Comment[it]=Una applet per inglobare le applicazioni nel pannello
Comment[ja]=swallowパネルアプレット
Comment[lt]=Swallow pulto priemonė
Comment[lv]=Bezdelīgas paneļa aplets
Comment[mt]=Applet għall-pannell "swallow"
Comment[nl]=de swallow paneelapplet
Comment[no]=Et eksempel på en panelapplet
Comment[no_NY]=Svelge-panelappleten
Comment[pl]=Programik dla panela tworzący przestrzeń do zanurzania innych
Comment[pt_BR]=Miniaplicativo de embutir
Comment[pt]=A 'applet' do painel swallow
Comment[ru]=аплет панели поглощения
Comment[sk]=Pohlcovací applet pre panel
Comment[sl]=Vstavek lastovke za na pult
Comment[sr]=Progutaj panel aplet
Comment[sv]=Ett uppslukande miniprogram för panelen
Comment[ta]=swallow ±Ûõ ÀÄ¸ì ÌÚ¿¢Ãø
Comment[tr]=Batık panel 
Comment[uk]=Аплет панелі swallow
Comment[vi]=Panel applet thiên nga 
Comment[xh]=Ipanel applet yokuginya
Comment[zh_CN.GB2312]=嵌入小程序
Icon=swallow
X-KDE-Library=libswallowapplet
X-KDE-UniqueApplet=true
