[KCM Locale]
Name=Mexico
Name[az]=Meksika
Name[bg]=Мексико
Name[br]=Mec'hiko
Name[bs]=Meksiko
Name[ca]=Mèxic
Name[cs]=Mexiko
Name[de]=Mexiko
Name[el]=Μεξικό
Name[eo]=Meksikujo
Name[es]=México
Name[et]=Mehhiko
Name[eu]=Mexiko
Name[fi]=Meksiko
Name[fr]=Mexique
Name[gl]=México
Name[he]=וקיסקמ
Name[hr]=Meksiko
Name[hu]=Mexikó
Name[is]=Mexíkó
Name[it]=Messico
Name[ja]=メキシコ
Name[ko]=멕시코
Name[lt]=Meksika
Name[lv]=Meksika
Name[mk]=Мексико
Name[mt]=Messiku
Name[oc]=Mèxic
Name[pl]=Meksyk
Name[pt_BR]=México
Name[pt]=México
Name[ru]=Мексика
Name[sk]=Mexiko
Name[sl]=Mehika
Name[sr]=Meksiko
Name[ta]=¦Áìº¢§¸¡
Name[tr]=Meksika
Name[uk]=Мексика
Name[vi]=Mê hi cô
Name[wa]=Mecsike
Name[zh_CN.GB2312]=墨西哥
Name[zh_TW.Big5]=墨西哥
Region=northamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
