[Desktop Entry]
Name=Arcade
Name[az]=Əyləncə
Name[bg]=Аркади
Name[cs]=Arkády
Name[da]=Arkade
Name[de]=Arkade
Name[eo]=Arkado
Name[et]=Võitlusmängud
Name[fr]=Jeux d'arcade
Name[he]=הנוכמ יקחשמ
Name[hu]=Ügyességi játékok
Name[is]=Spilasalur
Name[ja]=アーケード
Name[ko]=아케이드
Name[lt]=Arkada
Name[lv]=Arkāde
Name[mt]=Logħob tal-Arcades
Name[no]=Arkade
Name[no_NY]=Arkade
Name[pl]=Zręcznościowe
Name[pt]=Arcada
Name[ro]=Aventuri
Name[ru]=Аркады
Name[sk]=Arkády
Name[sl]=Arkade
Name[sr]=Arkadne igre
Name[sv]=Arkad
Name[th]=เกมอาเขต
Name[tr]=Oyun Makinası
Name[vi]=Mái vòm 
Name[xh]=Umqolo wesakhiwo esiphatha ubunzima bento
Name[zh_CN.GB2312]=拱廊
Name[zh_TW.Big5]=Arcade(無法分類的遊戲)
Icon=package_games_arcade
