[Desktop Entry]
Name=Tactics & Strategy
Name[az]=Taktika & Strategiya
Name[bg]=Стратегия & Тактика
Name[cs]=Taktické a strategické
Name[da]=Taktik & Strategi
Name[de]=Taktik & Strategie
Name[el]=Τακτική & Στρατηγική
Name[eo]=Taktiko kaj Strategio
Name[es]=Táctica y estrategia
Name[et]=Taktika ja strateegia
Name[fi]=Taktiikka & Strategia
Name[fr]=Tactique et stratégie
Name[he]=היגטרטסאו הקיטקט
Name[hu]=Logikai és stratégiai játékok
Name[is]=Kænska & úrræði
Name[it]=Tattica e strategia
Name[ja]=戦略 & 戦術
Name[lt]=Taktika ir strategija
Name[lv]=Taktika & Stratēģija
Name[mt]=Tattika u Strateġija
Name[nl]=Tactiek & Strategy
Name[no]=Taktikk og strategi
Name[no_NY]=Taktikk og strategi
Name[pl]=Taktyczne i strategiczne
Name[pt_BR]=Estratégia
Name[pt]=Estratégia
Name[ro]=Tactică şi strategie
Name[ru]=Стратегия
Name[sk]=Taktické a strategické
Name[sl]=Taktika & strategija
Name[sr]=Taktika i strategija
Name[sv]=Taktik & strategi
Name[th]=เกมกลยุทธ์และการวางแผน
Name[tr]=Taktik ve Strateji
Name[uk]=Тактика та стратегія
Name[vi]=Chiến thuật và Chiến lược 
Name[xh]=Amacebo okufumana iinjongo & Amacebo okuzoba
Name[zh_CN.GB2312]=策略游戏
Name[zh_TW.Big5]=戰略 & 策略
Icon=package_games_strategy
