[Desktop Entry]
Name=Boardgames
Name[az]=Taxta Oyunları
Name[bg]=Игри
Name[cs]=Deskové hry
Name[da]=Brætspil
Name[de]=Brettspiele
Name[el]=Επιτραπέζια
Name[eo]=Bretludoj
Name[es]=Juegos de tablero
Name[et]=Lauamängud
Name[fi]=Lautapelit
Name[fr]=Jeux de plateau
Name[he]=חול יקחשמ
Name[hu]=Táblás játékok
Name[is]=Borðleikir
Name[it]=Giochi da tavolo
Name[ja]=ボードゲーム
Name[ko]=보드 놀이
Name[lt]=Stalo žaidimai
Name[lv]=Galdaspēles
Name[mt]=Logħob tal-boards
Name[nl]=Bordspellen
Name[no]=Brettspill
Name[no_NY]=Brettspel
Name[pl]=Gry planszowe
Name[pt_BR]=Tabuleiro
Name[pt]=Tabuleiro
Name[ro]=Jocuri de table
Name[ru]=Настольные игры
Name[sk]=Stolové hry
Name[sl]=Namizne igre
Name[sr]=Igre na tabli
Name[sv]=Brädspel
Name[ta]=§Á¨ºÅ¢¨ÇÂ¡ðÎì¸û
Name[th]=เกมกระดาน
Name[tr]=Masa üstü oyunlar
Name[uk]=Ігри на дошці
Name[vi]=Trò chơi bảng 
Name[xh]=Imidlalo yebhodi
Name[zh_CN.GB2312]=棋盘游戏
Name[zh_TW.Big5]=棋類遊戲
Icon=package_games_board
