[Desktop Entry]
Name=Internet
Name[az]=İnternet
Name[bg]=Интернет
Name[br]=Kenrouedad
Name[el]=Ιντερνετ
Name[eo]=Interreto
Name[he]=טנרטניא
Name[is]=Netið
Name[ja]=インターネット
Name[ko]=인터넷
Name[lt]=Internetas
Name[lv]=Internets
Name[mi]=Hao-waenganui
Name[mk]=Интернет
Name[no]=Internett
Name[no_NY]=Internett
Name[ru]=Интернет
Name[ta]=­¨½Âõ
Name[th]=อินเตอร์เนต
Name[tr]=İnternet
Name[uk]=Інтернет
Name[vi]=Internet 
Name[zh_TW.Big5]=網際網路
Icon=package_network

