[Desktop Entry]
Name=Terminal applications
Name[az]=Terminal proqramı
Name[bg]=Терминални приложения
Name[cs]=Terminálové aplikace
Name[da]=Terminalprogrammer
Name[de]=Terminal-Programme
Name[el]=Εφαρμογές Τερματικού
Name[eo]=Terminalaplikaĵoj
Name[es]=Aplicaciones de terminal
Name[et]=Terminali rakendused
Name[fi]=Merkkipohjaiset sovellukset
Name[fr]=Applications pour terminal
Name[he]=ףוסמ ימושיי
Name[hu]=Karakteres módú alkalmazások
Name[is]=Skjáhermisforrit
Name[it]=Applicazioni terminale
Name[ja]=ターミナルアプリケーション
Name[ko]=터미널 응용프로그램
Name[lt]=Terminalinės programos
Name[lv]=Termināla aplikācijas
Name[mt]=Programmi tat-Terminal
Name[nl]=Terminal applicatie
Name[no]=Terminal-applikasjoner
Name[no_NY]=Terminalprogram
Name[pl]=Program terminala
Name[pt_BR]=Aplicações de terminal
Name[pt]=Aplicações de terminal
Name[ro]=Aplicaţii de terminal
Name[ru]=Терминальные приложения
Name[sk]=Terminálové aplikácie
Name[sl]=Terminalski programi
Name[sr]=Konzolne aplikacije
Name[sv]=Terminalprogram
Name[ta]=Ó¨ÉÂ ¿¢Ãø¸û
Name[th]=โปรแกรมเทอร์มินัล
Name[tr]=Uçbirim uygulamaları
Name[uk]=Програми терміналів
Name[vi]=Các trình đầu cuối(terminal) 
Name[wa]=Programes di terminå
Name[xh]=Izicello zesiphelo sendlela
Name[zh_CN.GB2312]=终端应用程序
Name[zh_TW.Big5]=終端機應用程式
Icon=konsole
Version=1.0
