[Desktop Entry]
Name=Multimedia
Name[az]=Multimedya
Name[bg]=Мултимедия
Name[br]=Liesvedia
Name[bs]=Multimedija
Name[ca]=Multimèdia
Name[cs]=Multimédia
Name[da]=Multimedie
Name[el]=Πολυμέσα
Name[eo]=Sono kaj filmo
Name[et]=Multimeedia
Name[fr]=Multimédia
Name[he]=הידמיטלומ
Name[hr]=Multimedija
Name[hu]=Multimédia
Name[is]=Margmiðlun
Name[ja]=マルチメディア
Name[ko]=멀티미디어
Name[lv]=Multimēdijas
Name[mi]=Whakaata
Name[mk]=Мултимедија
Name[pt_BR]=Multimídia
Name[pt]=Multimédia
Name[ru]=Мультимедиа
Name[sk]=Multimédiá
Name[sl]=Večpredstavnost
Name[sr]=Multimedija
Name[sv]=Ljud & bild
Name[ta]=Àøæ¼¸õ
Name[th]=มัลติมีเดีย
Name[tr]=Çoklu Ortam
Name[uk]=Мультимедіа
Name[vi]=Đa phương tiện 
Name[xh]=Iindlela ezininzi zokwenza
Name[zh_CN.GB2312]=多媒体
Name[zh_TW.Big5]=多媒體
Icon=package_multimedia

