[Desktop Entry]
Name=Office
Name[az]=İş Yeri
Name[bg]=Офис
Name[br]=Burev
Name[ca]=Oficina
Name[cs]=Kancelář
Name[da]=Kontor
Name[de]=Büroprogramme
Name[el]=Γραφείο
Name[eo]=Oficejo
Name[es]=Oficina
Name[et]=Kontoritöö vahendid
Name[eu]=Bulegoa
Name[fi]=Toimisto-ohjelmat
Name[fr]=Bureautique
Name[he]=םיידרשמ םימושיי
Name[hu]=Irodai alkalmazások
Name[is]=Skrifstofuforrit
Name[it]=Ufficio
Name[ja]=オフィス
Name[ko]=사무용 도구
Name[lt]=Biuro programos
Name[lv]=Ofiss
Name[mi]=Tari
Name[mk]=Канцелариски
Name[mt]=Uffiċċju
Name[nl]=Kantoortoepassingen
Name[no]=Kontor
Name[no_NY]=Kontor
Name[oc]=Burèu
Name[pl]=Biuro
Name[pt_BR]=Escritório
Name[pt]=Escritório
Name[ro]=Aplicaţii Office
Name[ru]=Офис
Name[sk]=Kancelária
Name[sl]=Pisarna
Name[sr]=Kancelarija
Name[ta]=«ÖÅÄ¸õ
Name[th]=โปแกรมชุดออฟฟิศ
Name[tr]=Ofis
Name[uk]=Офіс
Name[vi]=Văn phòng 
Name[wa]=Burô
Name[xh]=i-Ofisi
Name[zh_CN.GB2312]=办公
Name[zh_TW.Big5]=辦公軟體
Icon=package_wordprocessing
SortOrder=koshell.desktop,kword.desktop,kspread.desktop,kpresenter.desktop
