[Desktop Entry]
Name=Databases
Name[az]=Databeyz
Name[bg]=База данни
Name[cs]=Databáze
Name[da]=Databaser
Name[de]=Datenbanken
Name[el]=Βάσεις Δεδομένων
Name[eo]=Datumbazoj
Name[es]=Bases de datos
Name[et]=Andmebaasid
Name[fi]=Tietokannat
Name[fr]=Bases de données
Name[he]=םינותנ ידסמ
Name[hu]=Adatbázisok
Name[is]=Gagnagrunnar
Name[it]=Database
Name[ja]=データベース
Name[ko]=자료틀
Name[lt]=Duombazės
Name[lv]=Datubāzes
Name[mt]=Databażi
Name[no]=Databaser
Name[no_NY]=Databasar
Name[pl]=Bazy danych
Name[pt_BR]=Bancos de Dados
Name[pt]=Bases de Dados
Name[ro]=Baze de date
Name[ru]=Базы данных
Name[sk]=Databáze
Name[sl]=Zbirke podatkov
Name[sr]=Baze podataka
Name[sv]=Databaser
Name[ta]=¾Ã×ò¾Çí¸û
Name[th]=ระบบฐานข้อมูล
Name[tr]=Veritaabanları
Name[uk]=Бази даних
Name[vi]=Cơ sềEdữ liệu 
Name[xh]=Iziseko zedata
Name[zh_CN.GB2312]=数据库
Name[zh_TW.Big5]=資料庫
