[Desktop Entry]
Name=Sound
Name[az]=Səs
Name[bg]=Звук
Name[br]=Son
Name[bs]=Zvuk
Name[ca]=So
Name[cs]=Zvuk
Name[da]=Lyd
Name[de]=Klänge
Name[el]=Ήχος
Name[eo]=Sonoro
Name[es]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fi]=Ääni
Name[fr]=Son
Name[gl]=Son
Name[he]=לילצ
Name[hr]=Zvuk
Name[hu]=Hang
Name[is]=Hljóð
Name[it]=Suono
Name[ja]=サウンド
Name[ko]=소리
Name[lt]=Garsas
Name[lv]=Skaņa
Name[mi]=Tangi
Name[mk]=Звук
Name[mt]=Ħoss
Name[nl]=Geluid
Name[no]=Lyd
Name[no_NY]=Lyd
Name[oc]=Son
Name[pl]=Dźwięk
Name[pt_BR]=Som
Name[pt]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sr]=Zvuk
Name[sv]=Ljud
Name[ta]=´Ä¢
Name[th]=ระบบเสียง
Name[tr]=Ses
Name[uk]=Звук
Name[vi]=Âm thanh 
Name[wa]=Son
Name[xh]=Isandi
Name[zh_CN.GB2312]=音效
Name[zh_TW.Big5]=音效
Icon=multimedia
