[Desktop Entry]
Name=Word Processing
Name[az]=Kəlmə İşləmə
Name[bg]=Текстов процес
Name[cs]=Textové procesory
Name[da]=Tekstbehandling
Name[de]=Textverarbeitung
Name[eo]=Tekstotraktado
Name[es]=Procesamiento de textos
Name[et]=Tekstitöötlus
Name[fi]=Tekstinkäsittely
Name[fr]=Traitement de texte
Name[he]=םילילמת דוביע
Name[hu]=Dokumentumkezelők
Name[is]=Ritvinnsla
Name[it]=Videoscrittura
Name[ja]=ワープロ・印刷
Name[ko]=문서 작성기
Name[lt]=Tekstų apdorojimas
Name[lv]=Tekstu apstrāde
Name[nl]=Tekstverwerking
Name[no]=Tekstbehandling
Name[no_NY]=Tekstbehandling
Name[pl]=Przetwarzanie tekstów
Name[pt_BR]=Processamento de Texto
Name[pt]=Processamento de Texto
Name[ro]=Procesare text
Name[ru]=Текстовые процессоры
Name[sk]=Textové procesory
Name[sl]=Urejanje besedila
Name[sr]=Obrada teksta
Name[sv]=Ordbehandling
Name[ta]=¦º¡ø ¦¾¡Ìò¾ø
Name[tr]=Kelime İşleme
Name[uk]=Обробка текстів
Name[xh]=Uqhubekeko lwegama
Name[zh_CN.GB2312]=字处理
Name[zh_TW.Big5]=文書處理
Icon=package_wordprocessing
