.tabbrowser-tab::before, .tabbrowser-tab::after {
	visibility: collapse;
}

#TabsToolbar {
	background-color: var(--chrome-secondary-background-color) !important;
}

#nav-bar {
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}


#navigator-toolbox {
	--tabs-border-color: transparent !important;
}

#navigator-toolbox{ background-color: rgb(39, 43, 53)}
#nav-bar,
#PersonalToolbar,
#urlbar{
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
	border: none !important;
}

#navigator-toolbox::after{ display:none !important }

:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button {
border-inline-start: none !important;
background-color: transparent !important;
}

#page-action-buttons > :not([hidden]) ~ #pageActionSeparator {
	visibility: hidden !important;
}

.tabbrowser-tab:hover .tab-content {
	background-color: #5675b9 !important;
}

.tabs-newtab-button > .toolbarbutton-icon,
#PanelUI-menu-button > .toolbarbutton-badge-stack {
	background: none !important;
	border: none !important;
	border-color: transparent !important;
}

.tabs-newtab-button {
	background: none !important;
	border: none !important;
	border-color: transparent !important;
}

#reload-button {
	border-left: none !important;
}

#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#back-button:hover,
#back-button:hover > .toolbarbutton-icon {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#forward-button:not(:hover),
#forward-button:not(:hover) > .toolbarbutton-icon {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#forward-button:hover,
#forward-button:hover > .toolbarbutton-icon {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#new-tab-button:not(:hover) {
	background-color: #272b35 !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#new-tab-button:hover {
	background-color: #272b35 !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#alltabs-button:not(:hover) {
	background-color: #272b35 !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#alltabs-button:hover {
	background-color: #272b35 !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.scrollbutton-down:hover {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.scrollbutton-up:hover {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}
