.tabbrowser-tab::before, .tabbrowser-tab::after {
	visibility: collapse;
}

#TabsToolbar {
	background-color: var(--chrome-secondary-background-color) !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"]
{
	display: none !important;
}

#nav-bar {
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}


#navigator-toolbox {
	--tabs-border-color: transparent !important;
}

#navigator-toolbox{ background-color: rgb(39, 43, 53)}
#nav-bar,
#PersonalToolbar,
#urlbar{
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
	border: none !important;
}

#navigator-toolbox::after{ display:none !important }

:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button {
border-inline-start: none !important;
background-color: transparent !important;
}

#page-action-buttons > :not([hidden]) ~ #pageActionSeparator {
	visibility: hidden !important;
}

.tabbrowser-tab:hover .tab-content {
	background-color: #5675b9 !important;
}

.tabs-newtab-button > .toolbarbutton-icon,
#PanelUI-menu-button > .toolbarbutton-badge-stack {
	background: none !important;
	border: none !important;
	border-color: transparent !important;
}

.tabs-newtab-button {
	background: none !important;
	border: none !important;
	border-color: transparent !important;
}

#reload-button {
	border: none !important;
}

#stop-button {
	border: none !important;
}

#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#back-button:hover,
#back-button:hover > .toolbarbutton-icon {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#forward-button:not(:hover),
#forward-button:not(:hover) > .toolbarbutton-icon {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#forward-button:hover,
#forward-button:hover > .toolbarbutton-icon {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#new-tab-button:not(:hover) {
	background-color: #272b35 !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#new-tab-button:hover {
	background-color: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#alltabs-button:not(:hover) {
	background-color: #272b35 !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

#alltabs-button:hover {
	background-color: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.scrollbutton-down:not(:hover) {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.scrollbutton-down:hover {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.scrollbutton-up:not(:hover) {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.scrollbutton-up:hover {
	background: transparent !important;
	border: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}


/* Replace favicon on tabs with close button on hover */

.tabbrowser-tab:not(:hover) .tab-close-button{ display:none; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ display:block !important; }


.tabbrowser-tab:not([pinned]):hover  .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab:hover  .tab-throbber,
.tabbrowser-tab:hover  .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover  .tab-icon-overlay,
.tabbrowser-tab:hover  .tab-label-container,
.tabbrowser-tab:hover  .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}

.tabbrowser-tab .tab-close-button {
  margin-left: -2px !important;
  margin-right: 4px !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
       border-left: none !important;
       border-right: none !important;
 }

.scrollbutton-up[orient="horizontal"]~spacer{ border-width: 0px; opacity: 0 }




####################
##  HIDE  URLBAR  ##
####################

#TabsToolbar { /* tab bar */
  /* 1 should be at top */
-moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar { /* bookmarks toolbar */
-moz-box-ordinal-group: 2 !important;
}
#nav-bar { /* main toolbar containing address bar, search bar, add-on icons */
-moz-box-ordinal-group: 3 !important;
}

#nav-bar { /* main toolbar containing address bar, search bar, add-on icons */
    position: relative;
    z-index: 1;
    height: 4px;
    margin-bottom: -4px;
    opacity: 0;
    overflow: hidden;
}
#nav-bar:hover {
    height: auto;
    margin-bottom: 0px;
    opacity: 1;
    overflow: show;
}
#nav-bar:focus-within {
    height: auto;
    margin-bottom: 0px;
    opacity: 1;
    overflow: show;
}
#content-deck{
    position:relative;
    z-index: 0;
}
