[KCM Locale]
Name=Azerbaijan
Name[az]=Azərbaycan
Name[bg]=Азарбайджан
Name[cs]=Ázerbajdžánský
Name[de]=Aserbaidschan
Name[el]=Αζερμπαϊτζάν
Name[eo]=Azerbajĝana
Name[es]=Azerbaiján
Name[et]=Aserbaidžaan
Name[fi]=Azerbaidzan
Name[he]=ן'גיברזא
Name[hu]=Azerbajdzsán
Name[it]=Azerbaigian
Name[ja]=アゼルバイジャン
Name[ko]=아제르바이잔
Name[lt]=Azerbaidžaniečių
Name[lv]=Azerbaidžāņu
Name[mt]=Ażerbajġan
Name[nl]=Azerbeidjan
Name[no]=Aserbadjansk
Name[no_NY]=Aserbajdsjan
Name[pl]=Azerbejdżan
Name[pt_BR]=Azerbaijão
Name[pt]=Azerbaijão
Name[ru]=Азербайджанский
Name[sk]=Ázerbajdžánsky
Name[sl]=Azerbajdžan
Name[sr]=Azerbejdžanski
Name[ta]=«º÷¨Àº¡ý
Name[tr]=Azerice
Name[uk]=Азербайджан
Name[zh_CN.GB2312]=阿塞拜疆
Name[zh_TW.Big5]=亞賽拜然

Region=easteurope
Languages=az
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=M
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[az]=%A %d %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
