[Desktop Entry]
BinaryPattern=
Name=X Calc
Name[br]=Jederez X
Name[da]=X regnemaskine
Name[de]=X-Calc
Name[eo]=XKalkulilo
Name[es]=Calculadora de X
Name[et]=X'i kalkulaator
Name[fi]=X-laskin
Name[fr]=XCalc
Name[hu]=X-számológép
Name[is]=X-reiknivél
Name[ko]=X용 계산기
Name[lt]=X skaičiuotuvas
Name[lv]=X Kalkulators
Name[mk]=X дигитрон
Name[no]=X-kalkulator
Name[no_NY]=X-kalkulator
Name[pt]=Calculadora X
Name[ro]=Calculator X
Name[sv]=X Miniräknare
Name[zh_CN.GB2312]=X 计算器
Protocols=
MimeType=
Comment=Simple Calculator
Comment[az]=Bəsit Hesab Maşını
Comment[bg]=Прост калкулатор
Comment[br]=Ur jederez eeun
Comment[bs]=Jednostavni kalkulator
Comment[ca]=Calculadora senzilla
Comment[cs]=Jednoduchý kalkulátor
Comment[da]=Enkel regnemaskine
Comment[de]=Einfacher Taschenrechner
Comment[el]=Απλή Αριθμομηχανή
Comment[eo]=Simpla kalkulilo
Comment[es]=Calculadora simple
Comment[et]=Lihtne graafiline kalkulaator
Comment[eu]=Kalkulagailu Xumea
Comment[fi]=Yksinkertainen laskin
Comment[fr]=Calculatrice simple
Comment[gl]=Calculadora Simple
Comment[he]=טושפ ןובשחמ
Comment[hr]=Jednostavni kalkulator
Comment[hu]=Egyszerű számológép
Comment[is]=Einföld reiknivél fyrir X
Comment[it]=Semplice calcolatrice
Comment[ja]=簡易計算機
Comment[ko]=간단한 계산기
Comment[lt]=Paprastas skaičiuotuvas
Comment[lv]=Vienkāršs Kalkulators
Comment[mk]=Едноставен дигитрон
Comment[mt]=Kalkulatriċi Sempliċi
Comment[nl]=eenvoudige rekenmachine
Comment[no]=Enkel kalkulator
Comment[no_NY]=Enkel kalkulator
Comment[oc]=Calculadora simpla
Comment[pl]=Prosty Kalkulator
Comment[pt_BR]=Calculadora simples
Comment[pt]=Calculadora simples
Comment[ro]=Un calculator simplu
Comment[ru]=простой калькулятор
Comment[sk]=Jednoduchá Kalkulačka
Comment[sl]=Preprost kalkulator
Comment[sr]=Jednostavni digitron
Comment[sv]=Enkel miniräknare
Comment[ta]=­ÄÌ ¸½¢ô¦À¡È¢
Comment[th]=เครื่องคิดเลข
Comment[tr]=Basit Hesap Makinesi
Comment[uk]=Простий калькулятор
Comment[vi]=Máy tình đơn giản 
Comment[xh]=Umatshini wokubala olula
Comment[zh_CN.GB2312]=简单的计算器
Exec=xcalc
Icon=xcalc
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
