[Desktop Entry]
BinaryPattern=
Name=X Clipboard
Name[az]=X Ara yaddaşı
Name[br]=Golver X
Name[bs]=X odlagalište
Name[ca]=Portapapers X
Name[da]=X Klippebord
Name[de]=X-Clipboard
Name[el]=Πρόχειρο του X
Name[eo]=XPoŝo
Name[es]=Portapapeles de X
Name[et]=X'i lõikepuhver
Name[eu]=X Paperzorroa
Name[fi]=X-leikepöytä
Name[fr]=XClipboard
Name[hr]=X odlagalište
Name[hu]=X-vágólap
Name[is]=X-klemmuspjald
Name[ko]=X용 클립보드
Name[lt]=X Talpyklė
Name[lv]=X Starpliktuve
Name[mk]=X инсерти
Name[nl]=X Klembord
Name[no]=X-utklippstavle
Name[no_NY]=X-utklippstavle
Name[oc]=Tapissaria X
Name[pt]=Área de Transferência do X
Name[ro]=Clipboard X
Name[sv]=X Klippbord
Name[ta]=X À¢ÊôÒôÀÄ¨¸
Name[tr]=X Panosu
Name[uk]=Кишеня X
Name[xh]=Ibhodi eqhotyoshelweyo ye X
Name[zh_CN.GB2312]=X 剪贴板
Protocols=
MimeType=
Comment=View contents of X clipboard
Comment[az]=X axtar yaddaşının içindəkiləri göstər
Comment[bg]=Показва съдържанието на буфера за обмен X
Comment[br]=Gwelet endalc'had golver X
Comment[bs]=Pregledajte sadržaj odlagališta
Comment[ca]=Visor del contingut del portapapers X
Comment[cs]=Zobrazí obsah úschovné schránky
Comment[da]=Se indhold af X klippebord
Comment[de]=Inhalt der Zwischenablage anzeigen
Comment[el]=Προβολή περιεχομένων του πρόχειρου του X
Comment[eo]=Enhavo de la X-Poŝo
Comment[es]=Muestra el contenido del portapapeles de X
Comment[et]=X'i lõikepuhvri sisu vaatamine
Comment[eu]=Ikusi X Paperzorroaren edukinak
Comment[fi]=X-leikepöydän sisältö
Comment[fr]=Affichage du contenu du presse-papiers de X11
Comment[gl]=Visualiza-los contidos do cartafol de X
Comment[he]=X לש הכירעה חול ןכות תגוצת
Comment[hr]=Pregledajte sadržaj odlagališta
Comment[hu]=Megmutatja a vágólap tartalmát
Comment[is]=Skoða innihald X klemmuspjaldsins
Comment[it]=Mostra il contenuto degli appunti
Comment[ja]=X Clipboardの中身を表示
Comment[ko]=X용 클립보드에 들어있는 알맹이를 보여줍니다
Comment[lt]=X talpyklės turinio peržiūra
Comment[lv]=Skatīt X starpliktuves saturu
Comment[mk]=Видете ја содржината на таблата со инсерти за копирање
Comment[mt]=Uri l-kontenut tal-clipboard
Comment[nl]=bekijk de inhoud van het X-klembord
Comment[no]=Se innholdet i X utklippstavle
Comment[no_NY]=Viser innhaldet på X-utklippstavla
Comment[oc]=Visualisor dèu contingut dèu tapissaria X
Comment[pl]=Podgląd zawartości schowka X Window
Comment[pt_BR]=Ver conteúdo da área de transferência X
Comment[pt]=Ver o conteúdo da área de transferência X
Comment[ro]=Vizualizor clipboard pentru X Windows
Comment[ru]=показывает содержимое буфера обмена X
Comment[sk]=Prezrieť obsah schránky (clipboardu)
Comment[sl]=Ogled odložišča za X
Comment[sr]=Pogled na sadržaj X clipboard-a
Comment[sv]=Visar innehållet i X klippbord
Comment[ta]=X À¢ÊôÒôÀÄ¨¸Â¢ý ¯ûÇ¼ì¸ò¨¾ô À¡÷¨ÅÂ¢¼
Comment[th]=แสดงรายการในคลิปบอร์ดของ X
Comment[tr]=X panosunun içeriğini görüntüle
Comment[uk]=Переглянути зміст кишені X
Comment[vi]=Xem nội dung của X clipboard 
Comment[xh]=Imixholo yemboniselo yebhodi eqhotyoshelweyo ye X
Comment[zh_CN.GB2312]=查看 X 剪贴板的内容
Exec=xclipboard
Icon=xclipboard
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
