[Desktop Entry]
SwallowTitle=xclock
SwallowTitle[no]=xclock
SwallowTitle[pl]=xclock
SwallowExec=xclock -padding 0
BinaryPattern=
MimeType=
Name=X Clock
Name[az]=X Saatı
Name[bg]=Часовник на X
Name[br]=Eureier X
Name[bs]=X Sat
Name[ca]=Rellotge X
Name[da]=X ur
Name[de]=X-Clock
Name[el]=Ρολόι X
Name[eo]=XHorloĝo
Name[es]=Reloj de X
Name[et]=X'i kell
Name[fi]=X-kello
Name[fr]=XClock
Name[hr]=X Sat
Name[hu]=X-óra
Name[is]=X-klukka
Name[ko]=X용 시계
Name[lt]=X Laikrodis
Name[lv]=X Pulkstenis
Name[mi]=Karaka X
Name[mk]=X часовник
Name[nl]=X klok
Name[no]=X-klokke
Name[no_NY]=X-klokke
Name[oc]=orlotge X
Name[pt]=Relógio X
Name[ro]=Ceas X
Name[ru]=Часы для X
Name[sv]=X Klocka
Name[ta]=X ¸Ê¸¡Ãõ
Name[th]=นาฬิกาของ X
Name[tr]=X Saati
Name[xh]=Ikloko ye X
Name[zh_CN.GB2312]=X 时钟
Exec=xclock
Icon=xclock
TerminalOptions=
Path=
Type=Application
Comment=The X clock
Comment[az]=X Saatı
Comment[bg]=Часовника на Х
Comment[br]=An eureier X
Comment[bs]=Sat
Comment[ca]=El rellotge X
Comment[cs]=Hodiny pro XWindow
Comment[da]=X uret
Comment[de]=Die X-Uhr
Comment[el]=Το ρολόι του X
Comment[eo]=La X-Horloĝo
Comment[es]=El reloj de X
Comment[et]=X'i kell
Comment[eu]=X erlojua
Comment[fi]=X-Kello
Comment[fr]=L'horloge pour X-Window
Comment[gl]=O reloxo de X
Comment[he]=X לש ןועשה
Comment[hr]=Sat
Comment[hu]=Grafikus óra X alá
Comment[is]=Klukka fyrir X
Comment[it]=L'orologio di X
Comment[ko]=X용 시계
Comment[lt]=X laikrodis
Comment[lv]=X pulkstenis
Comment[mi]=Te Karaka X
Comment[mk]=Часовник
Comment[mt]=L-arloġġ X
Comment[nl]=de X-klok
Comment[no]=X-klokken
Comment[no_NY]=X-klokka
Comment[oc]=L'orlotge X
Comment[pl]=X Zegar
Comment[pt_BR]=Relógio
Comment[pt]=Relógio
Comment[ro]=Ceas pentru X Windows
Comment[ru]=часы
Comment[sk]=Hodiny pre XWindow
Comment[sl]=Ura X
Comment[sr]=X časovnik
Comment[sv]=X Klocka
Comment[ta]=X ¸Ê¸¡Ãõ
Comment[th]=นาฬิกาของ X
Comment[tr]=X Saati
Comment[uk]=Годинник для X
Comment[vi]=Đồng hềEcho X 
Comment[xh]=Ikloko ka X
Comment[zh_CN.GB2312]=X 时钟
Terminal=0
X-KDE-StartupNotify=true
