[Desktop Entry]
BinaryPattern=
Protocols=
MimeType=
Comment=X Terminal
Comment[az]=X Terminalı
Comment[bg]=Терминал за X
Comment[br]=Termenell X
Comment[ca]=Terminal X
Comment[cs]=Terminál pro XWindow
Comment[de]=X-Terminal
Comment[el]=Τερματικό X
Comment[eo]=X-Terminalo
Comment[es]=Terminal de X
Comment[et]=X'i terminal
Comment[eu]=X Terminala
Comment[fi]=X-Terminaali
Comment[fr]=Terminal XTerm
Comment[gl]=Terminal X
Comment[he]=X ףוסמ
Comment[hu]=X terminálprogram
Comment[is]=X-skjáhermir
Comment[it]=Terminale per X
Comment[ja]=X ターミナル
Comment[ko]=X용 터미널
Comment[lt]=X Terminalas
Comment[lv]=X Termināls
Comment[mk]=X терминал
Comment[no]=X-terminal
Comment[no_NY]=X-terminal
Comment[oc]=Terminal X
Comment[pt_BR]=Terminal X
Comment[pt]=Terminal X
Comment[ro]=Terminal pentru X Windows
Comment[ru]=терминал для X
Comment[sk]=Terminál pre XWindow
Comment[sl]=Terminalski emulator za X
Comment[sr]=X Terminal (xterm)
Comment[ta]=X Ó¨ÉÂõ
Comment[th]=เทอร์มินัลของ X
Comment[tr]=X Uçbirimi
Comment[uk]=X-Термінал
Comment[xh]=Isiphelo sendlela se X
Comment[zh_CN.GB2312]=X 终端
Name=X Terminal
Name[az]=X Terminalı
Name[bg]=X-терминал
Name[br]=Termenell X
Name[ca]=Terminal X
Name[cs]=X Terminál
Name[de]=X-Terminal
Name[el]=Τερματικό X
Name[eo]=XTerminalo
Name[es]=Terminal de X
Name[et]=X'i terminal
Name[fi]=X-terminaali
Name[fr]=Terminal XTerm
Name[hu]=X-terminál
Name[is]=X-skjáhermir
Name[ko]=X용 터미널
Name[lt]=X Terminalas
Name[lv]=X Termināls
Name[mk]=X терминал
Name[no]=X-terminal
Name[no_NY]=X-terminal
Name[oc]=Terminal X
Name[pt_BR]=Terminal X
Name[pt]=Terminal X
Name[ro]=Terminal X
Name[ru]=X-терминал
Name[sk]=X Terminál
Name[sl]=Terminal X
Name[ta]=X Ó¨ÉÂõ
Name[th]=เทอร์มินัล X
Name[tr]=X Uçbirimi
Name[uk]=X-Термінал
Name[wa]=Terminå X
Name[xh]=Isiphelo sendlela se X
Name[zh_CN.GB2312]=X 终端
Exec=xterm
Icon=terminal
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
