[Desktop Entry]
Name=KStep
Name[eo]=Step
Name[fr]=kStep
Name[mi]=KHïkoi
Name[no]=KSteg
Name[sv]=Kstep
Name[xh]=Inqwanqwa le K
X-KDE-Library=libkwinkstep
