[Desktop Entry]
Name=Web
Name[az]=Veb
Name[da]=Net
Name[eo]=TTT
Name[is]=Vefur
Name[ko]=웹
Name[no]=Nett
Name[no_NY]=Vev
Name[pl]=Sieć
Name[sl]=Splet
Name[sv]=Webb
Name[ta]=Å¨Ä
Name[uk]=Тенета
Name[xh]=iWeb
Name[zh_TW.Big5]=網站
X-KDE-Library=libkwinweb
