[Desktop Entry]
Name=Cut & Paste History
Name[az]=Köçür & Yapışdır Keçmişi
Name[bg]=История на буфера за обмен
Name[cs]=Historie kopírování a vkládání
Name[da]=Klippe- & klistrehistorik
Name[de]=Auschneiden/Einfügen: Verlauf
Name[el]=Ιστορικό Αποκοπής & Επικόλλησης
Name[eo]=Eltondohistorio
Name[es]=Historial de Cortar y Pegar
Name[et]=Lõikepuhvri ajalugu (klipper)
Name[fi]=Leikepöydän historia
Name[fr]=Historique du presse-papiers
Name[he]=הקבדהו הריזג תיירוטסיה
Name[hu]=Klipper vágólapkezelő
Name[is]=Saga klippiborðs
Name[it]=Cronologia del taglia/incolla
Name[ja]=切り取り & 貼り付け履歴
Name[ko]=자르고 붙였던 것
Name[lt]=Iškirpimo ir įterpimo žurnalas
Name[lv]=Izgriešanas un Ielīmēšanas Vēsture
Name[mt]=Kronoloġija tal-qtugħ u kkupjar
Name[nl]=Klembordgeschiedenis
Name[no]=Klippe- og limehistorie (klipper)
Name[no_NY]=Klipp-og-lim-historie
Name[pl]=Historia schowka
Name[pt_BR]=Histórico de Corte e Colagem
Name[pt]=Historial da Área de Transferência
Name[ru]=История буфера обмена
Name[sk]=História schránky
Name[sl]=Zgodovina rezanja in lepljenja
Name[sr]=Iseci i prenesi istorija
Name[sv]=Urklippshistorik
Name[ta]=¦ÅðÎ & ´ðÎ ÅÃÄ¡Ú
Name[th]=ประวัติการตัดและวาง
Name[tr]=Kopyala & Yapıştır Geçmişi
Name[uk]=Історія копіювання-вставки
Name[vi]=Lịch sử cắt và dán 
Name[xh]=Sika & Ucole Imbali
Name[zh_CN.GB2312]=剪贴历史
Exec=klipper %i %m
Icon=klipper
Type=Application
DocPath=klipper/index.html
Terminal=0
X-KDE-autostart-after=panel
