[Desktop Entry]
Name=External Taskbar
Name[az]=Xarici Vəzifə Çubuğu
Name[bg]=Отделен панел със задачи
Name[cs]=Externí pruh úloh
Name[da]=Ekstern jobliste
Name[de]=Externe Fensterleiste
Name[el]=Εξωτερική Γραμμή Εργασιών
Name[eo]=Eksterna tasklistelo
Name[es]=Barra de tareas externa
Name[et]=Väline tegumiriba
Name[fi]=Ulkoinen ohjelmapalkki
Name[fr]=Barre des tâches externe
Name[he]=תינוציח תומישמ תרוש
Name[hu]=Külső feladatlista
Name[is]=Utanáliggjandi verkefnaslá
Name[it]=Barra delle applicazioni esterna
Name[ja]=外部タスクバー
Name[ko]=외부 작업줄
Name[lt]=Išorinė užduočių juosta
Name[lv]=Ārējā Uzdevumu josla
Name[mt]=Taskbar Estern
Name[nl]=Externe takenbalk
Name[no]=Ekstern oppgavelinje
Name[no_NY]=Ekstern oppgåvelinje
Name[pl]=Zewnętrzny pasek zadań
Name[pt_BR]=Barra de tarefas externa
Name[pt]=Barra de Tarefas Externa
Name[ru]=Отдельная панель задач
Name[sk]=Externý taskbar
Name[sl]=Zunanja opravilna vrstica
Name[sr]=Externi taskbar
Name[sv]=Externt aktivitetsfält
Name[ta]=ÒÈî ¦ºÂüÀð¨¼
Name[tr]=Harici Görev Çubuğu
Name[uk]=Зовнішня смужка задач
Name[xh]=Ibar yomsebenzi wangaphandle
Name[zh_CN.GB2312]=外部任务栏
Comment=External taskbar panel extension.
Comment[az]=Xarici vəzifə çubuğu uzantısı.
Comment[bg]=Разширение на панела със задачи KDE за допълнителни задачи
Comment[cs]=Rozšíření s externím pruhem úloh.
Comment[da]=Panel udvidelse -Ekstern jobliste.
Comment[de]=Eine alternative Fensterleiste
Comment[el]=Επέκταση Εξωτερικής Γραμμής Εργασιών για τον Πίνακα.
Comment[eo]=Esterna tasklistela panelaldono.
Comment[es]=Barra de tareas externa (extensión del panel).
Comment[et]=Paneeli laiendus välise tegumiriba loomiseks.
Comment[fi]=Ulkoinen ohjelmapalkkilaajennus
Comment[fr]=Barre des tâches externe (extension du tableau de bord).
Comment[he]=תינוציח תומישמ תרוש תבחרה
Comment[hu]=Külső feladatlista-kiterjesztés.
Comment[is]=Útvíkkun utanáliggjandi spjalds
Comment[it]=Barra delle applicazioni esterna per il pannello
Comment[ja]=外部タスクバーパネルアプレット
Comment[ko]=패널에서 확장할 수 있는 바깥 작업줄
Comment[lt]=Išorinės užduočių juostos pulto plėtinys
Comment[lv]=Ārējs uzdevumjoslas paneļa paplašinājums.
Comment[mt]=Panel tat-taskbar estern
Comment[nl]=een externe takenbalkpaneelextensie
Comment[no]=Ekstern oppgavelinjepanel forlengelse
Comment[no_NY]=Oppgåvelinje utanfor panelet
Comment[pl]=Rozszerzenie zewnętrznego paska zadań
Comment[pt_BR]=Extensão de painel barra de tarefas externa.
Comment[pt]=Extensão do painel de barra de tarefas externa
Comment[ru]=расширение панели задач KDE для дополнительных задач
Comment[sk]=Rozšírenie panelu pre externý taskbar.
Comment[sl]=Zunanja razširitev opravilne vrstice za pult.
Comment[sr]=Eksterni taskbar ekstenzija za panel.
Comment[sv]=Extern utökning till aktivitetsfältet.
Comment[ta]=ÒÈî¦ºÂüÀð¨¼ô ÀÄ¸ ¿£ðÊôÒ.
Comment[tr]=Harici görev çubuğu uzantısı.
Comment[uk]=Зовнішнє розширення панелі задач
Comment[vi]=Panel taskbar mềErộng phía ngoài 
Comment[xh]=Ulwandiso lwepanel yebar yomsebenzi wangaphandle.
Comment[zh_CN.GB2312]=外部任务栏面板扩展。

Icon=taskbar
X-KDE-Library=libtaskbarextension
X-KDE-UniqueApplet=true
