[KCM Locale]
Name=St. Lucia
Name[bg]=Св. Люсиа
Name[br]=S. Lucia
Name[cs]=Svatá Lucie
Name[el]=Σάντα Λουτσία
Name[eo]=St. Lucio
Name[es]=Santa Lucía
Name[fr]=Sainte Lucie
Name[gl]=Santa Lucía
Name[he]=היסול הטנס
Name[it]=S. Lucia
Name[ja]=セントルキア
Name[ko]=세인트 루시아
Name[lt]=Šv Liucija
Name[lv]=Sv. Lūcija
Name[mk]=Св. Луција
Name[mt]=St. Luċija
Name[pt_BR]=Santa Lúcia
Name[pt]=Santa Lúcia
Name[ru]=о. Св. Люсии
Name[sk]=Sv. Júlia
Name[sl]=Sv. Lucija
Name[ta]=¦ºýð æº¢Â¡
Name[uk]=Санта Лучія
Name[zh_CN.GB2312]=圣路西亚
Name[zh_TW.Big5]=聖露西亞
Region=caribbean
Languages=en_GB,C
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=EC
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[C]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartsMonday=false
