[Desktop Entry]
Exec=kcmshell style
Icon=style
Type=Application
DocPath=kcontrol/style.html

X-KDE-ModuleType=Library
X-KDE-Library=style
X-KDE-FactoryName=style
X-KDE-Init=style

Name=Style
Name[az]=Tərz
Name[bg]=Стил
Name[br]=Giz
Name[bs]=Stil
Name[ca]=Estil
Name[cs]=Styl
Name[da]=Stil
Name[de]=Stil
Name[el]=Στυλ
Name[eo]=Stilo
Name[es]=Estilo
Name[et]=Stiil
Name[eu]=Estiloa
Name[fi]=Tyyli
Name[gl]=Estilo
Name[he]=ןונגס
Name[hr]=Stil
Name[hu]=Stílus
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[ko]=꼴
Name[lt]=Stilius
Name[lv]=Stils
Name[mi]=Ähua
Name[mk]=Стил
Name[mt]=Stil
Name[nl]=Stijl
Name[no]=Stil
Name[no_NY]=Stil
Name[oc]=Estil
Name[pl]=Styl
Name[pt_BR]=Estilo
Name[pt]=Estilo
Name[ro]=Stil
Name[ru]=Стиль
Name[sk]=Štýl
Name[sl]=Slog
Name[sr]=Stil
Name[sv]=Stil
Name[ta]=À¡ó¾õ
Name[th]=ลักษณะ
Name[tr]=Stil
Name[uk]=Стиль
Name[vi]=Kiểu 
Name[wa]=Stîle
Name[xh]=Uhlobo
Name[zh_CN.GB2312]=风格

Comment=General style settings
Comment[az]=Ümumi tərz qurğuları
Comment[bg]=Общи настройки на стил
Comment[br]=Kelfuniadur hollek ar c'hiz
Comment[bs]=Postavke općeg stila
Comment[ca]=Arranjament de l'estil general
Comment[cs]=Nastavení stylu
Comment[da]=Generel stilindstilling
Comment[de]=Einstellung des Stils
Comment[el]=Γενικές ρυθμίσεις στυλ
Comment[eo]=Agordo de la stilo
Comment[es]=Opciones generales del estilo
Comment[et]=Üldise stiili seadistamine
Comment[eu]=Estilo orokorraren konfigurazioa
Comment[fi]=Yleiset tyyliasetukset
Comment[fr]=Configuration générale du style
Comment[gl]=Configuración xeral do estilo
Comment[he]=תויללכ ןונגס תורדגה
Comment[hr]=Postavke općeg stila
Comment[hu]=Általános stílusbeállítások
Comment[is]=Almennar stillingar á útliti og stafagerð
Comment[it]=Impostazioni generali dello stile
Comment[ja]=一般的なスタイルの設定
Comment[ko]=보통 쓰이는 꼴로 설정
Comment[lt]=Bendri stiliaus parametrai
Comment[lv]=Vispārējie stila uzstādījumi
Comment[mk]=Општи поставки за стилот
Comment[mt]=Konfigurazzjoni ġenerali tal-istil
Comment[nl]=algemene stijlinstellingen
Comment[no]=Generelt stiloppsett
Comment[no_NY]=Generelle stilinnstillingar
Comment[oc]=Arranjament de l'estil general
Comment[pl]=Ustawienia stylu
Comment[pt_BR]=Preferências de estilo geral
Comment[pt]=Configuração do estilo geral
Comment[ro]=Configurează stilul de afişare a elementelor grafice
Comment[ru]=общие настройки стиля
Comment[sk]=Nastavenie Všeobecného štýlu
Comment[sl]=Splošne nastavitve sloga
Comment[sr]=Opšta podešavanja stila
Comment[sv]=Allmänna stilinställningar
Comment[ta]=¦À¡Ðô À¡ó¾ «¨ÁôÒ¸û
Comment[th]=การตั้งค่าลักษณะทั่วไป
Comment[tr]=Genel stil ayarları
Comment[uk]=Загальні установки стилю
Comment[vi]=Thiết lập các kiểu chung 
Comment[xh]=Izicwangciso zohlobo ngokubanzi
Comment[zh_CN.GB2312]=一般风格设置

Keywords=style,styles,themes,look,widget,menubar,MacOS,fonts,colors,colours,non-KDE,icons,toolbars,text,highlight,buttons,mouse,transparent,moving,screen,apps,applications,non-KDE apps
Keywords[az]=tərz,tərzlər,dekor,dekorlar,örtü,örtülər,parçacıq,menyu,MacOS,menyu çubuğu,timsal,timsallar,vasitə çubuğu,mətn,düymə,siçan,şəffaf,hərəkət,ekran,proqram,proqramlar,KDE proqramları
Keywords[cs]=Styl,Témata,Motivy,Vzhled,Nabídka,MacOS,Písma,Barvy,Ikony,Lišty,Text,Zvýraznění,Tlačítka,Myš,Průhlednost,Přesun,Obrazovka,Aplikace
Keywords[da]=stil,temaer,udseende,dims,menulinie,MacOS,skrifttyper,farver,ikke-KDE,ikoner,værktøjslinier,tekst,markér,knapper,mus,gennemsigtig,bevægende,skærm,anv.,programmer,ikke-KDE anv.
Keywords[de]=Stile,Designs,Themes,Schema,Elemente,Bildschirmelemente,Programmelemente,MacOS,Schriften,Farben,Symbole,Werkzeugleisten,Text,Hervorhebungen,Knöpfe,Buttons,Maus,Transparenz,Bildschirm,Anwendungen,Programme,Nicht-KDE-Programme
Keywords[el]=στυλ,styles,θέματα,εμφάνιση,widget,γραμμή μενού,MacOS,γραμματοσειρές,χρώματα,colours,μη-KDE,εικονίδια,γραμμές εργαλείων,κείμενο,τονισμός,κουμπιά,ποντίεργαλείων,κείμενο,τονισμός,κουμπιά,ποντίεργαλείων,κείμενο,τονισμός,κουμπιά,ποντίεργαλείων,κείμενο,τονισμός,κουμπιά,ποντίεργαλείων,κείμενο,τονισμός,κουμπιά,ποντίεργαλείων,κείμενο,τονισμός,κουμπιά,ποντίεργαλείων,κείμενο,τονισμός,κουμπιά,ποντίεργαλείων,κείμενο,τονισμός,κουμπιά,ποντίεργαλείων,κείμενο,τονισμός,κουμπιά,ποντίκργαλείων,κείμενο,τονισμός,κουμπιά,ποντίκργαλείων,κείμενο,τονισμός,κουμπιά,ποντίκργαλείων,κείμενο,τονισμός,κουμπιά,ποντίκργαλείων,κείμενο,τονισμός,κουμπιά,ποντίκι,διαφανές,κίνηση,οθόνη,apps,εφαρμογές,non-KDE apps,μη-KDE εφαρμογές
Keywords[en_GB]=style,styles,themes,look,widget,menubar,MacOS,fonts,colours,non-KDE,icons,toolbars,text,highlight,buttons,mouse,transparent,moving,screen,apps,applications,non-KDE apps
Keywords[eo]=stilo,etoso,aspekto,fenestraĵo,menuo,listelo,Makintosho,tiparo,koloro,ne-KDEaj,piktogramo,illistelo,teksto,emfazo,butono,muso,travidebleco,movado,ŝovado,ekrano,aplikaĵoj,ne-KDE-aplikaĵoj
Keywords[es]=estilo,estilos,temas,aspecto,objeto visual,widget,barra de menú,MacOS,fuentes,colores,no KDE,iconos,barras de herramientas,texto,resaltado,botones,ratón,transparente,mover,pantalla,aplicaciones,aplicaciones no KDE
Keywords[et]=stiil,stiilid,teemad,välimus,elemendid,menüüriba,MacOS,fondid,värvid,mitte-KDE,ikoonid,tööriistaribad,tekst,esiletõstmine,nupud,hiir,läbipaistev,liigutamine,ekraan,rakendused,mitte-KDE rakendused
Keywords[fi]=tyyli,tyylit,teemat,ulkonäkö,työkalu,valikkorivi,MacOS,kirjasimet,vörit,ei-KDE,kuvakkeet,työkalurivit,teksti,korostus,painikkeet,hiiri,läpinäkyvä,siirto,ruutu,sovellukset,ei-KDE sovellukset
Keywords[fr]=style,styles,thème,apparence,look,widget,barre de menus,MacOS,police,couleur,non KDE,icône,barre d'outils,barres d'outils,barres de menus,texte,surbrillance,sélection,bouton,souris,transparence,déplacement,menus,texte,surbrillance,sélection,bouton,souris,transparence,déplacement,écran,applications,programmes,programmes non KDE,applications non KDE
Keywords[he]=םירותפכ,KDE םניאש םימושיי,םימושיי,ךסמ,הזזה,ףוקש,רבכע,השגדה,טסקט,םילכ ילגרס,םילמס,םיעבצ,םינפוג,MacOS,םיטירפת תרוש,טירפ,הארמ,תוכרע,תונונגס,ןונגס
Keywords[hu]=stílus,stílusok,témák,kinézet,elem,menüsor,MacOS,betűtípusok,színek,nem KDE,ikonok,eszköztárak,szöveg,kiemelés,gombok,egér,átlátszó,mozgatás,képernyő,alkalmazások,nem KDE alkalmazások
Keywords[is]=stíll,stílar,þemur,þema,útlit,valmyndir,valslá¡,MacOS,letur,leturgerðir,leturgerð,gegnsætt,skjár,forrit,táknmyndir,takkar,mús,takki,hnappur
Keywords[it]=stile,stili,temi,aspetto,widget,barra menu,MacOS,caratteri,font,colori,non-KDE,icone,barre degli strumenti,testo,evidenziazione,pulsanti,mouse,trasparente,spostamento,schermo,app,applicazioni,applicazioni non-KDE
Keywords[ja]=スタイル,スタイル,テーマ,見え方,ウィジェット,メニューバー,MacOS,フォント,色,KDE以外の,アイコン,ツールバー,テキスト,ハイライト,ボタン,マウス,透明,移動,スクリーン,アプリ,アプリケーション,非-KDE アプリ
Keywords[ko]=style,styles,themes,look,widget,menubar,MacOS,fonts,colors,colours,non-KDE,icons,toolbars,text,highlight,buttons,mouse,transparent,moving,screen,apps,applications,non-KDE apps,꼴,유형,스타일,보기,모양새,맥,글꼴,색깔,빛깔,색,빛,아이콘,도구줄,툴바,글자,글월,글,단추,버튼,마우스,응용 프로그램
Keywords[lt]=style,stilius,styles,stiliai,themes,temos,look,išvaizda,widget,daigtas,menubar,meniu,MacOS,fonts,šriftai,fontai,colors,colours,spalvos,non-KDE,icons,toolbars,text,highlight,buttons,mouse,transparent,moving,screen,apps,applications,non-KDE apps
Keywords[lv]=stils,stili,tēmas,skats,vidžets,izvēlnesjosla,MacOS,fonti,krāsas,krāsainas,ne-KDE,ikonas,rīkjoslas,teksts,Izcelts,pogas,pele,caurspīdīgs,kustošs,ekrāns,apps,aplikācijas,ne-KDE apps
Keywords[nl]=stijl,stijlen,thema's,look,uiterlijk,widget,menubalk,MacOS,fonts,lettertypen,kleurenniet-KDE,icons,iconen,pictogram,pictogrammen,werkbalken,tekst,highlight,accentuering,buttons,knoppen,muis,transparant,beweging,verplaatsing,screen,scherm,weergave,programma'sapplicatie,applicaties,toepassing,toepassingen,niet-KDE-applicaties
Keywords[no]=stil,stiler,temaer,utseende,menylinje,MacOS,skrifttype,farger,ikke-KDE,ikoner,verktøylinje,tekst,knapper,mus,flytting,skjerm,programmer,ikke-KDE programmer
Keywords[no_NY]=stil,tema,utsjånad,bunad,element,skjermelement,menylinje,MacOS,skrifter,skrifttypar,ikkje-KDE,ikon,verktøylinje,tekst,merka tekst,knappar,mus,gjennomsiktig,transparent,skjerm,program
Keywords[pl]=styl,style,motywy,wygląd,okienko,pasek menu,MacOS,czcionki,kolory,nie-KDE,ikony,paski narzędzi,tekst,napisy,podświetlenie,przyciski,mysz,przeźroczysty,poruszający się,ekran,programy,aplikacje,programy spoza KDE
Keywords[pt_BR]=estilo,estilos,temas,visão,controle,barra de menu,MacOS,fontes,letras,cores,não-KDE,ícones,barras de ferramentas,texto,realce,botões,mouse,transparente,movendo,tela,aplicativos,aplicativos não-KDE
Keywords[pt]=estilo,estilos,temas,aparência,elemento,menu,MacOS,tipos de letra,cores,no KDE,ícones,ferramentas,texto,realce,botões,rato,transparente,mover,aplicações,aplicações não-KDE
Keywords[ro]=stil,stiluri,teme,tematici,aspect,widget,componentă,bară de meniu,MacOS,fonturi,culori,non-KDE,iconiţe,bară de unelte,text,evidenţiere,butoane,mouse,transparent,mutare,ecran,aplicaţii,aplicaţii non-KDE
Keywords[sk]=štýl,štýly,témy,vzhľad,prvok,ponuka,MacOS,písma,farby,nie-KDE,ikony,panely nástrojov,text,zvýraznenie,tlačidlá,myš,priesvitné,pohyblivé,obrazovka,aplikácie,aplikácie mimo KDE
Keywords[sl]=slog,slogi,stil,stili,teme,videz,izgled,gradnik,menujska vrstica,MacOS,pisave,fonti,barve,barva,ne-KDE,ikone,orodna vrstica,besedilo,osvetlitev,tipke,miška,prosojnost,premikanje,zaslon,programi
Keywords[sv]=stil,stilar,teman,utseende,komponent,menyrad,MacOS,teckensnitt,färger,färg,icke-KDE,ikoner,verktygrader,text,färgläggning,knappar,mus,transparent,flyttar,skärm,program,applikationer,icke-KDE program
Keywords[tr]=stil,stiller,dekor,dekorlar,tema,temalar,parçacık,menü,MacOS,menKeywords=stil,stiller,dekor,dekorlar,tema,temalar,parçacık,menü,MacOS,menü çubuğu,simge,simgeler,araç çubuğu,metin,düğme,fare,şeffaf,hareket,ekran,uygulama,uygulamalar,KDE uygulamaları
Keywords[uk]=стиль,стилі,теми,вигляд,віджет,MacOS,панель меню,шрифти,кольори,не з KDE,піктограми,панель інструментів,текст,виділення,кнопки,миша,прозорий,пересування,екран,програми
Keywords[vi]=style,styles,themes,nhìn,widget,thanh trạng thái,MacOS,phông,màu,color,colours,non-KDE,icons,thanh công cụ,text,highlight,buttons,chuột,trong suốt,di chuyển ,màn hình,chương trình,apps,applications,non-KDE apps
Keywords[xh]=uhlobo,iintlobo,imixholo yokuxoxwa,jonga,widget,ibar yemenu,MacOs,imigca,imibala,imibala,asiyo-KDE,ii-icon,iibar zesixhobo,okubhaliweyo,yenza uphawu,amaqhosha,imouse, ebonakala ngaphaya,eshukumayo,ikhusi apps,izicelo,asiyo-KDE apps
Keywords[zh_CN.GB2312]=style,styles,themes,look,widget,menubar,MacOS,fonts,colors,colours,non-KDE,icons,toolbars,text,highlight,buttons,mouse,transparent,moving,screen,apps,applications,non-KDE apps,风格,主题,外观,窗口部件,菜单栏,字体,色彩,图标,工具栏,文字,突出,按钮,鼠标,透明,移动,屏幕,程序
