[Desktop Entry]
Name=Emacs
Name[eo]=Emakso
Name[et]=Tekstiredaktor Emacs
Name[ko]=이맥스
Comment=Emacs
Comment[bg]=редактор Emacs
Comment[br]=An aozer Emacs
Comment[ca]=Editor Emacs
Comment[cs]=Editor Emacs
Comment[eo]=La redaktilo Emakso
Comment[es]=Editor Emacs
Comment[et]=Võimas tekstiredaktor Emacs
Comment[fi]=Emacs editori
Comment[fr]=Éditeur Emacs
Comment[hu]=Emacs szövegszerkesztő
Comment[is]=Emacs-ritill
Comment[ko]=이맥스 편집기
Comment[mk]=Софистицираниот Emacs уредувач
Comment[oc]=Editor Emacs
Comment[pt_BR]=Editor Emacs
Comment[pt]=Editor Emacs
Comment[ro]=Editorul Emacs
Comment[ru]=редактор Emacs
Comment[sk]=Editor Emacs
Comment[sl]=Urejevalnik Emacs
Comment[uk]=Редактор Emacs
BinaryPattern=
Protocols=
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=emacs %f
Icon=emacs
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=false
