[Desktop Entry]
Name=Vi IMproved
Name[bg]=Подобрен vi
Name[br]=Vi gwellaet
Name[ca]=Vi Millorat
Name[da]=Vi forbedret
Name[eo]=VIM
Name[et]=Täiustatud Vi (vim)
Name[fr]=Vi étendu (VIM)
Name[he]=רפושמ Vi
Name[hu]=Vi
Name[is]=Vi IMproved ritillinn
Name[it]=Vi iMproved
Name[ko]=개선된 Vi
Name[no]=Vi IMproved (forbedret VI)
Name[oc]=VI aMillorat
Name[pl]=Poprawiony VI (vim)
Name[pt_BR]=Vi melhorado
Name[ro]=VIM
Name[ru]=Улучшенный vi
Name[sl]=Izboljšani vi (vim)
Name[sv]=Förbättrad Vi
Name[vi]=Vi Cải tiến
Name[xh]=Vi Yonyukele
Name[zh_CN.GB2312]=改进的 Vi
Comment=Powerful vi editor
Comment[az]=Güclü vi ediitoru
Comment[bg]=Текстови редактор vi
Comment[br]=Aozer vi galloudus
Comment[bs]=Napredni vi uređivač
Comment[ca]=Editor vi potent
Comment[cs]=Mocný textový editor vi
Comment[da]=Kraftig vi tekstredigering
Comment[de]=Ein leistungsfähiger vi-Editor
Comment[el]=Πανίσχυρος διορθωτής vi
Comment[eo]=VIM similas al redaktilo "vi", sed havas aldonajn ecojn
Comment[es]=Versión mejorada del editor Vi
Comment[et]=Võimas tekstiredaktor vi
Comment[eu]=vi editorea
Comment[fi]=Tehokas vi-tekstieditori
Comment[fr]=Puissante version de l'éditeur Vi
Comment[gl]=Potente editor vi
Comment[he]=Vi המצועה בר ךרועה
Comment[hr]=Napredni vi uređivač
Comment[hu]=Vi szövegszerkesztő
Comment[is]=Öflug útgáfa vi ritilsins
Comment[it]=Un editor vi potenziato
Comment[ja]=強力なViエディタ
Comment[ko]=개선된 vi 편집기
Comment[lt]=Galingas vi redaktorius
Comment[lv]=Jaudīgs vi redaktors
Comment[mk]=Моќен VI уредувач
Comment[mt]=Editur vi b'saħħtu
Comment[nl]=krachtige vi-editor
Comment[no]=En kraftig vi-redigerer
Comment[no_NY]=Kraftig vi-tekstredigeringsprogram
Comment[oc]=Editor vi potent
Comment[pl]=Edytor vi
Comment[pt_BR]=Um poderoso editor no estilo vi
Comment[pt]=Um poderoso editor de texto
Comment[ro]=Un editor de texte VI, puternic
Comment[ru]=текстовый редактор vi
Comment[sk]=Silný textový procesor vi
Comment[sl]=Zmogljivi urejevalnik vi
Comment[sr]=Moćni vi editor
Comment[sv]=En kraftfull texteditor
Comment[ta]=ºì¾¢Å¡öó¾ vi ¦¾¡ÌôÀ¡Ç÷
Comment[th]=เอดิเตอร์ vi
Comment[tr]=Güçlü vi düzenleyicisi
Comment[uk]=Потужний редактор vi
Comment[vi]=Trình biên soạn mạnh vi
Comment[xh]=Umhleli onamandla we vi 
Comment[zh_CN.GB2312]=功能强大的 vi 编辑器
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=gvim -f %f
Icon=gvim
Type=Application
Terminal=0
X-KDE-StartupNotify=true
