[Desktop Entry]
Name=LEmacs
Name[cs]=Lucid Emacs
Name[eo]=LEmakso
Name[et]=Tekstiredaktor LEmacs
Name[fr]=Lucid Emacs
Name[ko]=루시드 이맥스
Name[pt_BR]=Lucid Emacs
Name[pt]=Lucid Emacs
Name[sk]=Lucid Emacs
Name[xh]= LEmacs
Comment=Lucid Emacs
Comment[bg]=Редактор Emacs c Lucid
Comment[br]=An aozer Lucid Emacs
Comment[ca]=Editor Lucid Emacs
Comment[cs]=Editor Lucid Emacs
Comment[eo]=La redaktilo "Lucid Emacs"
Comment[es]=Editor Lucid Emacs
Comment[et]=Lihtsustatud Emacs
Comment[fi]=Lucid Emacs -editori
Comment[fr]=Éditeur Lucid Emacs
Comment[hu]=Lucid Emacs szövegszerkesztő
Comment[is]=Lucid Emacs-ritill
Comment[ko]=쓰기 편한 이맥스
Comment[mk]=Софистицираниот Lucid Emacs уредувач
Comment[oc]=Editor Lucid Emacs
Comment[pt_BR]=Editor Lucid Emacs
Comment[pt]=Editor Lucid Emacs
Comment[ro]=Editorul de texte Lucid Emacs
Comment[ru]=редактор Emacs c Lucid
Comment[sk]=Editor Lucid Emacs
Comment[sl]=Urejevalnik Lucid Emacs
Comment[uk]=Редактор Lucid Emacs
Comment[xh]=i-Emacs ezibekwe ngendlela ecacileyo
BinaryPattern=
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=lemacs %f
Icon=emacs
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=false
