[Desktop Entry]
Name=X Emacs
Name[eo]=XEmakso
Name[es]=XEmacs
Name[et]=XEmacs
Name[fr]=XEmacs
Name[ko]=X용 이맥스
Name[no]=X-Emacs
Comment=X Emacs
Comment[bg]=Emacs за X
Comment[br]=An aozer X Emacs
Comment[ca]=Editor X Emacs
Comment[cs]=Editor X Emacs
Comment[de]=X-Emacs
Comment[eo]=La redaktilo XEmakso
Comment[es]=Editor Emacs para X
Comment[et]=X'i kasutajaliidesega Emacs
Comment[fi]=X Emacs -editori
Comment[fr]=Éditeur XEmacs
Comment[hu]=Grafikus Emacs
Comment[is]=X Emacs-ritill
Comment[it]=Emacs per X
Comment[ko]=X용 이맥스 편집기
Comment[mk]=Софистицираниот X Emacs уредувач
Comment[no]=X-Emacs-tekstredigerer
Comment[oc]=Editor X Emacs
Comment[pt_BR]=Editor X Emacs
Comment[pt]=Editor X Emacs
Comment[ro]=Editorul Emacs pentru X Windows
Comment[ru]=Emacs для X
Comment[sk]=Editor X Emacs
Comment[sl]=Urejevalnik X Emacs
Comment[uk]=Редактор X Emacs
BinaryPattern=
Protocols=
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=xemacs %f
Icon=emacs
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
X-KDE-WMClass=emacs
