[Desktop Entry]
Name=Runaway Process Catcher
Name[az]=İşıək Gedişat Yaxalayıcı
Name[cs]=Odchytávač chybných procesů
Name[da]=Fanger løbskkørte processer
Name[de]=Beendung unkontrollierter Prozesse
Name[eo]=Kaptilo por eskapitaj procezoj
Name[es]=Capturador de procesos desbocados
Name[et]=Hanguvate protsesside püüdja
Name[fi]=Karanneiden prosessien kiinniottaja
Name[fr]=Détecteur de processus fous
Name[he]=תוטלמנ תומישמ ספות
Name[hu]=Az elszabadult folyamatok kezelője
Name[is]=Ferlafangari
Name[it]=Cattura processi erranti
Name[ja]=手に負えないプロセスのキャッチャー
Name[ko]=도망가는 프로세서 잡이
Name[lt]=Pabėgusių procesų gaudyklė
Name[lv]=Nevadāmu Procesu Savācējs
Name[mt]=Programm biex Jaqbad Proċessi Maħruba
Name[nl]=Op Hol Geslagen Processen Vanger
Name[no]=Fanger løpske prosesser
Name[no_NY]=Løpsk prosess-fangar
Name[pl]=Łowca zagubionych procesów
Name[pt_BR]=Captura de processos fora de controle
Name[pt]=Colector de Processos em Fuga
Name[ru]=Сторож сбойных процессов
Name[sk]=Zachytenie chybných procesov
Name[sl]=Prestrezovalnik pobeglih procesov
Name[sr]=Hvatač odbeglih procesa
Name[sv]=Fånga bortsprugna processer
Name[ta]=¾È¢¦¸ð¼ ¦ºÂü ¨¸ôÀüÈ¢
Name[tr]=Runaway Süreç Yakalayıcı
Name[uk]=Захоплювач процесів-дезертирів
Name[xh]=Umbambi wokuqhubekayo okubalekayo
Name[zh_CN.GB2312]=失控程序处理程序
Comment=Runaway process catcher for the KDE panel
Comment[az]=KDE paneli üçün Runaway gedişat yaxalayıcısı
Comment[cs]=Applet na odchytávání procesů
Comment[da]=Fanger processer der er kørt løbsk for KDE panelet
Comment[de]=Ein Programm für außer Kontrolle geratene System-Prozesse
Comment[el]="Τσακώνει" εφαρμογές που χρησιμοποιούν πολλούς πόρους
Comment[eo]=Kaptilo de eskapitaj procezoj por la panelo
Comment[es]=Capturador de procesos desbocados para el panel de KDE
Comment[et]=KDE paneelil töötav hanguvate protsesside püüdja
Comment[fi]=Karanneiden prosessien havaitsija KDE:n paneeliin
Comment[fr]=Détecteur de processus fous pour le tableau de bord de KDE
Comment[he]=KDE לש חולל תוטלצמנ תומישמ ספות
Comment[hu]=Elszabadult folyamatok kezelőeszköze a KDE panelhez
Comment[is]=Forrit fyrir spjaldið sem stöðvar stjórnlaus forrit
Comment[it]=Applet per il pannello di KDE che cattura i processi che scappano
Comment[ja]=KDEパネル用 手に負えないプロセスのキャッチャー
Comment[ko]=KDE 패널용 도망가는 프로세서 잡이 (문제가 생긴 프로세서를 지켜봄)
Comment[lt]=Pabėgusių procesų gaudyklė KDE pultui
Comment[lv]=Nevaldāmu procesu savācējs KDE panelim
Comment[mt]=Programm għall-pannell KDE biex jaqbad proċessi maħruba
Comment[nl]=een op hol-geslagen-processen-vanger voor het paneel
Comment[no]=Løpsk prosess fanger for KDE panelet
Comment[no_NY]=Applet som fangar løpske prosessar
Comment[pl]=Programik unieszkodliwiający procesy, które wymknęły się spod kontroli
Comment[pt_BR]=Captura de processos fora de controle para o Painel do KDE
Comment[pt]=Colector de processos em fuga para o painel do KDE
Comment[ru]=аплет слежения за сбойными процессами
Comment[sk]=Zachytenie chybných procesov pre panel KDE
Comment[sl]=Prestrezovalnik pobeglih procesov za pult KDE
Comment[sr]=Hvatač odbeglih procesa za KDE panel
Comment[sv]=En fångare av  bortsprugna processer för KDE-panelen
Comment[ta]=KDE ÀÄ¸ò¾¢ü¸¡É ¾È¢¦¸ð¼ ¦ºÂü ¨¸ôÀüÈ¢
Comment[tr]=KDE paneli için Runaway süreç yakalayıcısı
Comment[uk]=Програма захвату процесів-дезертирів для панелі KDE
Comment[vi]=Trình giám sát các tiến trình bềEmất cho KDE panel 
Comment[xh]=Umbambi wokuqhubekayo okubalekayo we KDE panel
Comment[zh_CN.GB2312]=KDE 面板的捕获失控程序的程序
X-KDE-Library=libnaughtyapplet
X-KDE-UniqueApplet=true
