[KCM Locale]
Name=Latvia
Name[az]=Latviya
Name[bg]=Латвия
Name[cs]=Lotyšsko
Name[da]=Letland
Name[de]=Lettland
Name[el]=Λιθουανία
Name[eo]=Latvio
Name[es]=Letonia
Name[et]=Läti
Name[fr]=Lettonie
Name[he]=היבטל
Name[hu]=Lettország
Name[is]=Léttland
Name[it]=Lettonia
Name[ja]=ラトビア
Name[ko]=라트비아
Name[lt]=Latvija
Name[lv]=Latvija
Name[mt]=Latvja
Name[nl]=Letland
Name[no]=Kroatsia
Name[pl]=Łotwa
Name[pt_BR]=Letônia
Name[pt]=Letónia
Name[ru]=Латвия
Name[sk]=Lotyšsko
Name[sl]=Latvija
Name[sr]=Latvija
Name[sv]=Lettland
Name[ta]=ÄðÅ¢Â¡
Name[tr]=Litvanya
Name[uk]=Латвія
Name[zh_CN.GB2312]=拉脱维亚
Name[zh_TW.Big5]=拉脫維亞
Region=easteurope
Languages=lv
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=Ls
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=2
NegativeMonetarySignPosition=2
DateFormat[lv]=%A, %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
