[KCM Locale]
Name=Asia && Oceania
Name[az]=Asya & Okeaniya
Name[bg]=Азия и Океания
Name[br]=Azia && Okeania
Name[bs]=Azija i Oceanija
Name[ca]=Asia i Oceania
Name[cs]=Asie a Oceánie
Name[da]=Asien && Oceanien
Name[de]=Asien && Ozeanien
Name[el]=Ασία && Ωκεανία
Name[eo]=Azio && Oceanio
Name[es]=Asia y Oceanía
Name[et]=Aasia ja Okeaania
Name[eu]=Asia eta Ozeania
Name[fi]=Aasia && Tyynimeri
Name[fr]=Asie et Océanie
Name[gl]=Asia e Oceanía
Name[he]=הינאיקואו היסא
Name[hr]=Azija i Oceanija
Name[hu]=Ázsia && Óceánia
Name[is]=Asía && Eyjaálfa
Name[it]=Asia e Oceania
Name[ja]=アジア ＆ オセアニア
Name[ko]=아시아와 오세아니아
Name[lt]=Azija ir Okeanija
Name[lv]=Āzija && Okeānija
Name[mk]=Азија и Океанија
Name[mt]=Asja u Oċeanja
Name[nl]=Azië && Oceanië
Name[no_NY]=Asia og Oseania
Name[oc]=Asia e Oceania
Name[pl]=Azja && Oceania
Name[pt_BR]=Ásia e Oceania
Name[pt]=Ásia e Oceania
Name[ru]=Азия и Океания
Name[sk]=Ázia && Oceánia
Name[sl]=Azija in Oceanija
Name[sr]=Azija && Okeanija
Name[sv]=Asien && Oceanien
Name[ta]=¬º¢Â¡ && µº¢Â¡É¢Â¡
Name[tr]=Asya & Pasifik
Name[uk]=Азія та країни тихого океану
Name[vi]=Châu ÁEvà Châu Đại Dương 
Name[wa]=Aseye eyèt Océaneye
Name[zh_CN.GB2312]=亚洲和大洋州
Name[zh_TW.Big5]=亞洲及大洋洲
